/*TEMPORAL STYLE (to delete eventually)*/
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.inDownload {
	background-color: #BCF5A9;
}

.inDownload .glyphicon-download {
	zoom:3;
}

.inAbout .glyphicon-heart {
	zoom:3;
}

.inContact {
	background-color: #ECF6CE;
}
.inContact .glyphicon-comment {
	zoom:3;
}

.contact {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.technical {
	padding-left: 50px;
	padding-bottom: 50px;
}


/*GENOME CARD*/
.genomeHeader {
	text-align: center;
}

.mainCard {
	text-align: left;
	width: 400px;
	background-color: black;
	color:white;
}
.rowCard {
	text-align: left;
}



@media (max-width: 767px) {
	.technical {
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 5px;
	}
}