/*MAIN STYLE*/

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.inDownload {
	background-color: #BCF5A9;
}

.inDownload .glyphicon-download {
	zoom:3;
}

.citeUs {
	background-color: #CEF6E3;
	padding: 70px 0px 50px 0px;
}

.inAbout .glyphicon-heart {
	zoom:3;
}

.citeUs .glyphicon-plus {
	zoom:3;
}

.inContact {
	background-color: #ECF6CE;
}
.inContact .glyphicon-comment {
	zoom:3;
}

.contact {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.technical {
	padding-left: 50px;
	padding-bottom: 50px;
}

.notYet {
	padding:50px 0px 300px 0px;
}


/*GENOME CARD*/
.genomeHeader {
	text-align: center;
}

.mainCard {
	text-align: left;
	width: 500px;
	height: 200px;
	background-color: #21610B;
	color:white;
	margin-bottom: 5px;
	border-radius: 20px;
}
.rowCard {
	text-align: left;
	padding-left: 10px;
	color: yellow;
}


@media (max-width: 767px) {
	.technical {
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 5px;
	}
}


/*css for resetFieldApp*/

/* prevent text from appearing underneath the icon */
input[am-reset-field] {
  padding-right: 19px;
}

/* hide the built-in IE10+ clear field icon */
input[am-reset-field]::-ms-clear {
  display: none;
}
/* hide cancel icon for search type */
input[am-reset-field]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* icon styles */
input[am-reset-field] + .fa {
  position: relative;
  right: -20px;
  left: -10px;
  top: -25px;
  color: #C0C0C0;
  cursor: default;
}

/* animations for ngAnimate */
input[am-reset-field] + .fa.ng-hide-add {
  display:inline!important;
  -webkit-animation: 0.3s fadeOut;
  -moz-animation: 0.3s fadeOut;
  -ms-animation: 0.3s fadeOut;
  animation: 0.3s fadeOut;
}

input[am-reset-field] + .fa.ng-hide-remove {
  -webkit-animation: 0.5s fadeIn;
  -moz-animation: 0.5s fadeIn;
  -ms-animation: 0.5s fadeIn;
  animation: 0.5s fadeIn;
}

/*end of css for resetFieldApp*/