<div class="viewHouse">

    <div class="container">

        <div class="row techniquesHead">
            <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/research">Research</a></h4></div>
            <div class="size40"> <a href="#/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </div>
            <h2>
                RT-PCR for Knockout Screening <br> and Expression Analysis
            </h2>
            <h6>
                Contributed by Robin Williams and Nadine Pawolleck
            </h6>
        </div>

        <div class="row">

            <div class="col-sm-3 col-xs-1"></div>

            <div class="col-sm-6 col-xs-10">

    <!--             <p>
                    <b>Download <a ng-href="#/research/techniques/word_docs/RT-PCR.doc">word file</a></b>.
                </p> -->

                <hr>
                <p>
                   <h5> The following protocol can be used to screen potential Dictyostelium KO mutants to confirm gene ablation, or for developmental expression studies. In mutant screening, we advise dilution plating of potential knockout mutants onto bacterial plates to ensure single Dictyostelium clones are used to test for loss of expression.</h5>
                </p>
                <hr>

                <h3>
                    Procedure
                </h3>
                <h4>
                    1. RNA isolation
                </h4>
                <p>
                    Below is a short description of rapid RNA isolation. Alternatively you can use commercially available kits.
                </p>
                <ul>
                    <li>harvest 2 x 10<sup>7</sup> cells
                    </li>
                    <li>wash with 1 ml KK2
                    </li>
                    <li>the pellet can be stored at -80<sup>o</sup>C (max amount of samples processed at once is 4 or 5 to reduce the time samples are stored in <a href="" ng-click="scrollTo('SDS')">SDS lysis buffer)</a>
                    </li>
                    <li>resuspend pellet in 500&nbsp;µl SDS lysis buffer by pipetting up and down
                    </li>
                    <li>add 500&nbsp;µl phenol
                    </li>
                    <li>Incubate on a rotary shaker for 20 min, RT to ensure constant mixing
                    </li>
                    <li>centrifuge 5 min 13.000 rpm
                    </li>
                    <li>transfer the upper phase in a new tube and add 200&nbsp;µl chloroform
                    </li>
                    <li>centrifuge 1 min 13.000 rpm
                    </li>
                    <li>transfer the upper phase in a new tube and add 1 ml 100% ethanol
                    </li>
                    <li>incubate 20 min at -20<sup>o</sup>C
                    </li>
                    <li>centrifuge 5 min 13.000 rpm
                    </li>
                    <li>remove supernatant completely
                    </li>
                    <li>add (without further drying) 50&nbsp;µl fresh Millipore water
                    </li>
                    <li>Measure the RNA content in a spectrophotometer (use a 1:50 dilution)
                    </li>
                    <li>Check RNA quality with a GTC gel (below)
                    </li>
                </ul>
                <br>
                <h4>
                    2. GTC gel
                </h4>
                <p>
                    It is necessary to check for RNA degradation by visualising total RNA on a gel. To do this, prepare a standard agarose gel containing 5 mM Guanidine thiocyanate (GTC), as described. Two strong bands with minimal 'smearing' indicates intact RNA. Ethidium bromide is present in the loading solution, so do not add it to the gel.
                </p>
                <ul>
                    <li>dissolve agarose in 1x TBE as for a DNA agarose gel
                    </li>
                    <li>prepared fresh 5 mM guanidine thiocyanate in 1 x TBE
                    </li>
                    <li>when the agarose is below 60<sup>o</sup>C add 1 ml of the GTC solution (for 200ml gel)
                    </li>
                    <li>run gel as you would a DNA gel
                    </li>
                </ul>
                <br>
                <h4>
                    3. Preparation of samples
                </h4>
                <ul>
                    <li>take 1&nbsp;µl of your RNA sample and add 3 volumes of <a href="" ng-click="scrollTo('RNA_load')">RNA denaturing loading buffer</a>
                    </li>
                    <li>heat 2 min at 80<sup>o</sup>C
                    </li>
                </ul>
                <br>
                <h4>
                    4. DNAse treatment
                </h4>
                <p>
                    To avoid DNA contaminations it is beneficial to include a DNAse step before using the RNA for cDNA synthesis. See below the description of the DNA free kit purchased from <a target="new" href="http://www.ambion.com/techlib/prot/bp_1906.pdf">Ambion</a>.
                </p>
                <ul>
                    <li>add 0.1 volumes 10X DNase I Buffer and 1&nbsp;µl rDNase I to the RNA, and mix gently
                    </li>
                    <li>incubate at 37<sup>o</sup>C for 20-30 min
                    </li>
                    <li>add resuspended DNase-Inactivation-Reagent (typically 0.1 volumes) and mix well
                    </li>
                    <li>incubate 2 min at RT, mixing occasionally.
                    </li>
                    <li>centrifuge at 10.000 x g for 1.5 min and transfer the RNA to a fresh tube
                    </li>
                </ul>
                <br>
                <h4>
                    5. cDNA synthesis
                </h4>
                <p>
                    The cDNA synthesis method described here is based on a commercial kit (<a href="http://www.fermentas.com/profiles/kits/pdf/coa_k1611.pdf">Fermentas</a>) and alternatives can be used. For PCR analysis of resulting cDNA, it is beneficial to use primers spanning an exon junction (spliced out intron) to ensure the amplified band is cDNA (not genomic DNA that will be a different size). A loading control should be used as standard. Control primers can be included in the same PCR reaction (if product sizes are different) or in a separate reaction.
                </p>
                <ul>
                    <li>
                        <i>Mix the following:</i>
                        <ul>
                            <li>1-5&nbsp;µg total RNA,
                            </li>
                            <li>1&nbsp;µl oligo dT primer (supplied at 100&nbsp;µM)
                            </li>
                            <li>1&nbsp;µl 10 mM dNTPs
                            </li>
                            <li>add water to 10&nbsp;µl total volume
                            </li>
                        </ul>
                    </li>
                    <li>Incubate 10 min at 65<sup>o</sup>C
                    </li>
                    <li>
                        <i>In the meantime prepare:</i>
                    </li>
                    <li style="list-style: none">
                        <ul>
                            <li>4&nbsp;µl 5x Reaction Buffer
                            </li>
                            <li>1&nbsp;µl Ribonuclease Inhibitor
                            </li>
                            <li>4&nbsp;µl water
                            </li>
                        </ul>
                    </li>
                    <li>Add 9&nbsp;µl of the mixture to your 10&nbsp;µl samples and incubate 5 min at 37<sup>o</sup>C
                    </li>
                    <li>Add 1&nbsp;µl M-MuLV Reverse Transcriptase
                    </li>
                    <li>Incubate 60 min at 37<sup>o</sup>C
                    </li>
                    <li>Stop reaction at 70<sup>o</sup>C for 10 min
                    </li>
                    <li>1&nbsp;µl of the cDNA should be around 50-100 ng and can be used in a usual PCR with you gene specific primers
                    </li>
                </ul>

                        <br>
                        <p align="center">
                            <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                        </p>

                <hr>
                <p>
                    <a name="mat" id="mat"></a>
                </p>
                <h3>
                    Materials
                </h3>
                <ul>
                    <li>
                        <u><a name="SDS" id="SDS">SDS Lysis buffer,</a></u><br>
                        <ul>
                            <li>50 mM Tris Cl pH 7.5
                            </li>
                            <li>0.1 M NaCl
                            </li>
                            <li>10 mM EDTA
                            </li>
                            <li>1% SDS
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul>
                    <li>
                        <u><a name="RNA_load" id="RNA_load">RNA denaturing loading buffer</a></u><br>
                        <ul>
                            <li>950&nbsp;µl formamide
                            </li>
                            <li>50&nbsp;µl 0.5M EDTA pH 8.0
                            </li>
                            <li>trace of bromophenol blue
                            </li>
                            <li>10&nbsp;µl ethidium bromide (10 mg/ml
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul>
                    <li>
                        <u>Commercial kits</u>
                    </li>
                    <li style="list-style: none">
                        <ul>
                            <li>DNA-free Kit, <a target="new" href="http://www.ambion.com/techlib/prot/bp_1906.pdf">Ambion</a> (cat# AM1906)
                            </li>
                            <li>First Strand cDNA Synthesis Kit, <a href="http://www.fermentas.com/profiles/kits/pdf/coa_k1611.pdf">Fermentas</a> (cat# K1611)
                            </li>
                        </ul>
                    </li>
                </ul>


                        <br>
                        <p align="center">
                            <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                        </p>
                        <br>
            </div> <!-- col-sm-8 -->
            <div class="col-sm-3 col-xs-1"></div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>