<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Chemotaxis Practical</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Chemotaxis Practical
        </h1>
        <p>
            <b>Compilation of the comments and suggestions received by Thierry Soldati concerning ways to use <i>Dictyostelium</i> chemotaxis assays in teaching labs.</b>
        </p>
        <hr>
        <p align="right">
            <a href="#topt">[TOP]</a> - <a href="/techniques/">[INDEX]</a>
        </p>
        <h2>
            Protocols
        </h2>
        <p>
            These are pdf files.
        </p>
        <ul>
            <li>Chemotaxis Protocol (Jeff Hadwiger) <a href="Hadwiger_Protocol.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Hadwiger_Protocol.pdf">Download</a>
            </li>
            <li>Under agar assay (David Knecht) <a href="Knecht_UnderagarAssay.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Knecht_UnderagarAssay.pdf">Download</a>
            </li>
            <li>ChemoLab (Margaret Nelson) <a href="Nelson_ChemoLab.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Nelson_ChemoLab.pdf">Download</a>
            </li>
            <li>Chemotaxis Preparation (Thierry Soldati) <a href="Soldati-Chemotaxis_Preparation.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Soldati-Chemotaxis_Preparation.pdf">Download</a>
            </li>
            <li>Chemotaxis Protocol (Thierry Soldati) <a href="Soldati-Chemotaxis_Protocol.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Soldati-Chemotaxis_Protocol.pdf">Download</a>
            </li>
            <li>Chemotaxis Answers (Thierry Soldati) <a href="Soldati-Chemotaxis_Answers.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Soldati-Chemotaxis_Answers.pdf">Download</a>
            </li>
        </ul>
        <hr>
        <h3>
            <a href="comments.htm">Comments from Researchers</a>
        </h3>
        <hr>
        <h2>
            References suggested by contributors
        </h2>
        <ul>
            <li>Edelstein-Keshet, L (1988) Mathematical Models in Biology, <a target="new" href="http://www.mhhe.com/catalogs/">McGraw Hill</a>, (originally published by Random House/Birkhauser)<br>
                ISBN 394-35507-5
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Finney R, Varnum B, Soll DR. 1979.&nbsp; "Erasure" in <i>Dictyostelium</i>: a dedifferentiation involving the programmed loss of chemotactic functions. <i>Dev Biol</i>. 73(2):290-303.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=499669&amp;dopt=Abstract">PMID: 499669</a>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Gauthier ML, O'Day DH, 2001. Detection of calmodulin-binding proteins and calmodulin-dependent phosphorylation linked to calmodulin-dependent chemotaxis to folic and cAMP in <i>Dictyostelium.</i> <i>Cell Signal</i> 13(8):575-84.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=11483410&amp;dopt=Abstract">PMID: 11483410</a>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Hadwiger,J.A.,and J.Srinivasan, 1999. Folic acid stimulation of the Ga 4 G protein-mediated signal transduction pathway inhibits anterior prestalk cell development in <i>Dictyostelium</i>. <i>Differentiation</i> <b>64</b>:195-204.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=10408952&amp;dopt=Abstract">PMID: 10408952</a>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Konijn TM, Van Haastert PJ. 1987.&nbsp; Measurement of chemotaxis in <i>Dictyostelium.</i> <i>Methods Cell Biol.</i> 1987; 28:283-98.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=3600409&amp;dopt=Abstract">PMID: 3600409</a>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Kuwayama H, Ishida S, Van Haastert PJ. 1993. Non-chemotactic <i>Dictyostelium discoideum</i> mutants with altered cGMP signal transduction. <i>J Cell Biol</i>. 1993 Dec;123(6 Pt 1):1453-62.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=7902839&amp;dopt=Abstract">PMID: 7902839</a>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>O'Day, D.H., 1979. Aggregation during sexual development in <i>Dictyostelium discoideum. Can. J. Microbiol</i>. 25: 1416-1426.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=231480&amp;dopt=Abstract">PMID: 231480</a>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Parent C.A. 2000. <i>Dictyostelium cell dynamics, Current Protocols in Cell Biology</i> (J.S. Bonifacino, M. Dasso, J. Lippincott-Schwartz, J.B. Harford, K.M. Yamada; Eds. John Wiley &amp; Sons Press), Vol. 1, Unit 12.5
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Rifkin JL. 2002. Quantitative analysis of the behavior of <i>Dictyostelium discoideum</i> amoebae: stringency of pteridine reception. <i>Cell Motil Cytoskeleton.</i> 51(1):39-48.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=11810695&amp;dopt=Abstract">PMID 11810695</a>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Margaret Nelson’s web site: <a target="new" href="http://merlin.alleg.edu/employee/m/mnelson/courses/Bio290/Dicty.html">http://merlin.alleg.edu/employee/m/mnelson/courses/Bio290/Dicty.html</a>
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ul>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p><!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
