<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Techniques</h3></span>
        <h2>
            ATPase assay for dynein (radioactive)
        </h2>        
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">

<!--         <p>
            <b>Download <a ng-href="#/research/techniques/word_docs/dynein_radioactive.doc">word file</a>.</b>
        </p> -->

        <h3>
            Procedure
        </h3>
        <ol>
            <li>Mix:<br>
                
                    - 30&nbsp;µl sample
                    <br>
                    - 10&nbsp;µl PEM or MT (for MT activated activity)
                    <br>
                    - 10&nbsp;µl 5X ATP mix
                    <br>
                    - 50&nbsp;µl total
                    <br>

                
                <br>Set up a MT blank if doing MT activated activity assay:<br>
                
                    - 30&nbsp;µl PEM
                    <br>
                    - 10&nbsp;µl MT
                    <br>
                    - 10&nbsp;µl 5X ATP mix
                    <br>
                    - 50&nbsp;µl total
                    <br>

            </li>
            <br>
            <li>Incubate at room temperature for 20 min.
            </li>

            <li>Stop reaction with 300&nbsp;µl acid.
            </li>

            <li>Add 300&nbsp;µl charcoal (stirred).
            </li>

            <li>Incubate on ice 10 min.
            </li>

            <li>Add 100&nbsp;µl BSA.
            </li>

            <li>Centrifuge (cold) 1&nbsp;minute.
            </li>

            <li>Count 0.3 ml supernate.<br>
                <br>
                To calculate activity:<br>
                [sample cpm - blank cpm- MT blank if appropriate] x [ratio: total assay volume/assay volume counted] x [1 nmol/cpm/nmol] x [1/ sample volume] x [1/assay time]<br>
                <br>
                For example, for a 20 min assay, with 30&nbsp;µl sample, counting 300&nbsp;µl out of 750&nbsp;µl total volume:<br>
                [sample cpm - blank cpm] x 1.5 x 1 nmol/cpm/nmol x 1/0.03 ml x 1/20 min= nmol Pi/ml/min
            </li>

        </ol>
                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>

        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h3>
            Materials
        </h3>
        <ul>
            <li>
                <u>20&nbsp;mM silicotungstic acid (Baker, MW 2882) in 10&nbsp;mM H<sub>2</sub>SO<sub>4</sub></u>
            </li>

            <li>
                <u>25% suspension of acid washed charcoal (Sigma)</u>
            </li>

            <li>
                <u>5 mg/ml BSA in H<sub>2</sub>O</u>
            </li>

            <li>
                <u>5X ATP mix</u><br>
                <ul>
                    <li>5&nbsp;mM ATP
                    </li>
                    <li>5&nbsp;mM MgSO<sub>2</sub>
                    </li>
                    <li>1 µl <sup>32</sup>P-ATP
                    </li>
                </ul>
            </li>

            <li>
                <u>5X MT</u> (@ 3 mg/ml tubulin + taxol, warm briefly)
            </li>
        </ul>
        <p>
            <br>
            <!--1/95, Trivinos-->
        </p>
                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
                <br>

        </div> <!-- col-sm-8 -->
        <div class="col-sm-3 col-xs-1"></div>
    </div>
</div>
