<div class="viewHouse">

    <div class="container">
        <div class="row techniquesHead">
            <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="/research">Research</a></h4></div>
            <span class="size40"> <a href="/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </span> 
            <h2>
                Dictyostelium anti-γ-tubulin Westerns
            </h2>        
            <h6>Harwood lab Protocol, contributed by Emma Dalton, October 2005</h6>
        </div>

        <div class="row">

            <div class="col-sm-2 col-xs-1"></div>

            <div class="col-sm-8 col-xs-10">

    <!--         <p>
                Download <a ng-href="/research/techniques/word_docs/tubulin_western.doc">word file</a>.
            </p> -->

            <h3>
                Procedure
            </h3>

            <h4>
                Preparation
            </h4>

            <ul>            
                <li>Count 1 x 10<sup>8</sup> cells, spin down @2000&nbsp;rpm 2 mins.
                </li>

                <li>Talon purify and resuspend in 200&nbsp;µl. This supernatant is removed and stored at -80°C.
                </li>

                <li>Use 10&nbsp;µl per lane + 10&nbsp;µl 2x Lamelli. (Visualisation with 5&nbsp;µl possible but not so strong.)
                </li>

                <li>For other samples load approx. 10&nbsp;µg protein.
                </li>
                
                <br>
            </ul>

            <h4>
                Running and Blotting
            </h4>
            <ul>
                <li>Take the sample (supernatant and Laemmli mix) and boil for 5 min and cool on ice load each sample onto a 10% acrylamide gel <!--(see other protocol).-->.
                </li>

                <li>Run at 100 Volts and when sample/marker is at bottom - stop and transfer to Hybond C+™ membrane.
                </li>

                <li>The membrane can then be put into block overnight @ 4°C.
                </li>

                <li>After being in block the membrane should be washed 3 times for 5-10&nbsp;mins on a rocker each time using 1X&nbsp;TBST.
                </li>

                <li>The primary antibody is then added and left 1 hr in a sealed bag @RT.<br>
                </li>

                <li>After being in the primary antibody, the membrane should be washed again 3 times for 5-10mins on a rocker each time using 1X TBST.
                </li>

                <li>The secondary antibody can then be added and left in a sealed bag for 1 hour @RT.
                </li>

                <li>After the secondary antibody, the membrane should be washed again 3 times for 5-10&nbsp;min on a rocker each time using 1X TBST.
                </li>
                
                <br>
            </ul>
                <h4>
                    Visualisation
                </h4>
            <ul>
                <li>Using Pierce Supersignal kit, the membrane is then placed between pieces of a write-on type overhead transparency and exposures of 5&nbsp;sec-30&nbsp;mins can be taken using MR-1 type film.
                </li>
            </ul>
            
            <p>
                <a name="mat" id="mat"></a>
            </p>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="/research/techniques/">Techniques</a>
                    </p>
            <hr>
            <h3>
                Materials
            </h3>
            <ul>
                <li>
                    <u>Blocking solution</u>
                    <ul>
                        <li>1X&nbsp;TBS
                        </li>
                        <li>0.05%&nbsp;Triton X-100
                        </li>
                        <li>5%&nbsp;Milk
                        </li>
                    </ul><b>NO AZIDE!!!</b>
                </li>

                <li>
                    <u>1X TBST</u>
                    <ul>
                        <li>1X TBS
                        </li>
                        <li>0.05% Triton X-100
                        </li>
                    </ul>
                </li>

                <li>
                    <u>Primary antibody</u>
                    <ul>
                        <li>Anti-γtubulin (GTU88 from Sigma)@1:1000 in 1X TBST
                        </li>
                    </ul>
                    <div class="note">
                        <span class="nw">Note:</span> If antibody has been warm - change this to 1:500 or it may not work at all!!
                    </div>
                </li>

                <li>
                    <u>Secondary antibody</u>
                    <ul>
                        <li>anti-Mouse HRP @1:10,000 (Vector labs) in 1X TBST
                        </li>
                    </ul>
                </li>
            </ul>
            <p>
                <br>
                ECD 08/02
            </p>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="/research/techniques/">Techniques</a>
                    </p>
                    <br>
            </div> <!-- col-sm-8 -->
            <div class="col-sm-2 col-xs-1"></div>
        </div>
    </div>
</div>
