<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/research">Research</a></h4></div>
        <span class="size40"> <a href="#/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </span> 
        <h2>
            <em>in vitro</em> motility assay
        </h2>
        <h6><b>Contributed by Tung-Ling Chen (Rex Chisholm's lab); adapted from <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=1885651">Kron et al. 1991</a>.</b></h6>
    </div>

    <div class="row">

        <div class="col-sm-2 col-xs-1"></div>

        <div class="col-sm-8 col-xs-10">

<!--         <p>
            <b>Download <a ng-href="#/research/techniques/word_docs/invitro_motility.doc">word file</a>.</b>
        </p> -->

        <hr>
        <h3>
            Procedure
        </h3>
        <h4>
            Myosin
        </h4>
        <p>
            Prepare Dictyostelium myosin as lab protocol but eliminate ammonium sulphate step before gel filtration column since (NH<sub>4</sub>)2SO<sub>4</sub> tend to make myosin arrested in rigor form. After final polymerization step, I resuspend the myosin in MSB and clarify the solution as lab protocol. I also find it helpful to do actin affinity purification (see below) before the assay to get rid of rigor form in the prep.
        </p>
        <hr>
        <h4>
            Actin Affinity Purification
        </h4>
        <ol>
            <li>Use an aliquot of myosin prep (e.g. 100 ml) + F- actin (final concentration 0.15 mg/ml) + ATP (final concentration 1 mM).
            </li>

            <li>Incubate on ice for 5&nbsp;min.
            </li>

            <li>Pellet rigor heads along with actin in TL100 (table top ultracentrifuge, Goldman's), 75Krpm , 15 min.
            </li>

            <li>Use the prep within 2-3h since the actin may contain proteolytic activity that degrade myosins.
            </li>

        </ol>
        <hr>
        <h4>
            Actin
        </h4>
        <p>
            I have used actin from rabbit skeletal muscle with Dicty myosin for the assay. According to Kron &amp; Spudich (PNAS 83:6272), the source of actin had no significant effect on the movement rate for the assay. I have never tried Dicty actin in the assay.
        </p>
        <ol>
            <li>Follow the procedure for actin prep from acetone powder.
            </li>

            <li>Resuspend the high speed pellet in GB and dialyze in GB for 3 days with 3 changes of GB to make G actin.
            </li>

            <li>Dialyze in LoCaGB overnight.
            </li>

            <li>Clarify the prep in Ti 70.1, 30krpm, 40 min.
            </li>

            <li>Polymerize the G actin by adding 1/9 vol of 10xAB (-DTT). This F actin should be stored at 4°C and can be used for motility assay and actin affinity purification for several weeks.
            </li>
            <li style="list-style: none">
                <br>
                <br>
                * Extinction coefficient for F-actin : A290 - A310 = 0.62 cm<sup>2</sup>/mg.<br>
                * G actin can be lyophilized with 2 mg <b>ultrapure sucrose</b> per mg actin as protectant, and resuspended in LoCaGB, clarified and polymerized as above.
            </li>
        </ol>
        <hr>
        <h4>
            Recycle F actin
        </h4>
        <p>
            F actin prepared above can be rejuvaniled by the following recycle procedure:
        </p>
        <ol>
            <li>Pellet actin at TL100.3, 75krpm, 15min.
            </li>

            <li>Resuspend in GB to &lt; 5 mg/ml.
            </li>

            <li>Dialyze in GB for &gt; 24h with 1 change of GB.
            </li>

            <li>Dialyze in LoCaGB overnight.
            </li>

            <li>Clarify the prep in TL100.3, 75krpm, 15 min.
            </li>

            <li>Polymerize with 1/9 vol of 10xAB.
            </li>

        </ol>
        <hr>
        <h4>
            Rhodamin Phalloidin (Rh-Ph) Labeling of Actin
        </h4>
        <ol>
            <li>Dry 47&nbsp;µl of Rh-Ph (6.6uM, Molecular Probe).
            </li>

            <li>Dissolve the dried Rh-Ph in 2&nbsp;µl of EtOH.
            </li>

            <li>Add 290&nbsp;µl AB, vortex for 30 sec.
            </li>

            <li>Add 10&nbsp;µl of 1 mg/ml of F-actin.
            </li>

            <li>Shake in dark at 4°C overnight.
            </li>

            <li>Stored at 4°C, good for &gt; 1 week.
            </li>

        </ol>
        <hr>
        <h4>
            Fragmenting actin filaments
        </h4>
        <p>
            The length of actin prepared from above protocol varies from 5-40 mm. In order to make shorter fragments, one can sonicate Rh-Ph actin at 0°C.
        </p>
        <h5>
            Perfusion Chamber
        </h5>
        <ol>
            <li>Coat coverslips with 0.1% Nitrocellulose (Parlodion, Electron Microscopy Sci.) in Amyl Acetate by spreading a drop of the solution on coverslip, absorb excess fluid with filter paper from the edge of coverslip and let it air dry. This coating helps attachment of myosin to coverslips.
            </li>

            <li>Make spacer for the chamber by cutting uncoated coverslip into 2 mm wide strips.
            </li>

            <li>Using syringe, place 2 parallel line of grease several cm in length, 10 mm apart onto a slide.
            </li>

            <li>Put spacers outside of both grease lines.
            </li>

            <li>Place coated coverslip, coated side down, onto the grease, press down with forceps to contact the spacer. This makes a perfusion chamber with ~50 ml internal volume.
            </li>

        </ol>
        <h5>
            Assay Procedure
        </h5>
        <ol>
            <li>Degas AB/KCL (or AB) and AB/BSA, then store on ice.
            </li>

            <li>Dilute myosin into degassed solution in the following concentration, and leave on ice<br>
                <ul>
                    <li>myosin monomers: 40&nbsp;µg/ml final concentration, diluted in AB/KCL
                    </li>
                    <li>myosin filaments: 200&nbsp;µg/ml final concentration, diluted in AB
                    </li>
                    <li>HMM: 30&nbsp;µg/ml final concentration, diluted in AB
                    </li>
                    <li>S1: 50&nbsp;µg/ml final concentration, diluted in AB
                    </li>
                </ul>
            </li>

            <li>Dilute Ph-Ph actin into AB/BSA. (1/10-1/70, I have been using 1/10 dilution), leave on ice.
            </li>

            <li>Make 1 ml AB/BSA/GOC with degassed AB/BSA and leave at <b>room temp</b>.
            </li>

            <li>Tilt perfusion chamber to 30° angle, perfuse 50&nbsp;µl of myosin solution into chamber. Immediately flip chamber and perfuse another 50&nbsp;µl of myosin from the other side of the chamber. Incubate for 60 sec.
            </li>

            <li>Perfuse 100&nbsp;µl AB/BSA, incubate for 60 sec.
            </li>

            <li>Perfuse 100&nbsp;µl Rh-Ph actin, incubate for 60 sec.
            </li>

            <li>Perfuse 100&nbsp;µl AB/BSA, immediately followed by 100 µl AB/BSA/GOC.
            </li>

            <li>The chamber can be viewed under the microscope. The should be very few free floating actin filaments.
            </li>

            <li>Add ATP to AB/BSA/GOC and perfuse 50&nbsp;µl into chamber, motility should be seen within 10 sec. Many actin filaments will be eluted by this perfusion but those remained will exhibit movement.
            </li>

        </ol>
        
        <div class="note">
           <p>
                <span class="nw">Notes:</span> In the experiments I have run so far, most of the actin filaments have been eluted away by perfusion of ATP even with protein concentration up to 200&nbsp;µg/ml in my myosin prep (&gt;90% pure). I have solved the problem by adding methylcellulose into AB/BSA/GOC (see below), the approach that Kron et al. have used for low concentration of myosin, and that have worked well for the assay:<br>
            </p>
            <ol>
                <li>Make 2% methylcellulose (w/v) in AB, and dialyze in AB+0.05%NaN3 overnight.
                </li>

                <li>Make 2x GOC into AB/BSA, and add 1:1 into methylcellulose, perfuse this mixture in stead of AB/BSA/GOC.
                </li>

                <li>Make 2x ATP into AB/BSA/GOC and add methylcellulose and as above. (Methylcellulose solution is very viscous and therefore, the perfusion can not be done on the microscope. This approach has been effective in preventing the dissociation of actin filaments from coverslips when ATP is added.)
                </li>
            </ol>
        </div>


                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    
        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h3>
            Materials
        </h3>
        <ul>
            <li>
                <u>MSB (10 ml)</u>
                <ul>
                    <li>250 µl of 1 M imidazole-HCl pH 7.4 (25&nbsp;mM final concentration)
                    </li>
                    <li>2 ml of 3 M KCl (0.6 M final concentration)
                    </li>
                    <li>20 µl of 0.5 M EDTA (1 mM final concentration)
                    </li>
                    <li>10 µl of 1 M DTT (1mM final concentration)
                    </li>
                </ul>
            </li>

            <li>
                <u>GB (10 ml)</u>
                <ul>
                    <li>10 µl of 1 M imidazole-HCl, pH 7.4 2.5 mM final concentration)
                    </li>
                    <li>CaCl<sub>2</sub> (0.2 mM final concentration)
                    </li>
                    <li>NaN<sub>3</sub> (0.02% final concentration)
                    </li>
                    <li>20&nbsp;µl of 0.1 M ATP (0.2 mM final concentration)
                    </li>
                    <li>2&nbsp;µl of 1 M DTT (0.2 mM final concentration)
                    </li>
                </ul>
            </li>

            <li>
                <u>Lo Ca GB (10 ml)</u>
                <ul>
                    <li>Imidazole-HCl pH 7. 2.5&nbsp;mM 100 X 0.1 ml final concentration)
                    </li>
                    <li>CaCl<sub>2</sub> 0.05&nbsp;mM
                    </li>
                    <li>NaN<sub>3</sub> 0.02%
                    </li>
                    <li>20&nbsp;µl 0.1 M ATP (0.2&nbsp;mM final concentration)
                    </li>
                    <li>2&nbsp;µl 1 M DTT (0.2&nbsp;mM final concentration)
                    </li>
                </ul>
            </li>

            <li>
                <u>AB (10 ml)</u>
                <ul>
                    <li>Imidazole-HCl pH 7.4
                    </li>
                    <li>KCl
                    </li>
                    <li>MgCl<sub>2</sub>
                    </li>
                    <li>EGTA 25mM 25mM 4mM 1mM 10x 1ml DTT 10&nbsp;µl of 1M (1mMfinal concentration)
                    </li>
                </ul>
            </li>

            <li>
                <u>AB/BSA (10 ml)</u>
                <ul>
                    <li>AB 10x (- DTT) 1 ml
                    </li>
                    <li>DTT 1&nbsp;mM 1 M 10&nbsp;µl
                    </li>
                    <li>BSA 0.5 mg/ml 50 mg/ml 100&nbsp;µl
                    </li>
                </ul>
            </li>

            <li>
                <u>AB/KCl (10 ml)</u>
                <ul>
                    <li>AB 10x (- DTT) 1ml
                    </li>
                    <li>DTT 1mM 1M 10&nbsp;µl
                    </li>
                    <li>KCl 0.6M 3M 2ml
                    </li>
                </ul>
            </li>

            <li>
                <u>AB/BSA/GOC</u>
                <ul>
                    <li>AB/BSA 1 ml
                    </li>
                    <li>Catalase Glucose Oxidase 0.018mg/ml 0.1mg/ml 0.9mg/ml
                    </li>
                    <li style="list-style: none">5mg/ml 20&nbsp;µl
                    </li>
                    <li>Glucose 3mg/ml 150mg/ml 20&nbsp;µl
                    </li>
                </ul>
            </li>

            <li>
                <u>AB/BSA/GOC/ATP</u>
                <ul>
                    <li>1 ml AB/BSA/GOC
                    </li>
                    <li>10&nbsp;µl 0.1 M ATP (1 - 2&nbsp;mM final concentration)
                    </li>
                </ul>
                
                <br>

                <div class="note">
                    <span class="nw">Note:</span>
                    <ol>
                        <li>100x GB and LoCaGB should be made from powders (in stead of from stock solutions) and stored in 4°C to prevent bacterial growth since these solutions are used for G-actin which is susceptible to proteolysis from bacterial growth.
                        </li>
                        <li>Stock of catalase + glucose oxidase should be stored in -20°C and is stable on ice for only 1 day.
                        </li>
                    </ol>
                </div>
            </li>

        </ul><!--Tung-Ling Chen          7/19/91-->

                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    <br>

        </div> <!-- col-sm-8 -->
        <div class="col-sm-2 col-xs-1"></div>
    </div>
</div>
