<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/research">Research</a></h4></div>
        <span class="size40"> <a href="#/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </span> 
        <h2>
            Preparation of microtubule-associated <br> motor proteins from Dictyostelium <br>using exogenous taxol-stabilized microtubules
        </h2>        
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">

<!--             <p>
                <b>Download <a ng-href="#/research/techniques/word_docs/MAP.doc">word file</a></b>.
            </p> -->

            <h3>
                Procedure
            </h3>
            <ol>
                <li>Grow Dicty cells axenically to mid or late log phase.
                </li>

                <li>Harvest cells by centrifugation, wash 2X in <a ng-href="#/research/techniques/media/media.html#DB">DB</a>.
                </li>

                <li>Resuspend cells in an equal volume of P100 pH 6.8 buffer containing freshly added:<br>
                    <ul>
                        <li>5&nbsp;mM DTT
                        </li>
                        <li>10&nbsp;µg/ml leupeptin
                        </li>
                        <li>20&nbsp;µg/ml pepstatin
                        </li>
                        <li>100&nbsp;µM PMSF
                        </li>
                        <li>1 mg/ml phenanthroline
                        </li>
                    </ul>
                </li>

                <li>Sonicate gently on ice (large tip, 10% power, setting 2) for 20 second bursts until approximately 95% lysis is reached.
                </li>

                <li>Centrifuge at 142,000 g (35 K rpm in 45Ti) at 2°C for 1.5 h. Collect super (HSS 1).
                </li>

                <li>To supernatant, add 3 U/ml apyrase (Sigma type V). Incubate at room temperature 15&nbsp;min. Then add glycerol to 10% final concentration.
                </li>

                <li>Centrifuge at 142,000 g at 2°C for 1.5 h. Collect super (HSS 2). Filter supernatant through a 1.2&nbsp;µm filter.
                </li>

                <li>To supernatant, add taxol to 10&nbsp;µM and 200&nbsp;µg/ml DEAE purified, taxol stabilized microtubules. Incubate on ice 15&nbsp;min to allow motors to bind to MT.
                </li>

                <li>Pellet microtubules by centrifugation at 38,000 g (18K in SS34) at 4°C for 30&nbsp;min.
                </li>

                <li>Wash: resuspend microtubule pellet in 1/5 of the original cell volume in P100G buffer/10&nbsp;µM taxol, pH 6.8. Homogenize in glass on glass homogenizer to break up pellet. Repellet microtubules as above.
                </li>

                <li>ATP extraction: resuspend microtubule pellet in 0.01-0.02% of original cell volume in P100G/10&nbsp;mM Mg-ATP/10&nbsp;µM taxol to dissociate Dicty motor proteins. Incubate RT 10&nbsp;min, then 37°C 5&nbsp;min.
                </li>

                <li>Sediment microtubules by centrifugation as above. Layer this ATP extract onto a 5-20% sucrose gradient in P100 and spin 31,000 rpm, 16 h, in SW 41 rotor, 4°C. Collect fractions from the bottom. Dynein will sediment at 20S, kinesin at 9S.
                </li>

            </ol>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h3>
                Materials
            </h3>
            <ul>
                <li>
                    <u>P100 buffer</u>
                    <ul>
                        <li>100&nbsp;mM PIPES, pH 6.8
                        </li>
                        <li>5&nbsp;mM MgSO<sub>4</sub>
                        </li>
                        <li>5&nbsp;mM EGTA
                        </li>
                        <li>0.1&nbsp;mM EDTA
                        </li>
                    </ul>
                </li>
            </ul>

            <ul>
                <li>
                    <u>P100G buffer</u>
                </li>
            </ul>
            <ul>
                <li>P100 with 10% glycerol
                </li>
            </ul>
            <ul>

                <li>
                    <u>Protease inhibitor stocks</u>
                </li>
            </ul>
            <ul>
                <li>DTT (500&nbsp;mM in water), dilute 1:100. Make up fresh!
                </li>
                <li>Leupeptin (10 mg/ml quick-frozen in water), dilute 1:1000
                </li>
                <li>Pepstatin (10 mg/ml in DMSO), dilute 1:500
                </li>
                <li>PMSF (100&nbsp;mM in isopropanol), dilute 1:100
                </li>
                <li>Phenanthroline (100 mg/ml in ethanol), dilute 1:100
                </li>
            </ul>

            <ul>
                <li>
                    <u>Taxol</u>
                </li>
            </ul>
            <ul>
                <li>10&nbsp;mM stock in DMSO, dilute 1:1000 for 10&nbsp;µM
                </li>
            </ul>

            <ul>
                <li>
                    <u>Taxol-stabilized microtubules</u>
                </li>
            </ul>
            <ul>
                <li>To thawed DEAE purified bovine tubulin (3-10 mg/ml), add taxol to 10&nbsp;µM.
                </li>
                <li>Incubate at 37°C for 5&nbsp;minutes.
                </li>
                <li>Add taxol to 100&nbsp;µM, incubate an additional 10&nbsp;min at 37°C.
                </li>
            </ul>
            <p>
                <br>
                <!--1/95, Trivinos-->
            </p>

                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
                <br>
        </div> <!-- col-sm-6 -->

        <div class="col-sm-3 col-xs-1"></div>
    </div>
</div>
