<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Techniques</h3></span>
        <h2>
            Microtubule gliding assay for microtubule-associated motors
        </h2>        
    </div>

    <div class="row">

        <div class="col-sm-2 col-xs-1"></div>

        <div class="col-sm-8 col-xs-10">

<!--         <p>
            <b>Download <a ng-href="#/research/techniques/word_docs/microtubule_gliding_assay.doc">word file</a>.</b>
        </p> -->


        <h3>
            Protocol 1
        </h3>
        <p>
            Works well if you have pretty concentrated protein in your dynein sample.
        </p>
        
            <strong>Make microtubules:</strong><br>
                
                    <li>To 100&nbsp;µl of 1&nbsp;mg/ml DEAE tubulin, add 1&nbsp;µl 100&nbsp;mM MgGTP.
                    </li>
                    <li>Mix, and incubate at 37°C for 6&nbsp;min.
                    </li>
                    <li>Add 1&nbsp;µl 10&nbsp;mM taxol. Mix and incubate at 37°C for 6&nbsp;min.
                    </li>
                    <li>Place at room temp. Preincubating tubulin with GTP will give you longer microtubules.
                    </li>
                

            <li>On a clean glass slide, place 25&nbsp;µl dynein sample and allow it to adsorb for 15&nbsp;minutes at room temp.
            </li>

            <li>Add 2&nbsp;µl microtubules from step 1 and 3&nbsp;µl 10&nbsp;mM MgATP.
            </li>

            <li>Invert a coverslip over the sample taking care not to trap bubbles in between and seal with VALAP.
            </li>

            <li>Observe motility with video-enhanced DIC optics.
            </li>

        
                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
        <hr>
        <h3>
            Protocol 2
        </h3>
        <p>
            Works better for dilute dynein samples or if testing an extract or un-enriched supernatant.
        </p>
        
            <li>Make a perfusion chamber by cutting 2 narrow strips from a coverslip with a diamond pen to use as spacers between a glass slide and an uncut coverslip. Seal chamber with VALAP (see diagram).
            </li>

            <img class="img-responsive" src="views/research/techniques/images/perfusion_chamber_for_motility_assay.png">
            

            <li>Perfuse dynein sample or extract sample (25&nbsp;µl) through the chamber. Allow 10&nbsp;minutes at room temp for the sample to adsorb. If the protein concentration in the sample is low, you can perfuse several alliquots through consecutively, placing a piece of filter paper at the opposite side to absorb excess buffer.
            </li>

            <li>Perfuse 50-100&nbsp;µl of buffer through the chamber (P100 or PEM) to wash away unbound protein.
            </li>

            Make microtubules:<br>
                
            <li>To 100&nbsp;µl of 1&nbsp;mg/ml DEAE tubulin, add 1&nbsp;µl 100&nbsp;mM MgGTP.
            </li>
            <li>Mix, and incubate at 37°C for 6&nbsp;min.
            </li>
            <li>Add 1&nbsp;µl 10&nbsp;mM taxol. Mix and incubate at 37°C for 6&nbsp;min.
            </li>
            <li>Preincubating tubulin with GTP will give you longer microtubules.
            </li>
                

            <li>Mix 2&nbsp;µl microtubule sample with 23&nbsp;µl PEM. Perfuse through chamber. Incubate 5&nbsp;min. Wash away unbound MT by perfusing with 50&nbsp;µl P100 or PEM buffer.
            </li>

            <li>Perfuse through 25&nbsp;µl 1&nbsp;mM MgATP.
            </li>

            <li>Observe motility with video-enhanced DIC optics.
            </li>

        
                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h3>
            Materials
        </h3>
        
            <li>Dynein sample or extract sample to be tested for motility
            </li>

            <li>Taxol stabilized microtubules (see step 1.1 and 2.4)
            </li>

            <li>1&nbsp;mM Mg ATP (10&nbsp;mM MgATP if not using perfusion chamber)
            </li>

            <li>VALAP
            </li>

        
                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
                <br>

        </div> <!-- col-sm-8 -->
        <div class="col-sm-2 col-xs-1"></div>
    </div>
</div>
