<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>DictyArt</title>
    </head>
    <body>
        <h1>DictyArt</h1>
        <p>
            <i>Dictyostelium</i> inspires creativity, and this page contains the first beautiful examples. If you would like to share art that finds its source in <i>Dictyostelium</i>, created by you or an artist you know, please contact <a href="mailto:dictybase@northwestern.edu">dictyBase</a>.
        </p>
        <center>
            <a href="#Homo%20Amoeba">Homo Amoeba</a> | <a href="#Poem">Poem</a> | <a href="#Dicty%20Artwork">Dicty Artwork</a> | <a href="#NG">National Geographic</a> | <a href="#Different">We're Not So Different</a>
        </center>
        <br/><br>
        <h2>
            <a name="Homo Amoeba"></a><i>Homo Amoeba</i> by Artúr van Balen 
        </h2>
        <table width="749" border="0">
            <tr>
                <td width="450" height="373">
                    <object width="425" height="373">
                        <param name="movie" value="http://www.youtube.com/v/7jd0QEe_WHE&amp;rel=0&amp;border=1">
                        <param name="wmode" value="transparent">
                        <embed src="http://www.youtube.com/v/7jd0QEe_WHE&amp;rel=0&amp;border=1" type="application/x-shockwave-flash" wmode="transparent" width="425" height="373"> 
                    </object>
                </td>
                <td width="423">
                    Project <b>Homo Amoeba</b> investigates the ideal of flexibility. One is flexible when one can adapt to all situations. For humans, this is more an ideal than reality. For amoebas, being elastic and flexible is no exception. Dictyostelium serves here as a representation of the ideal. A man attempts to imitate the movement.<br>
                    <i>Artúr van Balen, April 2008</i><br>
                    <br>
                    Please click on the <a target="new" href="http://www.youtube.com/watch?v=7jd0QEe_WHE">YouTube</a> link to rate this movie.
                </td>
            </tr>
        </table>
        <p>
            <br>
        </p>
        <hr>
        <h2>
            <a name="Poem" id="Poem"></a>A Poem by Paul R. Fisher, <i>ca</i> 2000
        </h2>
        <h3>
            The Leaders
        </h3>
        <p>
            <i>From the beginning of the journey,<br>
            it is we who lead the way,<br>
            we call the tune<br>
            we beat the drum<br>
            we send our chemical messages<br>
            and you.... you must obey.<br>
            <br>
            But at the journey's end,<br>
            at the culmination of it all,<br>
            we are the stalk and the stem<br>
            who raise you up to the sky<br>
            so that you might live<br>
            while we.... we must die.</i><br>
            <br>
            Download the</a> <a target="new" href="TheLeaders.pdf">pdf</a> version of this poem.<br>
        </p>
        <p>
            <br>
        </p>
        <hr>
        <h2>
            <a name="Dicty Artwork"></a>Dicty Artwork by Paul H. Dear, 2005
        </h2>
        <p>
            Graphics generated when the Nature cover was created for the publication of the <i>Dictyostelium</i> Genome (Nature, 5th May 2005).<br>
        </p>
        <p>
            Click on an image to get a full sized picture
        </p>
        <p>
            <a href="Paul_Dear/crowd.html"><img src="Paul_Dear/crowdT.jpg"></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="Paul_Dear/crowd-helix.html"><img src="Paul_Dear/crowd-helixT.jpg"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="Paul_Dear/metal-crowd.html"><img src="Paul_Dear/metal-crowdT.jpg"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="Paul_Dear/metal-helix.html"><img src="Paul_Dear/metal-helixT.jpg"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="Paul_Dear/forest.html"><img src="Paul_Dear/forestT.jpg"></a>&nbsp;
        </p>
        <p>
            Permission is hereby granted by the copyright holder to use these images for any non-commercial use, including inclusion in web pages, presentations, and reports. The images should have a minimal attribution of "Copyright, Paul H. Dear, MRC Laboratory of Molecular Biology, Cambridge, UK"<br>
        </p>
        <p>
            <br>
        </p>
        <hr>
        <h2>
            <a name="NG" id="NG"></a>Geographic Best Microscopic Images Competion 2008, 4th place
        </h2>
        <table cellpadding="14">
            <tr>
                <td class="unpadded">
                    <img src="4_nikonsmallworld_461.jpg">
                </td>
                <td valign="top">
                    Image by Matthew Springer, Stanford University.<br>
                    See it at <a target="new" href="http://news.nationalgeographic.com/news/2008/10/photogalleries/best-microscope-photos/photo4.html">National Geographic</a>.
                </td>
            </tr>
        </table>
        <p>
            <br>
        </p>
         <hr>
         <h2>
            <a name="Different"></a><i>We're Not So Different</i> by Kurt Ross
        </h2>
        <table width="749" border="0">
            <tr>
                <td width="450" height="373">
                    <object width="425" height="373">
                        <param name="movie" value="http://www.youtube.com/v/zMWSjF_lKGQ&amp;rel=0&amp;border=1">
                        <param name="wmode" value="transparent">
                        <embed src="http://www.youtube.com/v/zMWSjF_lKGQ&amp;rel=0&amp;border=1" type="application/x-shockwave-flash" wmode="transparent" width="425" height="373"> 
                    </object>
                </td>
                <td width="423">
                    Project <b>We're Not So Different</b> - "Altruistic Amoeba"<br>
                    <i>Kurtis Ross, 2014</i><br>
                    <br>
                    Please click on the <a target="new" href="http://www.youtube.com/watch?v=zMWSjF_lKGQ">YouTube</a> link to rate this movie.
                </td>
            </tr>
        </table>
            <br>
      
       
        <!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
