<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Cells in Motion</title>
    </head>
    <body>
        <h1>
            Cells in Motion
        </h1>
        <p>
            <i><b>Click on title or image to view video</b></i>
        </p>
        <p>
            <br>
            <a href="cytokinesis/nullatt.avi">Cytokinesis on a surface&nbsp;</a>
        </p>
        <table border="0" width="100%">
            <tr>
                <td width="40%">
                    <a href="cytokinesis/nullatt.avi"><img border="0" src="cytokinesis/photo.5.gif" width="232" height="180"></a>
                </td>
                <td width="60%">
                    RacE null mutant divides when attached to a substrate.&nbsp; From A. Lozanne, U. Texas, Austin.&nbsp;
                </td>
            </tr>
        </table>
        <p>
            <br>
            <br>
            <a href="cytokinesis/24susp2b.avi">Cytokinesis in suspension</a>
        </p>
        <table width="90%">
            <tr>
                <td width="40%">
                    <a href="cytokinesis/24susp2b.avi"><img border="0" src="cytokinesis/photo.6.gif" width="108" height="119"></a>
                </td>
                <td width="60%">
                    RacE null mutant aborts cytokinesis in suspension.<br>
                    From A. Lozanne, U. Texas, Austin.
                </td>
            </tr>
        </table>
        <p>
            <br>
            <br>
            <a href="chemotaxis/wt.avi">Digitized wild-type cell in chemotaxis</a>
        </p>
        <table width="90%">
            <tr>
                <td width="50%">
                    <a href="chemotaxis/wt.avi"><img border="0" src="chemotaxis/photo.1.gif" width="419" height="205"></a>
                </td>
                <td width="50%">
                    Three dimensional direct image reconstruction of a <i>D. discoideum</i> amobae crawling in a gradient of cAMP. The chemoattractant source is left of the field. From D. Wessel and D. Soll, Unv. of Iowa
                </td>
            </tr>
        </table>
        <p>
            <br>
            <br>
            <a href="chemotaxis/chc-.avi">Digitized clathrin heavy chain null cell in chemotaxis&nbsp;</a>
        </p>
        <table width="90%">
            <tr>
                <td width="40%">
                    <a href="chemotaxis/chc-.avi"><img border="0" src="chemotaxis/photo.2.gif" width="263" height="190"></a>
                </td>
                <td>
                    <p>
                        Three dimensional direct image reconstruction of a clathrin heavy chain null <i>Dictyostelium</i> cell. Note the aberrant cell shape, lack of polarity and numerous fragmented pseudopods. From D. Wessel and D. Soll, Univ. of Iowa.
                    </p>
                </td>
            </tr>
        </table>
        <p>
            <br>
            <br>
            <a href="motility/pang1.avi">Random Motility</a>
        </p>
        <table width="90%">
            <tr>
                <td width="40%">
                    <a href="motility/pang1.avi"><img border="0" src="motility/photo.3.gif" width="139" height="164"></a>
                </td>
                <td>
                    D. discoideum cells expressing GFP-tagged to a highly conserved actin binding domain (ABD) crawling on a glass surface. DIC and fluorescence images were collected simultaneously. Images were captured every 10 seconds.<br>
                    From K.M. Pang, E. Lee, and K.A. Knecht,&nbsp; University of Connecticut.
                </td>
            </tr>
        </table>
        <p>
            <br>
            <br>
            <a href="motility/pang2.avi">Side view of moving cell</a>
        </p>
        <table width="90%">
            <tr>
                <td width="32%">
                    <a href="motility/pang2.avi"><img border="0" src="motility/photo.4.gif" width="172" height="253"></a>
                </td>
                <td width="68%">
                    <p>
                        Side view of amoebae expressing GFP-ABD plated on a glass surface. DIC and fluorescence images were collected simultaneously every 10 seconds by confocal microscopy. From E. Shelden and D.A. Knecht, University of Connecticut.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                </td>
            </tr>
        </table>
        <p>
            &nbsp;
        </p><!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
