<a name="top" id="top"></a>

<div class="jumbotron research">
    <div class="row">
        <div class="techSubHeader"><h3>Explore</h3></div>
        <h1>Multimedia</h1>
        <img src="images/logoMultimedia1.png" width="20%">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2 col-xs-1"></div>
        <div class="col-sm-8 col-xs-10">
            <p><h4>
                Collection of pictures and videos of different aspects of <i>Dictyostelium's</i> life cycle. 
                If you have pictures or movies you would like to share, please send them to <a href="mailto:dictybase@northwestern.edu">dictyBase</a>.
            </h4></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-xs-1"></div>
        <div class="col-sm-8 col-xs-10">

            <div class="row">
                <h2>
                    Pictures
                </h2>
                <p>
                    The pictures on the following pages were obtained with various techniques and of different stages in the <i>Dictyostelium</i> life cycle. A picture of the <i>D. discoideum</i> life cycles is also included. Click on each picture or title to go to its specific page with several fullsized images or movies.
                </p>
            </div> <!-- row -->

            <div class="row holdPictures">

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/LarryBlanton/index.html" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/LarryBlanton/2culmBWtt.jpg">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Mark Grimson 
                                    <br>
                                    and 
                                    <br>
                                    Larry Blanton
                                    <br>
                                    and whatever
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/Bickford/Image.html" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/Bickford/Image2tb.jpg">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Ross Bickford 
                                    <br>
                                    and 
                                    <br>
                                    Dave Knecht
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/Graef/index.html" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/Graef/Dicty_tubulin_centrosomS2.jpg">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Ralph Gräf
                                    <br>
                                    <br>
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/MacWilliams/index.html" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/MacWilliams/young-culminateS1.jpg">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Harry MacWilliams
                                    <br>
                                    <br>
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/DdLifeCycles/index.html" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/DdLifeCycles/Dd-life-cycleT.jpg">
                            </div>
                            <div class="captionName">
                                <h4>
                                    David Brown
                                    <br>
                                    &amp;
                                    <br>
                                    Joan Strassmann
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->
            
            </div> <!-- row   -->

        </div> <!-- end of column -->
        <div class="col-sm-2 col-xs-1"></div>
    </div>  <!-- row -->
   
    <div class="row">
        <div class="col-sm-2 col-xs-1"></div>
        <div class="col-sm-8 col-xs-10">

            <div class="row">
                <h2>
                    Dicty on YouTube
                </h2>
                <p>
                    Collection of videos and interviews about <i>Dictyostelium</i> found on YouTube.
                </p>
            </div> <!-- row -->


            <div class="row">

                <!-- Thumbnail Unit -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="http://www.youtube.com/watch?v=bkVhLJLG7ug" class="captionLink" target="_blank">
                        <div class="thumbnail captionBox">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/bkVhLJLG7ug" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="captionName">
                                <h4>
                                    John Bonner
                                </h4>
                                <p>
                                    slime mold movies
                                </p>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->


                <!-- Thumbnail Unit -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="https://www.youtube.com/embed/5h8WOWEqP6o" class="captionLink" target="_blank">
                        <div class="thumbnail captionBox">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/5h8WOWEqP6o" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="captionName">
                                <h4>
                                    Jeremy Pickett-Heaps
                                </h4>
                                <p>
                                    A Cellular Slime Mold
                                </p>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <!-- Thumbnail Unit -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="https://www.youtube.com/embed/duLTekqtkmk" class="captionLink" target="_blank">
                        <div class="thumbnail captionBox">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/duLTekqtkmk" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="captionName">
                                <h4>
                                    Gadi Shaulsky interview
                                </h4>
                                <p>
                                    Cheater-resistance is not futile
                                </p>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

            </div> <!-- row -->


        </div> <!-- end of column -->
        <div class="col-sm-2 col-xs-1"></div>
    </div>  <!-- row -->

    <div class="row">
        <div class="col-sm-2 col-xs-1"></div>
        <div class="col-sm-8 col-xs-10">

            <div class="row">
                <h2>
                    Videos
                </h2>
                <p>
                    The videos on the following pages show a variety of biological processes occuring in <i>Dictyostelium</i>.
                </p>
            </div> <!-- row -->


           <div class="row">

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/cytokinesis/cytokinesis.htm" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/cytokinesis/nullatt.png">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Cytokinesis
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/cytokinesis_defects/cytokinesis_defects.htm" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/cytokinesis_defects/neujahr2.png">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Cytokinesis Defects
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->


                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/chemotaxis/Chemotaxis.htm" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/chemotaxis/ColorBeta2.png">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Chemotaxis
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/development/development.html" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/development/culm.png">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Development
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/morphogenesis/morphogenetic_movements.htm" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/morphogenesis/weijer2.png">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Morphogenesis
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/motility/motility.htm" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/motility/gerisch1.png">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Motility
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#/explore/gallery/phagocytosis/phagocytosis.htm" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/phagocytosis/gerisch4.png">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Phagocytosis
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

                <!-- Thumbnail Unit -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="http://dictybase.org/phenotype/movies/" class="captionLink">
                        <div class="thumbnail captionBox">
                            <div class="imgOnThumbnail">
                                <img class="imgThumb" src="views/explore/Multimedia/HTP_princeton.png">
                            </div>
                            <div class="captionName">
                                <h4>
                                    Database, Princeton
                                </h4>
                            </div>
                            <!-- <p>Comment to the picture</p> -->
                        </div>
                    </a>
                </div> <!-- Thumbnail Unit -->

            </div> <!-- row -->


        </div> <!-- end of column -->
        <div class="col-sm-2 col-xs-1"></div>
    </div>  <!-- row -->
</div> <!-- container -->
