<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>
            Multimedia
        </title>
    </head>
    <body>
        <h1>
            Multimedia
        </h1>
        <p>
            These pages contain pictures and videos of different aspects of <i>Dictyostelium's</i> life cycle. Enjoy!<br>
            If you have pictures or movies you would like to share, please send them to <a href="mailto:dictybase@northwestern.edu">dictyBase</a>.
        </p>
        <h2>
            Pictures
        </h2>
        <p>
            The pictures on the following pages were obtained with various techniques and of different stages in the <i>Dictyostelium</i> life cycle. A picture of the <i>D. discoideum</i> life cycles is also included.<br>
        </p>
        <h4>
            Click on each picture or title to go to its specific page with several fullsized images or movies.
        </h4>
        <div class="thumbinails">
            <div>
                <a href="LarryBlanton/index.html">
                    <img src="LarryBlanton/2culmBWtt.jpg">
                </a> 
                <a href="LarryBlanton/index.html">Mark Grimson &amp;<br>
                Larry Blanton</a>
            </div>
            <div>
                <a href="Bickford/Image.html">
                    <img src="Bickford/Image2tb.jpg">
                </a> 
                <a href="Bickford/Image.html">Ross Bickford &amp;<br>
                Dave Knecht</a>
            </div>
            <div>
                <a href="Graef/index.html">
                    <img src="Graef/Dicty_tubulin_centrosomS2.jpg">
                </a> 
                <a href="Graef/index.html">Ralph Gräf</a>
            </div>
            <div>
                <a href="MacWilliams/index.html">
                    <img src="MacWilliams/young-culminateS1.jpg">
                </a><a href="MacWilliams/index.html">Harry MacWilliams</a>
            </div>
            <div>
                <a href="DdLifeCycles/index.html">
                    <img src="DdLifeCycles/Dd-life-cycleT.jpg">
                </a>
                <a href="DdLifeCycles/index.html">David Brown &amp; Joan Strassmann</a>
            </div>
        </div>
        <div style="clear:both; height:20px;">
        </div>
        <br/>
        <h2>
            Dicty on YouTube
        </h2>
        <p>
            Included are a collection of videos and interviews on <i>Dictyostelium</i> found on YouTube.
        </p> 
             <div class="thumbinails">
    		<div>
               <a href="http://www.youtube.com/watch?v=bkVhLJLG7ug" target="new">
               <img src="bonner.png">
               </a>
                <a href="http://www.youtube.com/watch?v=bkVhLJLG7ug" target="new">John Bonner's movies<br>
               </a>
            </div>  
            
            <div>
            <a href="http://www.youtube.com/watch?v=5h8WOWEqP6o" target="new">
               <img src="Pickett-Heaps.png" width="125" height="125">
               </a>
                <a href="http://www.youtube.com/watch?v=5h8WOWEqP6o" target="new">Jeremy David Pickett-Heaps on <i>Dictyostelium</i><br>
               </a>
            </div>        
    
            <div>
            <a href="http://www.youtube.com/watch?v=duLTekqtkmk" target="new">
               <img src="Shaulsky.png" width="125" height="125">
               </a>
            	<a href="http://www.youtube.com/watch?v=duLTekqtkmk" target="new">Gadi Shaulsky interview: Cheater-resistance is not futile<br>
               </a>
            </div>    
                 </div>
        <div style="clear:both; height:20px;">
        </div>
        
        <h2>
            Videos
        </h2>
        <p>
            The videos on the following pages show a variety of biological processes occuring in <i>Dictyostelium</i>.
        </p>
        <div class="thumbinails">
            <div>
                <a href="cytokinesis/cytokinesis.htm">
                    <img src="cytokinesis/nullatt.png">
                </a> 
                <a href="cytokinesis/cytokinesis.htm">Cytokinesis</a>
            </div>
            <div>
                <a href="cytokinesis_defects/cytokinesis_defects.htm">
                    <img src="cytokinesis_defects/neujahr2.png">
                </a>
                <a href="cytokinesis_defects/cytokinesis_defects.htm">Cytokinesis Defects</a>
            </div>
            <div>
                <a href="chemotaxis/Chemotaxis.htm">
                    <img src="chemotaxis/ColorBeta2.png">
                </a> 
                <a href="chemotaxis/Chemotaxis.htm">Chemotaxis</a>
            </div>
            <div>
                <a href="development/development.html">
                    <img src="development/culm.png">
                </a> 
                <a href="development/development.html">Development</a>
            </div>
            <div>
                <a href="morphogenesis/morphogenetic_movements.htm">
                    <img src="morphogenesis/weijer2.png">
                </a> 
                <a href="morphogenesis/morphogenetic_movements.htm">Morphogenesis</a>
            </div>
            <div>
                <a href="motility/motility.htm">
                    <img src="motility/gerisch1.png">
                </a> 
                <a href="motility/motility.htm">Motility</a>
            </div>
            <div>
                <a href="phagocytosis/phagocytosis.htm">
                    <img src="phagocytosis/gerisch4.png">
                </a> 
                <a href="phagocytosis/phagocytosis.htm">Phagocytosis</a>
            </div>
            <div>
                <a href="http://dictybase.org/phenotype/movies/">
                    <img src="HTP_princeton.png">
                </a> 
                <a href="http://dictybase.org/phenotype/movies/">HTP Phenotyping<br>
                Database, Princeton</a>
            </div>
                  
        </div>
        <div style="clear:both; height:20px;">
        </div>

        <!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
