<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Material Necessary to Build a Particle Inflow Gun</title>
    </head>
    <body>
        <h1>
            <i>Material necessary to built a particle inflow gun as described in</i>
        </h1>
        <p>
            Wilm, T., Demel, P., Koop, H.U., Schnabel, H. and Schnabel, R. (1999). Ballistic transformation of Caenorhabditis elegans. Gene 229, 31-5.
        </p>
        <p align="right">
            <a href="/techniques/dictyostelium_techniques.htm">[INDEX]</a>
        </p>
        <table border="1" width="220">
            <tr>
                <td colspan="4" width="220">
                    <p>
                        material that can be ordered at:<br>
                        <br>
                        Festo<br>
                        Postfach<br>
                        D 73726 Esslingen<br>
                        Germany<br>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        amount
                    </center>
                </td>
                <td width="110">
                    <p>
                        part
                    </p>
                </td>
                <td width="50">
                    <center>
                        ordering number
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        price (1997)
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center" width="20" height="12">
                    <p>
                        1
                    </p>
                </td>
                <td width="110" height="12">
                    <p>
                        magnetic valve MFH-5/2-D-1 C
                    </p>
                </td>
                <td width="50" height="12">
                    <center>
                        150981
                    </center>
                </td>
                <td width="40" height="12">
                    <p align="right">
                        120.00 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        1
                    </center>
                </td>
                <td width="110">
                    <p>
                        pressure control valve LR-1/8-S B
                    </p>
                </td>
                <td width="50">
                    <center>
                        150042
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        67.60 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        1
                    </center>
                </td>
                <td width="110">
                    <p>
                        check valve H-1/4-B
                    </p>
                </td>
                <td width="50">
                    <center>
                        011689
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        30.50 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        1
                    </center>
                </td>
                <td width="110">
                    <p>
                        Inductivity MSFG 24
                    </p>
                </td>
                <td width="50">
                    <center>
                        004527
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        8.00 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        1
                    </center>
                </td>
                <td width="110">
                    <p>
                        Connection board NAS-1/4-1A-ISO
                    </p>
                </td>
                <td width="50">
                    <center>
                        009484
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        24.30 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        1
                    </center>
                </td>
                <td width="110">
                    <p>
                        sound absorber U-1/4 B
                    </p>
                </td>
                <td width="50">
                    <center>
                        006842
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        12.20 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        2
                    </center>
                </td>
                <td width="110">
                    <p>
                        blind stoppers B-1/4
                    </p>
                </td>
                <td width="50">
                    <center>
                        003569
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        2.20 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        1
                    </center>
                </td>
                <td width="110">
                    <p>
                        screwed joint CK-1/4-PK-4
                    </p>
                </td>
                <td width="50">
                    <center>
                        002029
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        1.55 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        3
                    </center>
                </td>
                <td width="110">
                    <p>
                        srewed joints CK-1/8-PK-4
                    </p>
                </td>
                <td width="50">
                    <center>
                        002027
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        4.65 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        1
                    </center>
                </td>
                <td width="110">
                    <p>
                        distributor FCK-3-PK-4 KU
                    </p>
                </td>
                <td width="50">
                    <center>
                        006274
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        3.20 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        1
                    </center>
                </td>
                <td width="110">
                    <p>
                        sleeve QM-1/4-1/4
                    </p>
                </td>
                <td width="50">
                    <center>
                        002255
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        1.50 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        1
                    </center>
                </td>
                <td width="110">
                    <p>
                        reduction nipple D-1/8I-1/4A
                    </p>
                </td>
                <td width="50">
                    <center>
                        003577
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        1.20 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        1
                    </center>
                </td>
                <td width="110">
                    <p>
                        L-screwed joint LCK-1/8-PK-4
                    </p>
                </td>
                <td width="50">
                    <center>
                        004469
                    </center>
                </td>
                <td width="40">
                    <p>
                        ??
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <center>
                        5m
                    </center>
                </td>
                <td width="110">
                    <p>
                        KST-tube PU-4
                    </p>
                </td>
                <td width="50">
                    <center>
                        006204
                    </center>
                </td>
                <td width="40">
                    <p align="right">
                        9.00 DM
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="220"></td>
            </tr>
            <tr>
                <td colspan="4" width="220">
                    <p>
                        Furthermore you need:
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <p>
                        1
                    </p>
                </td>
                <td colspan="3" width="200">
                    <p>
                        emptying valve for deaerating
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <p>
                        1
                    </p>
                </td>
                <td colspan="3" width="200">
                    <p>
                        pressure gauge (for low pressure)
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <p>
                        1
                    </p>
                </td>
                <td colspan="3" width="200">
                    <p>
                        1 plastic plate (100 mm x 127.5 mm)
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <p>
                        1
                    </p>
                </td>
                <td colspan="3" width="200">
                    <p>
                        1 plastic cylinder (height 200 mm, diameter 75 mm)
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <p>
                        1
                    </p>
                </td>
                <td colspan="3" width="200">
                    <p>
                        1 aluminium plate (100 mm x 127 mm)
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <p>
                        1
                    </p>
                </td>
                <td colspan="3" width="200">
                    <p>
                        1 angle (piece) with external and internal thread
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <p>
                        1
                    </p>
                </td>
                <td colspan="3" width="200">
                    <p>
                        1 diaphragma pump MZ 8, 6.5 m3/h, vacuum 12 mbar
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <p>
                        1
                    </p>
                </td>
                <td colspan="3" width="200">
                    <p>
                        1 gas cylinder helium 5.0, RT10 10 m3
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <p>
                        1
                    </p>
                </td>
                <td colspan="3" width="200">
                    <p>
                        1 reducing valve, max. 20 bar
                    </p>
                </td>
            </tr>
            <tr>
                <td width="20">
                    <p>
                        1
                    </p>
                </td>
                <td colspan="3" width="200">
                    <p>
                        1 Swinney filter (Millipore 3001200)
                    </p>
                </td>
            </tr>
        </table><!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
