.meetingsMain{
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
}

.meetingsMain.full {
	min-height: 600px;
}

.jumbotron {
	background-color: #EFFBEF;
	padding-right: 0px;
	padding-left: 0px;
}

.filterSearch{
	text-align: right;
}

.filterBox {
	text-align: left;
	padding-bottom: 30px;
}

.all {
	font-size: 16px;
}

.meetingsHeader{
	color:#688A08;
	font-size: 18px;
	padding: 15px 0px 10px 10px;
}

.meetingBox{
	padding: 0px 25px 10px 25px;
	font-size: 12px;
}

.meetingBox.full{
	padding: 0px 0px 0px 0px;
}

.meetingsName {
	color: #0B243B;
	font-weight: bold;
	padding-right: 10px;
}

.meetingsLocation {
	color: #848484;
	padding-right: 10px;
}

.meetingsDate {
	color:#688A08;
}

.meetingsMore {
	color: #688A08;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	text-align: center;

	padding-bottom: 20px;
}