.meetingsMain{
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.meetingsHeader{
	color:#688A08;
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 30px;
}

.meetingBox{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	font-size: 12px;
}

.meetingsName {
	color: #0B243B;
	font-weight: bold;
	padding-right: 10px;
}

.meetingsLocation {
	color: #848484;
	padding-right: 10px;
}

.meetingsDate {
	color:#688A08;
}

.meetingsMore {
	color: #688A08;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	text-align: center;

	padding-bottom: 20px;
}