<!--#set var="title" value="Annual Meeting of the British Society for the Study of Protozoology"-->
<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<h1>Annual Meeting of the British Society for the Study of Protozoology</h1>
<br><b>
<p align="center"><font size="3.5">A special symposium on amoebas, for the annual
meeting of the British Society for the Study of Protozoology (BSSP), will be held in
Warwick on March 29-31, 2007. The following is the list of speakers (provisional titles indicated by
hard brackets).  Organized by Sandie Baldauf (University of York).
<br>
<br>
Official <a target ="new" href="http://www.bssp.org/">BSSP website</a></b><br><br>
<br>
<hr>
<br>
<b><u>Thursday</u><br><br>
20.00	Pauline Schaap, University of Dundee</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Evolution of cAMP signaling in amoebae<br><br>
<b><u>Friday</u><br><br>
9.15 	Robert Insall, University of Reading</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amoebae and the evolution of cell movement<br><br>
<b>10.00 	Chris Thompson, University of Manchester</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Social behavior in social amoebas]<br><br>
<b>10.45 	Coffee</b><br><br>
<b>11.15 	Graham Clark, London School of Hygiene</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Genomics of Entamoebae]<br><br>
<b>12.00 	Wolfgang Marwan,</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reconstructing the Network Controlling Commitment to Cell Differentiation in the Eukaryote Physarum polycephalum<br><br>
<b>12.45 	Lunch</b><br><br>
<b>14.00 	Anna-Maria Fiore-Donno, University of York</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Evolution of morphology in Myxomycetes]<br>
<br>
<br>
<!--#include virtual="/inc/page-layout-bottom.html"-->
<!--#include virtual="/inc/page-footer.html"-->
