<div class="viewHouse">
    <div class="container" ng-controller="AnchorController">

        <div class="jumbotron research">
            <div class="row" align="center">
                <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/community">Community</a></h4></div>
                <h2>
                    Annual International
                    <br>
                    <i>Dictyostelium</i> Conferences
                </h2>
                <img src="images/logoConference.png" class="img-responsive padding">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">


                <div align="center">
                    <br>
                    
                    <h4 id="orange">Upcoming meeting</h4>    

                    <h3>
                        Dicty2016: Tucson, Arizona (USA)
                    </h3>
                    <h4>July 31<sup>st</sup> to August 4<sup>th</sup>, 2016</h4>

                    Organized by Pascale Charest and Derrick Brazill
                    <br>
                    <!-- <h4></h4> -->
                </div>

                
                <div class="shortcuts">
                    <b>dicty17</b> will be held in Geneva, Switzerland <br>
                    Organized by Thierry Soldati and Pierre Cosson
                </div>
                
                <h2><strong>Previous International Dictyostelium Meetings</strong></h2>
                <p>
                    International conferences dedicated to <i>Dictyostelium</i> started in 1977 with the meeting in Sardinia, and continued on a roughly 3-year cycle into the 1980's. However, as the field became more active, more local meetings sprang up to fill the gaps in the cycle. Notable amongst these was an annual series in the UK, which gradually became more international. By the late 1980's with the successive meetings at Amsterdam, Oxford, Airlie and Cambridge, the current pattern of annual meetings was established. Interestingly in the late 1990's as the field expanded further, local meetings were re-started in several countries.
                </p>
                <br>

                <div class="row">

                    <div class="col-md-6 col-sm-6 co-xs-12">
                        <h4>2015: Royal Holloway University, London (UK)</h4>
                         Organized by Robin williams, Arjan Kortholt, and Douwe Veltman.<br>
                         <a target ="new" href="http://dicty15.dictybase.org/">dicty15 official website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2015.pdf" >Dicty 2015 Abstract book (pdf)</a>
                         <br><br>
                        <h4>2014: Potsdam, Germany</h4>
                         Organized by Ralph Gr&auml;f, Sascha Thewes, and Carsten Beta<br>
                        <a href="#/community/conference/dicty14/">Pictures of the Potsdam Meeting</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2014.pdf" >Dicty 2014 Abstract book (pdf)</a>
                         <br> <br>
                         <h4>2013: Asheville, North Carolina, USA</h4>
                         Organized by Paul Steimle and Chris Janetopoulos<br>
                        <a href="#/community/conference/dicty13/">Pictures of the Asheville Meeting</a> - <a href="http://dicty13.dictybase.org/" target="new">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2013.pdf" >Dicty 2013 Abstract book (pdf)</a>
                        <br> <br>
                        <h4>2012: Madrid, Spain</h4>
                         Organized by Ricardo Escalante, Teresa Su&aacute;rez, and Leandro Sastre<br>
                        <a href="#/community/conference/dicty12/">Pictures of the Madrid Meeting</a> - <a href="http://dicty12.dictybase.org/" target="new">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2012.pdf" >Dicty 2012 Abstract book (pdf)</a>
                        
                        <br> <br>
                        <h4>2011: Baltimore, Maryland USA</h4>
                        Organized by Doug Robinson and Peter Devreotes and Miho Iijima<br>
                        <a href="#/community/conference/dicty11/">Pictures of the Baltimore Meeting</a> - <a href="http://dicty11.dictybase.org/" target="new">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2011.pdf" >Dicty 2011 Abstract book (pdf)</a>
                        
                        <br> <br>
                        <h4>2010: Cardiff, UK</h4>
                        Organized by Adrian Harwood, Cathy Pears, and Chris Thompson<br>
                        <a href="#/community/conference/dicty10/index.html">Pictures of the Cardiff Meeting</a> - <a href="http://www.dictyostelium.cf.ac.uk/" target="new">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2010.pdf" >Dicty 2010 Abstract book (pdf)</a>
                        
                        <br> <br>
                        <h4>2009: Estes Park, Colorado, USA</h4>
                        Organized by Alan Kimmel and Tian Jin<br>
                        <a href="#/community/conference/dicty09/index.html">Pictures of the Estes Park meeting</a> - <a target="new" href="http://dicty09.dictybase.org/">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2009.pdf" >Dicty 2009 Abstract book (pdf)</a>

                        <br> <br>
                        <h4>2008: Tsukuba-Shi, Japan</h4>
                        Organized by Hideko Urushihara, Taro Uyeda, and Seido Nagano<br>
                        <a href="#/community/conference/dicty08/index.html">Pictures of the Tsukuba meeting</a> - <a target="new" href="http://cosmos.bot.kyoto-u.ac.jp/dicty2008/index.html">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2008.pdf" >Dicty 2008 Abstract book (pdf)</a>
                        <br> <br>
                        <h4>2007: Rotenburg/Fulda, Germany</h4>
                        Organized by Wolfgang Nellen and Markus Maniak<br>
                        <a href="#/community/conference/dicty07/index.html">Pictures of the Rotenburg meeting</a> - <a target="new" href="http://www.dicty2007.net/">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2007.pdf" >Dicty 2007 Abstract book (pdf)</a>
                        <br> <br>
                        <h4>2006: Santa Fe, New Mexico, USA</h4>
                        Organized by Richard Gomer, Richard Sucgang, and Adam Kuspa<br>
                        <a href="#/community/conference/dicty06/index.html">Pictures of the Santa Fe meeting</a> - <a target="new" href="http://purple.bioch.bcm.tmc.edu/dicty2006/">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2006.pdf">Dicty 2006 Abstract book (pdf)</a>
                        <br> <br>
                        <h4>2005: Autrans, France</h4>
                        Organized by Laurence Aubry and Gérard Klein<br>
                        <a href="#/community/conference/dicty05/index.html">Pictures of the Autrans meeting</a> - <a target="new" href="http://www-dsv.cea.fr/content/cea_eng/esp_info/recherche/colloques/coll05_dicty.htm/">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2005.pdf" >Dicty 2005 Abstract book (pdf)</a>
                        <br> <br>
                        <h4>2004: Sainte-Adèle, Québec, Canada</h4>
                        Organized by Adrian Tsang, David Cotter, Barrie Coukell and Gerry Weeks<br>
                        <a href="#/community/conference/dicty04/index.html">Pictures of the Québec meeting</a> - <!--<a href="http://csfg.concordia.ca/dicty2004/">Visit the Website</a> /-->
                         <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2004.pdf" >Dicty 2004 Abstract book (pdf)</a>
                        <br> <br>
                        <h4>2003: Lorne, Australia</h4>
                        Organized by Paul Fisher<br>
                        <a href="#/community/conference/dicty03/index.html">Pictures of Dicty Down Under</a> - <a target="new" href="http://www.latrobe.edu.au/dicty2003">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2003.pdf" >Dicty 2003 Abstract book (pdf)</a>
                        <br> <br>
                        <h4>2002: Palermo, Sicily, Italy</h4>
                        Organized by Salvatore Bozzaro, Adriano Ceccarelli, Enrico Bracco, and Barbara Pergolizzi<br>
                        <a href="#/community/conference/dicty02/index.html">Pictures of the Sicily Meeting</a> - <a target="new" href="http://www.dscb.unito.it/dd2002/dictyindex.html">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2002.pdf" >Dicty 2002 Abstract book (pdf)</a>
                        <br> <br>
                        <h4>2001: San Diego, California, USA</h4>
                        Organized by Rick Firtel and Bill Loomis<br>
                        <a target="new" href="http://www.dictybase.org/DictyAnnualConference/dicty01/index.html">Pictures of the San Diego Meeting</a> - <a target="new" href="http://www.biology.ucsd.edu/dicty2001/">Visit the Website</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2001.pdf" >Dicty 2001 Abstract book (pdf)</a>
                        <br> <br>
                        
                        <br> <br>
                    </div> <!-- col-md: col 2 -->

                    <div class="col-md-6 col-sm-6 co-xs-12">
                        <h4>2000: Dundee, Scotland</h4>
                        Organized by Jeff Williams, Keiss Weijer, Pauline Schaap<br>
                        <a href="#/community/conference/dicty00/index.html">Pictures of the Dundee Meeting</a> - <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty2000.pdf" >Dicty 2000 Abstract book (pdf)</a> 
                        <br><br>
                        <h4>1999: Bar Harbor, Maine, USA</h4>
                        Organized by Robert Gundersen and David Knecht<br>
                        <a target="new" class="btn btn-success btn-xs"  href="views/community/DictyAnnualConference/dicty1999.pdf" >Dicty 1999 Abstract book (pdf)</a>
                        <br> <br>
                        <h4>1998: Kloster Irsee, Germany</h4>
                        Organized by Michael Schleicher and Angelika Noegel<br>
                        <a target="new" href="http://www.dictybase.org/DictyAnnualConference/dicty98/dicty98.html">Pictures of the Irsee Meeting</a>
                        <br> <br>
                        <h4>1997: Snowbird, Utah, USA</h4>
                        Organized by Rich Kessin and Greg Podgorski<br>
                        <a target="new" href="http://www.dictybase.org/DictyAnnualConference/dicty97/thumbs.html">Pictures of the Snowbird Meeting</a>
                        <br> <br>
                        <h4>1996: Sendai, Japan</h4>
                        Organized by Yasuo Maeda<br>
                        <a target="new" href="http://www.dictybase.org/DictyAnnualConference/dicty96/dicty96_1.html">Picture of the Sendai Meeting</a>
                        <br> <br>
                        <h4>1995: Dourdan, France</h4>
                        Organized by Michel Véron and Michel Satre<br>
                        <a target="new" href="http://www.dictybase.org/DictyAnnualConference/dicty95/dicty95_pics.html">Pictures of the Dourdan Meeting</a>
                        <br> <br>
                        <h4>1994: La Jolla, California, USA</h4>
                        Organized by Rick Firtel and Bill Loomis
                        <br> <br>
                        <h4>1993: Noordwijkerhout, Holland</h4>
                        Organized by Peter Van Haastert and Pauline Schaap
                        <br> <br>
                        <h4>1991: Vancouver, Canada</h4>
                        Organized by Gerry Weeks
                        <br> <br>
                        <h4>1990: Turin, Italy</h4>
                        Organized by Salvatore Bozzaro
                        <br> <br>
                        <h4>1989: Airlie, Virginia,, USA</h4>
                        Organized by Richard Kessin and Robert Dottin
                        <br> <br>
                        <h4>1988: Cambridge, UK</h4>
                        Organized by Rob Kay and Jeff Williams
                        <br> <br>
                        <h4>1987: Airlie, Virginia, USA</h4>
                        Organized by Alan Kimmel
                        <a target="new" href="http://www.dictybase.org/DictyAnnualConference/dicty87/dicty87_1.html">Picture of the 1987 Sussmann lab retreat</a>
                        <br> <br>
                        <h4>1986: Oxford, UK</h4>
                        Organized by Peter Newell
                        <br> <br>
                        <h4>1985: Amsterdam, Holland</h4>
                        Organized by Theo Konijn
                        <br> <br>
                        <h4>1984: Southhampton, UK (local meeting)</h4>
                        Organized by Rob Kay
                        <br> <br>
                        <h4>1983: Kyoto, Japan</h4>
                        Organized by Ikuo Takeuchi<br>
                        <a target="new" href="http://www.dictybase.org/DictyAnnualConference/dicty83/dicty83_1.html">Picture of the 1983 Kyoto meeting</a>
                        <br> <br>
                        <h4>1982: Hartford, Connecticut, USA (local meeting)</h4>
                        Organized by Ed Rossomando and David Soll
                        <br> <br>
                        <h4>1981: Tutzing, Germany</h4>
                        Organized by Gunther Gerish<br>
                        <a target="new" href="http://www.dictybase.org/DictyAnnualConference/dicty81/dicty81_1.html">Picture of the Tutzing Meeting</a>
                        <br> <br>
                        <h4>1979: La Jolla, California, USA (local meeting)</h4>
                        Organized by Bill Loomis and Ikuo Takeuchi
                        <br> <br>
                        <h4>1977: Sardinia, Italy</h4>
                        Organized by Piero Cappuccinelli and John Ashworth<br>
                        <a target="new" href="http://www.dictybase.org/DictyAnnualConference/dicty77/dicty77_1.html">Picture of the Sardinia Meeting</a>
                        <br> <br>
                        <h4>1976: Cold Spring Harbor, New York, USA</h4>
                        Organized by Harvery Lodish and Bill Loomis
                        <br> <br>
                        <h4>1975: Colchester, UK</h4>
                        Organized by John Ashworth<br>
                        <a target="new" href="http://www.dictybase.org/DictyAnnualConference/dicty75/dicty75_1.html">Picture of the Colchester Meeting</a>
                        <br> <br>
                        <h4>1969: La Jolla, California, USA </h4>
                        <strong>(Development in eukaryotic microorganisms meeting)</strong>
                        <br>
                        Organized by Bill Loomis
                    </div> <!-- col-md -->
                    
                </div>

                <br>
                <br>

                <p>
                    <i>Special thanks to Rob Kay, Rex Chisholm, Alan Kimmel, Bill Loomis, and Stephen Alexander for their input on past Dicty conferences.</i>
                </p>

                <br>
                <p align="center">
                    <a ng-click="gotoAnchor('top')" href=""><small>Top</small></a>
                </p>
                <br>

            </div> <!-- End of col-md-3 col-sm-2, i.e., the central column -->
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>