<!--#set var="title" value="PBI and PEET Workshop II"-->
<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->

<p align="center"><font size="5"><b>PBI and PEET Workshop II <br>
Finding, Identifying, and Culturing Protostelids, Dictyostelids, and Myxomycetes</font></b>
<br><br><font size="4">June 6-13, 2005<br>

Royal Botanic Garden CSIC, Madrid<br>
In conjunction with<br>
The University of Arkansas<br>

</font></p>

During August, 2004, a workshop was hosted at Ernst Moritz Arndt University Greifswald Botanical Institute and
Botanical Garden (Germany) by Dr. Martin Schnittler to introduce European biologists to the lesser known eumycetozoans,
the protostelids and dictyostelid cellular slime molds.  It was supported by National Science Foundation PBI and PEET
grants to the University of Arkansas.  This first workshop, led by Drs. Fred Spiegel and Jim Cavender, covered methods
for collecting, plating, and identifying these mycetozoans from primary isolation plates.  During the workshop, several
participants expressed a desire to have a follow-up workshop to cover more advanced areas such as the isolation and
culturing of protostelids and dictyostelids.<br><br>

Dr. Carlos Lado will host this second workshop at the Royal Botanic Garden CSIC, Madrid, from June 6-13, 2005.
The topics will include a quick review of techniques for collecting and plating substrates for dictyostelids and
protostelids and for identifying these slime molds.  The workshop will then move on to cover aspects of trophic cell
morphology in protostelids and methods for establishing single slime mold cultures of dictyostelids, protostelids, and,
as a new topic, myxomycetes.  The ability to culture reliably identified strains of eumycetozoans is vitally important
to those working on the systematics of the group.  If possible, there will be a demonstration of how to photograph
these mycetozoans using Auto-Montage.<br><br>

The coverage of protostelids will be led by Dr. Fred Spiegel and John Shadwick of the University of Arkansas,
dictyostelids by Dr. Jim Cavender of Ohio University, and myxomycetes by Dr. Ed Haskins of the University of
Washington, emeritus.<br><br>

As with the first workshop, the maximum number of participants is 20.  The workshop is principally but not exclusively
for European participants.  There will be no registration fee for the workshop.  We are working to find reasonably
priced housing for participants near the Garden.
<br><br>
If you are interested in further information on the workshop, please contact
Fred Spiegel (<a href="mailto:jfspiegel@uark.edu">fspiegel@uark.edu</a>),
John Shadwick (<a href="mailto:jshadw@uark.edu">jshadw@uark.edu</a>), or
Carlos Lado (<a href="mailto:lado@ma-rjb.csic.es">lado@ma-rjb.csic.es</a>).<br><br>


<!--#include virtual="/inc/page-layout-bottom.html"-->
<!--#include virtual="/inc/page-footer.html"-->
