<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Dictyostelium Techniques</title>
    </head>
    <body>
        <p>
            <br>
            <br>
        </p>
        <h3>
            This page has been moved. Please visit the new <a href="/techniques/index.html">Techniques Page</a> for <i>Dictyostelium</i> experimental protocols.
        </h3><!--
<h1>Dictyostelium Techniques</h1>
<a name="top"></a>


<h3><b>Growth and development of <i>Dictyostelium</i></b></h3>
<ul>
<li><a href="/techniques/media/general_dicty_techniques.html">General techniques for growing and developing <i>Dictyostelium</i></a>
 <sup>*</sup></li>
<li><a href="/techniques/media/fm-medium.html">Recipe for FM medium</a> <i>(contributed by Jakob Franke)</i><sup> </sup></li>
<li><a href="/techniques/pdf_docs/synthetic_medium.pdf">Recipe for synthetic medium</a> (pdf) <i>(contributed by Erwin Flaschel)</i><sup> </sup></li>
<li><a href="/techniques/media/lowflo_medium.html">Recipe for low fluorescence axenic medium</a> <i>(contributed by Harry MacWilliams)</i><sup> </sup></li>
<li><a href="/techniques/media/soft_agar.html">Plating <i>Dictyostelium</i> in soft agar</a> <sup>*</sup></li>
</ul>
</p>

<p align="right"><a href="#top">[TOP]</a></p>
<hr>


<h3><b>Transformation</b></h3>
<ul>
<li><a href="/techniques/transformation/calcium_phosphate.html">Calcium phosphate precipitation</a> <sup>*</sup></li>
<li><a href="/techniques/transformation/knecht_electroporation_protocol.html">Electroporation</a> <i>(contributed by Dave Knecht)</i><sup> </sup></li>
<li><a href="/techniques/transformation/NC4.html">Transformation of NC4 or <i>D. mucoroides</i><i></a> (contributed by Harry MacWilliams)</i><sup> </sup></li>
<li><a href="/techniques/transformation/microinjection.htm">Microinjection</a><i> (contributed by Yoshio Fukui)</i><sup> </sup></li>
<li><a href="/techniques/transformation/remi.html">Restriction-enzyme mediated insertional mutagenesis (REMI)</a><sup> </sup></li>
<li><a href="/techniques/particle%20gun/particle_gun.htm">Transformation by particle gun</a>
<i>(contributed by Birgit Wetterauer and Hans-Ulrich Koop)</i><sup> </sup></li>
<li><a href="/techniques/transformation/DAPIelectroporation.html">DAPI Electroporation</a><sup> </sup></li>
<li><a href="/techniques/transformation/heat_killed_bacteria.html">Addition of heat-killed bacteria to transformants</a> <sup>*</sup></li>
<li><a href="/techniques/transformation/transformant_selection_on_bacteria.html">Transformant selection on bacterial lawns using the V18-Tn5-cassette</a><sup> </sup>
<i>(contributed by Harry MacWilliams)</i></li>
</ul>
</p>


<p align="right"><a href="#top">[TOP]</a></p>
<hr>

<h3><b>Molecular Biology</b></h3>
<ul>
<li><a href="/techniques/molec_biol/quick_gDNA.html">Quick extraction of genomic DNA</a>
<i> (contributed by Steve Charette and Pierre Cosson)</i><sup> </sup></li>
<li><a href="/techniques/molec_biol/genomicDNA_1.html">Isolation of genomic DNA</a> <sup>*</sup></li>
<li><a href="/techniques/molec_biol/genomicDNA_CsCl.html">Isolation of genomic DNA (CsCl)</a> <sup>*</sup></li>
</ul>


<p align="right"><a href="#top">[TOP]</a></p>
<hr>

<h3><b>Gene Expression</b></h3>
<ul>
<li><a href="/techniques/geneex/chip.html">Chromatin Immuno-precipitation</a>
<i> (contributed by Jeff Williams and Y. Yamada)</i><sup> </sup></li>
<li><a href="/techniques/geneex/insitu.html">Whole mount <i>in situ</i> hybridization</a><i> (contributed by Ricardo Escalante and Bill Loomis)</i><sup> </sup></li>
<li><a href="/techniques/geneex/agaroverlay.htm">Agar overlay technique</a> <i>(contributed by Yoshio Fukui)</i><sup> </sup></li>
<li><a href="/techniques/geneex/indirect_immunofluo.html">Indirect immunofluorescence</a> <sup>*</sup></li>
</ul>


<p align="right"><a href="#top">[TOP]</a></p>
<hr>

<h3><b>Biochemistry</b></h3>
<ul>
<li><sup>35</sup><a href="/techniques/biochem/metabolic_labeling.html">S-methionine labelling of <i>Dictyostelium</i></a> <sup>*</sup></li>
<li><sup>32</sup><a href="/techniques/biochem/32-P_labeling_in_FM.html">phosphate labelling of <i>Dictyostelium</i></a> <sup>*</sup></li>
</ul>


<p align="right"><a href="#top">[TOP]</a></p>
<hr>

<h3><b>Cytoskeleton</b></h3>
<h4>Protein preparation</h4>
<ul>
<li><a href="/techniques/cytoskeleton/centrosome_purification.html">Isolation of <i>Dictyostelium</i> centrosomes</a> <i>(contributed by Ralph Gr&#228;f)</i><sup> </sup></li>
<li><a href="/techniques/cytoskeleton/MAP.html">Preparation of Microtubule-Associated Motor Proteins</a> <sup>*</sup></li>
<li><a href="/techniques/cytoskeleton/cytoskeleton_isolation.html">Isolation of <i>Dictyostelium</i> cytoskeleton</a> <sup>*</sup></li>
<li><a href="/techniques/cytoskeleton/muscle_actin.html">Purification of muscle actin</a> <sup>*</sup></li>
<li><a href="/techniques/cytoskeleton/myosin_prep_1day.html">One-day <i>Dictyostelium</i> myosin preparation</a> <sup>*</sup></li>
<li><a href="/techniques/cytoskeleton/myosin_prep_3days.html">Three-day <i>Dictyostelium</i> myosin preparation</a> <sup>*</sup></li>
</ul>

<h4>Protein assays</h4>
<ul>
<li><a href="/techniques/cytoskeleton/microtubule_gliding_assay.html">Microtubule gliding assay for microtubule-associated motors</a> <sup>*</sup></li>
<li><a href="/techniques/cytoskeleton/dyenin_assay_radioactive.html">ATPase assay for dynein (radioactive)</a> <sup>*</sup></li>
<li><a href="/techniques/cytoskeleton/dyenin_assay_colorimetric.html">CTPase assay for dynein (colorimetric)</a> <sup>*</sup></li>
</ul>

<!==
<li><a href="/techniques/cytoskeleton/invitro_motility.html"><i>in vitro</i> motility assay</a> <sup>*</sup></li>
<li><a href="/techniques/cytoskeleton/myosin_assay.html">ATPase assay for <i>Dictyostelium</i> myosin</a> <sup>*</sup></li>
<li><a href="/techniques/cytoskeleton/myosin_assay_number_active_myosin_heads.html">Estimation of the number of active myosin heads in isolated myosin</a> <sup>*</sup></li>
<li><a href="/techniques/cytoskeleton/myosin-Factin_binding.html">Myosin-F-actin binding by pelleting assay</a> <sup>*</sup></li>
-->
        <!--

<p align="right"><a href="#top">[TOP]</a></p>
<hr>


<h3><b>Teaching Aids</b></h3>
<ul><li><a href="/techniques/chemotaxis/">Practical on chemotaxis</a> <i>(contributed by Thierry Soldati)</i><sup> </sup></li>
<li><a href="/bonner%20paper.pdf">Report on the number of cells in a slug (pdf file)</a><i> (contributed by John Bonner)</i><sup> </sup></li>
</ul>
<br>
<hr>
<p><sup>*</sup><b>
This experimental protocol was taken from the Rex Chisholm Lab's Dictyostelium Techniques Manual.
Many of these protocols are the result of the contributions and collaborations of many different laboratories.


</b>
</p>

-->
        <p>
            <br>
            <!--#include virtual="/inc/page-layout-bottom.html"-->
            <!--#include virtual="/inc/page-footer.html"-->
        </p>
    </body>
</html>
