<a name="top" id="top"></a>

<definition-bar text="Techniques  <  Research  <  home" look="definitionLink"></definition-bar>

<div class="jumbotron research">
    <div class="row">
        <h1>Techniques</h1>
        <img src="images/widgetTechniques.jpg" width="15%" height="15%" alt="Techniques for research">
    </div>
</div>


<div class="container" ng-controller="headerCtrl">
    <div class="row" align="center">

        <a ng-click="gotoAnchor('medbuf')" href="" class="label label-primary">Media and buffers</a> 
        <a ng-click="gotoAnchor('growth')" href="" class="label label-primary">Growth and Development</a> 
        <a ng-click="gotoAnchor('molbio')" href="" class="label label-primary">Molecular Biology</a> 
        <a ng-click="gotoAnchor('trafo')" href="" class="label label-primary">Transformation</a> 
        <a ng-click="gotoAnchor('muta')" href="" class="label label-primary">Mutagenesis</a> 
        <a ng-click="gotoAnchor('express')" href="" class="label label-primary">Gene Expression</a> 
        <a ng-click="gotoAnchor('micro')" href="" class="label label-primary">Microscopy</a> 
        <a ng-click="gotoAnchor('biochem')" href="" class="label label-primary">Biochemistry</a> 
        <a ng-click="gotoAnchor('cytoskel')" href="" class="label label-primary">Cytoskeleton</a> 
        <a ng-click="gotoAnchor('teach')" href="" class="label label-primary">Teaching Tools</a>
    </div>

    <div class="row">
        <div class="col-sm-2 col-xs-12"></div>
        <div class="col-sm-8 col-xs-12">
            <div>
<!--                 <a ng-click="gotoAnchor('medbuf')" href="">Media and buffers</a>&nbsp;| <a ng-click="gotoAnchor('growth')" href="">Growth and Development</a>&nbsp;| <a ng-click="gotoAnchor('molbio')" href="">Molecular Biology</a>&nbsp;| <a ng-click="gotoAnchor('trafo')" href="">Transformation</a>&nbsp;| <a ng-click="gotoAnchor('muta')" href="">Mutagenesis</a>&nbsp;| <a ng-click="gotoAnchor('express')" href="">Gene Expression</a>&nbsp;| <a ng-click="gotoAnchor('micro')" href="">Microscopy</a>&nbsp;| <a ng-click="gotoAnchor('biochem')" href="">Biochemistry</a>&nbsp;| <a ng-click="gotoAnchor('cytoskel')" href="">Cytoskeleton</a>&nbsp;| <a ng-click="gotoAnchor('teach')" href="">Teaching Tools</a> -->
            </div>
            <br>
            <p>
                <a name="medbuf" id="medbuf"></a>
            </p>
            <h3> Media and buffers </h3>
            <ul>
                <li>
                    <a ng-href="#/research/techniques/1">Media and buffers</a>
                </li>
                <li>
                    <a href="/techniques/media/fm-medium.html">Recipe for FM defined medium</a> <i>(contributed by Jakob Franke)</i>
                </li>
                <li>
                    <a href="/techniques/media/lowflo_medium.html">Recipe for low fluorescence axenic medium</a> <i>(contributed by Harry MacWilliams)</i>
                </li>
                <li>
                    <a href="/techniques/pdf_docs/synthetic_medium.pdf">Recipe for synthetic medium</a> (pdf) <i>(contributed by Erwin Flaschel)</i>
                </li>
            </ul>
            <p align="right">
                <a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a>
            </p>
            <hr>
            <p>
                <a name="growth" id="growth"></a>
            </p>
            <h3>
                Growth and development of <i>Dictyostelium</i>
            </h3>
            <ul>
                <li>
                    <a href="/techniques/media/dicty_growth.html">Methods for growing <i>Dictyostelium</i></a>
                </li>
                <li>
                    <a href="/techniques/media/dicty_development.html">Methods for<i>Dictyostelium</i> development</a>
                </li>
                <li>
                    <a href="/techniques/media/dicty_storage.html"><i>Dictyostelium</i> cell storage procedures</a>
                </li>
                <li>
                    <a href="/techniques/media/soft_agar.html">Plating <i>Dictyostelium</i> in soft agar</a> <sup>*</sup>
                </li>
                <li>
                    <a href="/techniques/media/parasexual_genet.html">Methods for parasexual genetics</a> <i>(contributed by Jason King and Robert Insall)</i>
                </li>
                <li>
                    <a href="/techniques/media/mating_types.html">Method for determining mating types</a> <i>(contributed by Jakob Franke)</i>
                </li>
            </ul>
            <p align="right">
                <a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a>
            </p>
            <hr>
            <!--
            <a name="stockcenter"></a>
            ></a><h3>Stock Center Culture Media and Techniques</b></h3>
            <i>(contributed by Jakob Franke)</i><br>
            <ul>
            <li><a href="/techniques/media/stock_center_media.html">Media recipes</a><sup> </sup></li>
            <li><a href="/techniques/media/fm-medium.html">Recipe for FM Defined Medium</a><sup> </sup></li>
            <li><a href="/techniques/media/cell_storage_technique.html">Cell storage procedure</a><sup> </sup></li>
            <li><a href="/techniques/media/starting_ax_cultures.html">Starting axenic cultures from bacterial plates<sup> </sup></a>
            <li><a href="/techniques/media/mating_types.html">Method for determining mating types</a><sup> </sup></li>
            </ul>
            </p>

            <p align="right"><a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a></p>
            <hr>
            -->
            <p>
                <a name="molbio" id="molbio"></a>
            </p>
            <h3>
                Molecular Biology
            </h3>
            <ul>
                <li>
                    <a href="/techniques/molec_biol/quick_gDNA.html">Quick extraction of genomic DNA</a> <i>(contributed by Steve Charette and Pierre Cosson)</i>
                </li>
                <li>
                    <a href="/techniques/molec_biol/genomicDNA_1.html">Isolation of genomic DNA</a> <sup>*</sup>
                </li>
                <li>
                    <a href="/techniques/molec_biol/genomicDNA_CsCl.html">Isolation of genomic DNA with CsCl</a> <sup>*</sup>
                </li>
                <li>
                    <a href="/techniques/molec_biol/RT_PCR.html">RT-PCR for Knockout Screening and Expression Analysis</a> <i>(contributed by Robin Williams)</i>
                </li>
            </ul>
            <p align="right">
                <a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a>
            </p>
            <hr>
            <p>
                <a name="trafo" id="trafo"></a>
            </p>
            <h3>
                Transformation
            </h3>
            <ul>
                <li>
                    <a href="/techniques/transformation/gaudet_2007_transformation.html">Transformation protocols</a> <i>(<a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=11596">Gaudet et al. 2007</a>)</i>
                </li>
                <li>
                    <a href="/techniques/transformation/calcium_phosphate.html">Calcium phosphate precipitation</a> <sup>*</sup>
                </li>
                <li>
                    <a href="/techniques/transformation/knecht_electroporation_protocol.html">Electroporation</a> <i>(contributed by Dave Knecht)</i>
                </li>
                <li>
                    <a href="/techniques/transformation/NC4.html">Transformation of NC4 or <i>D. mucoroides</i></a> (contributed by Harry MacWilliams)
                </li>
                <li>
                    <a href="/techniques/transformation/microinjection.htm">Microinjection</a> <i>(contributed by Yoshio Fukui)</i>
                </li>
                <li>
                    <a href="/techniques/particle%20gun/particle_gun.htm">Transformation by particle gun</a> <i>(contributed by Birgit Wetterauer and Hans-Ulrich Koop)</i>
                </li>
                <li>
                    <a href="/techniques/transformation/heat_killed_bacteria.html">Addition of heat-killed bacteria to transformants</a> <sup>*</sup>
                </li>
                <li>
                    <a href="/techniques/transformation/transformant_selection_on_bacteria.html">Transformant selection on bacterial lawns using the V18-Tn5-cassette</a> <i>(contributed by Harry MacWilliams)</i>
                </li>
                <li>
                    <a href="/techniques/transformation/DAPIelectroporation.html">DAPI Electroporation</a>
                </li>
            </ul>
            <p align="right">
                <a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a>
            </p>
            <hr>
            <p>
                <a name="muta" id="muta"></a>
            </p>
            <h3>
                Mutagenesis
            </h3>
            <ul>
                <li>
                    <a href="/techniques/transformation/remi.html">Restriction-enzyme mediated insertional mutagenesis (REMI)</a>
                </li>
                <li>
                    <a href="/techniques/transformation/rnai.html">RNAi procedure</a> <i>(contributed by Alan Kimmel)</i>
                </li>
                <li>
                    <a href="/techniques/media/parasexual_genet.html#double">Making double mutants by diploid genetics</a> <i>(contributed by Jason King and Robert Insall)</i>
                </li>
            </ul>
            <p align="right">
                <a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a>
            </p>
            <hr>
            <!--

            ></a><h3>Regulated Gene Expression</b></h3>
            <ul>
            <li><a href="/techniques/geneex/RNAi.html">RNA interference (RNAi)</a><i> (contributed by Barbara Weissenmayer)</i><sup> </sup></li>
            </ul>
            </p>

            <p align="right"><a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a></p>
            <hr>
            -->
            <p>
                <a name="express" id="express"></a>
            </p>
            <h3>
                Gene Expression
            </h3>
            <ul>
                <li>
                    <a href="/techniques/geneex/chip.html">Chromatin Immuno-precipitation</a> <i>(contributed by Jeff Williams and Y. Yamada)</i>
                </li>
                <li>
                    <a href="/techniques/geneex/insitu.html">Whole mount <i>in situ</i> hybridization</a> <i>(contributed by Ricardo Escalante and Bill Loomis)</i>
                </li>
                <li>
                    <a href="/techniques/geneex/agaroverlay.htm">Agar overlay technique</a> <i>(contributed by Yoshio Fukui)</i>
                </li>
                <li>
                    <a href="/techniques/geneex/indirect_immunofluo.html">Indirect immunofluorescence</a> <sup>*</sup>
                </li>
            </ul>
            <p align="right">
                <a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a>
            </p>
            <hr>
            <p>
                <a name="micro" id="micro"></a>
            </p>
            <h3>
                Microscopy
            </h3>
            <ul>
                <li>
                    <a href="/techniques/microscopy/fixation_rgomer.html">Fixation techniques for immunonfluorescence</a> <i>(contributed by Richard Gomer)</i>
                </li>
                <li>
                    <a href="/techniques/microscopy/fluorescence-macwilliams.html">Visualizing weak fluorescence in multicellular stages</a> <i>(contributed by Harry MacWilliams)</i>
                </li>
            </ul>
            <p align="right">
                <a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a>
            </p>
            <hr>
            <p>
                <a name="biochem" id="biochem"></a>
            </p>
            <h3>
                Biochemistry
            </h3>
            <ul>
                <li>
                    <a href="/techniques/biochem/metabolic_labeling.html">S-methionine labelling of <i>Dictyostelium</i></a> <sup>*</sup>
                </li>
                <li>
                    <a href="/techniques/biochem/32-P_labeling_in_FM.html">phosphate labelling of <i>Dictyostelium</i></a> <sup>*</sup>
                </li>
            </ul>
            <p align="right">
                <a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a>
            </p>
            <hr>
            <p>
                <a name="cytoskel" id="cytoskel"></a>
            </p>
            <h3>
                Cytoskeleton
            </h3>

            <div class="justRight">
                <h4>
                    Protein preparation
                </h4>
                <ul>
                    <li>
                        <a href="/techniques/cytoskeleton/cytoskeleton_isolation.html">Isolation of <i>Dictyostelium</i> cytoskeleton</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/centrosome_purification.html">Isolation of <i>Dictyostelium</i> centrosomes</a> <i>(contributed by Ralph Gräf)</i>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/MAP.html">Preparation of microtubule-associated motor proteins</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/muscle_actin.html">Purification of muscle actin</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/myosin_prep_1day.html">One-day <i>Dictyostelium</i> myosin preparation</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/myosin_prep_3days.html">Three-day <i>Dictyostelium</i> myosin preparation</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/tubulin_staining.html"><i>Dictyostelium</i> cell staining for tubulin</a> <i>(contributed by Emma Dalton)</i>
                    </li>
                </ul>
                <h4>
                    Protein assays
                </h4>
                <ul>
                    <li>
                        <a href="/techniques/cytoskeleton/microtubule_gliding_assay.html">Microtubule gliding assay for microtubule-associated motors</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/dyenin_assay_radioactive.html">ATPase assay for dynein (radioactive)</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/dyenin_assay_colorimetric.html">CTPase assay for dynein (colorimetric)</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/invitro_motility.html"><i>in vitro</i> motility assay</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/myosin_assay.html">ATPase assay for <i>Dictyostelium</i> myosin</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/myosin_assay_number_active_myosin_heads.html">Estimation of the number of active myosin heads in isolated myosin</a> <sup>*</sup>
                    </li>
                    <li>
                        <a href="/techniques/cytoskeleton/myosin-Factin_binding.html">Myosin-F-actin binding by pelleting assay</a> <sup>*</sup>
                    </li>
                </ul>
                <h4>
                    Protein detection
                </h4>
                <ul>
                    <li>
                        <a href="/techniques/cytoskeleton/gtubulin_western.html"><i>Dictyostelium</i> anti-γ-tubulin Westerns</a> <i>(contributed by Emma Dalton)</i>
                    </li>
                </ul>
            </div>

            <p align="right">
                <a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a>
            </p>
            <hr>
            <p>
                <a name="teach" id="teach"></a>
            </p>
            <h3>
                <a href="/teaching_tools/index.html">Teaching Tools</a>
            </h3>
            <p align="right">
                <a ng-click="gotoAnchor('top')" href=""><small>Back to top</small></a>
            </p>
            <hr>

            <!--<ul>
                <li>
                    <a href="/techniques/chemotaxis/">Practical on chemotaxis</a> <i>(contributed by Thierry Soldati)</i>
                </li>
                <li>
                    <a href="/Bonner%20paper.pdf">Report on the number of cells in a slug (pdf file)</a> <i>(contributed by John Bonner)</i>
                </li>
            </ul>-->
            <p> <em>
                <strong>
                    <sup>*</sup> <small>This experimental protocol was taken from the Rex Chisholm Lab's Dictyostelium Techniques Manual. Many of these protocols are the result of the contributions and collaborations of many different laboratories.</small>
                </strong>
            </em>

            </p>
            <p>
                <br>
                <!--#include virtual="/inc/page-layout-bottom.html"-->
                <!--#include virtual="/inc/page-footer.html"-->
            </p>

        </div> <!-- End of col-sm-8, i.e., the central column -->
        <div class="col-sm-2 col-xs-12"></div>
    </div>
</div>