<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Fixation techniques for immunonfluorescence</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Fixation techniques for immunonfluorescence
        </h1>
        <p>
            <b>Contributed by Richard Gomer.</b>
        </p>
        <hr>
        <p>
            For new antibodies I suggest trying a variety of fixation techniques, as some antigens work with formaldehyde, others only work with ethanol fixation, etc. Here is a list of fixatives.
        </p>
        <h2>
            Fixatives (try 10 min and 30 min at room temp unless otherwise indicated)
        </h2>
        <ul>
            <li>
                <h3>
                    Ethanol
                </h3>
                <ul>
                    <li>95% ethanol
                    </li>
                </ul>
            </li>
            <li>
                <h3>
                    Methanol
                </h3>
                <ul>
                    <li>100% Methanol
                    </li>
                </ul>
            </li>
            <li style="list-style: none">(can also try this at -20 degrees C)
            </li>
            <li>
                <h3>
                    Fix from <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=4774">Pang, Lee &amp; Knecht 1998
                </h3>
                <ul>
                    <li>9.38 ml HL5 (I used PBM)
                    </li>
                    <li>2&nbsp;µl Triton X-100; mix, then add
                    </li>
                    <li>540&nbsp;µl 37% formaldehyde
                    </li>
                    <li>80&nbsp;µl 25% glutaraldehyde
                    </li>
                </ul>
            </li>
            <li style="list-style: none">This is great with phalloidin added in
            </li>
            <li>
                <h3>
                    Low osmolarity fix
                </h3>
                <ul>
                    <li>9.4 ml water
                    </li>
                    <li>0.6 ml 37% formaldehyde
                    </li>
                </ul>
            </li>
            <li style="list-style: none">then open membranes with either (try both) 1%NP-40 in PBD or 95% ethanol
            </li>
            <li>
                <h3>
                    AZF
                </h3>
                <ul>
                    <li>0.25 g Zinc chloride
                    </li>
                    <li>9.3 ml water; dissolve, then add
                    </li>
                    <li>1.5 ml formaldehyde
                    </li>
                    <li>95&nbsp;µl acetic acid
                    </li>
                </ul>
            </li>
            <li style="list-style: none">bring to 10 ml with water
            </li>
            <li>
                <h3>
                    Zinc Formalin
                </h3>
                <ul>
                    <li>0.1 g zinc chloride
                    </li>
                    <li>9 ml water; dissolve, then add
                    </li>
                    <li>1 ml formaldehyde
                    </li>
                </ul>
            </li>
            <li>
                <h3>
                    Boiun
                </h3>
                <ul>
                    <li>0.75 ml saturated picric acid (keep picric acid in solution, dry picric acid can explode)
                    </li>
                    <li>0.25 ml formaldehyde
                    </li>
                    <li>50&nbsp;µl acetic acid
                    </li>
                </ul>
            </li>
            <li>
                <h3>
                    Boiun- Duboscq
                </h3>
                <ul>
                    <li>1.2 ml 95% ethanol
                    </li>
                    <li>0.3 ml water
                    </li>
                    <li>0.6 ml formaldehyde
                    </li>
                    <li>150&nbsp;µl acetic acid
                    </li>
                    <li>10&nbsp;µl picric acid
                    </li>
                </ul>
            </li>
            <li>
                <h3>
                    Altmann
                </h3>
                <ul>
                    <li>0.03 g chromium potasium sulfate
                    </li>
                    <li>0.3 ml formaldehyde
                    </li>
                    <li>20&nbsp;µl acetic acid
                    </li>
                    <li>2.4 ml water
                    </li>
                </ul>
            </li>
            <li>
                <h3>
                    Bill Deery's new &amp; improved cell fixation protocol
                </h3>Everything at room temperature and everything is done in the dish until the second Ab.<br>
                <ol>
                    <li>Put 300&nbsp;µl of cells in HL-5 on a glass coverslip in a 35 mm dish or multiwell plate for 15-20 min, so that they adhere and flatten.
                    </li>
                    <li>Without removing the HL-5, put 2 ml of PBM into the well. Gently swirl and remove.
                    </li>
                    <li>Add 1.5 ml of 9 ml PBM / 1 ml 37% formaldehyde.
                    </li>
                    <li>Swirl gently and fix for 30 minutes (we used to fix for 10 minutes, and this is not enough time).
                    </li>
                    <li>Permeabilize &amp; block with T50BS/ 5%nonfat dry milk/ 0.25% Tween-20 for 15 minutes, remove
                    </li>
                    <li style="list-style: none">T50BS is
                        <ul>
                            <li>50 mM Tris/HCl pH 7.9
                            </li>
                            <li>100 to 300 mM NaCl (300 mM for reducing background)
                            </li>
                            <li>10 mM NaN3
                            </li>
                        </ul>
                    </li>
                    <li>Dilute antibody in the above solution, don't spin, and add to coverslip for 1-2 hours
                    </li>
                    <li>Wash with the above solution 2 times 5 min each, then wash with Ab2 solution :
                        <ul>
                            <li>T20BS*
                            </li>
                            <li>1% BSA
                            </li>
                            <li>0.25% Tween-20
                            </li>
                        </ul>*T20BS is TBS with 20 mM Tris HCl pH 7.5 not 7.9<br>
                    </li>
                    <li>Then incubate Ab2 in T20BS on a cork in a humid box and wash in T20BS.
                    </li>
                </ol>
            </li>
            <li>
                <h3>
                    Cardelli improvement:
                </h3>Grow cells on the coverslips! put cs into a dish, cover with HL5, add a drop of log phase cells, mix, and let sit 24 hours. Then gently fix as above.
            </li>
            <li>
                <h3>
                    Gerisch Picric acid
                </h3><a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=3434">Kreitmeier et al 1995</a>
                <ul>
                    <li>15% (vol/vol) sat'd picric acid in water
                    </li>
                    <li>1-2 % paraformaldehyde
                    </li>
                    <li>10 mM PIPES-HCl pH 6.0
                    </li>
                </ul><br>
                <ol>
                    <li>Fix 30 min RT in above
                    </li>
                    <li>Postfix : 70% EtOH
                    </li>
                    <li>Wash in PBS/ 0.75% glycine
                    </li>
                    <li>Wash &amp; stain PBS/ BSA/ gelatin
                    </li>
                </ol>
            </li>
        </ul>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p><!--#include virtual="/inc/footer_withSide.html"-->
    </body>
</html>
