<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Techniques</h3></span>
        <h2>
            Fixation techniques for immunonfluorescence
        </h2> 
        <h6>Contributed by Richard Gomer</h6>
    </div>

    <div class="row">

        <div class="col-sm-2 col-xs-1"></div>

        <div class="col-sm-8 col-xs-10">

            <div class="note space1">
                For new antibodies I suggest trying a variety of fixation techniques, as some antigens work with formaldehyde, others only work with ethanol fixation, etc. Here is a list of fixatives.
            </div>            

            <br>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">

                    <div class="note">
                        <span class="nw">Fixatives: </span>
                        Try 10 min and 30 min at room temp unless otherwise indicated         
                    </div>



                    <h4>
                        Ethanol
                    </h4>
                    <ul>
                        <li>95% ethanol
                        </li>
                    </ul>

                    <br>

                    <h4>
                        Methanol
                    </h4>
                    <ul>
                        <li>100% Methanol
                        </li>
                    </ul>

                    <br>

                    <h4>
                        Fix from <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=4774">Pang, Lee &amp; Knecht 1998</a>
                    </h4>
                    <ul>
                        <li>9.38 ml HL5 (I used PBM)
                        </li>
                        <li>2&nbsp;µl Triton X-100; mix, then add
                        </li>
                        <li>540&nbsp;µl 37% formaldehyde
                        </li>
                        <li>80&nbsp;µl 25% glutaraldehyde
                        </li>
                    </ul>

                    <br>
                    <h4>
                        Low osmolarity fix
                    </h4>
                    <ul>
                        <li>9.4 ml water
                        </li>
                        <li>0.6 ml 37% formaldehyde
                        </li>
                    </ul>
                    <p>Then open membranes with either (try both) 1%NP-40 in PBD or 95% ethanol</p>
                
                    <br>
                    <h4>
                        AZF
                    </h4>
                    <ul>
                        <li>0.25 g Zinc chloride
                        </li>
                        <li>9.3 ml water; dissolve, then add
                        </li>
                        <li>1.5 ml formaldehyde
                        </li>
                        <li>95&nbsp;µl acetic acid
                        </li>
                    </ul>
                
                    <p>bring to 10 ml with water</p>
                    
                    <br>
                    <h4>
                        Zinc Formalin
                    </h4>
                    <ul>
                        <li>0.1 g zinc chloride
                        </li>
                        <li>9 ml water; dissolve, then add
                        </li>
                        <li>1 ml formaldehyde
                        </li>
                    </ul>
                    <br>
                    <h4>
                        Boiun
                    </h4>
                    <ul>
                        <li>0.75 ml saturated picric acid (keep picric acid in solution, dry picric acid can explode)
                        </li>
                        <li>0.25 ml formaldehyde
                        </li>
                        <li>50&nbsp;µl acetic acid
                        </li>
                    </ul>
                    <br>
                    <h4>
                        Boiun- Duboscq
                    </h4>
                    <ul>
                        <li>1.2 ml 95% ethanol
                        </li>
                        <li>0.3 ml water
                        </li>
                        <li>0.6 ml formaldehyde
                        </li>
                        <li>150&nbsp;µl acetic acid
                        </li>
                        <li>10&nbsp;µl picric acid
                        </li>
                    </ul>
                    <br>
                    <h4>
                        Altmann
                    </h4>
                    <ul>
                        <li>0.03 g chromium potasium sulfate
                        </li>
                        <li>0.3 ml formaldehyde
                        </li>
                        <li>20&nbsp;µl acetic acid
                        </li>
                        <li>2.4 ml water
                        </li>
                    </ul>
                    <br>
                    <h4>
                        Bill Deery's new &amp; improved cell fixation protocol
                    </h4>Everything at room temperature and everything is done in the dish until the second Ab.<br>
                    <ol>
                        <li>Put 300&nbsp;µl of cells in HL-5 on a glass coverslip in a 35 mm dish or multiwell plate for 15-20 min, so that they adhere and flatten.
                        </li>
                        <li>Without removing the HL-5, put 2 ml of PBM into the well. Gently swirl and remove.
                        </li>
                        <li>Add 1.5 ml of 9 ml PBM / 1 ml 37% formaldehyde.
                        </li>
                        <li>Swirl gently and fix for 30 minutes (we used to fix for 10 minutes, and this is not enough time).
                        </li>
                        <li>Permeabilize &amp; block with T50BS/ 5%nonfat dry milk/ 0.25% Tween-20 for 15 minutes, remove
                        </li>
                        <li style="list-style: none">T50BS is
                            <ul>
                                <li>50 mM Tris/HCl pH 7.9
                                </li>
                                <li>100 to 300 mM NaCl (300 mM for reducing background)
                                </li>
                                <li>10 mM NaN3
                                </li>
                            </ul>
                        </li>
                        <li>Dilute antibody in the above solution, don't spin, and add to coverslip for 1-2 hours
                        </li>
                        <li>Wash with the above solution 2 times 5 min each, then wash with Ab2 solution :
                            <ul>
                                <li>T20BS*
                                </li>
                                <li>1% BSA
                                </li>
                                <li>0.25% Tween-20
                                </li>
                            </ul>*T20BS is TBS with 20 mM Tris HCl pH 7.5 not 7.9<br>
                        </li>
                        <li>Then incubate Ab2 in T20BS on a cork in a humid box and wash in T20BS.
                        </li>
                    </ol>
                    <br>
                    <h4>
                        Cardelli improvement:
                    </h4>Grow cells on the coverslips! put cs into a dish, cover with HL5, add a drop of log phase cells, mix, and let sit 24 hours. Then gently fix as above.

                    <br>
                    <br>
                    <h4>
                        Gerisch Picric acid
                    </h4><a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=3434">Kreitmeier et al 1995</a>

                    <h5>Materials</h5>
                    <ul>
                        <li>15% (vol/vol) sat'd picric acid in water
                        </li>
                        <li>1-2 % paraformaldehyde
                        </li>
                        <li>10 mM PIPES-HCl pH 6.0
                        </li>
                    </ul><br>

                    <h5>Procedure</h5>
                    <ol>
                        <li>Fix 30 min RT in above
                        </li>
                        <li>Postfix : 70% EtOH
                        </li>
                        <li>Wash in PBS/ 0.75% glycine
                        </li>
                        <li>Wash &amp; stain PBS/ BSA/ gelatin
                        </li>
                    </ol>

                </div> <!-- col-sm -->
                <div class="col-sm-2"></div>
            </div> <!-- internal row -->
            

                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
                <br>


        </div> <!-- col-sm-8 -->
        <div class="col-sm-2 col-xs-1"></div>
    </div> <!-- row -->
</div> <!-- container -->
