<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Cell Storage Procedure</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Dicty Stock Center Cell Storage Procedure
        </h1>
        <p>
            This page has been updated and <a href="/techniques/media/dicty_storage.html#spores">moved</a>. <!--<p><b>Contributed by S. Marsh. Last updated July 14, 2005</b></p>

<hr>
<p align="right"><a href="/techniques/index.html#stockcenter">[INDEX]</a></p>
<ol>
<li>Harvest 1-2 x10<sup>8</sup> cells (1 clearing SM plate or axenic culture at appropriate density) for best viability results.
2 SM plates or 5 SM/5 plates for spores.</li><br>

<li>Pre-cool foam storage container in -20&deg;C freezer.  Pre-cool 10, 1.5-ml screw-cap storage vials in an ice water tray.</li><br>

<li>Pour 20 ml cold HL5 into sterile 100-ml beaker.</li><br>

<li>With sterile spreader, scrape cells or fruiting bodies from plates and transfer to beaker with HL5.</li><br>

<li>Pour the cells from the beaker into a 50-ml conical tube.</li><br>

<li>Rinse the beaker with 10 ml HL5 to collect remaining cells and then pour that into the conical tube as well.</li><br>

<li>Replace cap and shake tube.</li><br>

<li>For axenic strains, just pipette desired amount into conical tube.</li><br>

<li>Centrifuge cells at 200xg for 5 minutes.  Centrifuge spores at 500xg for 5 minutes.</li><br>

<li>Pour off supernatant.</li><br>

<li>Resuspend pellet with 10 ml HL5 by vortexing (final density 1-2 x 10<sup>7</sup> cells per ml).</li><br>

<li>Add 0.55 ml DMSO while gently swirling tube.</li><br>

<li>Aliquot 1 ml of cell suspension into 10 storage vials.</li><br>

<li>Replace caps, tighten well, then dry vials with paper towel before placing into pre-cooled foam container.</li><br>

<li>Place foam container in -80&deg;C freezer.  Keep container away from metal to slow down the cooling rate.</li><br>

<li>After 24 hours, vials can be transferred to liquid nitrogen.</li><br>
</ol>

<hr>
<P>After the vials have been in liquid nitrogen for several days, test the viability by scraping some cells from a vial (kept
on dry ice) with a hot loop* and streaking them out on an SM/5 plate prespread with <I>Klebsiella aerogenes</i>.  To test the
viability and purity of an axenic strain, an entire vial should be thawed rapidly in a 37&deg;C water bath and placed on ice as soon as the
cell suspension has thawed.  Do not allow cells to get too warm.</p>

<P>Pipette 50 &micro;l of cells onto a plate with 0.25 ml K.a. and into 1 ml of HL5 in a 24-well plate.  The remaining content of
the vial can be transferred into a flask or a 100 x 20 mm style petri dish with 10 ml HL5.</p>


<P>* Even sturdy loops will bend out of shape, heat-kill some cells, and can melt the edge of storage tubes.  A sturdy tool
that gives much better plating results and no tube damage is Craftsman Professional No. 0 x 4 inch microtech Phillips head
screwdriver, Sears # 00941527000 Mfr. Model # 41527.  Heat the tip of the screwdriver and then cool in sterile water before
using to scrape frozen cells from tube.  Gently use tip of screwdriver to plate cells as usual.</p>
<hr>
<P><B><U>Notes</U></B>


<ul>
<li><I>Dictyostelium</I> culturing procedures should take place in a sterile tissue culture hood.  Plated cultures can be managed
without it - though contaminants will be present.  Axenic cultures, however, require sterile technique.</li><br>

<li>To prevent tubes from exploding, it is important to have the rubber o-ring stay in the cap during storage in liquid nitrogen.
To keep o-rings from falling out, tighten caps all the way before initially opening vial.</li><br>

<li>If a vial is thawed, it should not be refrozen.</li><br>

<li>Viability dramatically decreases if cells are not immediately pipetted from the storage tube after thawing.</li><br>

<li>Storing cells at higher than suggested density decreases survivability.</li><br>

<li>We found that 5% DMSO gives better viabilities than 7.5% or 10% for our tested strains.</li><br>

<li>Storage in HL5 rather than horse serum is preferable if cells should ever need to be shipped internationally.
There does not appear to be a difference in cell survivability between these two media.</li><br>

</ul>
<br>

<p align="right"><a href="/techniques/index.html#stockcenter">[INDEX]</a></p>-->
            <br>
            <!--#include virtual="/inc/footer_withSide.html"-->
        </p>
    </body>
</html>
