        <h1>
            Protocols for long-term storage of <i>Dictyostelium discoideum</i>
        </h1>
        <p>
            <b>Please cite: Fey, P., Kowal, A. S., Gaudet, P., Pilcher, K. E., Chisholm, R. L. (2007) 'Protocols for growth and development of Dictyostelium discoideum.' <a href="http://www.nature.com/nprot/journal/v2/n6/full/nprot.2007.178.html">Nat Protoc 2:1307-16</a></b>
        </p>
        <p>
            Here we describe conditions for the preparation and use of permanent Dictyostelium stocks. Other protocols that used to be combined as 'General Dictyostelium Techniques' are methods for <a ng-href="#/research/techniques/media/dicty_growth.html">Dictyostelium growth</a> and for <a href="/techniques/media/dicty_development.html">Dictyostelium development</a>.
        </p>
        <hr>
        <h3>
            Contents
        </h3>
        <div style="margin-left: 2em">
            <a href="" ng-click="scrollTo('intro')">General considerations for long-term storage of Dictyostelium</a><br>
            <a href="" ng-click="scrollTo('silicas')">Long-term storage of Dictyostelium on silica gel</a><br>
            <a href="" ng-click="scrollTo('silicar')">Starting cultures from silica stocks</a><br>
            <a href="" ng-click="scrollTo('freeze')">Freezing Dictyostelium cells for long-term storage</a><br>
            <a href="" ng-click="scrollTo('thaw')">Thawing Dictyostelium cells</a><br>
            <a href="" ng-click="scrollTo('nonax')">Freezing and recovery of non-axenic cells</a><br>
            <a href="" ng-click="scrollTo('spores')">Freezing spores</a><br>
            <a href="" ng-click="scrollTo('notes')">Stock Center Notes</a><br>
            <br>
            <a href="" ng-click="scrollTo('materials')">Materials</a><br>
        </div>
        <hr>
        <p>
            <a name="intro" id="intro"></a>
        </p>
        <h3>
            General considerations for long-term storage of Dictyostelium
        </h3>
        <p>
            To prevent strains from accumulating random mutations, fresh cultures must be initiated from a permanent stock every 2-4 weeks. When making permanent stocks, use fresh, healthy cells. When receiving new cells it is good practice to check morphogenesis by <a ng-href="#/research/techniques/media/dicty_growth.html#liveSMP">plating cells on bacterial plates</a> to form fruiting bodies (and leave cells on plates to develop). Once mature fruiting bodies have formed, such plates can be directly used for storage of spores on silica gel, which acts as a desiccant. Alternatively, <a href="/techniques/media/dicty_growth.html#clone">isolate clones</a> and <a href="/techniques/media/dicty_growth.html#axesus">grow axenic cells</a> for storage of frozen amoebae. Non-axenic strains and spores can also be frozen.
        </p>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="silicas" id="silicas"></a>
        </p>
        <h3>
            Long-term storage of Dictyostelium on silica gel
        </h3>
        <ol>
            <li>Fill 2-3 ml screw-cap glass vials to approximately one-half with <a href="" ng-click="scrollTo('milk')">silica gel</a>. Bake at 180°C for 90 min (remove the caps beforehand and place in a sterile container if caps cannot be baked; cover vials with aluminum foil).
            </li>
            <li>Cool the vials containing silica gel on ice for 30 min. Considerable heat, which can kill spores, is produced when the gel is hydrated; the heat can be minimized by this precooling.
            </li>
            <li>Use <a ng-href="#/research/techniques/media/media.html#SMP">SM plates</a> with mature fruiting bodies. The plates should not be older than 1 week, after which the viability of spores decreases rapidly. Harvest the spores by gently banging the inverted plates on the bench (several plates into the same lid). Resuspend the spores of three plates (all in the same lid) in 0.4 ml cold <a href="" ng-click="scrollTo('milk')">non-fat dry milk</a> solution. Use 0.4 ml (with spores from three plates) per silica gel tube.
            </li>
            <li>Pipette the spore-milk suspension into the cold silica gel. Immediately cap the vial and shake vigorously for 5-10 s. Place the vial back on ice for an additional 5 min.
            </li>
            <li>Store vials in desiccant at -20°C or, if freezer is unavailable, at 4°C.
            </li>
        </ol>
        <p>
            <a name="silicar" id="silicar"></a>
        </p>
        <h3>
            Starting cultures from silica stocks
        </h3>
        <ol>
            <li>Spread 200 ml of bacteria from a fresh overnight culture on an SM plate.
            </li>
            <li>Sprinkle a few silica crystals onto the surface of the plate and incubate at 22°C.
            </li>
            <li>Spores will germinate and cell growth on the bacterial lawn should be visible after 2 days.<br>
                <b>Note:</b> Cells stored by this method need to be able to form viable spores. If unsure, store cells as both spores and amoebae.
            </li>
        </ol>
        <p>
            <b>Timing</b>: 2 h to store spores in silica gel; 15 min to recover spores from silica stocks and 2 days for visible growth on a bacterial plate.<br>
            <br>
            <b>Trouble shooting:</b> No cell growth after recovery from silica. There might have been too few viable spores in the silica crystals. Try a safer method:
        </p>
        <ul>
            <li>Transfer a few granules of silica stock to 1 ml of cold sterile <a ng-href="#/research/techniques/media/media.html#SM">SM broth</a>
            </li>
            <li>Mix 0.1–0.2 ml aliquots of this solution with 0.4 ml diluted bacteria (made by mixing a loop full of bacterial cells with 5 ml SM broth)
            </li>
            <li>Plate suspension on an SM plate and incubate at 22°C
            </li>
            <li>A full bacterial lawn should appear the next day and plaques in 2–4 days
            </li>
            <li>If this also fails, the strain might not produce viable spores. Use the method to freeze cells.
            </li>
        </ul>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="freeze" id="freeze"></a>
        </p>
        <h3>
            Freezing Dictyostelium cells for long-term storage
        </h3>
        <ol>
            <li>Pellet 5 x 10<sup>7</sup> cells, harvested during exponential growth (approximately two subconfluent 100 mm plates of axenically growing cells at a density of 2-3 x 10<sup>6</sup> cells ml<sup>-1</sup>), at 500<i>g</i> for 4 min.
            </li>
            <li>Chill cell pellet on ice for 5 min.
            </li>
            <li>Add 1 ml of cold <a ng-href="#/research/techniques/media/media.html#HL5">HL5</a> medium supplemented with <a href="" ng-click="scrollTo('milk')">DMSO</a> to a final concentration of 10%.
            </li>
            <li>Resuspend the cells, transfer to liquid nitrogen storage vials and place vials on ice for 5-10 min.
            </li>
            <li>Freeze slowly: incubate cells at -20°C for 1-2 h and then transfer to -80°C for 12-24 h.
            </li>
            <li>Transfer vials to liquid nitrogen for long-term storage. If liquid nitrogen is unavailable, storage in a -80°C freezer is an acceptable alternative.
            </li>
        </ol>
        <p>
            <a name="thaw" id="thaw"></a>
        </p>
        <h3>
            Thawing Dictyostelium cells
        </h3>
        <ol>
            <li>Remove vials from liquid nitrogen and thaw quickly in a 37°C water bath, being careful to prevent the cells from ever warming up significantly.<br>
                <b>Note</b>:To be safe, remove the vial from the water bath when there is still a small bit of frozen material left.
            </li>
            <li>Transfer the cells to a plate containing 10 ml of HL5 medium.
            </li>
            <li>Allow the cells to stand for 30-60 min at 21-23°C to recover, then change the medium to remove the DMSO.
            </li>
            <li>The next day, add a selective drug if appropriate.
            </li>
            <li>Alternatively, working fast, frozen cells can be scraped from the vial with a 16G needle and be deposited on an SM plate previously spread with bacteria. Thus, one frozen vial can be used several times.<br>
                <b>Note:</b> It is important for the survival of the cells that the temperature never rises above 4°C while the cells are in 10% DMSO.
            </li>
        </ol>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="nonax" id="nonax"></a>
        </p>
        <h3>
            Freezing and recovery of non-axenic cells
        </h3>
        <ol>
            <li>Grow and wash cells from a bacterial plate as <a ng-href="#/research/techniques/media/dicty_growth.html#init">described here in steps 1-4</a>.
            </li>
            <li>Freeze cells as <a href="" ng-click="scrollTo('freeze')">described above</a>.
            </li>
            <li>For recovery, it is best to scrape frozen cells from the vial with a 16G needle and add the cells quickly to an SM plate previously spread with bacteria.
            </li>
            <li>Incubate the inverted plate at 21-23°C. Cell growth (as 'feeding front') should be visible after 1-2 days.
            </li>
        </ol>
        <p>
            <b>Timing</b>: Approximately 2.5 h until the cells are frozen at -80°C; 40-60 min until cells are thawed and placed in DMSO-free medium; 10 min to spread an agar plate with bacteria and place frozen cells that are scraped from the top of a tube in the center of the plate.
        </p>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="spores" id="spores"></a>
        </p>
        <h3>
            Freezing spores<sup><font size="1" face="Verdana" color="#A7221E"><b><i>Stock Center Procedure</i></b></font></sup>
        </h3>
        <ol>
            <li>Pre-cool 1.5-ml screw-cap storage vials on ice.
            </li>
            <li>Harvest spores from 2 SM plates or 5 <a ng-href="#/research/techniques/media/media.html#SM5">SM/5 plates</a> by scraping fruiting bodies from plates and transferring them to beaker 20 ml with cold <a href="/techniques/media/media.html#HL5">HL5</a>.
            </li>
            <li>Pour fruiting bodies in medium from the beaker into a 50-ml conical tube.
            </li>
            <li>Rinse the beaker with 10 ml HL5 to collect remaining spores and add to the conical tube.
            </li>
            <li>Close tube and shake or vortex for 5-10 sec.
            </li>
            <li>Centrifuge at 500<i>g</i> for 5 minutes.
            </li>
            <li>Pour off supernatant and resuspend pellet in 9.5 ml HL5 by vortexing.
            </li>
            <li>Add 0.55 ml DMSO while gently swirling tube. Keep on ice!
            </li>
            <li>Aliquot 1 ml of cell suspension into 10 storage vials.
            </li>
            <li>Freeze slowly: incubate cells at -20°C for 1-2 h and then transfer to -80°C for 12-24 h.
            </li>
            <li>Transfer vials to liquid nitrogen for long-term storage. If liquid nitrogen is unavailable, storage in a -80°C freezer is an acceptable alternative.
            </li>
        </ol>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="notes" id="notes"></a>
        </p>
        <h3>
            Stock Center Notes
        </h3>
        <ul>
            <li>To prevent vials from erupting in liquid nitrogen, it is important that the tube cap contains the rubber o-ring. To keep o-rings from falling out, tighten caps all the way before initially opening vial.
            </li>
            <li>After thawing, a vial should never be refrozen.
            </li>
            <li>Viability dramatically decreases if cells are not immediately pipetted from the storage tube after thawing.
            </li>
            <li>Storing cells at higher than suggested densities decreases viability.
            </li>
            <li>5% DMSO may give better viabilities than 7.5% or 10%.
            </li>
        </ul>
        <p>
            <b>Stock Center strain testing</b>
        </p>
        <ul>
            <li>After storage in liquid nitrogen for several days, test the strain viability by scraping some cells from a vial (quickly) with a 16G needle and streaking them on an SM/5 plate prespread with bacteria.
            </li>
            <li>To test viability and purity of an axenic strain:
                <ul>
                    <li>Thaw an entire vial rapidly in a 37°C water bath. Do not allow cells to get warm!
                    </li>
                    <li>Pipette 50 µl of cells onto a plate with 0.25 ml bacteria and into 1 ml of HL5 in a 24-well plate
                    </li>
                    <li>The remaining content of the vial can be transferred into a flask or into a 100 mm style petri dish containing 10 ml HL5.
                    </li>
                </ul>
            </li>
        </ul><!--<P>* Even sturdy loops will bend out of shape, heat-kill some cells, and can melt the edge of storage tubes.  A sturdy tool
that gives much better plating results and no tube damage is Craftsman Professional No. 0 x 4 inch microtech Phillips head
screwdriver, Sears # 00941527000 Mfr. Model # 41527.  Heat the tip of the screwdriver and then cool in sterile water before
using to scrape frozen cells from tube.  Gently use tip of screwdriver to plate cells as usual.</p>-->
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="materials" id="materials"></a>
        </p>
        <h3>
            Materials
        </h3>
        <hr>
        <ul>
            <li>
                <a name="milk" id="milk"></a>Non-fat dry milk solution: Prepare a 5% solution (wt/vol) in distilled water. Autoclave for 15 min. This solution can be stored at 4°C for several weeks.
            </li>
            <li>Silica gel, 6–12 mesh, grade 40, without indicator (colorless)
            </li>
            <li>Dimethyl sulfoxide (DMSO) <i>!Caution!</i> Always wear protective laboratory gloves when handling DMSO, which easily penetrates the skin. While DMSO itself is not very toxic, anything dissolved or mixed with DMSO will be absorbed as well.
            </li>
        </ul>
        <p>
            <a ng-href="#/research/techniques/media/media.html">Other media and solutions for <i>Dictyostelium</i> can be found here</a>
        </p>
        <h4>
            Equipment
        </h4>
        <ul>
            <li>Sterile culture flasks
            </li>
            <li>Sterile 100 mm Petri dishes
            </li>
            <li>Sterile 15 and 50 ml conical tubes
            </li>
            <li>Incubator set at 21–23°C This may be either a shaking incubator for growth in suspension or a stationary incubator for growth in plastic dishes. Alternatively, cultures can be maintained at room temperature, provided that the temperature in the laboratory is constant and below 25°C.
            </li>
            <li>Bacteria loop
            </li>
            <li>Hemocytometer
            </li>
            <li>Light microscope
            </li>
            <li>Micropipette (P1000, P200)
            </li>
            <li>100 mm Petri dishes
            </li>
            <li>35 mm Petri dishes
            </li>
            <li>Glass pipettes
            </li>
            <li>Glass spreader
            </li>
            <li>Autoclave
            </li>
            <li>-20°C freezer
            </li>
            <li>-80°C freezer
            </li>
            <li>Liquid nitrogen storage tank <i>!Caution!</i> Liquid nitrogen is extremely cold (-196°C); always wear goggles and cryogenic gloves when handling liquid nitrogen.
            </li>
            <li>37°C water bath,
            </li>
            <li>-180°C oven
            </li>
        </ul>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <br>
            
        </p>
