<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Tecniques</h3></span>
        <h2>
            Recipe for FM Defined Medium
        </h2>

        <h6><b>Contributed by Jakob Franke August 7, 1992 and updated in September 1999. Published in</b></a> <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=1845">Franke and Kessin 1977</a></h6>
    </div>

    <div class="row">

        <div class="col-sm-2 col-xs-1"></div>

        <div class="col-sm-8 col-xs-10">

            <div class="note">
                <span class="nw">Notes from Jakob Franke:</span>
                <div>
                    <ul>
                        <li>FM Defined Medium can be made up from 4 stock solutions (amino acids, vitamins, salts, and trace metals) which can be stored indefinitely at&nbsp;-20°C&nbsp;. The composition of the stock solutions is given below.<br>
                        </li>
                        <li>Glucose, phosphate, and dihydrostreptomycin-sulfate are added as solids.<br>
                        </li>
                        <li>The medium can be autoclaved or filter sterilized and is stored in the dark at 4°C.
                        </li>
                        <li>Gibco-BRL has made a batch of the medium, and so has Sigma (cat. no. F-8787), but both batches are sold out as far as I know.<br>
                            The medium is still available from BIO101 (cat. no. 4115-025 for 1 pack to make 1 L; cat. no. 4115-075 for 10 packs, and 4115-095 for 100 packs).
                        </li>
                        <li>It seems that some people experience the formation of a precipitate in the medium upon standing. We have never seen this with either home-made medium or the Sigma medium.&nbsp; Anyway, do NOT remove the precipitate, since the medium will not support growth if the precipitate is removed.
                        </li>
                    </ul>
                </div>
            </div>

            <hr>
            <p>
                <h3>FM media (1 liter)</h3>
                (see stock solutions below):
            </p>
            <ul>
                <li>250 ml 4x amino acids
                </li>
                <li>50 ml 20x vitamins
                </li>
                <li>20 ml 50x salts
                </li>
                <li>0.1 ml 10,000X trace metals
                </li>
                <li>10 g glucose
                </li>
                <li>0.87 g K<sub>2</sub>HPO<sub>4</sub>
                </li>
                <li>50 mg dihydrostreptomycin-sulfate
                </li>
            </ul>
            <p>
                <div class="note">
                    Check the pH and adjust to 6.5 if necessary (HCl or NaOH).<br>
                    Adjust the volume to 1 liter with distilled (or deionized) water and autoclave.<br>
                    We often adjust the volume to 90% of the final volume to leave room for supplements.                    
                </div>
            </p>

                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>

            <hr>

            <p>
                <h3>Stock Solutions</h3>
            </p>

            <ul>
                <li>
                    <h4><u>4x amino acid stock (in 8 mM NaOH) (5 liters)</u></h4>
                    <ul>
                        <li>1.6 g NaOH
                        </li>
                        <li>14 g arginine·HCl
                        </li>
                        <li>6 g asparigine
                        </li>
                        <li>4 g cysteine
                        </li>
                        <li>10 g glutamic acid
                        </li>
                        <li>18 g glycine
                        </li>
                        <li>6 g histidine·HCl-H<sub>2</sub>O
                        </li>
                        <li>12 g isoleucine
                        </li>
                        <li>18 g leucine
                        </li>
                        <li>18 g lysine·HCl
                        </li>
                        <li>6 g methionine
                        </li>
                        <li>10 g phenylalanine
                        </li>
                        <li>16 g proline
                        </li>
                        <li>10 g threonine
                        </li>
                        <li>4 g tryptophan
                        </li>
                        <li>14 g valine
                        </li>

                    </ul>The pH should be about 4.2.<br>
                    Adjust the volume to 5 liters and store at -20°C (we freeze 1/2 liter aliquots).<br>
                    Stick to the amino acid forms indicated, otherwise solubility problems will arise.<br>
                </li>

                <br>

                <li>
                    <h4><u>50x salts (1 liter)</u></h4>
                    <ul>
                        <li>50 ml 1 M NH<sub>4</sub>Cl
                        </li>
                        <li>1 ml 1 M CaCl<sub>2</sub>
                        </li>
                        <li>50 ml 0.1 M FeCl<sub>3</sub>
                        </li>
                        <li>20 ml 1 M MgCl<sub>2</sub>
                        </li>

                    </ul>Adjust volume to 1 liter and store at -20°C.<br>
                </li>
                <br>
                <li>
                    <h4><u>20x vitamins (1 liter)</u></h4>
                    <ul>
                        <li>100 ml biotin (4 mg in 1 liter 10 mM NaHCO<sub>3</sub>)
                        </li>
                        <li>20 ml cyanocobalamin (5 mg in 1 liter H<sub>2</sub>O)
                        </li>
                        <li>100 ml folic acid (40 mg in 1 liter 10 mM NaHCO<sub>3</sub>)
                        </li>
                        <li>100 ml lipoic acid (80 mg in 1 liter 10 mM NaHCO<sub>3</sub>)
                        </li>
                        <li>100 ml riboflavin (100 mg in 1 liter 10 mM NaHCO<sub>3</sub>)
                        </li>
                        <li>100 ml thiamine·HCl (120 mg in 1 liter H<sub>2</sub>O)
                        </li>

                    </ul>Adjust volume to 1 liter and store at -20°C.<br>
                </li>
                <br>
                <li>
                    <h4><u>10,000x trace metals (100 ml)</u></h4>
                    <ul>
                        <li>4.84 g Na<sub>2</sub>-EDTA·2H<sub>2</sub>O
                        </li>
                        <li>2.30 g ZnSO<sub>4</sub>.7H<sub>2</sub>O
                        </li>
                        <li>1.11 g H<sub>3</sub>BO<sub>3</sub>
                        </li>
                        <li>0.51 g MnCl<sub>2</sub>·4H<sub>2</sub>O
                        </li>
                        <li>0.17 g CoCl<sub>2</sub>·6H<sub>2</sub>O
                        </li>
                        <li>0.15 g CuSO<sub>4</sub>·5H<sub>2</sub>O
                        </li>
                        <li>0.10 g (NH<sub>4</sub>)6Mo<sub>7</sub>O<sub>24</sub>·4H<sub>2</sub>O
                        </li>

                    </ul>Adjust pH to 6.5 and volume to 100 ml. Freeze aliquots at -20°C.<br>
                </li>

            </ul>

                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
                <br>
                
        </div> <!-- col-sm-8 -->
        <div class="col-sm-2 col-xs-1"></div>
    </div>
</div>