<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>ListServ Discussion: Freezing Dictyostelium</title>
    </head>
    <body>
        <h1>
            Combined Wisdom of the DictyWeb on Freezing Cells
        </h1>
        <p>
            <br>
        </p>
        <p>
            Dear Ian,<br>
            We routinely store Dicty amoebae frozen in DMSO. It's very easy and generally gives good viability. Here is our protocol.
        </p>
        <p>
            Solutions:<br>
            HL5 with dihydrostreptomycin + 25% FBS<br>
            HL5 with dihydrostreptomycin + 25% FBS + 20% DMSO
        </p>
        <p>
            1. Pellet cells.<br>
            2. Determine volume to resuspend cells to 5x10<sup>7</sup> cells/ml.<br>
            3. Resuspend pellet in 1/2 final volume of ice cold HL5(strep) + 25% FBS.<br>
            4. Add remaining volume of ice cold HL5(strep) + 25% FBS + 20% DMSO dropwise while<br>
            swirling the tube to mix well.<br>
            5. Place 1 ml aliquots of cells in freezer vials pre-chilled on ice.<br>
            6. Freeze at -20°C for 1 - 2 hours.<br>
            7. Transfer vials to -70°C freezer.
        </p>
        <p>
            To start up cultures from freezer stocks: Thaw 1 ml aliquot quickly by rolling tube in your hand. Add entire 1 ml to a tissue culture dish containing 10 ml HL5(strep) containing any necessary supplements.<br>
        </p>
        <p>
            I hope this works for you. We originally got this protocol from Robert Dottin.
        </p>
        <p>
            Maureen Brandon<br>
            &nbsp;Maureen Brandon<br>
            Wayne State University<br>
            Dept. of Surgery and Dept. of Biochemistry and Molecular Biology Detroit,<br>
            MI 48201<br>
            313-577-8646<br>
            E-mail: mbrandon@cmb.biosci.wayne.edu<br>
            *************************************************************
        </p>
        <p>
            Our protocol uses 7% DMSO in HL5 medium followed by slow freeze in -70°C deep freezer, frozen cells were then transfered to liquid N2 for long term<br>
            storage.
        </p>
        <p>
            Tung-Ling Li Chen, Ph.D.<br>
            Department of Cell and Molecular Biology Northwestern University Medical School<br>
            303 E. Chicago Av.<br>
            Chicago, IL 60611<br>
            E-mail:tlchen@merle.acns.nwu.edu
        </p>
        <p>
            *************************************************************
        </p>
        <p>
            We use 0.7 mL DMSO 9.3 mL HL-5 with dextrose and phosphate buffer (we add the dextrose and phosphate buffer to HL-5 before we use it). The DMSO soln needs to be ice cold. Spin cells down and wash three times in whatever buffer you use for starvation. Spin 1x10<sup>8</sup> cells down pour off the sup and let the pellet chill on ice for at least 10 minutes. Add 1 mL of DMSO soln, vortex and quickly put 500 µL into sterile eppendorf tubes. Close and put in the freezer immediately. Cells should be transferred to -70°C for storage.
        </p>
        <p>
            Janice Stites<br>
            David R. Soll Lab<br>
            University of Iowa
        </p>
        <p>
            *************************************************************<br>
        </p>
        <p>
            ..this usually works fine: take cells at 2 to 5x10<sup>6</sup> in axenic medium and add 10% DMSO (in axenic medium). Not the other way around!!! Freeze slowly (ice, -20°C, -80°C). To make sure to recover cells after freezing, we usually split a tube, spread a small aliquot on Klebsiella plates and put the rest on a plate with AX medium. Good luck!<br>
            wolfgang<br>
            <br>
        </p>
        <p>
            wolfgang nellen<br>
            dept. genetics<br>
            kassel university<br>
            heinrich-plett-str. 40<br>
            d-34132 kassel<br>
            germany<br>
            phone: ++49 561-804 4805<br>
            fax: ++49 561-804 4800<br>
            e-mail: nellen@hrz.uni-kassel.de<br>
            http://www.uni-kassel.de/fb19/genetics/Welcome.html
        </p>
        <p>
            ***************************************************
        </p>
        <p>
            Dear Ian,<br>
            The method for storing Dicty cells in liquid nitrogen using DMSO is published in Williams &amp; Newell, Genetics 82, 287-307 (1976). (See page 290). The rate of cooling is important, as detailed in the paper. We have been using this method for the past 20 years and have found it highly reliable. Provided you maintain the liquid nitrogen in the tank (!) 0-20 year old cells can be rapidly revived without problems.<br>
            Best wishes,<br>
            Peter Newell<br>
        </p>
        <p>
            &nbsp;Peter C. Newell<br>
            Professor of Biochemistry &amp; Head of Department Department of Biochemistry,<br>
            University of Oxford South Parks Road, Oxford, OX1 3QU, U.K.<br>
            E-mail: newell@bioch.ox.ac.uk<br>
            Telephone: +44 (0)1865-275-274<br>
            FAX: +44 (0)1865-275-399<br>
            (Please note this new FAX number,(from 6 Nov'96))<br>
            *************************************************************
        </p>
        <p>
            We take up cells in 50% horse serum/50% HL5, then add 1 vol of 50% horse serum/50% HL5 containing 10% DMSO and mix gently.&nbsp; We then put the cells in 1ml tubes and freeze them in a commercial cell freezer (they slow down the rate of freezing; think ours came from Gibco).&nbsp; Recovery is very very good.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Robert
        </p>
        <p>
            Robert Insall<br>
            MRC Laboratory for Molecular Cell Biology and Department of Physiology<br>
            University College London<br>
            Gower Street, London WC1E 6BT<br>
            UK<br>
            Tel: 0171 380 7273 (lab), 0171 380 7270 (office);&nbsp; Fax: 0171 380 7805<br>
            (From abroad dial 44 for the UK, then 171, not 0171)<br>
            *************************************************************<br>
            Dear Ian,
        </p>
        <p>
            Use actively growing cells at about 2-5x10<sup>6</sup> per ml in HL5. (I guess you can also do it with bacterially grown cells, but I've never done that.)<br>
            Sediment cells.&nbsp; Do not wash.<br>
            Suck off as much medium as you can.<br>
            Add to 10-fold concentration a solution of Calf (or horse or bovine) serum<br>
            95% plus 5% DMSO.<br>
            Aliquot in Cryovac Vials in small amounts.<br>
            Put in sandwich of orange cap tube polystyrene racks.<br>
            Put at -80°C overnight.<br>
            Next day put in liquid nitrogen.<br>
            After a day or so thaw one of each cell type you froze, mix with growth<br>
            medium and see if it grows. If it does you have been successful. If not try again.<br>
            Good luck.
        </p>
        <p>
            Herb Ennis<br>
            *************************************************************
        </p>
        <p>
            Hi - you will probably get this from David Knecht, but i'll throw our 2 cents in as well. Like David mentions below, density doesnt seem to be real critical. I have been told that DMSO is considered a sterile solution - we take it sterily from our shelf stock bottle and add to a sterile aliquot of BisTris media. We do not subsequently autoclave and have not had contamination problems (knock on wood). I'm not sure how important ice cold is - I've frozen cells with room temp solutions without noticible viability problems.<br>
            Hope this is useful,<br>
            Cheers,<br>
            Mike Koonce<br>
        </p>
        <p>
            DMSO STOCKS (Cell Freezing - From Knecht)<br>
            1. Harvest log phase cells into sterile tube.<br>
            2. Spin and aspirate supernatant (cold).<br>
            3. Resuspend cells in ice cold Bis-Tris HL5 (pH 6.5) .<br>
            4. Add slowly and with mixing an equal volume of Bis-Tris HL5+20% DMSO.<br>
            5. Aliquot cells into sterile freezing tubes (0.5ml aliquots 5x10<sup>6</sup> cells).<br>
            6. Put vials between two styrofoam racks and tape together and place in -80°C freezer.<br>
            7. After 24 hours remove one aliquot, quick thaw to room temp (hold in hand) and quickly pipette into a Petri plate containing 10 ml HL5.<br>
            When cells have attached, do a media change to remove DMSO.<br>
            <br>
            &gt;Note: We have rigorously tested cell density of harvest or freezing to optimize.&nbsp; I have seen no evidence that it matters too much, so we usually just harvest a saturated 100mm Petri dish and freeze the cells in 5-10 vials.
        </p>
        <p>
            Solutions:<br>
            Bis-Tris HL5 (1 liter)<br>
            2.1 g Bis-Tris (10mM)<br>
            5 g Difco proteose peptone #2<br>
            5g BBL Thiotone E<br>
            5 g yeast extract<br>
            10 g glucose<br>
            distilled water to 1 liter<br>
            pH 6.5
        </p>
        <p>
            Make up 1 liter of BT- HL5<br>
            add 600 ml to one bottle<br>
            add 400 ml HL5 + 100 ml DMSO to second bottle<br>
            autoclave<br>
            store at -20°C<br>
            *************************************************************
        </p>
        <p>
            Hi Ian,
        </p>
        <p>
            Definitive reference: pages 84-85 of Raper's book. He recommends 10% DMSO. It's for storing amebae, i.e. for strains that don't aggregate. After growing the cells in HL-5 to about 1,000,000 cells/ml, add reagent grade DMSO to 15% by volume, pipet 500 µl into 1.5 ml eppendorf tubes, and throw them into a -70 degree freezer. (prelabel the tubes and or box). You might try smaller volumes and start with a pellet of cells which you resuspend in DMSO/HL-5.
        </p>
        <p>
            Recovery: Thaw them rapidly by putting a frozen tube in room temperature water. As soon as the tube has thawed, pipet them into a centrifuge with sterile medium (saline or HL-5) and spin them down to get them free of the DMSO. You can then resuspend in HL-5 for axenic growth or onto SM/5 agar for growth on bacteria. Since only a few percent survive, plating some on bacterial agar should get you at least one colony!
        </p>
        <p>
            Notes:<br>
            &nbsp; * use sterile technique! (you can asssume the contents of a DMSO bottle<br>
            are sterile).<br>
            &nbsp; * Dicty don't like growing in &gt;0.5% DMSO, so take care to dilute after<br>
            recovery.<br>
            &nbsp; * Some DMSO's may have impurities.<br>
            &nbsp; * 15% may not be the optimum amount. See what others use or try a few<br>
            different amounts.<br>
            &nbsp; * Test the procedure by starting with a robust strain, freezing them,. and<br>
            then thawing out tubes every week or so. Presumably once they are frozen at<br>
            -70 C, survival should be the same for years.<br>
            &nbsp; * If you only have a -20 C freezer, by all means try it.<br>
            &nbsp; * Don't count on survival for more than a year.<br>
            &nbsp; * the biggest risk to your stocks are power outages and people leaving the<br>
            boxes of tubes out!
        </p>
        <p>
            good luck,
        </p>
        <p>
            geo<br>
        </p>
        <p>
            George McNamara, Ph.D.<br>
            Applications Scientist<br>
            Universal Imaging Corp.<br>
            502 Brandywine Parkway<br>
            W. Chester, PA 19380 USA<br>
            voice:&nbsp; 610-344-9410 ext. 224<br>
            fax:&nbsp;&nbsp;&nbsp; 610-344-9515<br>
            e-mail: George_M@image1.com<br>
            *************************************************************
        </p>
        <p>
            Dear Ian,
        </p>
        <p>
            The protocol is suspend cells 5% DMSO / 95% Horse serum.&nbsp; These can be amoebae scraped from a plate - a loopful is fine.&nbsp; Put suspension in a cryovial and wrap in paper towels and stick in -80 freezer for a couple of days and then move to liquid Nitrogen.&nbsp; We have stock that we have kept this way for 15-20 years and they are fine.&nbsp;&nbsp; I used to do an extra one and then check it after a few weeks, but it always worked.&nbsp; We have left them at -80 for a few months but I have less faith in that for the long haul.
        </p>
        <p>
            When I thaw them I use the whole vial and make a new stock form that.&nbsp; You just thaw and pour out on a plate with bacteria.&nbsp; The DMSO stinks so I leave the plate in the fume hood for a day before moving it to our 22°C incubator.
        </p>
        <p>
            This proceedure is described in an amusing way in Maurice Sussman's 1987 Methods in Cell Biology article on the Growth and Development of Dictyostelium.
        </p>
        <p>
            Steve Alexander<br>
        </p>
        <p>
            Stephen Alexander<br>
            Professor<br>
            Division of Biological Sciences<br>
            University of Missouri<br>
            Columbia, MO 65211
        </p>
        <p>
            573-882-6670 TEL<br>
            573-882-0123 FAX<br>
            Dear Ian,
        </p>
        <p>
            *************************************************************<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This is my favorite.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hans<br>
            This protocol is simplified derivitive of Dave Knecht's. It is faster and rather than making lots of samples from one cell line it generates only a few storage samples so it is good for putting away many different clones. I have recovered &gt;90% of some cell lines on thawing.
        </p>
        <p>
            Materials
        </p>
        <p>
            Bis-Tris HL5, pH 6.7<br>
            Bis-Tris HL5, pH 6.7 containing 20% DMSO<br>
            almost saturated 100 mm plate of cells<br>
            2 foam racks that 15 ml tubes come in<br>
            rubber bands
        </p>
        <p>
            To freeze:
        </p>
        <p>
            1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Put Bis-Tris on ice to cool.<br>
            2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Remove media from plate.<br>
            3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Take 1 ml of Bis-Tris HL5, pH 6.7 to plate, tip to side, and add 1 ml of Bis-Tris HL5, pH&nbsp; 6.7 containing 20% DMSO to mix.<br>
            4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Use the 1 ml pipet-person to remove the cells from the plate<br>
            5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Put 0.5 to 1 ml suspension into autoclaved, pre labeled, 1.5 ml eppendorf tubes.<br>
            6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Keep on ice.<br>
            7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Put in a foam rack, and rubber band the other rack on top.&nbsp; Put in -80°C freezer.<br>
            8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; After overnight remove tubes from rack and place in personal storage box
        </p>
        <p>
            To thaw:
        </p>
        <p>
            1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Remove tube from -80°C freezer.<br>
            2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Warm in hand as you walk to work area (Dicty room?)<br>
            3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Wash exterior of tube with ethanol and wipe with kimwipe.<br>
            4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Open tube and pipet contents into a 100 mm plate containing 10 ml of media.<br>
            5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If not completely thawed, rinse tube with media from plate and transfer contents.<br>
            6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Change media after approx. 15 minutes.
        </p>
        <p>
            *************************************************************
        </p>
        <p>
            Dear Ian,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Years ago we published a method for storing Dicty amoebae in HL-5 medium + DMSO at -80 C. The reference is Laine et al. (1975). Canad. J. Microbiol. 21, 919-962. We still use the technique and it works well. If you decide to give it a try, let me know and I will send you our greatly<br>
            simplified protocol for thawing the cells.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Best wishes,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Barrie Coukell<br>
            *************************************************************
        </p>
        <p>
            Ian,
        </p>
        <p>
            The protocol that I have used for freezing Dicty amoebae is:
        </p>
        <p>
            take a culture at 1-5 X 10e6 cells/ml<br>
            spin the cells down<br>
            resuspend the cells at 5 X 10e6 in fresh media containing 7.5-10% DMSO<br>
            aliquot the cells<br>
            and place in -80 freezer
        </p>
        <p>
            When thawing the cells:
        </p>
        <p>
            thaw the cells and add 1 ml of media to the tube<br>
            transfer to an appropriate culture vessel (flask or dish) and add media<br>
            to a final volume of 10 ml<br>
            culture in your usual manner until cells are ready to split
        </p>
        <p>
            Mary Kimble<br>
            *************************************************************
        </p>
        <p>
            Ian,
        </p>
        <p>
            We routinely store cells in 10% DMSO. We are only talking about axenicly<br>
            growing cells<br>
            here. We find that freezing cells at high density (&gt;5X10e6) in HL5<br>
            containing DMSO works<br>
            well. We slowly freeze the cells to -80. Recovery is quite good for at<br>
            least 6 years. After<br>
            that sometimes recovery seems to drop. That is not universal, however.
        </p>
        <p>
            Good luck,
        </p>
        <p>
            Karl Saxe
        </p>
        <p>
            Charles L. Saxe<br>
            Dept. of Anatomy &amp; Cell Biology<br>
            Emory Unv. School of Medicine<br>
            Atlanta, GA 30322-3030<br>
            (404) 727-6248<br>
            (404) 727-6256 FAX<br>
            email: karl@anatomy.emory.edu<br>
            *************************************************************<br>
            <br>
            <!--#include virtual="/inc/page-layout-bottom.html"-->
            <!--#include virtual="/inc/page-footer.html"-->
        </p>
    </body>
</html>
