        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Method for determining mating types of Dictyostelium discoideum
        </h1>
        <p>
            <b>Contributed by Jakob Franke, December 2005</b><br>
            Download <a ng-href="#/research/techniques/word_docs/mating_types.doc">word file</a>.
        </p>
        <hr>
        <p align="right">
            <a ng-href="#/research/techniques/index.html#stockcenter">[INDEX]</a>
        </p>
        <ul>
            <li>Add 0.5 ml <a ng-href="#/research/techniques/media/stock_center_media.html#LP">LP agar</a> to each well of a 24-well plate. Allow to solidify.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Add 0.5 ml <a ng-href="#/research/techniques/media/stock_center_media.html#SS">SS</a> to each well.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Add 5 µl of an overnight culture of K. aerogenes to each well.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Add 1 sorocarp of each strain being tested to an individual well.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Wrap in aluminum foil and incubate at least 3 days at 22°C without shaking.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Some times it takes 5 days to get convincing macrocysts.
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ul>
        <p>
            If in doubt, add 25 µl of a 10% TritonX100 stock solution to lyse the remaining cells and remove cell aggregates.<br>
            <br>
            If you want to know whether the strain is NC4-like (matA1) or V12-like (matA2), test versus IR1 and IR3. If macrocysts form with IR1 (matA2) the strain is NC4-like; if macrocysts form with IR3 (matA1) it is V12-like. Bisexual strains, which we propose to call matA3, form macrocysts with both IR1 and IR3. "Selfers" form macrocysts by themselves.<br>
            <br>
            <br>
        </p>
        <hr>
        <p>
            <b>References:</b><br>
        </p>
        <hr>
        <p>
            <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=940">Clark et al., 1973</a> BBRC 52:672-678.<!--  (pmid: 4736370; d0236)--><br>
            <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=1581">Erdos et al., 1973</a> PNAS 70:1828-1830.<!-- (d0396).--><br>
            <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=6656">Wallace and Raper, 1979</a> J. Gen. Microbiol. 113:327-337. <!--(pmid: 292755; d2197)--><br>
            <a>Francis and Eisenberg, 1993</a> Mol. Ecol. 2:385-391. <!--(pmid: 7909262; d4881)--><br>
            <!--
Macrocyst.met       2/2/04      rev. 9/26/05        rev. 12/5/05
-->
        </p>
        <p align="right">
            <a ng-href="#/research/techniques/index.html#stockcenter">[INDEX]</a>
        </p>
        <p>
            <br>
            
        </p>
