        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Plating Dictyostelium in soft agar
        </h1>
        <hr>
        <p align="right">
            <a href="" ng-click="scrollTo('mat')">[MATERIALS]</a> - <a ng-href="#/research/techniques/">[INDEX]</a> <a name="proc" id="proc"></a>
        </p>
        <h2>
            Procedure
        </h2>
        <p>
            <b>Note:</b> These plates are not solid! DO NOT TIP.
        </p>
        <ol>
            <li>Melt top agar solution and cool to 30°C.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Harvest Dicty cells from plate and pellet at 2K for 5&nbsp;minutes.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Aspirate media and suspend cells in 10&nbsp;ml of HL-5 containing the appropriate drug concentration.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Add drug to cooled top agar and add 40&nbsp;ml to suspended cells.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Gently mix and pipet 5&nbsp;ml of solution onto agar plates. It is best to pipet onto the plates in a swirling motion so that the solution is distributed evenly. DON'T try to swirl the media around on the plate by tilting it because the bottom agar will slide out.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Place plates on bench to solidify.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Wrap up plates with moist towel and let sit for 10-14&nbsp;days.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>To harvest a colony, suck the cells out of the agar with a pipetter.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>After transfer to a plate they may take a few days to grow.
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h2>
            Materials
        </h2>
        <ul>
            <li>
                <u>Top agar</u> (40 ml per transformed plate)<br>
                <ul>
                    <li>HL-5 media
                    </li>
                    <li>0.38% low melting temp agar
                    </li>
                    <li style="list-style: none">It is best to make up small (100 ml) aliquots
                    </li>
                </ul><br>
            </li>
            <li>
                <u>Agar plates</u> (10 plates needed per transformed plate)<br>
                <ul>
                    <li>HL-5 media
                    </li>
                    <li>0.3% Bactoagar
                    </li>
                    <li>Appropriate drug (i.e. G418)
                    </li>
                </ul>
            </li>
        </ul>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
