<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>
            Starting Axenic Cultures from Bacterial Plates
        </title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Starting Axenic Cultures from Bacterial Plates
        </h1>
        <p>
            This method has been moved and updated: <a href="/techniques/media/dicty_growth.html#altern">Initiating an axenic culture from bacterially grown cells</a>.
        </p>
        <hr>
        <!--
<p align="right"><a href="/techniques/index.html#stockcenter">[INDEX]</a></p>

<ol>
<li>Harvest cells from the edge of a growing clone (at least 1 cm diameter) of <i>D. discoideum</i> from a bacterial plate
by scraping
with a loop. Preferably use SM plates, which yield 5 times as many cells as SM/5 plates. Try to minimize the amount of
contaminating bacteria, but don't be overly concerned about it. Use fresh plates; the viability rapidly decreases after a
few days at 4&deg;C.</li><br>

<li>Suspend the cells in 1 ml of HL5 in 13x100 mm sterile tubes or in wells of a 24-well plate. The HL5 should contain 300-500 &micro;g/ml
of dihydrostreptomycin-sulfate. Start at least 4 tubes for each strain.</li><br>

<li>Incubate a couple of days at 21-22&deg;C without shaking. This allows the cells to consume the remaining bacteria and
become axenic.</li><br>

<li>Change the medium.</li><br>

<li>After two more days the contents of the tubes are transferred to a flask with regular HL5 (10 ml in 50 ml flask);
shake at 21-22&deg;C. You'll have a growing culture in a week. Cells that have been cultured for several transfers on bacterial
plates seem to take longer to get established in axenic medium.</li><br>


</ol>
J. Franke, 1983 (rev. 12/92; 05/2002; 11/2005)<br>

<!==culture1.met-->
        <p align="right">
            <a href="/techniques/index.html#stockcenter">[INDEX]</a>
        </p><!--#include virtual="/inc/footer_withSide.html"-->
    </body>
</html>
