<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Stock Center Media</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Stock Center Media
        </h1>
        <p>
            These recipes have been moved: <a href="/techniques/media/media.html"><i>Dictyostelium</i> media and buffers</a> <!--
<p><b>Contributed by Jakob Franke, December 2005</b><br>
Download <a href="/techniques/word_docs/stock_center_media.doc">word file</a>.</b></p>

<hr>
<p align="right"><a href="/techniques/index.html#stockcenter">[INDEX]</a></p>

<p align="left">
<a href="#HL5">HL5 Axenic Medium</a><br>
<a href="#MHL5">Maltose HL5</a><br>
<a href="#MESHL5">MES-HL5</a><br>
<a href="#2HBS">2 x HBS</a><br>
<a href="#SM">SM-plates</a><br>
<a href="#SM2">SM/5 plates</a><br>
<a href="#LP">LP agar</a><br>
<a href="#LP2">LP/2 agar</a><br>
<a href="#Sor">Sor</a><br>
<a href="#SorC">SorC</a><br>
<a href="#SS">Standard Solution (SS) (Bonner's salts)</a><br>

<hr>
<ul>
<li><u><a name="HL5"></a>HL5 Axenic Medium (1 liter)</u><br>
Start with deionized water in a plastic beaker, and add reagents while stirring.


<ul><li>10 g     Dextrose (D-glucose)</li>
<li>5 g  BBL yeast extract</li>
<li>5 g  Proteose peptone (Difco)</li>
<li>5 g  Thiotone peptone (BBL)</li>
<li>0.67 g   Na<sub>2</sub>HPO<sub>4</sub>.7H<sub>2</sub>O</li>
<li>0.34 g   KH<sub>2</sub>PO<sub>4</sub></li>
<li>0.05 g   Dihydrostreptomycin-sulfate*</li>
</ul></li>
<br>

The pH should be 6.5 &#177; 0.1. <br>

Add 25 ml to 125 ml erlenmeyer flasks. Cover with cotton plugs and aluminum foil.<br>
Autoclave 20 minutes.<br>
Store in the cold room, and dark.<br>

* Dihydrostreptomycin-sulfate is stored in the refrigerator. <br>
Warm up to room temperature before opening the bottle!
</ul>
<hr>
<ul>
<a name="MHL5"></a>
<li><u>Maltose HL5 (1 liter)</u>

<ul><li>20 g Maltose</li>
<li>5 g yeast extract (BBL)</li>
<li>5 g Proteose peptone (Difco)</li>
<li>5 g Thiotone peptone (BBL)</li>
<li>0.67 g Na<sub>2</sub>HPO<sub>4</sub>.7H<sub>2</sub>O</li>
<li>0.34 g KH<sub>2</sub>PO<sub>4</sub></li>
<li>0.05 g Dihydrostreptomycin-sulfate</li>

</ul></li><br>
pH should be 6.4-6.5.


</ul>
<hr>
<ul>
<a name="MESHL5"></a>
<li><u>MES-HL5 (1 liter)</u>

<ul><li>10 g Dextrose (glucose)</li>
<li>5 g Yeast extract (BBL)</li>
<li>5 g  Proteose peptone (Difco)</li>
<li>5 g  Thiotone peptone (BBL)</li>
<li>1.3 g MES</li>
<li>0.05 g   Dihydrostreptomycin-sulfate</li>

</ul></li><br>
Adjust the pH to 7.1 with NaOH. It's important! <br>
Autoclave 20 minutes.

</ul>
<hr>
<ul>
<a name="2HBS"></a>
<li><u>2 x HBS (250 ml)</u>


<ul><li>4 g   NaCl</li>
<li>0.18 g  KCl</li>
<li>0.05 g  Na<sub>2</sub>HPO<sub>4</sub>  (or 0.094 g Na<sub>2</sub>HPO<sub>4</sub>.7H<sub>2</sub>O)</li>
<li>0.5 g Dextrose</li>
<li>2.5 g  HEPES</li>

</ul></li><br>
Adjust pH to 7.0-7.1 with NaOH. It's important! <br>
Filter sterilize. <br>
Keep frozen in 50 ml aliquots.


</ul>
<hr>
<ul>
<a name="SM"></a>
<li><u>SM-plates (1 liter)</u>

Start with 1 L dH<sub>2</sub>O, and weigh out:

<ul><li>10 g Glucose (dextrose)</li>
<li>10 g Bacto peptone (Difco)</li>
<li>1 g Bacto yeast extract</li>
<li>0.5 g MgSO<sub>4</sub> (or 1 g MgSO<sub>4</sub>.7H<sub>2</sub>O)</li>
<li>1.8 g KH<sub>2</sub>PO<sub>4</sub> (13.2 mM)</li>
<li>1.2 g K<sub>2</sub>HPO<sub>4</sub> (6.9 mM)</li>

</ul></li><br>
The pH should be 6.4-6.5.  If too low, adjust with 1 N KOH. If too high, adjust with 1 N HCl.<br>

Add 15 g agar (Spectrum brand).<br>
Autoclave 30 minutes.<br>
Cool about 30 minutes.<br>
Pour plates (30-35 plates per L).<br>

</ul>
<hr>
<ul>

<a name="SM2"></a>
<li><u>SM/5 plates (1 liter)</u>

Start with 1 L dH<sub>2</sub>O, and weigh out:

<ul><li>2 g Glucose (dextrose)</li>
<li>2 g Bacto peptone (Difco)</li>
<li>0.2 g Bacto yeast extract</li>
<li>0.1 g MgSO<sub>4</sub> (or 0.2 g MgSO<sub>4</sub>.7H<sub>2</sub>O)</li>
<li>1.9 g KH<sub>2</sub>PO<sub>4</sub></li>
<li>1.0 g K<sub>2</sub>HPO<sub>4</sub></li>

</ul></li><br>
Check pH: should be 6.5 &#177; 0.1.<br>
Add 15 g agar (Spectrum brand).<br>
Autoclave 30 minutes.<br>
Pour 30-35 plates per liter.

</ul>
<hr>
<ul>
<a name="LP"></a>
<li><u>LP agar</u>
(also called 0.1LP agar)
<ul>
<li>1 g Lactose </li>
<li>1 g Bacto peptone (Difco)</li>
<li>15 g Agar (Spectrum brand)  </li>
<li>1 L Deionized water </li>

</ul></li><br>
Autoclave 20 minutes.

</ul>
<hr>
<ul>
<a name="LP2"></a>
<li><u>LP/2 agar (1 liter)</u>

(also called 0.1LP/2 agar)

<ul><li>0.5 g Lactose</li>
<li>0.5 g Bacto peptone (Difco)</li>
<li>15 g Agar (Spectrum brand)</li>
<li>1 L Deionized water</li>

</ul></li><br>
Autoclave 20 minutes.

</ul>
<hr>
<ul>
<a name="Sor"></a>
<li><u>Sor</u> (S&ouml;rensen's buffer)
(1/60 M phosphate buffer, pH 6; PMID: 4384821; d2776)

<ul><li>4 L dH<sub>2</sub>O</li>
<li>8.0 g KH<sub>2</sub>PO<sub>4</sub></li>
<li>1.16 g Na<sub>2</sub>HPO<sub>4</sub> (or 2.2 g Na<sub>2</sub>HPO<sub>4</sub>.7H<sub>2</sub>O)</li>
</ul></li><br>
pH should be 6.0 &#177; 0.1


</ul>
<hr>
<ul>

<a name="SorC"></a>
<li><u>SorC</u> (Sor with 50 &micro;M Ca++)

<ul>
<li>Add 4 ml 50 mM CaCl<sub>2</sub> (or 0.2 ml 1 M CaCl<sub>2</sub>) to 4 L Sor, and autoclave.</li>
</ul></li>
<br>

</ul>
<hr>
<ul>

<a name="SS"></a>
<li><u>Standard Solution (SS)  (also called Bonner's salt) (1 liter)</u>
(d0096)
<!== same as other

<ul><li>1 L deionized water</li>
<li>0.6 g NaCl</li>
<li>0.75 g KCl</li>
<li>0.3 g CaCl<sub>2</sub> (or 0.4 g CaCl<sub>2</sub>.2H<sub>2</sub>O)</li>

</ul></li><br>
Autoclave.

-->
        </p>
        <p align="right">
            <a href="/techniques/index.html#stockcenter">[INDEX]</a>
        </p><!--#include virtual="/inc/footer_withSide.html"-->
    </body>
</html>
