/*front-news CSS*/

.newsMain {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.newsHeader{
	color:#0B6121;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.newsBox{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.newsDate {
	font-size: 10px;
	color: green;
	padding-right: 10px;
}

.newsContent{
	font-size: 12px;
	padding-right: 10px;
}

.newsSource {
	font-size: 10px;
	color:grey;
	color: green;
}

.newsMore {
	color: #0B610B;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	text-align: center;

	padding-bottom: 20px;
}
