<a name="top" id="top"></a>

<div class="container">

    <div class="row techniquesHead">
        <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/research">Research</a></h4></div>
        <div class="size40"> <a href="#/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </div>
        <h2>
            Transformation of Dictyostelium <br>by calcium phosphate precipitation
        </h2>
        <h6>
            Published in: <br>
            <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=4406">Nellen, Silan, and Firtel RA. (1984)</a>, <br>
            <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=3329">Knecht, Cohen, Loomis, and Lodish (1986)</a>, <br>
            <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=1011">Cohen, Knecht, Lodish, and Loomis (1986)</a>.
        </h6>
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">
            
            <h3>
                Procedure
            </h3>
            <ol>
                <li>Prepare the cells: grow <i>D. discoideum</i> in HL5 medium on Petri plates for 3 to 4 days. The day before the transformation, replace HL5 medium with 12.5&nbsp;ml Bis-Tris HL5.
                </li>

                <li>The next day, change the medium be aspirating off and replacing with 10&nbsp;ml fresh Bis-Tris HL5 to further reduce the phosphate.
                </li>

                <li>Prepare the DNA:<br>
                    The calcium phosphate precipitate of the DNA to be transformed into the cells is made in a plastic test-tube by adding (in order) to a final volume of 0.6&nbsp;ml:
                </li>
                <li style="list-style: none">
                    <br>
                    <ul>
                        <li>0.24&nbsp;ml sterile water
                        </li>
                        <li>10 µg DNA (about 10 µl of a 1 µg/µl solution)
                        </li>
                        <li>0.3&nbsp;ml 2x HBS
                        </li>
                        <li>60 µl 1.25 M CaCl<sub>2</sub>
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul>
                </li>
                <li>Transformation:<br>
                    Remove the medium from cells and add drops of the suspension of calcium phosphate precipitated DNA (0.6&nbsp;ml). Let stand 30&nbsp;minutes while the cells take up the vector. Add 10&nbsp;ml Bis-Tris HL5 and let stand several hours (4-8) to allow the cells to flatten and stick onto the dish.
                </li>

                <li>Glycerol shock:<br>
                    <ul>
                        <li>Carefully aspirate off the medium and gently add 4&nbsp;ml of 18% glycerol in HBS by letting it run down the side of the dish.
                        </li>
                        <li>Let stand 5&nbsp;minutes (accurate to 10 seconds).
                        </li>
                        <li>Gently aspirate off the glycerol solution and replace with 10&nbsp;ml HL5.
                        </li>
                        <li>Incubate overnight for phenotypic expression.
                        </li>
                    </ul>
                </li>

                <li>Selection of transformants:<br>
                    <ul>
                        <li>Aspirate off the medium and replace with 10&nbsp;ml fresh HL5 containing 5&nbsp;to&nbsp;10&nbsp;µg/ml G418 and 200&nbsp;µg/ml Streptomycin.
                        </li>
                        <li>Aspirate the medium up and down to remove cells from the plate and distribute into microtiter well plates.
                        </li>
                        <li>Save original plate and replace medium.
                        </li>
                        <li>Feed cells two times per week.
                        </li>
                    </ul>
                </li>
            </ol>
            <p>
                <br>
                Transformant should come up in two to four weeks, although some are apparent earlier.<br>
                <br>
            </p>

                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    
            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h3>
                Materials
            </h3>
            <ul>
                <li>
                    <u>Bis-Tris HL5 (1 liter)</u>
                    <ul>
                        <li>2.1 g Bis-Tris
                        </li>
                        <li>10 g proteose peptone (Oxoid)
                        </li>
                        <li>5 g yeast extract
                        </li>
                        <li>10 g glucose
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul>Add distilled water to 1 liter.<br>
                    Adjust pH to pH 7.1 with HCl.<br>
                    Autoclave to fully solubilize, readjust pH to 7.1 with NaOH (it will have gone down to about pH 6.8).<br>
                    Filter sterilize; store at room temperature.
                </li>

                <li>
                    <u>2x HBS (250&nbsp;ml)</u>
                    <ul>
                        <li>4.0 g NaCl
                        </li>
                        <li>0.18 g KCl
                        </li>
                        <li>0.05 g Na<sub>2</sub>HPO<sub>4</sub>
                        </li>
                        <li>2.5 g HEPES
                        </li>
                        <li>0.5 g glucose
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul>Adjust pH to 7.1 with NaOH.<br>
                    Filter sterilize, store frozen.<br>
                </li>

                <li>
                    <u>CaCl<sub>2</sub> (10&nbsp;ml)</u>
                    <ul>
                        <li>1.84 g CaCl<sub>2</sub>
                        </li>
                        <li>10&nbsp;ml distilled water
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul>Filter sterilize, store at room temperature.
                </li>

                <li>
                    <u>18% Glycerol (4&nbsp;ml)</u>
                    <ul>
                        <li>1.44&nbsp;ml of autoclaved 50% glycerol in water
                        </li>
                        <li>0.56&nbsp;ml sterile water
                        </li>
                        <li>2.0&nbsp;ml 2X HBS
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="note">
                <span class="nw">Note: </span>
                The glycerol concentration is critical for the transformation. Too much will kill the cells; not enough will fail to permeabilize them sufficiently. It is therefore necessary to make a fresh solution for each transformation.
            </div>

                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    <br>
        </div> <!-- col-sm-8 -->
        <div class="col-sm-3 col-xs-1"></div>
    </div> <!-- row -->
</div> <!-- container -->
