<div class="viewHouse">

    <div class="container">

        <div class="row techniquesHead">
            <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/research">Research</a></h4></div>
            <div class="size40"> <a href="#/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </div>
            <h2>
                Addition of heat-killed bacteria <br>to <i>Dictyostelium</i> Transformants
            </h2>
            <h6>
                Contributed by Etienne Joly, Jane Kirk, Keith Jermyn, and Jeffrey Williams in the Dicty Newsletter.<br>
                Published in <i><a href="http://dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=3708">Lloyd, Ceccarelli and Williams (1990)</a>.</i>
            </h6>
        </div>

        <div class="row">

            <div class="col-sm-3 col-xs-1"></div>

            <div class="col-sm-6 col-xs-10">


                <h3>
                    Heat-killed bacteria preparation:
                </h3>
                <ol>
                    <li>
                        <i>E. coli</i> (or <i>Klebsiella aerogenes</i>) are grown overnight in LB, centrifuged at 6000 rpm for 5&nbsp;minutes and then washed three times in the growth volume of KK<sub>2</sub> buffer (6.5&nbsp;mM&nbsp;KH<sub>2</sub>PO<sub>4</sub>, 3.8&nbsp;mM&nbsp;K<sub>2</sub>HPO<sub>4</sub>, pH 6.2)
                    </li>

                    <li>The last pellet is resuspended in 1/10<sup>th</sup> of the initial volume of KK<sub>2</sub> and an aliquot is diluted to measure the OD<sub>650</sub>.
                    </li>

                    <li>The volume of the bacterial suspension is then adjusted to a density of 10<sup>12</sup> cells/ml (assuming that an OD<sub>650</sub> of 0.1 corresponds to 10<sup>8</sup> cells/ml).
                    </li>

                    <li>Cells are heat-killed at 70°C for 10&nbsp;minutes and then stored in aliquots at -20°C.
                    </li>
                </ol>
                        <br>
                        <p align="center"> <small>
                            <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a> </small>
                        </p>
                <h3>
                    For use with <i>Dictyostelium</i> transformations:
                </h3>
                <ol>
                    <li>One aliquot of heat-killed bacteria is thawed and this suspension is added at 1% vol/vol to the initial selective medium, i.e., at the time the G418 is first added (normally after overnight recovery ).
                    </li>

                    <li>Tetracycline may be included at 15µg/ml in the medium, which is changed every two to three days but which is replaced with medium unsupplemented by bacteria after the first addition.
                    </li>

                    <li>After two medium changes (6 to 8 days), very few bacteria remain visible in the medium and transformants have formed visible colonies.
                    </li>

                </ol>

                <div class="note">
                    <span class="nw">Note: </span>
                    No further increase in efficiency is found if the suspension of bacteria is also added in all media changes. This latter finding suggests that the addition of bacteria is only helpful for the newly transformed amoebae at the critical, early stage when they are isolated and surrounded by dying cells.
                </div>

                        <br>
                        <p align="center"> <small>
                            <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a> </small>
                        </p>
                        <br>

            </div> <!-- col-sm-8 -->
            <div class="col-lg-3 col-sm-2 col-xs-1"></div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>