<div class="viewHouse">

    <div class="container">

        <div class="row techniquesHead">
            <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/research">Research</a></h4></div>
            <div class="size40"> <a href="#/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </div>
            <h2>
                REMI- Restriction-enzyme-mediated <br>insertional mutagenesis
            </h2>
            <h6>
                From Peter Devreotes' <a target="new" href="http://www.hopkinsmedicine.org/cellbio/devreotes/">web page</a>, based on <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=20">Adachi et al. 1994</a>
            </h6>
        </div>

        <div class="row">

            <div class="col-sm-3 col-xs-1"></div>

            <div class="col-sm-6 col-xs-10">


                <h3>
                    Procedure
                </h3>
                <p>
                    For 24 REMI's
                </p>
                <ol>
                    <li>AX2 cells that have been grown in log phase for 2 days are harvested at a density of 4-6 x 10<sup>6</sup> cells/ml.
                    </li>

                    <li>Harvest 4 x 10<sup>6</sup> cells. Wash 1x in ice cold E-buffer. Resuspend in 10 ml ice cold E-buffer. Keep on ice.
                    </li>

                    <li>Add 100 mg plasmid (pBSR1 or pBSR3 x BamHI).
                    </li>

                    <li>Take 4 control samples (no enzyme); 0.4 ml each.
                    </li>

                    <li>Add 50 units (5 µl) DpnII to remaining cell suspension (5 units DpnII/ml).
                    </li>

                    <li>Electroporate at 1.2 kV and 3 mF, using BioRad Gene Pulser with 5 Ohm resistor in series with chamber. Time constant must be 0.5-0.7. Use 0.2 cm cuvettes <!--(Green label)-->.
                    </li>

                    <li>After electroporation incubate10 minutes on ice.
                    </li>

                    <li>Add 2 ml of Healing solution and transfer to a Petri dish. Let sit 15 minutes.
                    </li>

                    <li>Add 12 ml HL5 medium and spread the cells evenly in Petri dish.
                    </li>

                    <li>Next day add 5 mg/ml (6 ml; 10 mg/ml) Blasticidin.
                    </li>

                    <li>Transformants appear in appr. 5 days.
                    </li>

                    <li>Screen about 3 times the number of transformants.
                    </li>

                </ol>
                        <br>
                        <p align="center"> <small>
                            <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a> 
                        </small></p>

                <hr>
                <p>
                    <a name="mat" id="mat"></a>
                </p>
                <h3>
                    Materials
                </h3>
                <ul>
                    <li>
                        <u>E-buffer</u>
                        <ul>
                            <li>10 mM Na/K phosphate buffer pH 6.1
                            </li>
                            <li>50 mM sucrose
                            </li>
                        </ul>
                    </li>

                    <li>
                        <u>Healing solution</u>
                        <ul>
                            <li>100 mM CaCl<sub>2</sub>
                            </li>
                            <li>100 mM MgCl<sub>2</sub>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <u>Blasticidin stock</u>
                        <ul>
                            <li>10 mg/ml blasticidin
                            </li>
                        </ul>
                    </li>
                </ul>

                        <br>
                        <p align="center"> <small>
                            <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a> 
                        </small></p>
                        <br>

            </div> <!-- col-sm-8 -->
            <div class="col-lg-3 col-sm-2 col-xs-1"></div>
        </div> <!-- row -->
    </div> <!-- container -->

</div>