<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Tecniques</h3></span>
        <h2>
            Isolation of Dictyostelium centrosomes
        </h2>
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">

<!--         <p>
            <b>Download <a ng-href="#/research/techniques/word_docs/centrosome_purification.doc">word file</a>.</b>
        </p> -->

            <div class="note" align="right">

                Improved protocol according to <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=2275">Gräf et al. 1998</a>; see also <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=8348">Gräf 2001</a>

            </div>

            <hr>
            <h2>
                Procedure
            </h2>
            <ol>
                <li>Centrifuge cell suspension in AX-medium (ca. 5 x 10<sup>9</sup> cells with a density of ca. 2 - 4 x 10<sup>6</sup> cells per&nbsp;ml) for 5&nbsp;min at 500 x g at 4°C.
                </li>

                <li>Wash 3 x in phosphate buffer (ca. 5-fold volume of the pellet) spin down for 5&nbsp;min at 500 x g at 4°C. Add 2&nbsp;µM cytochalasin A or D prior to the last washing step.
                </li>

                <li>While washing, supplement 20&nbsp;ml of Lysis buffer with Protease inhibitor cocktail, 2&nbsp;µM cytochalasin and Triton X-100 .
                </li>

                <li>Resuspend cells in Lysis buffer and vortex for 1&nbsp;min.
                </li>

                <li>Filter suspension through 5 µm Nuclepore-Filter and immediately centrifuge for 10&nbsp;min at 2500 x g at 4°C.
                </li>

                <li>While centrifuging, complete 20&nbsp;ml Pyrophosphate buffer and put it on ice.
                </li>

                <li>Discard supernatant and resuspend pellet in Pyrophosphate buffer, vortex for 1&nbsp;min and immediately centrifuge for 10&nbsp;min at 2,500 x g at 4°C.
                </li>

                <li>While centrifuging, prepare the following:<br>
                    <ul>
                        <li>Dissolve 6 mg heparin in 600&nbsp;µl water.
                        </li>
                        <li>Prepare 5&nbsp;µm Nuclepore-Filter.
                        </li>
                        <li>Supplement 1&nbsp;ml 80% sucrose and 2&nbsp;ml 50% sucrose with protease inhibitor cocktail, β-mercaptoethanol and Triton X-100 .
                        </li>
                    </ul>
                </li>

                <li>Discard pellet and add the heparin solution to the supernatant and place on ice for 5&nbsp;min.
                </li>

                <li>Fill two Beckman SW40-tubes with 0.5&nbsp;ml of supplemented 80% Sucrose solution and layer 1&nbsp;ml of supplemented 50% sucrose solution above.
                </li>

                <li>Filtrate supernatant through Nuclepore-filter and layer one half of the filtrate on top of the density gradient in each tube.
                </li>

                <li>Centrifuge for 1 h at 40000 x g (21000 rpm) at 4°C.
                </li>

                <li>While centrifuging, prepare second density gradient:
                    <ul>
                        <li>Supplement Sucrose solutions with Protease inhibitor cocktail, β-mercaptoethanol and Triton X-100 : 1.05&nbsp;ml 80%, 2.1&nbsp;ml 55%, 2.1&nbsp;ml 50% sucrose, 2&nbsp;ml gradient buffer without sucrose.
                        </li>
                        <li>Prepare two Beckman SW50.1 gradient tubes: each 0.5&nbsp;ml 80% sucrose, 1&nbsp;ml 55% sucrose and 1&nbsp;ml 50% sucrose.
                        </li>
                    </ul>
                </li>

                <li>Remove all liquid up to the upper half of the 50% fraction including the faint white band which is often visible. Resuspend all remaining liquid including the small pellet. Pass the suspension twice through a 27 gauge needle using a 1&nbsp;ml syringe and supplement with the 0.5-fold volume of supplemented Gradient buffer.
                </li>

                <li>Load suspension onto the 2nd gradient
                </li>

                <li>Centrifuge for 1 h at 40,000 x g (21,000 rpm) at 4°C.
                </li>

                <li>Collect fractions from the bottom using a peristaltic pump and a glass capillary (ca. 200&nbsp;µl per&nbsp;min). The glass capillary should not touch the pellet which might have formed. The volume of the first fraction which is the centrosome fraction should be ~700&nbsp;µl. If there is a clear pellet it usually contains intact centrosomes as well, but these are heavily contaminated with DNA.
                </li>

            </ol>

                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>

            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h2>
                Materials
            </h2>
            <ul>
                <li>
                    <u>AX-medium (1 liter)</u><br>
                    <ul>
                        <li>14.3 g peptone (Oxoid)
                        </li>
                        <li>7.15 g yeast extract (Oxoid)
                        </li>
                        <li>0.616 g Na<sub>2</sub>HPO<sub>4</sub>·2H<sub>2</sub>O
                        </li>
                        <li>0.486 g KH<sub>2</sub>PO<sub>4</sub>
                        </li>
                        <li>18 g glucose
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul>Adjust pH to 6.7 with NaOH.
                </li>

                <li>
                    <u>Phosphate buffer</u><br>
                </li>
                <li>14.6&nbsp;mM&nbsp;KH<sub>2</sub>PO<sub>4</sub>
                </li>
                <li>2&nbsp;mM&nbsp;Na<sub>2</sub>HPO<sub>4</sub>
                </li>

            </ul>
            <ul>
                <li>
                    <u>Lysis buffer</u><br>
                </li>
            </ul>
            <ul>
                <li>100&nbsp;mM&nbsp;Na-PIPES pH 6.9
                </li>
                <li>2&nbsp;mM&nbsp;MgCl<sub>2</sub>
                </li>
                <li>10 % sucrose<br>
                </li>

            </ul>
            <p>
                Add prior to use:<br>
            </p>
            <ul>
                <li>0.25 % Triton X-100
                </li>
                <li>1 x protease inhibitor cocktail
                </li>
                <li>2&nbsp;µM cytochalasin A
                </li>
            </ul>
            <ul>

                <li>
                    <u>Pyrophosphate buffer</u><br>
                </li>
            </ul>
            <ul>
                <li>100&nbsp;mM&nbsp;Na-PIPES
                </li>
                <li>2&nbsp;mM&nbsp;MgCl<sub>2</sub>
                </li>
                <li>30 % sucrose
                </li>

            </ul>
            <p>
                Add prior to use:
            </p>
            <ul>
                <li>40&nbsp;mM&nbsp;tetra-sodium diphosphate/HCl pH 6.9 (Mr=446 g/mol)
                </li>
                <li>1&nbsp;mM&nbsp;DTT
                </li>
                <li>1 % Triton X-100
                </li>
                <li>1 x protease inhibitor cocktail
                </li>

            </ul>
            <ul>
                <li>
                    <u>Protease inhibitor cocktail</u> (28x; values given here refer to 1 x concentration !)<br>
                </li>
            </ul>
            <ul>
                <li>1&nbsp;mM&nbsp;Pefabloc SC 25&nbsp;µg/ml leupeptin
                </li>
                <li>10&nbsp;µg/ml tosyl-arginin-methylester
                </li>
                <li>10&nbsp;µg/ml
                </li>
                <li>soybean trypsin inhibitor
                </li>
                <li>1&nbsp;µg/ml aprotinine
                </li>
                <li>1&nbsp;µg/ml pepstatine
                </li>
                <li>2&nbsp;mM&nbsp;benzamidine
                </li>
                <li>1&nbsp;mM&nbsp;Na-ATP
                </li>

            </ul>
            <ul>
                <li>
                    <u>Gradient buffer</u><br>
                </li>
            </ul>
            <ul>
                <li>10&nbsp;mM&nbsp;Na-PIPES
                </li>
                <li>2&nbsp;mM&nbsp;MgCl<sub>2</sub>
                </li>

            </ul>
            <p>
                Add prior to use:
            </p>
            <ul>
                <li>0.1 % Triton X-100
                </li>
                <li>0.1 % β-mercaptoethanol
                </li>

            </ul>
            <ul>
                <li>
                    <u>Sucrose solution</u><br>
                </li>
            </ul>
            <ul>
                <li>80% sucrose in 10&nbsp;mM&nbsp;Na-PIPES/2&nbsp;mM&nbsp;MgCl<sub>2</sub><br>
                </li>

            </ul>
            <p>
                Add prior to use:
            </p>
            <ul>
                <li>0.1 % Triton X-100 0.1 % β-mercaptoethanol
                </li>
                <li>1x protease inhibitor cocktail
                </li>

            </ul>

                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
                <br>

        </div> <!-- col-sm-8 -->
        <div class="col-sm-3 col-xs-1"></div>
    </div>
</div>