<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
            <h2> Cytoskeleton isolation </h2>
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">

            <div class="note" align="right">
                Published in <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=5107">Reines and Clarke 1985</a>
            </div>
<!--             <p>
                <b>Download <a ng-href="#/research/techniques/word_docs/cytoskeleton_isolation.doc">word file</a>.</b>
            </p> -->

            <h3>
                Procedure
            </h3>
            <ol>
                <li>Harvest 2 x 10<sup>7</sup> cells.
                </li>

                <li>Add 1 ml Lysis buffer.
                </li>

                <li>Sit on ice for 2 min.
                </li>

                <li>Spin in microfuge at 15k x 5 min.
                </li>

                <li>Wash pellet with 0.5 ml Lysis buffer and then 0.5 ml Wash buffer.
                </li>

            </ol>
            <p>
                <br>
                The pellet contains actomyosin cytoskeletons. To release myosin from the pellet:
            </p>
            <ol>
                <li>Resuspend pellet in 50 µl Release buffer.
                </li>

                <li>Incubate on ice for 5 min.
                </li>

                <li>Spin in microfuge 15K x 5 min.
                </li>

                <li>The supernatant contains myosin released from cytoskeletons. For Western blot, 1/5 of the supernatant is plenty.
                </li>
            </ol>

                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>

            <a name="mat" id="mat"></a>

            <h3>
                Materials
            </h3>
            <ul>
                <li>
                    <u>Wash buffer</u>
                    <ul>
                        <li>100 mM Pipes pH 6.8
                        </li>
                        <li>2.5 mM EGTA
                        </li>
                        <li>1 mM MgCl<sub>2</sub>
                        </li>
                        <li>10 mM TAME
                        </li>
                        <li>20 mM Benzamine
                        </li>
                    </ul>
                </li>
            </ul>
            <p>
                <br>
            </p>
            <ul>
                <li>
                    <u>Lysis buffer</u>
                </li>
            </ul>
            <ul>
                <li>Wash buffer + 0.5% Triton
                </li>
            </ul>
            <p>
                <br>
            </p>
            <ul>
                <li>
                    <u>Release Buffer</u>
                </li>
            </ul>
            <ul>
                <li>Wash buffer + 200 mM KCl + 2 mM ATP
                </li>
            </ul>

                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
                <br>
        </div> <!-- col-sm-8 -->

        <div class="col-sm-3 col-xs-1"></div>
    </div>

</div>



