        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            CTPase assay for dynein (colorimetric)
        </h1>
        <p>
            <b>Download <a ng-href="#/research/techniques/word_docs/dynein_colorimetric.doc">word file</a></b>.
        </p>
        <hr>
        <p align="right">
            <a href="" ng-click="scrollTo('mat')">[MATERIALS]</a> - <a ng-href="#/research/techniques/">[INDEX]</a> <a name="proc" id="proc"></a>
        </p>
        <h2>
            Procedure
        </h2>
        <ol>
            <li>Make standard curve: 0, 5, 10, 15, 20, 25, 30&nbsp;µl phosphate solution in 100&nbsp;µl H<sub>2</sub>O.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Prepare samples:<br>
                <br>
                <ul>
                    <li>Make - MT/CTP blank (subtract from basal activity samples):<br>
                        <ul>
                            <li>40&nbsp;µl H<sub>2</sub>O
                            </li>
                            <li>40&nbsp;µl P100
                            </li>
                            <li>10&nbsp;µl PEM
                            </li>
                            <li>10&nbsp;µl CTP mix (add last, right before incubation)
                            </li>
                            <li style="list-style: none">
                                <br>
                            </li>
                        </ul>
                    </li>
                    <li>Make + MT/CTP blank (subtract from microtubule-activated samples)<br>
                        <ul>
                            <li>40&nbsp;µl H<sub>2</sub>O
                            </li>
                            <li>40&nbsp;µl P100
                            </li>
                            <li>10&nbsp;µl MT mix
                            </li>
                            <li>10&nbsp;µl CTP mix (add last, right before incubation)
                            </li>
                            <li style="list-style: none">
                                <br>
                            </li>
                        </ul>
                    </li>
                    <li>Make sample blanks (subtract from appropriate samples):<br>
                        <ul>
                            <li>50&nbsp;µl H<sub>2</sub>O
                            </li>
                            <li>40&nbsp;µl each sample
                            </li>
                            <li>10&nbsp;µl PEM
                            </li>
                            <li style="list-style: none">
                                <br>
                            </li>
                        </ul>
                    </li>
                    <li>Basal activity samples:<br>
                        <ul>
                            <li>40&nbsp;µl H<sub>2</sub>O
                            </li>
                            <li>40&nbsp;µl each sample
                            </li>
                            <li>10&nbsp;µl PEM
                            </li>
                            <li>10&nbsp;µl CTP mix (add last)
                            </li>
                            <li style="list-style: none">
                                <br>
                            </li>
                        </ul>
                    </li>
                    <li>MT activated activity samples:<br>
                        <ul>
                            <li>40&nbsp;µl H<sub>2</sub>O
                            </li>
                            <li>40&nbsp;µl each sample
                            </li>
                            <li>10&nbsp;µl MT mix
                            </li>
                            <li>10&nbsp;µl CTP mix (add last)
                            </li>
                            <li style="list-style: none">
                                <br>
                            </li>
                        </ul>
                    </li>
                    <li style="list-style: none">
                        <br>
                    </li>
                </ul>
            </li>
            <li>Incubate all tubes at 37°C, 30&nbsp;minutes exactly. Start incubation immediately after adding CTP mix to tubes.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Stop each reaction with 900&nbsp;µl STOP mix.<br>
                <b>Note:</b> Make STOP mix fresh and use immediately. Stop mix should be very light yellow. If stop mix is greenish, do not use--make sure reagents are in Milli-Q water and make fresh.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>To develop, incubate stopped reactions 20&nbsp;min at 45°C or 60&nbsp;min at 37°C or 90&nbsp;min at room temp.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Read absorbances at 820 nm.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Calculate specific activities. Subtract sample blanks and CTP blanks from appropriate reactions first.<br>
                <br>
                SA= (corrected abs) x (1/slope of std. curve) x (1/min) x (1/ml) x (1/mg/ml protein)= nmol Pi/min/mg<br>
                <br>
                For example: for a 30&nbsp;min assay time, 40&nbsp;µl samples with 0.04 mg/ml protein, and a std curve slope of 0.02:<br>
                SA= (corrected abs) x (1/.02) x (1/30min) x (1/.04 ml) x (1/.04)
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h2>
            Materials
        </h2>
        <ul>
            <li>
                <u>1&nbsp;mM phosphate solution for standard curve (1 L)</u><br>
                <ul>
                    <li>0.136 g KH<sub>2</sub>PO<sub>4</sub> in H<sub>2</sub>O
                    </li>
                </ul><br>
            </li>
            <li>
                <u>CTP mix</u><br>
                <ul>
                    <li>10&nbsp;mM CTP (sodium salt) in 10&nbsp;mM MgCl<sub>2</sub>
                    </li>
                </ul>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>Ammonium Molybdate (1 L)</u><br>
                <ul>
                    <li>4.2 g molybdic acid
                    </li>
                    <li>28.6 ml concentrated H<sub>2</sub>SO<sub>4</sub>
                    </li>
                </ul>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>Ascorbate</u><br>
                <ul>
                    <li>13% ascorbic acid in H<sub>2</sub>O
                    </li>
                </ul>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>10% SDS</u> (use extra-pure stuff)
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>MT mix</u><br>
                <ul>
                    <li>5-10 mg/ml DEAE tubulin with 10&nbsp;mM taxol, warm briefly, make fresh
                    </li>
                </ul>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>STOP mix (45 ml)</u><br>
                <ul>
                    <li>30 ml molybdic acid stock
                    </li>
                    <li>5 ml ascorbic acid stock
                    </li>
                    <li>2.5 ml 10 % SDS
                    </li>
                    <li>7.5 ml Milli-Q water
                    </li>
                    <li style="list-style: none">
                        <br>
                    </li>
                </ul>
            </li>
        </ul>
        <p>
            Make all solutions with Milli-Q water! <!--1/95, Trivinos-->
        </p>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
