        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            ATPase assay for dynein (radioactive)
        </h1>
        <p>
            <b>Download <a ng-href="#/research/techniques/word_docs/dynein_radioactive.doc">word file</a>.</b>
        </p>
        <hr>
        <p align="right">
            <a href="" ng-click="scrollTo('mat')">[MATERIALS]</a> - <a ng-href="#/research/techniques/">[INDEX]</a> <a name="proc" id="proc"></a>
        </p>
        <h2>
            Procedure
        </h2>
        <ol>
            <li>Mix:<br>
                <ul>
                    <li>30&nbsp;µl sample
                    </li>
                    <li>10&nbsp;µl PEM or MT (for MT activated activity)
                    </li>
                    <li>10&nbsp;µl 5X ATP mix
                    </li>
                    <li>50&nbsp;µl total
                    </li>
                    <li style="list-style: none">
                        <br>
                    </li>
                </ul>Set up a MT blank if doing MT activated activity assay:<br>
                <ul>
                    <li>30&nbsp;µl PEM
                    </li>
                    <li>10&nbsp;µl MT
                    </li>
                    <li>10&nbsp;µl 5X ATP mix
                    </li>
                    <li>50&nbsp;µl total
                    </li>
                    <li style="list-style: none">
                        <br>
                    </li>
                </ul>
            </li>
            <li>Incubate at room temperature for 20 min.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Stop reaction with 300&nbsp;µl acid.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Add 300&nbsp;µl charcoal (stirred).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Incubate on ice 10 min.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Add 100&nbsp;µl BSA.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Centrifuge (cold) 1&nbsp;minute.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Count 0.3 ml supernate.<br>
                <br>
                To calculate activity:<br>
                [sample cpm - blank cpm- MT blank if appropriate] x [ratio: total assay volume/assay volume counted] x [1 nmol/cpm/nmol] x [1/ sample volume] x [1/assay time]<br>
                <br>
                For example, for a 20 min assay, with 30&nbsp;µl sample, counting 300&nbsp;µl out of 750&nbsp;µl total volume:<br>
                [sample cpm - blank cpm] x 1.5 x 1 nmol/cpm/nmol x 1/0.03 ml x 1/20 min= nmol Pi/ml/min
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h2>
            Materials
        </h2>
        <ul>
            <li>
                <u>20&nbsp;mM silicotungstic acid (Baker, MW 2882) in 10&nbsp;mM H<sub>2</sub>SO<sub>4</sub></u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>25% suspension of acid washed charcoal (Sigma)</u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>5 mg/ml BSA in H<sub>2</sub>O</u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>5X ATP mix</u><br>
                <ul>
                    <li>5&nbsp;mM ATP
                    </li>
                    <li>5&nbsp;mM MgSO<sub>2</sub>
                    </li>
                    <li>1 µl <sup>32</sup>P-ATP
                    </li>
                </ul>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>5X MT</u> (@ 3 mg/ml tubulin + taxol, warm briefly)
            </li>
        </ul>
        <p>
            <br>
            <!--1/95, Trivinos-->
        </p>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
