        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Dictyostelium anti-γ-tubulin Westerns
        </h1>
        <p>
            <b>Harwood lab Protocol, contributed by Emma Dalton, October 2005</b><br>
            Download <a ng-href="#/research/techniques/word_docs/tubulin_western.doc">word file</a>.
        </p>
        <hr>
        <p align="right">
            <a href="" ng-click="scrollTo('mat')">[MATERIALS]</a> - <a ng-href="#/research/techniques/">[INDEX]</a> <a name="proc" id="proc"></a>
        </p>
        <h2>
            Procedure
        </h2>
        <ol>
            <li style="list-style: none">
                <h3>
                    Preparation
                </h3>
            </li>
            <li>Count 1 x 10<sup>8</sup> cells, spin down @2000&nbsp;rpm 2 mins.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Talon purify and resuspend in 200&nbsp;µl. This supernatant is removed and stored at -80°C.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Use 10&nbsp;µl per lane + 10&nbsp;µl 2x Lamelli. (Visualisation with 5&nbsp;µl possible but not so strong.)
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>For other samples load approx. 10&nbsp;µg protein.
            </li>
            <li style="list-style: none">
                <br>
                <h3>
                    Running and Blotting
                </h3>
            </li>
            <li>Take the sample (supernatant and Laemmli mix) and boil for 5 min and cool on ice load each sample onto a 10% acrylamide gel <!--(see other protocol).-->.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Run at 100 Volts and when sample/marker is at bottom - stop and transfer to Hybond C+™ membrane.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>The membrane can then be put into block overnight @ 4°C.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>After being in block the membrane should be washed 3 times for 5-10&nbsp;mins on a rocker each time using 1X&nbsp;TBST.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>The primary antibody is then added and left 1 hr in a sealed bag @RT.<br>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>After being in the primary antibody, the membrane should be washed again 3 times for 5-10mins on a rocker each time using 1X TBST.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>The secondary antibody can then be added and left in a sealed bag for 1 hour @RT.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>After the secondary antibody, the membrane should be washed again 3 times for 5-10&nbsp;min on a rocker each time using 1X TBST.
            </li>
            <li style="list-style: none">
                <br>
                <h3>
                    Visualisation
                </h3>
            </li>
            <li>Using Pierce Supersignal kit, the membrane is then placed between pieces of a write-on type overhead transparency and exposures of 5&nbsp;sec-30&nbsp;mins can be taken using MR-1 type film.
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h2>
            Materials
        </h2>
        <ul>
            <li>
                <u>Blocking solution</u>
                <ul>
                    <li>1X&nbsp;TBS
                    </li>
                    <li>0.05%&nbsp;Triton X-100
                    </li>
                    <li>5%&nbsp;Milk
                    </li>
                </ul><b>NO AZIDE!!!</b>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>1X TBST</u>
                <ul>
                    <li>1X TBS
                    </li>
                    <li>0.05% Triton X-100
                    </li>
                </ul>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>Primary antibody</u>
                <ul>
                    <li>Anti-γtubulin (GTU88 from Sigma)@1:1000 in 1X TBST
                    </li>
                </ul><b>Note:</b> If antibody has been warm - change this to 1:500 or it may not work at all!!
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>Secondary antibody</u>
                <ul>
                    <li>anti-Mouse HRP @1:10,000 (Vector labs) in 1X TBST
                    </li>
                </ul>
            </li>
        </ul>
        <p>
            <br>
            ECD 08/02
        </p>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
