<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Microtubule gliding assay for microtubule-associated motors</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Microtubule gliding assay for microtubule-associated motors
        </h1>
        <p>
            <b>Download <a href="/techniques/word_docs/microtubule_gliding_assay.doc">word file</a>.</b>
        </p>
        <hr>
        <p align="right">
            <a href="#mat">[MATERIALS]</a> - <a href="/techniques/">[INDEX]</a> <a name="proc" id="proc"></a>
        </p>
        <h2>
            Protocol 1
        </h2>
        <p>
            Works well if you have pretty concentrated protein in your dynein sample.
        </p>
        <ol>
            <li>Make microtubules:<br>
                <ul>
                    <li>To 100&nbsp;µl of 1&nbsp;mg/ml DEAE tubulin, add 1&nbsp;µl 100&nbsp;mM MgGTP.
                    </li>
                    <li>Mix, and incubate at 37°C for 6&nbsp;min.
                    </li>
                    <li>Add 1&nbsp;µl 10&nbsp;mM taxol. Mix and incubate at 37°C for 6&nbsp;min.
                    </li>
                    <li>Place at room temp. Preincubating tubulin with GTP will give you longer microtubules.
                    </li>
                </ul>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>On a clean glass slide, place 25&nbsp;µl dynein sample and allow it to adsorb for 15&nbsp;minutes at room temp.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Add 2&nbsp;µl microtubules from step 1 and 3&nbsp;µl 10&nbsp;mM MgATP.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Invert a coverslip over the sample taking care not to trap bubbles in between and seal with VALAP.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Observe motility with video-enhanced DIC optics.
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p>
        <hr>
        <h2>
            Protocol 2
        </h2>
        <p>
            Works better for dilute dynein samples or if testing an extract or un-enriched supernatant.
        </p>
        <ol>
            <li>Make a perfusion chamber by cutting 2 narrow strips from a coverslip with a diamond pen to use as spacers between a glass slide and an uncut coverslip. Seal chamber with VALAP (see diagram).
            </li>
            <li style="list-style: none">
                <br>
                <img src="/techniques/images/perfusion_chamber_for_motility_assay.png">
            </li>
            <li>Perfuse dynein sample or extract sample (25&nbsp;µl) through the chamber. Allow 10&nbsp;minutes at room temp for the sample to adsorb. If the protein concentration in the sample is low, you can perfuse several alliquots through consecutively, placing a piece of filter paper at the opposite side to absorb excess buffer.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Perfuse 50-100&nbsp;µl of buffer through the chamber (P100 or PEM) to wash away unbound protein.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Make microtubules:<br>
                <ul>
                    <li>To 100&nbsp;µl of 1&nbsp;mg/ml DEAE tubulin, add 1&nbsp;µl 100&nbsp;mM MgGTP.
                    </li>
                    <li>Mix, and incubate at 37°C for 6&nbsp;min.
                    </li>
                    <li>Add 1&nbsp;µl 10&nbsp;mM taxol. Mix and incubate at 37°C for 6&nbsp;min.
                    </li>
                    <li>Preincubating tubulin with GTP will give you longer microtubules.
                    </li>
                </ul>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Mix 2&nbsp;µl microtubule sample with 23&nbsp;µl PEM. Perfuse through chamber. Incubate 5&nbsp;min. Wash away unbound MT by perfusing with 50&nbsp;µl P100 or PEM buffer.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Perfuse through 25&nbsp;µl 1&nbsp;mM MgATP.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Observe motility with video-enhanced DIC optics.
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h2>
            Materials
        </h2>
        <ul>
            <li>Dynein sample or extract sample to be tested for motility
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Taxol stabilized microtubules (see step 1.1 and 2.4)
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>1&nbsp;mM Mg ATP (10&nbsp;mM MgATP if not using perfusion chamber)
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>VALAP
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ul>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p><!--#include virtual="/inc/footer_withSide.html"-->
    </body>
</html>
