        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Purification of muscle actin
        </h1>
        <p>
            <b>Published in <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=7121269&amp;query_hl=12">Pardee and Spudich 1982</a>.<br>
            Download <a ng-href="#/research/techniques/word_docs/muscle_actin.doc">word file</a>.</b>
        </p>
        <hr>
        <p align="right">
            <a href="" ng-click="scrollTo('mat')">[MATERIALS]</a> - <a ng-href="#/research/techniques/">[INDEX]</a> <a name="proc" id="proc"></a>
        </p>
        <h2>
            Procedure
        </h2>
        <h3>
            Preparation of muscle acetone powder
        </h3>
        <ol>
            <li>For rabbit, dissect out the back and hind leg muscle, place on ice. Alternatively, get a chicken from poultry store and have them kill it and cut the breast and leg muscle for you.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Grind the chilled muscle twice and weigh. This is usually 300&nbsp;g.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Extract for exactly 10&nbsp;min using 3 volumes of extracting solution with stirring in the cold room. (A electrical stirrer will be best, since the magnetic stir bars are generally not powerful enough.)
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Spin down the pellet and reextract with the same volume of extrating buffer for 10&nbsp;min.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Spin down the pellet and add 1L of cold dH2O to the pellet, stir and adjust the pH to 8.2-8.5 with sodium carbonate (monitor with pH paper).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Spin down the pellet.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Repeat step 5 and 6 until the pellet begins to swell (This takes about 3-4 repeats).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Add the final pellet to cold acetone and stir vigorously for about 20&nbsp;min. Spin down the pellet in polypropylene centrifuge tube.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Repeat step 7.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Spread the final pellet on filter paper and allow it to dry in chemical hood.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>For rabbit acetone powder, wash with chloroform twice and dry again. (No need for chicken acetone powder since it has less fat.)
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Store desiccated in the freezer.
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <hr>
        <h3>
            Preparation of actin from acetone powder
        </h3>
        <p>
            <b>Note:</b> Since G-actin is sensitive to proteolytic activity during extraction procedure mostly due to bacterial contamination, it is best to make Buffer A fresh from powder or make a concentrated stock solution, stored frozen and dilute to working concentration before use.
        </p>
        <ol>
            <li>Prechill buffer to 0°C on ice water.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Mix 10&nbsp;g muscle acetone powder with 200&nbsp;ml Buffer A and extract with stirring at 0°C for 30&nbsp;min.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Spin down the pellet and filter supernatant through glass wool into graduated cylinder and measure volume.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>While stirring in beaker, make 50&nbsp;mM in KCl, 2&nbsp;mM in MgCl<sub>2</sub> and 1&nbsp;mM in ATP.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Let stand at room temperature for 30&nbsp;min, then in cold room for 90&nbsp;min.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>While stirring, make 0.6&nbsp;M in KCl and stir slowly in cold room for 90&nbsp;min.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Centrifuge 3&nbsp;hours in Beckmann 70&nbsp;Ti rotor at 35 krpm.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Discard supernatant, wash pellet with buffer A once and soften the pellet by soaking in 5-10&nbsp;ml buffer A for 1&nbsp;hour.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Resuspend pellets in buffer A using a Dounce homogenizer (use Teflon coated rod and transfer the solution with plastic pippet to minimize loss).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Dialyze for 3 days with 3 changes of Buffer A.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Clarify the G-actin solution by centrifugation in 70.1&nbsp;Ti rotor at 35k&nbsp;rpm for 3&nbsp;hours.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Measure the actin concentration by reading O.D.&nbsp;290 (1&nbsp;mg/ml pure actin: 0.65 O.D.&nbsp;290).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Add sucrose (use best grade) to 2&nbsp;mg/mg actin and lyophilize the G-actin in aliquots. Lyophilized actin can be stored at -70°C for future use.
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h2>
            Materials
        </h2>
        <ul>
            <li>
                <u>Myosin extracting solution (cool to 4°C)</u>
                <ul>
                    <li>0.5 M KCl
                    </li>
                    <li>0.1M K<sub>2</sub>HPO<sub>4</sub>
                    </li>
                </ul>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>Distilled water (cool to 4°C)</u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>1M sodium carbonate</u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>Acetone, reagent grade (cool to 4°C)</u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>Chloroform</u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>Buffer A</u>
                <ul>
                    <li>2 mM Tris-Cl pH 8.0
                    </li>
                    <li>0.2 mM ATP
                    </li>
                    <li>0.5 mM DTT
                    </li>
                    <li>0.2 mM CaCl<sub>4</sub>
                    </li>
                    <li>0.01% NaN<sub>3</sub>
                    </li>
                </ul>
            </li>
        </ul>
        <p>
            <br>
        </p>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
