<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <h2>
            Dictyostelium myosin isolation <br> (one-day protocol)
        </h2>        
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">

            <div class="note" align="right">

                <b>Published in <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=6440">Uyeda and Spudich 1993</a>, <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=5349">Ruppel et al. 1994</a>.</b>
<!--                 <p>
                    <b>Download <a ng-href="#/research/techniques/word_docs/myosin_1day.doc">word file</a>.</b>
                </p> -->
            </div>

            <h2>
                Procedure
            </h2>

            <div class="note">
                <b>Note:</b> This protocol involves rounds of myosin assembly and disassembly. Myosins capable of forming filaments, therefore, are crucial for a high yield. Cells growing at log-phase are essential for obtaining active myosin. All procedures after step 1 are performed at 0-5°C.
            </div>

            <ol>
                <li>Harvest cells.
                </li>

                <li>Wash in 10&nbsp;mM Tris-HCl, 1&nbsp;mM EDTA. Weigh cell pellet.
                </li>

                <li>Resuspend the cell pellet in 4&nbsp;vol/g cells of Lysis buffer.
                </li>

                <li>Add 4 vol/g cells of lysis buffer containing 1% Triton X-100 and a Cocktail of proteinase inhibitors while gentle swirling. Keep on ice for 5&nbsp;min. Check the lysis under scope.
                </li>

                <li>Spin 20k x 30&nbsp;min in SS34 rotor, discard the supernatant by hand pipetting.
                </li>

                <li>Resuspend the pellet in 1&nbsp;vol/g cells of Wash buffer. Dilute 3 fold with a buffer containing 10&nbsp;mM HEPES, pH 7.4, 1&nbsp;mM EDTA, 1&nbsp;mM DTT.
                </li>

                <li>Spin 20k x 30&nbsp;min in SS34, discard the supernatant. Be sure to remove any lipids floating in the supe.
                </li>

                <li>Resuspend the pellet in 4&nbsp;vol/g cells of Extraction buffer.
                </li>

                <li>Spin 52k x 30&nbsp;min in Ti70 rotor. Remove lipids (if present) in the upper portion of the supe.
                </li>

                <li>Dilute the supernatant 4-fold with precipitation buffer containing 20&nbsp;µg/ml RNAase A (boiled before use), and incubate 20&nbsp;min on ice.
                </li>

                <li>Spin 42k x 60&nbsp;min in Ti45 rotor.
                </li>

                <li>Homogenize the pellet in 0.3-0.5 vol/g cells of Extraction buffer.
                </li>

                <li>Spin 40k x 8&nbsp;min in Ti70.1 rotor.
                </li>

                <li>Dilute the supernatant 4-fold with precipitation buffer. Incubate on ice for 20&nbsp;min.
                </li>

                <li>Spin 52k x 30&nbsp;min in Ti70.
                </li>

                <li>Dissolve the pellet in 10-20 µl/g cells of Myosin solubilizing buffer. Clarify by spinning at 15k x 5&nbsp;min in table top centrifuge if necessary.
                </li>

            </ol>
            <p>
                * <strong>To achieve improved yield</strong>, steps 14 and 15 can be substituted with the following:
            </p>
            <ul>
                <li>Dialyze the step 13 supernatant overnight against Dialysis buffer. White precipitate forms.
                </li>

                <li>Spin 20k x 30&nbsp;min in SS34.
                </li>
            </ul>
            <hr>
            <h4>
                Phosporylation of myosin by MLCK
            </h4>
            <p>
                Phosphorylation by the Dictyostelium MLCK is sometimes necessary to obtain active myosin purified by this protocol.<br>
            </p>
            <ol>
                <li>Add 9 vol Kinase buffer and appropriate amount of recombinant MLCK<!--(the bacterial expression strain
     obtained from J. Spudich)-->. Incubate at room temperature for 20&nbsp;min.
                </li>

                <li>Add 10&nbsp;mM MgCl<sub>2</sub> and incubate for 20&nbsp;min on ice. Spin 75k x 15&nbsp;min in TLA100.3 rotor.
                </li>

                <li>Dissolve the pellet in myosin storage buffer.
                </li>

            </ol>
            <p>
                * To get better recovery, the starting myosin concentration should be above 2&nbsp;mg/ml.
            </p>
                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h2>
                Materials
            </h2>
            <ul>
                <li>
                    <u>Lysis buffer</u>
                    <ul>
                        <li>25&nbsp;mM HEPES pH 7.4
                        </li>
                        <li>55&nbsp;mM NaCl
                        </li>
                        <li>2&nbsp;mM EDTA
                        </li>
                        <li>1&nbsp;mM DTT
                        </li>
                    </ul>
                </li>
            </ul>

            <ul>
                <li>
                    <u>Wash buffer</u>
                </li>
            </ul>
            <ul>
                <li>10&nbsp;mM HEPES pH 7.4
                </li>
                <li>150&nbsp;mM NaCl
                </li>
                <li>1&nbsp;mM EDTA
                </li>
                <li>1&nbsp;mM DTT
                </li>
            </ul>

            <ul>
                <li>
                    <u>Extraction buffer</u>
                </li>
            </ul>
            <ul>
                <li>10 &nbsp;mM HEPES pH 7.4
                </li>
                <li>200&nbsp;mM NaCl
                </li>
                <li>3&nbsp;mM MgCl<sub>2</sub>
                </li>
                <li>2&nbsp;mM ATP
                </li>
                <li>1&nbsp;mM DTT
                </li>
            </ul>

            <ul>
                <li>
                    <u>Precipitation buffer</u>
                </li>
            </ul>
            <ul>
                <li>10&nbsp;mM HEPES pH 7.4
                </li>
                <li>10&nbsp;mM MgCl<sub>2</sub>
                </li>
                <li>1&nbsp;mM EDTA
                </li>
                <li>1&nbsp;mM DTT
                </li>
            </ul>

            <ul>
                <li>
                    <u>Protease inhibitor cocktail</u>
                </li>
            </ul>
            <ul>
                <li>1 mM PMSF (from 1 M stock; add 100 µl/100ml)
                </li>
                <li>50 µg/ml TPCK (from 50 mg/ml stock; add 100 µl /100ml)
                </li>
                <li>15 µg/ml pepstatin (from 10 mg/ml stock; add 150 µl/100ml)
                </li>
                <li>10 µg/ml leupeptin (from 10 mg/mlstock; add 100 µl/100ml)
                </li>
            </ul>

            <ul>
                <li>
                    <u>Myosin storage buffer</u>
                </li>
            </ul>
            <ul>
                <li>10 &nbsp;mM HEPES pH 7.4
                </li>
                <li>200&nbsp;mM NaCl
                </li>
                <li>1&nbsp;mM MgCl<sub>2</sub>
                </li>
                <li>0.5&nbsp;mM ATP
                </li>
                <li>1&nbsp;mM DTT
                </li>
            </ul>

            <ul>
                <li>
                    <u>Kinase buffer</u>
                </li>
            </ul>
            <ul>
                <li>10&nbsp;mM HEPES pH 7.4
                </li>
                <li>3&nbsp;mM MgCl<sub>2</sub>
                </li>
                <li>2&nbsp;mM ATP
                </li>
                <li>1&nbsp;mM DTT
                </li>
            </ul>

            <ul>
                <li>
                    <u>Dialysis buffer</u>
                </li>
            </ul>
            <ul>
                <li>10&nbsp;mM Pipes pH 6.5
                </li>
                <li>50&nbsp;mM NaCl
                </li>
                <li>10&nbsp;mM MgCl<sub>2</sub>
                </li>
                <li>1&nbsp;mM DTT
                </li>
            </ul>

                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
                <br>
      
        </div> <!-- col-sm-8 -->
        <div class="col-sm-3 col-xs-1"></div>
    </div>
</div>


    