<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Estimation of the number of active myosin heads in isolated myosin</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Estimation of the number of active myosin heads in isolated myosin
        </h1>
        <p>
            <b>The protocol is adopted from J. Sellers at the NIH.<br>
            Download <a href="/techniques/word_docs/active_myosin_heads.doc">word file</a>.</b>
        </p>
        <hr>
        <p>
            Active myosin heads bind to and hydrolyze ATP. When ATP and myosin molar concentrations are close, each myosin head may cycle ATP only once. Thus, the number of ATP hydrolyzed provides an estimation of the number of active heads in the myosin polulation.<br>
            <br>
            5&nbsp;µg Dicty myosin = 10 pomoles = 20 pmoles myosin heads. Smaller amount of myosin in the assay conditions described below may give inconsistent results. ATP is used at two fold stoichiometry with myosin heads.
        </p>
        <hr>
        <h2>
            Procedure
        </h2>
        <ol>
            <li>Sample: 5&nbsp;µg myosin is added to 100 µl buffer A containing 40 pmoles labeled-ATP.<br>
                Background control: 100 µ Buffer A + 40 pmoles labeled ATP<br>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Incubate at room temperature for *20 seconds, and immediately add 1&nbsp;mM cold ATP.<br>
                <b>*Note:</b> There is an increase of the amount of Pi hydrolyzed with respect to incubation time. Use a time interval that gives a number within the linear range.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Stand for 5-10&nbsp;min.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Extract Pi released with the organic partition method and count<!-- as described in the Manual-->.
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <hr>
        <h2>
            Calculation
        </h2>
        <p>
            % active heads = [sample (cpm) - control (cpm)] x 4 / total cpm<sup>1</sup><br>
            <sup>1</sup> Radioactive counts of 40 pmoles labeled ATP
        </p>
        <h2>
            Materials
        </h2>
        <ul>
            <li>
                <u>Buffer A</u>
            </li>
        </ul>
        <ul>
            <li>2 mM Tris-Cl pH 8.0
            </li>
            <li>0.2 mM ATP
            </li>
            <li>0.5 mM DTT
            </li>
            <li>0.2 mM CaCl<sub>4</sub>
            </li>
            <li>0.01% NaN<sub>3</sub>
            </li>
        </ul>
        <p>
            <br>
        </p>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p><!--#include virtual="/inc/footer_withSide.html"-->
    </body>
</html>
