<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Tecniques</h3></span>
        <h2>
            ATPase assay for Dictyostelium myosin
        </h2>        
    </div>

    <div class="row">

        <div class="col-sm-2 col-xs-1"></div>

        <div class="col-sm-8 col-xs-10">

    <!--         <p>
                <b>Download <a ng-href="#/research/techniques/word_docs/myosin_assay.doc">word file</a>.</b>
            </p> -->

            <h3>
                Procedure
            </h3>
            <hr>
            <h4>
                Setting up the reaction
            </h4>
            <ul>
                <li>
                    <b>Temperature</b><br>
                    Dicty myosin works well at room temperature.
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>
                    <b>Time</b><br>
                    One should try a couple of time points to determine the period in which the reaction rate is linear. With the enzyme concentration suggested above, reaction time between 5-10&nbsp;min is reasonable.
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>
                    <b>Helpful tips for setting the reactions:</b><br>
                    <ul>
                        <li>To&nbsp;minimize pipetting error, mix as many ingredients for the reaction (except the enzyme) and aliquot to each reaction tube. Start individual reaction by adding the enzyme at 30 second interval. This way each reaction will have equal reaction time since the stopping procedure requires ~ 30&nbsp;sec. Always do duplicate reactions whenever possible. I generally make more reaction mix than needed and count the total radioactivity from 1 aliquot to calibrate the "specific activity" of ATP in the reaction (cpm/nmole ATP).
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                        <li>For actin-activated ATPase assay, it is important to check the final concentration of KCl and Mg. The optimal condition is 25&nbsp;mM&nbsp;KCl and 5&nbsp;mM&nbsp;Mg. [KCl]&gt;50&nbsp;mM, [Mg]&lt;2&nbsp;mM can greatly reduce the activity.
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                        <li>For calcium ATPase, set up three tubes containing myosin with calcium, myosin without calcium (EGTA), and calcium without myosin. Calcium-activated ATPase activity is obtained by subtracting "-Ca" activity from "+Ca" activity.
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                        <li>For actin ATPase, each experiment contains 4 reactions: myosin with actin, myosin alone, actin alone and no protein control. Actin ATPase activity is obtained by subtracting activity of "myosin" and "actin" reactions from "actomyosin" reaction.
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr>
            <h4>
                Stop reaction and inorganic phosphate measurement
            </h4>
            <ul>
                <li>
                    <b>Organic Partition Method</b><br>
                    Reference: King, Otter &amp; Witmen 1986 Meth. Enzymol. 134C pp291.<br>
                    <br>
                    Stop Mix:<br>
                    A. Isobutanol - Benzene 1:1 mixture<br>
                    B. Silicotungstic - sulfuric acid. 10&nbsp;mM Sulfuric acid + 20&nbsp;mM Silicotungstic acid (Fisher #A-289).<br>
                    C. 5% Ammonium Molybdate in 4N Sulfuric acid (desolve molybdate in water before add sulfuric acid to desired concentration)<br>
                    <br>
                    For 100 µl reaction, stop by 250 µl A and 50&nbsp;µl B, immediately vortex 2 seconds. Immediately add 40&nbsp;µl C and vortex again for 10 seconds. Let the sample stand to separate the two phases. The phospho-molybdate complex will be extracted quantitatively into the upper organic layer, while ATP or ADP will remain in the lower aqueous phase. Remove fraction of upper phase and count.
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>
                    <b>Charcoal Method</b><br>
                    At the end of reaction add 50&nbsp;µl of acid stop (B from organic partition method can be used) and 100&nbsp;µl charcoal suspension (100&nbsp;mg/ml) to reaction mix. Let stand on ice for 10&nbsp;min and add 100&nbsp;µl 5&nbsp;mg/ml BSA. Pellet the charcoal in microfuge (10&nbsp;sec at max speed). All the nucleotides and nucleosides will absorbed by charcoal and supernatant containing γ-<sup>32</sup>-phosphate can be aliquoted to determin the radioactivity.
                </li>
            </ul>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>

            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h3>
                Materials
            </h3>
            <ul>
                <li>
                    <u>Myosin</u><br>
                    <ul>
                        <li>Myosin kept in storage buffer at 4°C (see myosin purification) should be used within 2 weeks. For longer storage, add glycerol to 50%. In 100&nbsp;µl reaction, 3-5&nbsp;µg is usually enough to give good signal but is is always a good idae to try several concentration. Watch out for the final KCl concentration in reaction mix contributed by myosin storage buffer (0.25-0.5&nbsp;M&nbsp;KCl). In actin activated ATPase assay, [KCl]&gt;50&nbsp;mM will decrease activity significantly.
                        </li>
                    </ul>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>
                    <u>Reaction buffer</u><br>
                    <ul>
                        <li>
                            <u>Calcium ATPase</u><br>
                            <ul>
                                <li>0.5 M KCl, 20 mM Tris-Cl pH 8.0, 1 mM EGTA (-Ca mix)
                                </li>
                                <li>0.5 M KCl, 20 mM Tris-Cl pH 8.0, 10 mM CaCl<sub>2</sub> (+Ca mix)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <u>Actin activated ATPase</u><br>
                            <ul>
                                <li>10 mM Tris-Cl pH 7.6, 5 mM MgCl<sub>2</sub>, 0.1 mM CaCl<sub>2</sub>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>
                    <u>Actin</u><br>
                    <ul>
                        <li>Lyophilized G-actin (~10&nbsp;mg/aliquot) is dissolved in 0.5&nbsp;ml buffer A(see actin purification) and clarified at 75K rpm in TL100 for 15&nbsp;min. The final [actin] is ~8&nbsp;mg/ml. Polymerize the G-actin by making [KCl]=50&nbsp;mM, [MgCl<sub>2</sub>]=1&nbsp;mM, [ATP]=1&nbsp;mM. The F-actin is good for 1 week when kept at 4°C. For standard assay, final [actin] is 4-10&nbsp;µM. (1&nbsp;µM = 45 µg/ml, assuming MW = 45,000.)
                        </li>
                    </ul>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>
                    <u>ATP</u><br>
                    <ul>
                        <li>For standard reaction, make 100mM stock solution from grade I reagent. It can be kept in -20°C for a few month. Before reaction, add γ-<sup>32</sup>P-ATP to ~100K cpm/µl. Final ATP concentration is 1&nbsp;mM. When studying the effect of ATP concentration, you will need to make different stock solutions to maintain the dilution factor at 1/100.
                        </li>
                    </ul>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
            </ul><!--    GH 2/95-->
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    <br>

        </div> <!-- col-sm-8 -->
        <div class="col-sm-2 col-xs-1"></div>
    </div>
</div>
