<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <h2>
            Dictyostelium cell staining for tubulin
        </h2>
        <h6>
            Harwood lab Protocol, modified from L. Cramer's group, contributed by Emma Dalton, October 2005
            <!-- Download <a ng-href="#/research/techniques/word_docs/tubulin_staining.doc">word file</a>. -->
        </h6>
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>
        <div class="col-sm-6 col-xs-10">

            <div class="note">
                <b>Note</b>: Do not store slides or let them dry out. <b>Complete the protocol!!</b> Takes approx. 3 hours. <a name="proc" id="proc"></a>
            </div>

            <h3>
                Procedure
            </h3>
            <ol>
                                <hr>
                <h4>
                    Preparation
                </h4>
    
                <li>Grow Dicty in <a ng-href="#/research/techniques/media/media.html#HL-5">HL5</a> and count 5 x 10<sup>7</sup> cells, spin down @2000&nbsp;rpm 2&nbsp;min.
                </li>

                <li>Discard medium and resuspend in KK2 and spin again to wash the cells (Repeat this).
                </li>

                <li>Finally, resuspend the dicty in a total of 500&nbsp;µl&nbsp;<a ng-href="#/research/techniques/media/media.html#KK2">KK2</a> and spread onto a <a href="/techniques/media/media.html#KK2">KK2/agar</a> plate.
                </li>

                <li>Allow the dicty to settle and absorb some of the excess KK2&nbsp;from the plate using a tissue - so the plate is still moist (not totally dry or they will not develop!).
                </li>

                <li>Place at 22°C and leave for desired length of time for development to occur. If the time point required is more than possible in a day then plates can be left overnight in the 12°C incubator.
                </li>

                <li>Remove plate(s) and place at 22°C (if previously kept at 12°C) and check development. When correct stage is visible, add 500&nbsp;µl KK2 and gently scrape the cells off into an eppendorf. Add a further 500&nbsp;µl&nbsp;KK2 and thoroughly dissociate the cells by gently pipetting up and down.
                </li>

                <hr>
                    <h4>
                        Slides
                    </h4>
                
                <li>Take 10&nbsp;µl of the cell suspension and place on a well of a poly-l-lysine coated slide (8 multiwell type). Leave for 10 min for the Dicty to adhere.

                    <div class="note">
                        <b>Note:</b> Spare cells in the eppendorf can be spun down and snap frozen for later experiments.
                    </div>
                    
                </li>

                <li>After the 10 minutes, place the slide in -20°C methanol for 4&nbsp;min to fix.
                </li>

                <li>Rinse with PBS 2-3 times.<br>
                    <div class="note">
                        <b>Note:</b> Sloshing the slides about during the wash process may cause the cells to come off so handling must be gentle.
                    </div>
                </li>

                <li>Draw around each well using the PAP pen (wax mix) to prevent over-spill between wells, 50&nbsp;µl per coverslip or 30&nbsp;µl per well of a slide.
                </li>

                <li>Permeabilise with PBS/0.5% Triton-X100 for 10 minutes at room temperature.
                </li>

                <li>Wash with PBS/0.1% Triton X-100 (500&nbsp;µl triton X per 500&nbsp;ml PBS) 3 times for 1-3 min (discard the wash each time).
                </li>

                <li>Block with Antibody Dilution Solution (0.1% Triton, 0.1% Azide, 2% BSA in PBS) 10-15 min at room temperature, 50&nbsp;µl per coverslip or 30&nbsp;µl per well of a slide.
                </li>

                <li>Aspirate off and repeat.
                </li>

                <hr>
                    <h4>
                        Staining
                    </h4>

                    <div class="note">
                        <b>Note:</b> It is preferable to keep the slides in the dark to prevent bleaching of the FITC or TRITC.
                    </div>

                </li>
                <li>Take a slide and carefully dry around the wells on the slides and add the first layer antibody to the appropriate wells: 10&nbsp;µl of 1:400 DM1α in antibody dilution solution (or in just antibody dilution solution for blank wells). Place the slides in a sealed, humidified container and place at room temperature for 45&nbsp;min.

                    <div class="note">
                        <b>Note:</b> Anymore than 10&nbsp;µl will break the meniscus formed and wells may run into one another. Alternatively for single staining you can use 1:400 conjugated DM1α-FITC for 1 hr at RT then wash and mount as usual.
                    </div>
                    
                </li>

                <li>After this, carefully wash the slides in PBS/0.1% Triton X-100 5 times for 2-3 min (discard the wash each time).
                </li>

                <li>Take a slide again, carefully dry around the wells on the slides and add the second layer antibody to the appropriate wells: 10&nbsp;µl of 1:1000 Goat anti Mouse FITC in antibody dilution solution (or just antibody dilution solution for blank wells). Place the slides in a sealed, humidified container and place at room temperature for 30&nbsp;min.

                    <div class="note">
                        <b>Note:</b> Alternatively for double staining you can use 1:200 conjugated anti-phalloidin-TRITC for 30&nbsp;min at RT then wash and mount as usual. However, phalloidin staining is not so good with this type of fixation. Phalloidin staining works best with formaldehyde fixation (it seems to reduce the background). <!--SEE PHALLOIDIN PROTOCOL-->
                    </div>
                    
                </li>

                <li>Aspirate off and repeat second layer antibody if not using a conjugated one.
                </li>

                <hr>
                    <h4>
                        Mounting
                    </h4>
                
                <li>After this, carefully wash the slides in PBS/0.1% Triton X-100 5 times for 2-3 min (discard the wash each time).
                </li>

                <li>After washing, carefully dip the slides in cold 70% ethanol to dehydrate the slides (1-2&nbsp;min).
                </li>

                <li>Then carefully dip the slides in cold 100%&nbsp;ethanol to completely dehydrate the slides (1-2&nbsp;min).
                </li>

                <li>Allow the slides to air-dry for approximately 5 min. Dry off any excess around the wells on the slides if necessary.
                </li>

                <li>Add 2x 20&nbsp;µl Mowiol mountant in between the wells <!--(for recipe see back of protocols file)--> or vectashield. Carefully place a long coverslip on top without trapping air bubbles. Allow to set for 1 hour.
                </li>

                <li>Seal the slide by painting nail varnish around the edge of the cover slip. Place the slides at 4°C until ready for viewing on the fluorescence microscope using x63 oil immersion objective. Remember to warm them up to temperature before viewing!

                    <div class="note">
                        <b>Note:</b> It is worth keeping the slides covered to prevent bleaching from light before viewing while coming to temperature.
                    </div>
                    
                </li>

            </ol>
            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h3>
                Materials
            </h3>
            <ul>
                <li style="list-style: none">
                    <a name="Mowiol" id="Mowiol"></a>
                </li>
                <li>
                    <u>Mowiol Mountant</u>
                    <ul>
                        <li>2.4 g Mowiol® 4-88 (Calbiochem cat. no. 475904) + 6 g glycerol stir briefly to mix.
                        </li>
                        <li>Add 6 ml ddH<sub>2</sub>0 and leave for several hours stirring at room temperature (or overnight).
                        </li>
                        <li>Add 12 ml 0.2 M Tris pH 8.5.
                        </li>
                        <li>Heat to 50°C for 10 minutes with occasional swirling.
                        </li>
                        <li>Add 2.5% DABCO (w/v) (Sigma D2522).
                        </li>
                    </ul>
                </li>
            </ul>
            <p>
                <br>
                Aliquot in eppendorfs and store at -20°C.<br>
                Warm before use.<br>
                <br>
                <br>
                ECD 08/02
            </p>
                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
                <br>

        </div> <!-- col-sm-8 -->
        <div class="col-sm-3 col-xs-1"></div>
    </div>
</div>