<!-- Template for the front-papersall directive -->
<link rel="stylesheet" href="scripts/frontPapers/frontPapers.css">

<script>
	$(".dropdown-menu li a").click(function(){
	  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
	  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
	});
</script>

<!-- Papers header -->
<div class="jumbotron">
	<h1><span class="glyphicon glyphicon-paperclip"></span> {{papersHeaderAll}}</h1>
	<br>
	<h4>Papers on <em>Dictyostelium</em> in the last 5 years </h4>
</div>

<div class="container">

	<div class="papersMain full">

		<!-- Search and items boxes -->
		<div class="row">
			<div class="col-sm-4 col-xs-1"></div>

			<div class="col-sm-4 col-xs-10" >
			  <input ng-model="query" id="search" class="form-control" placeholder="Filter by exact matches" >
			</div>

			<div class="col-sm-4 col-xs-1"></div>
		</div>

		<br>
		
		<div class="row">
				<div class="col-sm-2 col-xs-1"></div>
				<div class="col-sm-8 col-xs-10">
				
					<div class="dropdown" align="center">
						Showing
						<span class="bewithme">
							<select class="form-control input-sm" id="dropdownMenu1"  ng-model="pageSize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" placeholder=".input-sm">
								 Dropdown
				    			<span class="caret"></span>
								<!-- <option disabled="true" >Items per page</option> -->
								<option>5</option>
								<option>10</option>
								<option>20</option>
								<option>50</option>
							</select>
						</span>
						papers per page 
						(out of 
						<strong> 
							<span id="size16" class="blueDicty">{{(papersAll|filter:query).length}}</span>
						</strong> 
						)
					</div>
				

				</div> <!-- column -->
				<div class="col-sm-2 col-xs-1"></div>
		</div>

		<!-- Pagination controls -->
		<div class="row">
		    <div ng-controller="BarControllerPapers">
		      <div class="text-center">
		      	<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" max-size="maxSize" template-url="scripts/frontPapers/dirPagination.tpl.html"></dir-pagination-controls>
		      </div>
			</div>
		</div>

		<!-- Individual boxes of papers -->
		<div class="row papersBox full" dir-paginate="apaper in papersAll | filter:query | itemsPerPage: pageSize" current-page="currentPage">

			<div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
				<hr>
				<div class="papersAuthors all">{{apaper.Description}}</div> 
				<div class="papersTitle all">{{apaper.Title}} </div>
				<div class="papersJournal all">{{apaper.Details}} <span class="papersLink"> <a href="http://www.ncbi.nlm.nih.gov{{apaper.URL}}" target="_blank" >Pubmed</a></span></div>
				
			</div>
			<div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>

		</div> 

		<br>

		<!-- Pagination controls -->
		<div class="row">
		    <div ng-controller="BarControllerPapers" class="other-controller">
		      <div class="text-center">
		      	<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber); moveUp()" max-size="maxSize" template-url="scripts/frontPapers/dirPagination.tpl.html"></dir-pagination-controls>
		      </div>
			</div>
		</div>
	</div> <!-- row -->
</div>
