/* FRONT PAPERS DIRECTIVE STYLE CSS*/

.papersMain {
	text-align: left;
	padding: 5px 0px 10px 0px;
}

.papersMain.full {
	min-height: 600px;
}

.jumbotron {
	background-color: #E0F2F7;
	padding-right: 0px;
	padding-left: 0px;
}

.filterSearch{
	text-align: right;
}

.filterBox {
	text-align: left;
	padding-bottom: 0px;
}

.all {
	font-size: 16px;
}

.papersHeader{
	color:#086A87;
	font-size: 18px;
	padding: 0px 0px 8px 0px;
	text-align: center;
}

.papersBox{
	padding: 0px 20px 10px 25px;
	font-size: 12px;
}

@media(max-width:992px) and (min-width:767px) {
	.papersBox {
		font-size: 10px;
	}
}

@media(max-width:767px) {
	.papersBox {
		font-size: 16px;
	}
	.papersHeader{
		font-size: 24px;
	}
}

.papersBox.full{
	padding: 0px 0px 0px 0px;
}

.papersAuthors {
	color:#0B3861;
	padding-right: 10px;
}

.papersTitle{
	color: black;
	font-style: italic;
	font-weight: bold;
	padding-right: 10px;
}

.papersJournal {
	color: grey;
}

.papersLink {
	font-size: 12px;
}

.pagination {
	text-align: center;
}

.pagCurrentPage {
	font-size: 10px;
	color: grey;
	padding: 0px 10px 0px 10px;
}

.papersMore {
	color: #086A87;

	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	padding: 5px 0px 10px 0px;
}