/* FRONT PAPERS DIRECTIVE STYLE CSS*/

.papersMain {
	text-align: left;
	padding: 10px 0px 10px 0px;
}

.papersMain.full {
	min-height: 600px;
}

.jumbotron {
	background-color: #FAFAFA;
	padding-right: 0px;
	padding-left: 0px;
}

.filterSearch{
	text-align: right;
}

.filterBox {
	text-align: left;
	padding-bottom: 30px;
}

.all {
	font-size: 16px;
}

.papersHeader{
	color:#086A87;
	font-size: 18px;
	padding: 15px 0px 10px 10px;
}

.papersBox{
	padding: 0px 25px 10px 35px;
	font-size: 12px;
}

.papersBox.full{
	padding: 0px 0px 0px 0px;
}

.papersAuthors {
	color:#0B3861;
	padding-right: 10px;
}

.papersTitle{
	color: black;
	font-style: italic;
	font-weight: bold;
	padding-right: 10px;
}

.papersJournal {
	color: #086A87;
}

.papersMore {
	color: #086A87;

	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	padding: 5px 0px 10px 0px;
}