<!-- Template for the front-papersall directive -->
<link rel="stylesheet" href="scripts/frontPapers/frontPapers.css">

<div class="row papersMain full">

	<div id="scrollArea" ng-controller="ScrollUpController">
		<a id="goup"></a>
	
		<!-- Papers header -->
		<div class="jumbotron">
			<h1><span class="glyphicon glyphicon-paperclip"></span> {{papersHeaderAll}}</h1>
		</div>

		<!-- Search / Filter box -->
		<div class="row">
			<div class="col-sm-3 col-xs-1"></div>
			<div class="col-sm-6 col-xs-10 filterBox">
				<input ng-model="q" id="search" class="form-control" reset-field type="text" placeholder="Filter by anything">
			</div>
			<div class="col-sm-3 col-xs-1"></div>
		</div>


		<div class="col-xs-12 pagination">

		    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" type="button" class="btn btn-success btn-sm"> Previous </button>
		    	<span class="pagCurrentPage"> {{ currentPage+1 }}/{{ numberOfPages() }} </span>
		    <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1" type="button" class="btn btn-success btn-sm">
		        Next
		    </button>

		</div>
		<!-- Individual boxes of papers -->
		<div class="row papersBox full" ng-repeat="apaper in papersAll | orderBy:'-addedOn'| filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">

			<div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"></div>
			<div class="col-lg-6 col-md-8 col-sm-8 col-xs-10">
				<div class="papersAuthors all">{{apaper.authors}}</div> 
				<div class="papersTitle all">{{apaper.title}} </div>
				<div class="papersJournal all">{{apaper.Details}} <span class="papersLink"> <a href="http://www.ncbi.nlm.nih.gov{{apaper.URL}}" target="_blank" >Pubmed</a></span></div>
				<hr>
			</div>
			<div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"></div>

		</div> 

	 	<!-- Button box -->
	 	<div class="col-xs-12 pagination">
		    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1; gotoTop()" type="button" class="btn btn-success btn-sm"> Previous </button>
		    	<span class="pagCurrentPage"> {{ currentPage+1 }}/{{ numberOfPages() }} </span>
		    <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1; gotoTop()" type="button" class="btn btn-success btn-sm">
		        Next
		    </button>
	 	</div>

	</div> <!-- end the scrolling area -->

</div>


