
<div class="viewHouse">
    <div class="container" ng-controller="AnchorController">

        <div class="jumbotron research">
            <div class="row" align="center">
                <div class="techSubHeader"><h3>Community</h3></div>
                <p>
                    <span class="size40"> <a href="#/community/history"><img src="images/logoHistoryDictySmall.png" class="up"></a> History </span> 
                </p>
                <h1>My life with Dicty</h1>
                <img src="images/dictyBillLoomis.png" alt="Bill Loomis">
                <h3><strong>Bill Loomis</strong></h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
            <div class="col-md-8 col-sm-8 col-xs-10">
            <!-- bootstrap columns main body start-->

                
                <p>
                    <hr>
                    <b>Bill Loomis</b> has written about his interactions with <i>Dictyostelium</i> and those who have worked with it over the last 50 years. The stories are presented chronologically <strong>from 1965 to 2015</strong>. They are not meant to build a comprehensive history of the field, but only to pass on some interesting connections and personal reminiscences. <br><br>

                    <p align="center"><a target="_self" class="btn btn-success btn-md" href="views/community/history/files/" download="Bill_Loomis-My_life_with_DictyV3.1.pdf" role="button">Download</a></p>
                    <hr>

                    <br>
                    Michel Veron wrote: <i></i><br>
                    <blockquote><em>The style is alive, alert, personal and full of significant anecdotes.</em></blockquote>

                    John Bonner wrote:
                    <blockquote><i>I knew so many of the characters; it was really interesting to learn what was their contribution and how they interacted.</i></blockquote>

                </p>

            <div align="center">
                <a href="#/community/history" class="label label-info">Back to History</a>
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br><br>


            <!-- bootstrap columns main body end-->
            </div> <!-- End of col-md- col-sm-, i.e., the central column -->
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- viewHouse -->
        