<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Harry_ListServ</title>
    </head>
    <body>
    
    <h1>
            ListServ messages in response Harry's sudden Departure 
        </h1>
     
     <br><br>
         <b>September 1, 2011</b><br><br>
         
         Dear colleagues,<br>
It is with profound sadness that we inform the Dictyostelium community of the passing of our dear friend and colleague Harry MacWilliams. Harry had been unwell the past few months. He was showing signs of recovery and decided to return to work. Harry collapsed in his office on Monday August 29, 2011 and did not regain consciousness. At this time, we do not have additional information concerning his sudden departure.<br><br>
 
Harry will be greatly missed.
 <br><br>
Kind regards,
Adrian, Adriano Ceccarelli, Claire Bonfils, Kimchi Strasser and Pascale Gaudet
 <hr>
 
 <b>September 1, 2011</b><br><br>
 
 This is very sad, he was an outstanding scientist and a kind teacher to many of us.
<br><br>
Richard Gomer
     <hr>
     
  <b>September 1, 2011</b><br><br>  
  
  Yes, exactly.<br>
The picture is mountain climbing during Denver meeting.
He was quiet but tough.
<br><br> 
- Hideko Urushihara  
<hr>

 <b>September 1, 2011</b><br><br> 

This is sad news indeed. Harry was such a kind, generous and sharing person and an amazingly creative scientist!! I know we will all feel his absence profoundly.
<br><br>
Daphne   

<hr>

 <b>September 1, 2011</b><br><br> 
What sad news. Harry was a good friend and 
outstanding scientist. He will be missed by many.
<br><br>
Bill         
         
<hr>

 <b>September 1, 2011</b><br><br> 
 
 I've known Harry for about 30 years, and it was always a great pleasure to talk science with him.  I think he came into Dicty to try and solve the problem of 'morphogenetic fields' - as did many of us at that time - and his understanding of the  theory (reaction-diiffusion processes for instance) and clear thinking was unrivalled.  Later, he produced the invaluable unstable gal vectors for which he provided the most comprehensive imaginable plasmid maps.
He had an interesting basso profondo singing voice when the mood took him.
I shall miss him - all sympathy to his family.<br><br> 

Rob Kay
 
 <hr>

 <b>September 1, 2011</b><br><br>
 
 Harry was a rare person; always open to discussion, courteous and with very little ego. I think we all felt him to be a friend. I join with everyone in bidding him farewell. 
<br><br>
Julian
 
  <hr>

 <b>September 1, 2011</b><br><br>
 
 Very sad news indeed.<br>
May his soul rest in peace!
<br><br>
Yuzuru Kubohara

<hr>

 <b>September 1, 2011</b><br><br>
 
 I too am shocked and saddened by the news about Harry. He was a very talented, very generous and very respected friend and colleague who I will greatly miss seeing at the Dicty meetings.
<br><br>
Paul

<hr>

 <b>September 2, 2011</b><br><br>
 
 I share in the deep sadness of the entire community. Harry was always stimulating, both as a  scientist and as a friend.  His work was invariably elegant and original. At a personal level I  will always treasure the memory of those happy times when he shared his American folk songs with us. 
<br><br>
I will miss him greatly
<br><br>
Jeff

<hr>

 <b>September 2, 2011</b><br><br>
 
 This comes as a shock. Harry and I got to know each other when we were
post-docs. He used to work with Hydra then and was designing experiments
to test the Gierer-Meinhardt model for spatial patterning. He was always
helpful in giving advice and passing on strains and plasmids. His skill in
plasmid design and much else led to a joint paper. The last news from him,
a couple of months ago, was that he was unwell yet again. But I never
imagined it could be this serious.
<br><br>
Vidya

   <hr>

 <b>September 6, 2011</b><br><br>
 
 Having just returned from a weeks sailing up the BC coast (w/o 
email), my euphoria was rapidly brought back to earth by the sad news 
of Harry's death.  I too have known Harry for over 30 years and 
benefited enormously from many stimulating discussions, particularly 
on the role of the cell cycle in cell type determination.  He will be 
greatly missed by all of us, and even more so by his close 
collaborators.  My condolences to them and to his family.
<br><br>
Gerry Weeks
<hr>
      
        <!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
