
<div class="viewHouse">
    <div class="container" ng-controller="AnchorController">

        <div class="jumbotron research">
            <div class="row" align="center">
                <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/community">Community</a> </h4></div>
                <h1>History</h1>
                <img src="images/logoHistoryDicty.png">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
            <!-- bootstrap columns main body start-->

                <br>
                <h4>History Pages</h4>
                <hr>

                <br>

                <h4>
                    <ul>
                        <li><a href="#/community/history/Bill_Loomis.html"><b>Bill Loomis: My life with Dicty (2015)</b></a></li><br>
                        <li><a href="#/community/history/Harry.html"><b>Harry Remembrance (2011)</b></a></li><br>
                        <li><a href="#/community/history/japan_relief.html"><b>Japan Relief (2011)</b></a></li><br>
                        <li><a href="#/dsc/history"><b>Dicty Stock Center History (&#126; 2000)</b></a></li>
                    </ul>
                </h4>

                <br>
                <hr>
                <small>If you would like to contribute and discuss the <em>History</em> page, send an email to <a href="mailto:dictybase@northwestern.edu">dictyBase</a>.</small>
                
                <br>
                <br>
                <br>
            <div align="center">
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br><br>


            <!-- bootstrap columns main body end-->
            </div> <!-- End of col-lg-4 col-md- col-sm-, i.e., the central column -->
            <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- viewHouse -->
        