
<div class="viewHouse">
    <div class="container" ng-controller="AnchorController">

        <div class="jumbotron research">
            <div class="row" align="center">
                <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="/community">Community</a> </h4></div>
                    <p>
                        <span class="size40"> <a href="/community/history"><img src="images/logoHistoryDictySmall.png" class="up"></a> History </span> 
                    </p>
                    <h1>Japanese Relief Effort</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
            <div class="col-md-8 col-sm-8 col-xs-10">
                <!-- bootstrap columns main body start-->
                <hr>
                <p>
                  This page provides a list for offers to help as well as needs after the earthquake, tsunami, 
                  and nuclear catastrophe in Japan. Please email your requests or offers to <a href="mailto:dictybase@northwestern.edu">dictyBase</a>.
                </p>
                <hr>

                <h3>Offers</h3>

                 <!-- Offers go here -->
                 <br>
                 <h4>Joan Strassmann and Dave Queller</h4>
                 We would be happy to help however we can. We have space in freezers and labs for now, 
                 but are moving to St. Louis in June. After we get there, we again will have space. 
                 [<a href="mailto:strassm@rice.edu">email</a> | <a href="http://www.ruf.rice.edu/~evolve/" target="New">lab page</a>]
                 <br><br>
                 <h4>Ludwig Eichinger</h4>
                 We can offer lab space for at least two Japanese colleagues, freezer space, and more.
                 [<a href="mailto:ludwig.eichinger@uni-koeln.de">email</a> | <a href="http://www.uni-koeln.de/med-fak/biochemie/transcriptomics/" target="New">lab page</a>]
                 <br><br>
                 <h4>Richard Gomer</h4>
                 I can offer lab space; we have a wide variety of equipment and BL1 and BL2 culture rooms. 
                 [<a href="mailto:rgomer@bio.tamu.edu">email</a> | <a href="http://www-bioc.rice.edu/~richard/rhg.html/" target="New">lab page</a>]
                 <br><br>
                 <h4>Stefan Pukatzki</h4>
                 We can offer lab space for a Japanese colleague. 
                 [<a href="mailto:spukatzki@ualberta.ca">email</a> | <a href="http://www.ualberta.ca/~pukatzki/labpage/Welcome.html" target="New">lab page</a>]
                 <br><br>
                 <h4>Gad Shaulsky</h4>
                 My lab is open to help with storage or space for research.
                 [<a href="mailto:gadi@bcm.edu">email</a> | <a href="http://www.bcm.edu/db/db_fac-shaulsky.html" target="New">lab page</a>]
                 <br><br>
                 <h4>David Ratner</h4>
                 We have freezer and BSL-1 lab space available, if either would be of assistance.  
                 I'd be pleased to learn of other ways I might help.                                      
                 [<a href="mailto:diratner@amherst.edu">email</a> | <a href="https://www.amherst.edu/people/facstaff/diratner" target="New">lab page</a>]
                 <br><br>
                 <h4>Adrian Harwood</h4>
                 We have storage and lab space for research, and would be happy to help if possible.            
                 [<a href="mailto:harwoodaj@cardiff.ac.uk">email</a> | <a href="http://www.cardiff.ac.uk/biosi/contactsandpeople/stafflist/e-h/harwood-adrianprof-overview_new.html" target="New">lab page</a>]
                 <br><br>
                 <h4>Adam Kuspa</h4>
                 Our Japanese colleagues should let us know if their supply lines for lab reagents have become disrupted, causing long delays for shipments to them.  We may be able to directly mail supplies to them (Peptone, blasticidin, etc.) . Couriers like FedEx may be able to deliver where scientific distributors have suspended operations. 
                 [<a href="mailto:akuspa@bcm.edu">email</a> | <a href="http://www.bcm.edu/db/db_fac-kuspa.html" target="New">lab page</a>]
                 <br><br>
                 <h4>Miho Iijima</h4>
                 Thank you for helping people in Japan. We have some space and equipments for two scientists, and would be happy to send necessary resources there.
                 [<a href="mailto:miijima@jhmi.edu">email</a>]

            <br><br>
            <div align="center">
                <a href="/community/history" class="label label-info">Back to History</a>
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br><br>


            <!-- bootstrap columns main body end-->
            </div> <!-- End of col-md- col-sm-, i.e., the central column -->
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- viewHouse -->

