/*STYLES FOR THE <definition-bar> directive*/

.definitionBox {
  margin-top: 5px;
}

.definitionLink {
  text-align: right;
  
  font-size: 12px;
  font-style: italic;
  /*font-weight: bold;*/

  /*background-color: #EFF8FB;*/
  background-color: #F2F2F2;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
  margin-bottom: 5px;

}


.definitionFront {
  text-align: left;
  
  font-size: 16px;
  font-style: italic;
  font-weight: bold;

  /*background-color: #EFF8FB;*/
  background-color: #CEECF5;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;

}

@media(max-width:767px){

  .definitionFront {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
    font-size: 12px;
  }

}
  