<div class="viewHouse">

	<div class="jumbotron research">
	  <h1> Community </h1>
	  <h4><strong>All about Dicty people</strong></h4>
	</div>

	<div class="container">

		
		<!-- Listserv -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/community/listserv" class="btn btn-success btn-lg btn-block" role="button">Dicty E-mail Forum</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>

		<!-- Conferences -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/community/conference" class="btn btn-success btn-lg btn-block" role="button">Dicty Conferences</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>

		<!-- labs -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/community/labs" class="btn btn-success btn-lg btn-block" role="button">Dicty Labs</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>

		<!-- Jobs -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/community/jobs" class="btn btn-success btn-lg btn-block" role="button">Jobs</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>

		<!-- History -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/community/history" class="btn btn-success btn-lg btn-block" role="button">History</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>

		<!-- Meetings -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/community/meetings" class="btn btn-success btn-lg btn-block" role="button">Upcoming Meetings</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>


	</div> <!-- container -->

</div>