
<div class="viewHouse">
    <div class="container" ng-controller="AnchorController">

        <div class="jumbotron research">
            <div class="row" align="center">
                <div class="techSubHeader"><h3>Community</h3></div>
                <img src="images/logoLabs.png">
                <h1>Dicty Labs</h1>
                <h4><i>on the Web</i></h4>

                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-sm-0 col-xs-1"></div>
            <div class="col-md-8 col-sm-12 col-xs-10">
            <!-- bootstrap columns main body start-->
            <hr>
                <p align="center">
                    <a href="" ng-click="scrollTo('A')">A</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('B')">B</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('C')">C</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('D')">D</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('E')">E</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('F')">F</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('G')">G</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('H')">H</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('I')">I</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('J')">J</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('K')">K</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('L')">L</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('M')">M</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('N')">N</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('O')">O</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('P')">P</a>&nbsp;&nbsp;&nbsp;Q&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('R')">R</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('S')">S</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('T')">T</a>&nbsp;&nbsp;&nbsp;U&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('V')">V</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-click="scrollTo('W')">W</a>&nbsp;&nbsp;&nbsp;X&nbsp;&nbsp;&nbsp;Y&nbsp;&nbsp;&nbsp;Z
                </p>
                <hr>
            <!-- bootstrap columns main body end-->
            </div> <!-- End of col-md-3 col-sm-2, i.e., the central column -->
            <div class="col-md-2 col-sm-0 col-xs-1"></div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">
            <!-- bootstrap columns main body start-->

                <h4>
                    <p>
                        <a name="A" id="A"></a>
                    </p>
                    <p>
                         <a target="new" href="http://www.biology.missouri.edu/people/person.lasso?-Search=Action&-Table=Faculty_Research&-Database=Tracking&-KeyValue=68">Alexander Lab, University of Missouri</a><br>
                         <i>Stephen Alexander,  Columbia, USA</i>
                    </p>

                    <p>
                        <a name="B" id="B"></a>
                    </p>
                    
                    <p>
                        <a target="new" href="http://www.latrobe.edu.au/microbiology/research/specialisations/mitochondrial-genetics">Barth Lab, La Trobe University</a><br>
                        <i>Christian Barth, Bundoora, Victoria, Australia</i>
                    </p>
                    
                    <p>
                        <a target="new" href="http://www.biotech.iitm.ac.in/RBaskar">Baskar Lab, Indian Institute of Technology (IIT) - Madras</a><br>
                        <i>Ramamurthy Baskar, Chennai, India</i>
                    </p>
                    
                    
                    <p>
                        <a target="new" href="http://chem.iupui.edu/Faculty/Blacklock/">Blacklock Lab, Indiana University-Purdue University Indianapolis</a><br>
                        <i>Brenda Blacklock, Indianapolis, Indiana, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.personalweb.unito.it/salvatore.bozzaro/">Bozzaro Lab, University of Turin</a><br>
                        <i>Salvo Bozzaro, Turin, Italy</i>
                    </p>

                     <p>
                        <a target="new" href="http://sonhouse.hunter.cuny.edu/facultyDetailsDisplay.asp?id=5">Brazill Lab, Hunter College</a><br>
                        <i>Derrick Brazill, New York, New York, USA</i>
                    </p>

                    <p>
                        <a name="C" id="C"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www.thecharestlab.org/">Charest Lab, University of Arizona</a><br>
                        <i>Pascale Charest, Tucson, Arizona, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.amibe.org/">Charette Lab, Université Laval</a><br>
                        <i>Steve Charette, Quebéc, Canada</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.chisholm.northwestern.edu/">Chisholm Lab, Northwestern University</a><br>
                        <i>Rex Chisholm, Chicago, Illinois, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.lifesci.dundee.ac.uk/groups/jonathan_chubb/">Chubb Lab, University of Dundee</a><br>
                        <i>Jonathan Chubb, Dundee, Scotland</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.mc.vanderbilt.edu/root/vumc.php?site=pharmacology&doc=3430&facultyid=1079">Chung Lab, Vanderbilt University</a><br>
                        <i>Chang Chung, Nashville, Tennessee, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://mcbi.ouhsc.edu/clarke/">Clarke Lab, Oklahoma Medical Research Foundation</a><br>
                        <i>Margaret Clarke, Oklahoma City, Oklahoma, USA</i>
                    </p> 
                    <p>
                        <a target="new" href="http://www.medecine.unige.ch/recherche/groupes/b_donnees/sujet_140_4.html">Cosson Lab, University of Geneva</a><br>
                        <i>Pierre Cosson, Geneva, Switzerland</i>
                    </p>     
                    <p>
                        <a target="new" href="http://web4.uwindsor.ca/units/biosci/BiologyFaculty.nsf/inTocNetscape/B2AE9D603F8076240525686B0054E901">Cotter Lab, University of Windsor</a><br>
                        <i>David Cotter, Windsor, Ontario, Canada</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.molbio.princeton.edu/index.php?option=content&task=view&id=206">Cox Lab, Princeton University</a><br>
                        <i>Edward Cox, Princeton, New Jersey, USA</i>
                    </p>
                    <p>
                        <a name="D" id="D"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www.iq.usp.br/wwwdocentes/almsilva/indexing.html">da Silva Lab, University of São Paulo</a><br>
                        <i>Aline da Silva, São Paulo, Brazil</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.cst.cmich.edu/users/damer1ck/index.html">Damer Lab, Vassar College</a><br>
                        <i>Cynthia Damer, Poughkeepsie, New York, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.biosci.utexas.edu/mcdb/delozanne.html">DeLozanne Lab, University of Texas at Austin</a><br>
                        <i>Arturo DeLozanne, Austin, Texas, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.hopkinsmedicine.org/cellbio/devreotes/">Devreotes Lab, Johns Hopkins University</a><br>
                        <i>Peter Devreotes, Baltimore, Maryland, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://sonhouse.hunter.cuny.edu/facultyDetailsDisplay.asp?id=8">Dottin Lab, Hunter College</a><br>
                        <i>Robert Dottin, New York, New York, USA</i>
                    </p>
                    <p>
                        <a name="E" id="E"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www.uni-koeln.de/med-fak/biochemie/transcriptomics/">Eichinger Lab, University of Cologne</a><br>
                        <i>Ludwig Eichinger, Cologne, Germany</i>
                    </p>
                    <p>
                        <a target="new" href="http://www2.iib.uam.es/rescalante_lab/Sitio_web/Escalante_Lab.html">Escalante Lab, Instituto de Investigaciones Biomedicas</a><br>
                        <i>Ricardo Escalante, Madrid, Spain</i>
                    </p>
                    <p>
                        <a name="F" id="F"></a>
                    </p>
                    <p>
                        <a target="new" href="http://glamdring.ucsd.edu/~firtel/">Firtel Lab, University of California at San Diego</a><br>
                        <i>Richard Firtel, San Diego, California, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://faculty-web.at.northwestern.edu/med/fukui/fukuifacweb.html">Fukui Lab, Northwestern University</a><br>
                        <i>Yoshio Fukui, Chicago, Illinois, USA</i>
                    </p>
                    <p>
                        <a name="G" id="G"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www.biochem.mpg.de/gerisch/">Gerisch Lab, Max Planck Institute of Biochemistry</a><br>
                        <i>Günther Gerisch, Martinsried, Germany</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.ciml.univ-mrs.fr/science/lab-pierre-golstein2/experts">Golstein Lab, Centre d'Immunologie de Marseille-Luminy</a><br>
                        <i>Pierre Golstein, Marseille-Luminy, France</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.bio.tamu.edu/FACMENU/FACULTY/GomerR.php">Gomer Lab, Texas A&M University</a><br>
                        <i>Richard Gomer, College Station, Texas, USA</i>
                    </p>
                    <p>
                        <a name="H" id="H"></a>
                    </p>
                    <p>
                        <a target="new" href="http://microgenetics.okstate.edu/~jhadwiger/">Hadwiger Lab, Oklahoma State University</a><br>
                        <i>Jeffrey Hadwiger, Stillwater, Oklahoma, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.cardiff.ac.uk/biosi/contactsandpeople/stafflist/e-h/harwood-adrianprof-overview_new.html">Harwood Lab, Cardiff University</a><br>
                        <i>Adrian Harwood, Cardiff, UK</i>
                    </p>
                    <p>
                        <a target="new" href="http://cosmos.bot.kyoto-u.ac.jp/csm/index.html">Kyoto Dictyostelium Group, Kyoto University</a><br>
                        <i>Kei Inouye, Kyoto, Japan</i>
                    </p>
                    <p>
                        <a name="I" id="I"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www.beatson.gla.ac.uk/Regulation-of-Cancer-Cell-Invasion/Robert-Insall-Cell-Migration-and-Chemotaxis.html">Insall Lab, Beatson Institute for Cancer Research</a><br>
                        <i>Robert Insall, Glasgow, UK</i>
                    </p>
                    <p>
                        <a name="J" id="J"></a>
                    </p>
                     <p>
                        <a target="new" href="http://www.vanderbilt.edu/janetopouloslab/">Janetopoulos Lab, Vanderbilt University</a><br>
                        <i>Chris Janetopoulos, Nashville, Tennessee, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www3.niaid.nih.gov/labs/aboutlabs/lig/chemotaxisSignalSection/">Jin Lab, National Institutes of Health</a><br>
                        <i>Tian Jin, Bethesda, Maryland, USA</i>
                    </p>
                    <p>
                        <a name="K" id="K"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www2.mrc-lmb.cam.ac.uk/groups/rrk/index.html">Kay Lab, MRC Laboratory of Molecular Biology</a><br>
                        <i>Rob Kay, Cambridge, UK</i>
                    </p>
                    <p>
                        <a target="new" href="http://cpmcnet.columbia.edu/dept/gsas/anatomy/Faculty/Kessin/index.html">Kessin Lab, Columbia University</a><br>
                        <i>Richard Kessin, New York, New York, USA</i>
                    </p>

                    <p>
                        <a target="new" href="http://www2.niddk.nih.gov/NIDDKLabs/IntramuralFaculty/KimmelAlan.htm">Kimmel Lab, National Institutes of Health</a><br>
                        <i>Alan Kimmel, Bethesda, Maryland, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://web.uconn.edu/mcbstaff/knecht/index.html">Knecht Lab, University of Connecticut</a><br>
                        <i>David Knecht, Storrs, Connecticut, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.jhu.edu/cmml/">Kuo Lab, Johns Hopkins University</a><br>
                        <i>Scot Kuo, Baltimore, Maryland, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.bcm.edu/db/db_fac-kuspa.html">Kuspa Lab, Baylor College of Medicine</a><br>
                        <i>Adam Kuspa, Houston, Texas, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://cosmos.bot.kyoto-u.ac.jp/csm/index.html">Kyoto Dictyostelium Group, Kyoto University</a><br>
                        <i>Kei Inouye, Kyoto, Japan</i>
                    </p>
                    <p>
                        <a name="L" id="L"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www.biology.ucsd.edu/labs/loomis/loomisweb.html">Loomis Lab, University of California at San Diego</a><br>
                        <i>William Loomis, San Diego, California, USA</i>
                    </p><!--
            <p><a target="new" href="http://www.zi.biologie.uni-muenchen.de/zoologie/dicty/dicty.html">WWW News Page of the Munich University Dicty Group</a>
                <br/>
                <i>???, Munich, Germany</i>
            </p>
            -->
                    <p>
                        <a name="M" id="M"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www.uni-kassel.de/fb10/institute/biologie/fachgebiete/zellbiologie/forschung.html">Maniak Lab, Kassel University</a><br>
                        <i>Markus Maniak, Kassel, Germany</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.mh-hannover.de/14323.html?&L=1">Manstein Lab, Hannover Medical School</a><br>
                        <i>Deitmar Manstein, Hannover, Germany</i>
                    </p>
                    <p>
                        <a target="new" href="http://fishfam.homeip.net:100/mcbg/">Microbial Cell Biology Group</a><br>
                        <i>Paul Fisher, Melbourne, Australia</i>
                    </p>
                     <p>
                        <a target="new" href="http://www.zellbio.anatomie.med.uni-muenchen.de/about_us/mueller_tau_research/index.html">Mueller-Taubenberger Lab, Ludwig Maximilians University</a><br>
                        <i>Annette Mueller-Taubenberger, Munich, Germany</i>
                    </p>  
                   <p>
                        <a target="new" href="http://www.biologie.fu-berlin.de/arbeitsgruppen/mikrobiologie/ag_mutzel/index.html">Mutzel Lab, Free University of Berlin</a><br>
                        <i>Rupert Mutzel, Berlin, Germany</i>
                    </p>
                    <p>
                        <a name="N" id="N"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www.mrdg.iisc.ernet.in/VNa.htm">Nanjundiah Lab, Indian Institute of Science</a><br>
                        <i>Vidyanand Nanjundiah, Bangalore, India</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.cinsat.uni-kassel.de/arbeitsgruppen/genetik/nellen.html">Nellen Lab, Kassel University</a><br>
                        <i>Wolfgang Nellen, Kassel, Germany</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.uni-koeln.de/med-fak/biochemie/biomed1/index.e.shtml">Noegel Lab, University of Cologne</a><br>
                        <i>Angelika Noegel, Cologne, Germany</i>
                    </p>
                    <p>
                        <a name="O" id="O"></a>
                    </p>
                    <p>
                        <a target="new" href="http://anakin.utm.utoronto.ca/~w3oday/">O'Day Lab, University of Toronto at Mississauga</a><br>
                        <i>Danton O'Day, Mississauga, Ontario, Canada</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.zo.utexas.edu/faculty/ohalloran/webpage/">O'Halloran Lab, University of Texas at Austin</a><br>
                        <i>Terry O'Halloran, Austin, Texas</i>
                    </p><!--
            <p><a target="new" href="http://www.bioch.ox.ac.uk/~pcnlab">Oxford Dictyostelium Group</a>
                <br/>
                <i>Julian Gross/Catherine Pears, Oxford, UK</i>
            </p>
            -->
                    <p>
                        <a name="P" id="P"></a>
                    </p>
                    <p>
                        <a target="new" href="http://ccr.cancer.gov/staff/staff.asp?profileid=5631">Parent Lab, NIH</a><br>
                        <i>Carole Parent, Bethesda, MD, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://home.inje.ac.kr/~biochemi/">Park Lab, Inje University</a><br>
                        <i>Young Shik Park, Kimhae, Korea</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.bioch.ox.ac.uk/aspsite/index.asp?pageid=595">Pears Lab, Oxford University</a><br>
                        <i>Catherine Pears, Oxford, UK</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.ualberta.ca/~mmi/faculty/spukatzki/spukatzki.html">Pukatzki Lab, University of Alberta, Edmonton</a><br>
                        <i>Stefan Pukatzki, Edmonton, Alberta, Canada</i>
                    </p>
                    <p>
                        <a name="R" id="R"></a>
                    </p>
                    <p>
                        <a target="new" href="https://www.amherst.edu/people/facstaff/diratner">Ratner Lab, Amherst College</a><br>
                        <i>David Ratner, Amherst, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.uni-koeln.de/med-fak/biochemie/staff/rivero/">Rivero Lab, University of Cologne</a><br>
                        <i>Francisco Rivero, Cologne, Germany</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.hopkinsmedicine.org/cellbio/robinson/index.html">Robinson Lab, Johns Hopkins University School of Medicine</a><br>
                        <i>Douglas Robinson, Baltimore, Maryland, USA</i>
                    </p>
                    <p>
                        <a name="S" id="S"></a>
                    </p>
                    <p>
                        <a target="new" href="http://cellbio.emory.edu/faculty_detail.cfm?id=113">Saxe Lab, Emory University</a><br>
                        <i>Karl Saxe, Atlanta, Georgia, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.lifesci.dundee.ac.uk/Graduate_CDB_Project_Schaap">Schaap Lab, University of Dundee</a><br>
                        <i>Pauline Schaap, Dundee, Scotland</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.zellbio.anatomie.med.uni-muenchen.de/about_us/schleicher/index.html">Schleicher Lab, Adolf-Butenandt-Institut</a><br>
                        <i>Michael Schleicher, Munich, Germany</i>
                    </p><!--
                     <p>
                        <a target="new" href="http://zellbio.web.med.uni-muenchen.de/about_us/schliwa/index.html">Schliwa Lab, Adolf-Butenandt-Institut</a><br>
                        <i>Manfred Schliwa, Munich, Germany</i>
                        </p>-->
                    <p>
                        <a target="new" href="http://www.einstein.yu.edu/segalllab/page.aspx">Segall Lab, Albert Einstein College of Medicine</a><br>
                        <i>Jeff Segall, Bronx, New York, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.bcm.edu/db/db_fac-shaulsky.html">Shaulsky Lab, Baylor College of Medicine</a><br>
                        <i>Gad Shaulsky, Houston, Texas, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.cas.vanderbilt.edu/singleton/singletonlab">Singleton Lab, Vanderbilt University</a><br>
                        <i>Charles Singleton, Nashville, Tennessee, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://xray.bmc.uu.se/~fredde/dicty/">Söderbom Lab, Swedish University of Agricultural Sciences</a><br>
                        <i>Fredrik Söderbom, Uppsala, Sweden</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.unige.ch/sciences/biochimie/Research/Soldati.html">Soldati Lab, University of Geneva</a><br>
                        <i>Thierry Soldati, Geneva, Switzerland</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.biology.uiowa.edu/faculty_info.php?ID=91">Soll Lab, University of Iowa</a> - <a target="new" href="http://keck.biology.uiowa.edu/">KECK Dynamic Image Analysis Facility</a><br>
                        <i>David Soll, Iowa City, Iowa, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://glauciasouza.com/">Souza Lab, University of São Paulo</a><br>
                        <i>Glaucia Souza, São Paulo, Brazil</i>
                    </p>
                     <p>
                        <a target="new" href="http://www.uncg.edu/~p_steiml/central%20folder%20121905/main.html">Steimle Lab, University of North Carolina at Greensboro</a><br>
                        <i>Paul Steimle, Greensboro, North Carolina, USA</i>
                    </p>     
                     <p>
                        <a target="new" href="http://strassmannandquellerlab.wordpress.com/">Strassmann/Queller Lab, Washington University in St. Louis</a><br>
                        <i>Joan Strassmann/David Queller, St. Louis, MO, USA</i>
                    </p>   
                    <p>
                        <a name="T" id="T"></a>
                    </p>
                    <p>
                        <a target="new" href="http://thethompsonlab.wordpress.com/">Thompson Lab, University of Manchester</a><br>
                        <i>Christopher Thompson, Manchester, UK</i>
                    </p>
                    <p>
                        <a target="new" href="http://dictycdb.biol.tsukuba.ac.jp/Tsukuba/Tsukuba.html">Tsukuba University Dictyostelium Group</a><br>
                        <i>Yoshi Tanaka/Hideko Urushihara, Ibaraki, Japan</i>
                    </p>
                    <p>
                        <a name="V" id="V"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www.rug.nl/gbb/research/researchgroups/cellBiochemistry/index">van Haastert Lab, University of Groningin</a><br>
                        <i>Peter van Haastert, Groningin, The Netherlands</i>
                    </p>
                    <p>
                        <a name="W" id="W"></a>
                    </p>
                    <p>
                        <a target="new" href="http://www.microbiology.ubc.ca/Weeks">Weeks Lab, University of British Columbia</a><br>
                        <i>Gerald Weeks, Vancouver, British Columbia, Canada</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.dundee.ac.uk/biocentre/SLSBDIV4cjw.htm">Weijer Lab, University of Dundee</a><br>
                        <i>Cornelius Weijer, Dundee, Scotland</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.oumedicine.com/body.cfm?id=3883">West Lab, University of Oklahoma Health Sciences Center</a><br>
                        <i>Christopher West, Oklahoma City, Oklahoma, USA</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.msc.univ-paris-diderot.fr/annuaire/pageperso.php?nom=claire_wilhelm+">Wilhelm Lab, Université Paris 7</a><br>
                        <i>Claire Wilhelm, Paris, France</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.lifesci.dundee.ac.uk/people/jeff_williams/">Williams Lab, University of Dundee</a><br>
                        <i>Jeffrey Williams, Dundee, Scotland</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.rhul.ac.uk/Biological-Sciences/AcademicStaff/Williams/">Williams Lab, The Royal Holloway University of London</a><br>
                        <i>Robin Williams, London, UK</i>
                    </p>
                    <p>
                        <a target="new" href="http://www.uni-jena.de/Research-page-85227.html">Winckler Lab, Jena University</a><br>
                        <i>Thomas Winckler, Jena, Germany</i>
                    </p>

                </h4>
                    <br>
                    <div align="center">
                        <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
                    </div>
                    <br>

            <!-- bootstrap columns main body end-->
            </div> <!-- End of col-md-3 col-sm-2, i.e., the central column -->
            <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- viewHouse -->
        
