<div class="artHeaderHouse"  ng-controller="AnchorController">
    <div class="container">
        <div class="jumbotron artJumbo">
            <div class="row">
                <div class="techSubHeaderArt"><h4>Explore</h4></div>
                <h1>dicty Art</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="artLogo" align="center">
                    <img src="images/logoArt2.png" class="img-responsive">
                </div>
            </div>

            <div class="col-xs-12">

                <div class="artSubheader">
                    <em>Art inspired by amebas</em>
<!-- 
                    <i>Dictyostelium</i> inspires creativity, and this page contains the first beautiful examples. 
                    If you would like to share art that finds its source in <i>Dictyostelium</i>, created by you or an artist you know, please contact <a href="mailto:dictybase@northwestern.edu">dictyBase</a>.
 -->
                </div>            
            </div>
        </div>
    </div>
</div>

<div class="artMenu">
    <div class="container">
        <a href="" ng-click="scrollTo('homo')"><i>Homo amoeba</i> </a> | <a href="" ng-click="scrollTo('poem')">Poem</a> | <a href="" ng-click="scrollTo('artwork')">Dicty Artwork</a> | <a href="" ng-click="scrollTo('ng')">National Geographic</a> | <a href="" ng-click="scrollTo('altruistic')">Altruistic Amoeba</a> | <a href="" ng-click="scrollTo('top')">top</a>
    </div>
</div>


<a name="homo" id="homo"></a>

<div class="artHomo">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <strong><i>Homo amoeba</i></strong>
                </h1>
                <h4>by Artúr van Balen </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10" align="center">
                <div class="artHomoText">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="420" height="315" src="https://www.youtube.com/embed/7jd0QEe_WHE" frameborder="0" allowfullscreen></iframe>
                    </div>    
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-10">
                <div class="artHomoText">
                    Project <b>Homo amoeba</b> investigates the ideal of flexibility. One is flexible when one can adapt to all situations. For humans, this is more an ideal than reality. For amoebas, being elastic and flexible is no exception. Dictyostelium serves here as a representation of the ideal. A man attempts to imitate the movement.
                    <br><br>
                    <i>Artúr van Balen, April 2008</i>
                </div>
            </div>
            <div class="col-sm-3 col-xs-1"></div>
        </div>    
    </div> <!-- container -->
</div>

<div class="artMenu">
    <div class="container">
        <a href="" ng-click="scrollTo('homo')"><i>Homo amoeba</i> </a> | <a href="" ng-click="scrollTo('poem')">Poem</a> | <a href="" ng-click="scrollTo('artwork')">Dicty Artwork</a> | <a href="" ng-click="scrollTo('ng')">National Geographic</a> | <a href="" ng-click="scrollTo('altruistic')">Altruistic Amoeba</a> | <a href="" ng-click="scrollTo('top')">top</a>
    </div>
</div>

<a name="poem" id="poem"></a>
<div class="artPoem">
    <div class="container">
        <div class="row">
            <h1>
                <strong><i>Poem</i></strong>
            </h1>
            <h4>by Paul R. Fisher</h4>
            <h6>CA 2000</h6>
        </div>

        <div class="artHomoText">

            <div class="row">
                <div class="col-sm-4 col-xs-1"></div>
                <div class="col-sm-4 col-xs-10">
                    <div>
                        <h3>
                            The Leaders
                        </h3>
                        <h4>
                            <i>From the beginning of the journey,<br>
                            it is we who lead the way,<br>
                            we call the tune<br>
                            we beat the drum<br>
                            we send our chemical messages<br>
                            and you.... you must obey.<br>
                            <br>
                            But at the journey's end,<br>
                            at the culmination of it all,<br>
                            we are the stalk and the stem<br>
                            who raise you up to the sky<br>
                           3so that you might live<br>
                            while we.... we must die.</i>

                        </h4>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-1"></div>
            </div>

        </div>
    </div>    
</div> <!-- artPoem -->

<div class="artMenu">
    <div class="container">
        <a href="" ng-click="scrollTo('homo')"><i>Homo amoeba</i> </a> | <a href="" ng-click="scrollTo('poem')">Poem</a> | <a href="" ng-click="scrollTo('artwork')">Dicty Artwork</a> | <a href="" ng-click="scrollTo('ng')">National Geographic</a> | <a href="" ng-click="scrollTo('altruistic')">Altruistic Amoeba</a> | <a href="" ng-click="scrollTo('top')">top</a>
    </div>
</div>

<a name="artwork" id="artwork"></a>
<div class="artWork">

    <div class="container">

        <div class="row">
            <h1>
                <strong>Dicty Artwork</strong>
            </h1>
            <h4>by Paul H. Dear, 2005 </h4>

            <p class="artWorkText">
                Graphics generated when the Nature cover was <br>created for the publication of the <i>Dictyostelium</i> Genome (Nature, 5th May 2005).<br>
            </p>
        </div>

        <div class="row artWorkGallery">
            <div class="col-sm-1 col-xs-1"></div>
            <div class="col-sm-2 col-xs-2">
                <img class="img-responsive" src="views/explore/art/Paul_Dear/crowd.jpg">
            </div>
            <div class="col-sm-2 col-xs-2">
                <img class="img-responsive" src="views/explore/art/Paul_Dear/crowd-helixT.jpg">
            </div>
            <div class="col-sm-2 col-xs-2">
                <img class="img-responsive" src="views/explore/art/Paul_Dear/metal-crowd.jpg">
            </div>
            <div class="col-sm-2 col-xs-2">
                <img class="img-responsive" src="views/explore/art/Paul_Dear/metal-helixT.jpg">
            </div>
            <div class="col-sm-2 col-xs-2">
                <img class="img-responsive" src="views/explore/art/Paul_Dear/forestT.jpg">
            </div>
            <div class="col-sm-1 col-xs-1"></div>

        </div>

        <div class="row artWorkText">
            <div class="col-sm-2 col-xs-1"></div>
            <div class="col-sm-8 col-xs-10" align="left">
                <p><small>
                    Permission is hereby granted by the copyright holder to use these images for any non-commercial use, including inclusion in web pages, presentations, and reports. The images should have a minimal attribution of "Copyright, Paul H. Dear, MRC Laboratory of Molecular Biology, Cambridge, UK"
                </small></p>
            </div>  
            <div class="col-sm-2 col-xs-1"></div>
        </div>
        
    </div>

</div> <!-- artwork -->

<div class="artMenu">
    <div class="container">
        <a href="" ng-click="scrollTo('homo')"><i>Homo amoeba</i> </a> | <a href="" ng-click="scrollTo('poem')">Poem</a> | <a href="" ng-click="scrollTo('artwork')">Dicty Artwork</a> | <a href="" ng-click="scrollTo('ng')">National Geographic</a> | <a href="" ng-click="scrollTo('altruistic')">Altruistic Amoeba</a> | <a href="" ng-click="scrollTo('top')">top</a>
    </div>
</div>

<a name="ng" id="ng"></a>
<div class="geographic">
    <div class="container">
        <div class="row">
            <h1>Matthew Springer</h1>
            <h6>Stanford University</h6>
            <br>
            <h4>
                National Geographic Best Microscopic Images Competion
            </h4>
            <h4><strong>4th place (2008)</strong></h4>

        </div>

        <br>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" align="center">
                <img class="img-responsive" id="imgGeographic" src="views/explore/art/4_nikonsmallworld_461.jpg">
            </div>
            <div class="col-sm-3"></div>
        </div>
        
        <div class="row geoText">
            <a class="captionLink" target="new" href="http://news.nationalgeographic.com/news/2008/10/photogalleries/best-microscope-photos/photo4.html">National Geographic</a>
        </div>
    </div>
</div> <!-- geographic -->

<div class="artMenu">
    <div class="container">
        <a href="" ng-click="scrollTo('homo')"><i>Homo amoeba</i> </a> | <a href="" ng-click="scrollTo('poem')">Poem</a> | <a href="" ng-click="scrollTo('artwork')">Dicty Artwork</a> | <a href="" ng-click="scrollTo('ng')">National Geographic</a> | <a href="" ng-click="scrollTo('altruistic')">Altruistic Amoeba</a> | <a href="" ng-click="scrollTo('top')">top</a>
    </div>
</div>

<a name="altruistic" id="altruistic"></a>
<div class="artAltruistic">

    <div class="container">
        <div class="row">
            <h5>Project </h5>
            <h1><b>We're Not So Different</b> 
                <br>
                "Altruistic Amoeba"</h1>
            <h4>by Kurt Ross</h4>
        </div>


        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10" align="center">
                <div class="artHomoText">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/zMWSjF_lKGQ" frameborder="0" allowfullscreen></iframe>
                    </div>    
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</div>

<div class="artMenu">
    <div class="container">
        <a href="" ng-click="scrollTo('homo')"><i>Homo amoeba</i> </a> | <a href="" ng-click="scrollTo('poem')">Poem</a> | <a href="" ng-click="scrollTo('artwork')">Dicty Artwork</a> | <a href="" ng-click="scrollTo('ng')">National Geographic</a> | <a href="" ng-click="scrollTo('altruistic')">Altruistic Amoeba</a> | <a href="" ng-click="scrollTo('top')">top</a>
    </div>
</div>