<a name="top" id="top"></a>

<div class="container">

    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Techniques</h3></span>
        <h2>
            Extraction of genomic DNA with CsCl
        </h2>
        <h6>
            Published in <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=2754">Hughes and Welker 1988</a>
            <br>
        </h6>
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">


<!--             <p>
                <b>Download <a ng-href="#/research/techniques/word_docs/genomicDNA_CsCl.doc">word file</a></b>.
            </p> -->

            <h3>
                Procedure
            </h3>
            <ol>
                <li>Grow two 3&nbsp;L flasks of Dicty cells.
                </li>

                <li>Harvest cells by centrifugation at 3K for 10&nbsp;min.
                </li>

                <li>Wash cells with Buffer 3, pellet as in step #2.
                </li>

                <li>Repeat wash 3&nbsp;times
                </li>

