<a name="top" id="top"></a>

<div class="container">

    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Techniques</h3></span>
        <h2>
            Extraction of genomic DNA with CsCl
        </h2>
        <h6>
            Published in <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=2754">Hughes and Welker 1988</a>
            <br>
        </h6>
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">


<!--             <p>
                <b>Download <a ng-href="#/research/techniques/word_docs/genomicDNA_CsCl.doc">word file</a></b>.
            </p> -->

            <h3>
                Procedure
            </h3>
            <ol>
                <li>Grow two 3&nbsp;L flasks of Dicty cells.
                </li>

                <li>Harvest cells by centrifugation at 3K for 10&nbsp;min.
                </li>

                <li>Wash cells with Buffer 3, pellet as in step #2.
                </li>

                <li>Repeat wash 3&nbsp;times
                </li>

                <li>Following the last spin wipe all buffer from the tubes and resuspend the cells in 100&nbsp;ml of Buffer 2 (Triton Buffer). Add an additional 700&nbsp;µl of Triton when cells have lysed.
                </li>

                <li>Incubate solution on ice for 10&nbsp;minutes with occasional swirling.
                </li>

                <li>Pellet the nuclei at 5K for 5&nbsp;minutes. The pellet should appear as a white solid with a dark center.
                </li>

                <li>Resuspend the pellet in 50&nbsp;ml of Buffer 1 (NO TRITON), being careful not to bring along the darker material.
                </li>

                <li>Pellet at 5K for 5&nbsp;minutes.
                </li>

                <li>Repeat wash if alot of dark stuff is present.
                </li>

                <li>Resuspend the pellet in 6.0&nbsp;ml water then add 8.0&nbsp;ml 0.25&nbsp;M&nbsp;EDTA (the total volume should be about 16&nbsp;ml).
                </li>

                <li>Gently mix the solution and add 4.0&nbsp;ml 20%&nbsp;Sarcosyl.
                </li>
                <li style="list-style: none">
                    <br>
                    It is very important to handle this solution carefully. Do not shake vigorously or the DNA will become sheared.
                </li>

                <li>Adjust the total volume of the solution to 20&nbsp;ml, add it to a 250&nbsp;ml flak and incubate it at 65C for 5-10&nbsp;minutes. Swirl the solution, it should become viscous.
                </li>

                <li>Add 20g&nbsp;CsCl add mix gently. It may take a while to get this in solution but be patient.
                </li>

                <li>Once the CsCl has dissolved, add 2.0&nbsp;ml of Ethidium Bromide (10&nbsp;mg/ml) and load into two ultracentrifuge quick seal tubes. The solution should be viscous, so be careful not to glob it all over.
                </li>

                <li>Centrifuge for 24&nbsp;hr at 50K.
                </li>

                <li>Recover the pink band, extract the EthBr with salt saturated isopropanol, and dialyze the DNA against TE.
                </li>

                <li>To concentrate, ethanol precipitate.
                </li>

            </ol><!--
    Dictyostelium mini DNA prep
    1.  Harvest 107 to 108 cells by centrifuging at 1,000 rpm in the table top centrifuge for 5 minutes.
    2.  Resuspend in 1 ml Nuclei Buffer
    3.  Add 200 ml 20% triton X-100, incubate on ice 5 minutes.
    4.  Centrifuge 5000 RPM, 5 minutes.
    5.  Resuspend nuclear pellet in 300 ml protease K buffer.  Incubate 20 min at 65° C.
    6.  Extract with an equal volume of phenol:CHCl3 (1:1), followed by CHCl3-isoamyl alcohol.
    7.  Ethanol precipitate by adding 2.5  volumes of ethanol at room temperature.  Incubate for 5 minutes.
    8.  Pellet DNA by centrifuging in microfuge 15 minutes.
    9.  Resuspend in 50 ml TE containing 10 ml/ml RNAse A.
    10. Ethanol precipitate, being careful not to over dry the DNA pellet.
    11. Resuspend in 50 ml TE.
    From 2 confluent 100 mm plates, use 10 ml for a digest to be used on a genomic Southern blot.
    -->
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>

            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h3>
                Materials
            </h3>
            <ul>
                <li>
                    <u>Buffer 1 (Extraction Buffer)</u><br>
                    <ul>
                        <li>50 mM Tris; pH 8.0
                        </li>
                        <li>10 mM NaCl
                        </li>
                        <li>3 mM MgCl<sub>2</sub>
                        </li>
                        <li>3 mM CaCl<sub>2</sub>
                        </li>
                        <li>0.5 M Sorbitol
                        </li>
                    </ul>
                </li>

                <li>
                    <u>Buffer 2 (Triton Extraction Buffer)</u><br>
                    <ul>
                        <li>Buffer 1 containing 0.6% Triton
                        </li>
                    </ul>
                </li>

                <li>
                    <u>Buffer 3 (Dicty Wash Buffer)</u><br>
                    <ul>
                        <li>0.2% NaCl
                        </li>
                        <li style="list-style: none">or use <a ng-href="#/research/techniques/media/media.html#DB">DB</a>, or <a href="/techniques/media/media.html#PDF">PDF</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <u>20% Sarcosyl</u>
                </li>

                <li>
                    <u>0.25 M EDTA</u>
                </li>

            </ul><!--
    Nuclei Buffer
    to make 100 ml
    20 mM Tris-HCl  0.5 ml 0.5 M Tris-HCl, pH 7.4
    5 mM MgOAc  0.11 g
    0.5 mM EDTA 100 ?l 0.5 M EDTA, pH 8.0
    5% sucrose  5g
    pH to 7.6
    Protease K Buffer
    to make 100 ml
    100 mM Tris-HCl 2 ml 0.5 M Tris-HCl, pH 7.4
    5 mM EDTA   1 ml 0.5 M EDTA, pH 8.0
    0.1 mg/ml proteinase K  0.4 ml 25 mg/ml proteinase K
    1% SDS  1 g
            pH 7.5
    -->
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    <br>

        </div> <!-- col-sm-8 -->
        <div class="col-sm-3 col-xs-1"></div>
    </div> <!-- row -->
</div> <!-- container -->
