<a name="top" id="top"></a>

<div class="container">

    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Techniques</h3></span>
        <h2>
            Extraction of genomic DNA
        </h2>
        <h6>
            Published in <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=2754">Hughes and Welker 1988</a>
            <br>
        </h6>
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">

<!--             <p>
                <b>Download <a ng-href="#/research/techniques/word_docs/genomicDNA_1.doc">word file</a>.</b>
            </p> -->

            <h3>
                Procedure
            </h3>
            
            <div class="note">
                <span class="nw">Note: </span>
                Can use as little as one confluent plate (10<sup>7</sup>) or 500 ml of 10<sup>7</sup> cells/ml. Volumes in parentheses are suggested volumes for 10<sup>8</sup> cells. These should be adjusted if a different number of cells is used.<br>
            </div>

            <div class="space1">

                <h5>Preparation</h5>
                <ol>
                    <li>Collect cells.
                    </li>

                    <li>Wash once in KK2.
                    </li>

                    <li>Wash once in ice-cold 0.2% NaCl (= 0.034 M).
                    </li>
                </ol>
                <p>
                    <small>To decide volume to use: aim at 5-10 x10<sup>7</sup> cells/ml (1 ml).</small>
                </p>

                <br>

                <h5>
                    Extract nuclei:
                </h5>
                <ol>
                    <li>Resuspend cells in ice-cold NP40-lysis buffer at 5-10 x10<sup>7</sup> cells/ml (1 ml).
                    </li>

                    <li>Vortex vigourously for 30 seconds.
                    </li>
                </ol>

                <br>

                <h5>
                    Lyse nuclei:
                </h5>
                <ol>
                    <li>Add one volume of 2% SDS (1 ml).
                    </li>

                    <li>Incubate at 65°C for 15 minutes.
                    </li>

                </ol>

                <br>

                <h5>
                    Purify DNA:
                </h5>
                <ol>
                    <li>Add one volume of TE, pH 9.5 (2 ml).
                    </li>

                    <li>Add proteinase K to 200 µg/ml.
                    </li>

                    <li>Incubate at 45-55°C for 2h to overnight.
                    </li>

                    <li>Cool briefly.
                    </li>

                    <li>Extract with 1 volume of phenol:chloroform:isoamyl alcohol (25:24:1).
                    </li>

                    <li>Repeat previous step until no more interphase is visible.
                    </li>

                    <li>Extract with chloroform:isoamyl alcohol.
                    </li>

                    <li>Precipitate DNA: add NaCl and ethanol, incubate at -20°C for &gt;30 minutes.
                    </li>

                    <li>Resuspend in an appropriate volume of TE (100&nbsp;µl).
                    </li>

                    <li>Quantify using OD<sub>260</sub>.
                    </li>
                </ol>

            </div> <!-- space1 -->


                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h3>
                Materials
            </h3>

            <div>
                <ul>
                    <li>
                        <u>1x KK2</u>
                    </li>

                    <li>
                        <u>0.2% NaCl</u>
                    </li>

                    <li>
                        <u>NP40 lysis buffer</u>
                        <ul>
                            <li>0.05M HEPES
                            </li>
                            <li>0.05 M MgAc
                            </li>
                            <li>10% sucrose
                            </li>
                            <li>2% Nonidet P40 (NP40)
                            </li>
                        </ul><br>
                    </li>
                    <li>
                        <u>2% SDS</u>
                    </li>

                    <li>
                        <u>TE, pH 9.5 (10 mM Tris, pH 9.5, 1 mM EDTA)</u>
                    </li>

                    <li>
                        <u>Proteinase K (10-50 mg/ml)</u>
                    </li>
                </ul>
            </div>


                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    <br>

        </div> <!-- col-sm-8 -->
        <div class="col-sm-3 col-xs-1"></div>
    </div> <!-- row -->
</div> <!-- container -->
