        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Electroporation of DAPI into Dictyostelium
        </h1>
        <p>
            <b>Download <a ng-href="#/research/techniques/word_docs/DAPI_electroporation.doc">word file</a>.</b>
        </p>
        <hr>
        <p align="right">
            <a href="" ng-click="scrollTo('mat')">[MATERIALS]</a> - <a ng-href="#/research/techniques/">[INDEX]</a> <a name="proc" id="proc"></a>
        </p>
        <h2>
            Procedure
        </h2>
        <ol>
            <li>Give fresh <a ng-href="#/research/techniques/media/media.html#HL-5">HL5</a> medium to all plates to be resuspended.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Resuspend wildtype cells from 2 or 3 plates and transfer to a sterile 50&nbsp;ml conical tube.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Pellet cells by spinning in tabletop centrifuge at 2,000&nbsp;rpm for 5&nbsp;minutes.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Draw off HL5 medium and replace with COLD H50 buffer. Be sure to not disturb the cell pellet. Resuspend cells to wash and pellet as before.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Draw off 1st H50 wash and replace with a 2nd 10ml aliquot. Resuspend cells to wash again and remove a small aliquot using a Pasteur pipette and bulb. Add a drop of resuspension to each side of grid on hemacytometer. Gently place cover glass over grid.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Note remaining volume of resuspension and pellet as before.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Count cells on grid and determine the total number of cells in tube.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Draw off 2nd H50 wash and replace with an appropriate volume of H50 such that the final cell density is 5 x 10<sup>7</sup> cells/ml.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Thaw DAPI in DMSO stock solution. Dilute DAPI in 100&nbsp;µl cell/H50 suspension such that final DAPI concentration is 1.5&nbsp;µg/ml. Cell suspension and DAPI are mixed in a 0.5&nbsp;ml microfuge tube. Use DAPI stock solution at a concentration such that the amount of DMSO added to reaction is minimized (use highest concentration of DAPI stock solution possible).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Place cells/DAPI in a pre-chilled 0.1&nbsp;mm cuvette; leave cuvette on ice for 3&nbsp;minutes.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Place cuvette in cold cuvette holder<!--(kept in the door of -20&deg;C freezer)-->. Zap (pulse or electroporate) cells @ 0.85&nbsp;kV and 25&nbsp;µF by depressing two red buttons simultaneously until a beep is heard. Record time constants.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Immediately following electroporation, add 1&nbsp;ml of HL5 medium to cuvette. Leave cuvette at room temperature for 10&nbsp;minutes.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Use gel loading pipette tip to remove ~200&nbsp;µl aliquots from cuvette (don't forget to remove cells between electrodes) and add to a coated coverslip.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Allow cells to settle onto coverslip for 1hr before adding an additional 1&nbsp;ml HL5 medium to well. Add medium to edge of well such that cells attached to coverslip are not disturbed. Allow cells to recover for additional 3&nbsp;hrs.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Observe cells on an inverted scope using oil immersion lens and DAPI filter. Neutral density filters may be needed to&nbsp;minimize glare caused by intense staining.
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h2>
            Materials
        </h2>
        <ul>
            <li>
                <u>H-50 buffer</u>
                <ul>
                    <li style="list-style: none">
                        <br>
                    </li>
                    <li>20mM Hepes
                    </li>
                    <li>50mM KCl
                    </li>
                    <li>10mM NaCl
                    </li>
                    <li>1mM Mg<sub>2</sub>SO<sub>4</sub>
                    </li>
                    <li>5 mMNaHCO<sub>3</sub>
                    </li>
                    <li>1mM Na<sub>2</sub>HPO<sub>4</sub>
                    </li>
                </ul><br>
                Adjust pH to 7.0
            </li>
        </ul>
        <p align="right">
            <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
        </p>
