<a name="top" id="top"></a>

<div class="container">

    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Tecniques</h3></span>
        <h2>
            Transformation of NC4 or <i>D. mucoroides</i> <br> with vectors containing the V18-Tn5 cassette
        </h2>
        <h6>Contributed by Harry MacWilliams, September 1998</h6>
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">

<!--             <p>
                Download <a ng-href="#/research/techniques/word_docs/NC4-dmuctraf.doc">word file</a>.
            </p> -->

            <h3>
                Procedure
            </h3>

            <div class="note">
                <span class="nw">Note: </span>
                Directions are for transforming one vector.
            </div>

            <ol>
                <li>Grow NC4 or D. mucoroides cells on KK2 plates spread with 0.5&nbsp;ml each of 2x bacterial suspension.
                    <div class="note">
                        <span class="nw">Note: </span>
                        Plates will be ready in about 36 hours if inoculated with 10<small><sup>3</sup></small> cells each. Make about 5 plates for your first transformation. If the plates are properly predried, the liquid will sink in in a few&nbsp;minutes. Make sure that the plates are dry before incubating.
                    </div>
                </li>

                <li>Prepare the DNA you wish to use for the transformation. I usually sterilize by ethanol/NaOAc precipitation and washing in 70% Ethanol. The DNA is redissolved in sterile water at about 100&nbsp;µg/ml.
                    <div class="note">
                        <span class="nw">Note: </span>
                        For your first transformation, make up about 1.6&nbsp;ml of this (160&nbsp;µg DNA total). After you get the glycerol shock under control, you may be able to get away with less.
                    </div>
                </li>
                <li>Just before clearing, harvest the cells, wash them in KK2, and suspend in KK2 at about 2x10<sup><small>6</small></sup>/ml. Shake for 30&nbsp;minutes to allow the cells to consume remaining bacteria.
                </li>

                <li>Dispense the cells into ordinary microbiological plates, ca 10&nbsp;ml per plate; I advise making 7 plates for the first transformation. Label the plates 6, 8, 10, 12, 14, 16, and DNAminus. Allow the cells to adhere, then change the salt solution to 1x MOPS-phosphate.
                </li>

                <li>In the meantime you should prepare 6 tubes containing DNA for calcium precipitation. Each tube gets 262 µl DNA solution and 300 µl 2x MOPS-phosphate.
                </li>

                <li>One half hour after changing the medium from KK2 to MOPS-phosphate, begin with calcium precipitation. Add 38 µl 2M CaCl<small><sub>2</sub></small> to one tube of DNA, vortex gently.
                    <div class="note">
                        <span class="nw">Note: </span>
                        In my hands a preciptitate is visible within a&nbsp;minute, and I apply the DNA to the cells at this point. A powerful light (eg a microscope lamp or a slide projector) makes it easy to see the precipitate.<br>
                        If no convincing turbidity appears, add 0.5 µl 500&nbsp;mM&nbsp;Tris-base to the precipitation mix and look again. Sometimes several additions are necessary. If you add too much, the DNA will form a coarse precipitate, and the transformation efficiency will be reduced.
                    </div>
                </li>
                <li>Apply the DNA to cells by withdrawing the MOPS-phosphate and dripping the DNA over the plate, exactly as is traditionally done in transfection of AX2 with calcium phosphate precipitates. Allow the plates to stand for 10&nbsp;minutes (closed, under a beaker to protect from drying), then add 10ml of MOPS-phosphate per plate. One plate (the DNA-minus) gets no DNA.
                </li>

                <li>Using sterile water, 50% glycerol and 2x MOPS-phosphate, prepare about 2.5 &nbsp;ml each of for NC4: 6, 7, 8, 9, 10, 11 percent glycerol in 1x MOPS-phosphate<br>
                    for D. mucoroides : 6, 8, 10, 12, 14, 16 percent glycerol in 1x MOPS-phosphate.
                </li>

                <li>Several hours after applying the DNA to the cells, glycerol shock by withdrawing the media from the dishes and adding 2&nbsp;ml of the respective glycerol solution. Terminate the shock after 5&nbsp;min by adding 15&nbsp;ml per plate of 1x MOPS-phosphate and mixing gently.
                    <div class="note">
                        <span class="nw">Note: </span>
                        Do not attempt to withdraw the glycerol, as you will lose most of the cells.
                    </div>
                </li>
                <li>Observe the plates under phase contrast using an inverted microscope over a period of 1-2 hours.
                    <div class="note">
                        <span class="nw">Note: </span>
                        At the higher glycerol concentrations most of the cells will quickly die; at the lower concentrations the cells will appear entirely unaffected. You want to find the "optimal" glycerol concentrations at which there is some noticeable cell death, but most of the cells still survive. This can vary greatly from experiment to experiment. Any change in the growth conditions, length of starvation, or the composition of the buffers can change the optimal concentration of glycerol, significantly and in unpredictable ways.
                    </div>
                </li>
                <li>Place the cells at 12°C overnight. This gives them an opportunity to begin to express NPT before they go onto the selection plates.
                </li>

                <li>On the next morning, wash the cells from the plates with KK2, collect and count. Spread the cells which got optimal or near-optimal glycerol concentrations on G100 plates. I spread up to 3x10<small><sup>6</sup></small> cells per plate and use 0.5&nbsp;ml per plate of 1x bacteria (for NC4) or 2x bacteria (for D. mucoroides).
                    <div class="note">
                        <span class="nw">Note: </span>
                        Use of 1x bacteria makes the selection MORE STRINGENT. The DNA-minus cells should be plated to provide a control for the selection; generally I get NO CLONES on these plates.
                    </div>
                </li>

                <li>Incubate the plates at 22°C and wait. Clones appear in three days to a week; D. mucoroides takes longer than NC4.
                    <div class="note">
                        <span class="nw">Note: </span>
                        If you have used a GFP-containing plasmid, you can look for fluorescence directly on the selection plates (note however, that the A15 promoter is very poorly expressed in NC4 and D. muc; use V18-GFP if you need a cell marker). For gus or gal staining, you can make colony lifts from the plates and fix and stain these directly, later returning to the selection plates to recover cells from the clones of interest.
                    </div>
                </li>

                <li>Reclone on G100 and recheck for reporter expression.
                </li>

                <li>Make mass plates of spores from cloned transformants, suspend in non-fat milk and store on silica gel.<br>
                </li>
            </ol>

                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>

            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h3>
                Materials
            </h3>
            <ul>
                <li>
                    <u>KK2 agar plates</u>
                    <ul>
                        <li>1.5% agar in 1x <a ng-href="#/research/techniques/media/media.html#KK2">KK2</a>, autoclaved.
                        </li>

                    </ul>
                    <div class="note">
                        <span class="nw">Note: </span>
                        These should be poured LEVEL, ie, they should be allowed to cool on a precisely horizontal surface; if stacked while cooling, check to see that the stacks are really straight. The plates should not be wrapped up immediately after hardening, but allowed to dry overnight. I just put the stacks of plates, closed of course, on the bench; the laminar flow hood is also OK, but it should be turned off so the plates do not dry out on one side. It is also possible to make these plates further in advance; they are stable for months in the refrigerator.
                    </div>
                </li>

                <br>

                <li>
                    <u>G100 plates</u>
                    <ul>

                        <li>Add 100 µg/ml G418 to KK2 agar plates after the agar has cooled to 60°C.
                        </li>

                    </ul>
                    <div class="note">
                        <span class="nw">Note: </span>
                        My G100 plates contain 20&nbsp;ml of agar, pipetted, not poured; accuracy is important as the amount of agar controls the severity of the selection.
                    </div>
                </li>

                <li>
                    <u>2x MOPS-phosphate</u>
                    <ul>

                        <li>40&nbsp;mM&nbsp;MOPS
                        </li>
                        <li>1.4&nbsp;mM&nbsp;sodium phosphate
                        </li>

                    </ul>Adjust pH to 7.1.<br>
                    Filter sterilize.
                </li>

                <br>

                <li>
                    <u>1x MOPS-phosphate</u><br>
                    The above, diluted 1:1 with sterile H<sub>2</sub>0.
                </li>

                <br>

                <li>
                    <u><a ng-href="#/research/techniques/media/media.html#SMP">SM plates</a></u> spread with Klebsiella aerogenes and incubated for two days at 37°C.
                </li>

                <br>

                <li>
                    <u>Bacterial suspension</u><br>
                    This is made by suspending the pregrown Klebisiella aerogens in KK2. A 1x suspension contains the bacteria from one plate in 2.5&nbsp;ml of KK2. A 2x suspension contains the bacteria from 2 plates in 2.5&nbsp;ml KK2.
                </li>

                <br>    

                <li>
                    <u>50% glycerol</u> in water, sterile.
                </li>

                <br>

                <li>
                    <u>2M CaCl<sub>2</sub></u>, sterile.
                </li>

                <br>

                <li>
                    <u>500&nbsp;mM&nbsp;Tris-base</u>, sterile.
                </li>
            </ul>

                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    <br>
        </div> <!-- col-sm-8 -->
        <div class="col-sm-3 col-xs-1"></div>
    </div> <!-- row -->
</div> <!-- container -->

