<div class="viewHouse">

    <div class="container">
        <div class="row techniquesHead">
            <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/research">Research</a></h4></div>
            <div class="size40"> <a href="#/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </div>
            <h2>
                Agar overlay method
            </h2>        
            <h6>Contributed by Yoshio Fukui, July 2000.</h6>
        </div>

        <div class="row">

            <div class="col-sm-2 col-xs-1"></div>

            <div class="col-sm-8 col-xs-10">

    <!--         <p>
                Download <a ng-href="#/research/techniques/pdf_docs/agar_overlay.pdf">pdf file</a> - <a href="/techniques/word_docs/agar_overlay.doc">word file</a>.
            </p> -->

            <div class="note">
                <span class="nw">Note from Yoshio Fukui:</span> This protocol was originally developed in 1984 for the immunofluorescence staining with Shigehiko Yumura, then my graduate student at Department of Biology, Osaka University (ref. 1, 2). The technical detail is described in ref. 3, 4. More recently, we have applied this technique to live cell observations (ref. 5, 6).
            </div>

            <h3>
                [A] Preparation of Agarose Sheet
            </h3>
            <ol>
                <li>Dissolve 1 gram of <b>agarose-M</b> (Amersham LKB Pharmacia: Cat. #2206-101) in 50&nbsp;ml of buffer to make a 2% (w/v) solution. We use 17&nbsp;mM&nbsp;Na/K-phosphate buffer (pH 6.5), or Bonner's salt solution (10&nbsp;mM&nbsp;KCl, 10&nbsp;mM&nbsp;NaCl, 3&nbsp;mM&nbsp;CaCl<sub>2</sub>) for <i>Dictyostelium</i> cells. Pour into a small media bottle with cap and drop a small magnet bar. Autoclave for 15&nbsp;minutes and keep the bottle in a refrigerator for the long-term storage. Before making the agarose sheets, re-dissolve the agarose in a glass beaker placed on a hot magnet stirrer. Set the temperature of the stirrer at 200-300°F. We can use a microwave oven, but the agarose should not be boiled and burnt.
                </li>

                <li>Prepare detergent-cleaned, high quality slide glasses. Wipe with 100% ethanol immediately before the preparation. Using a diamond tip pen, cut a <b>Corning 22 x 22 mm, No. 1-½ coverslip (cat. #2870)</b> into 3-mm-wide strips. These strips are 0.18 mm thick and serve as spacer (see below).
                </li>

                <li>Place several pieces of clean slide glasses on a flat bench, ideally black colored, and place two spacer strips on both edges. The black-top bench makes it easy to view the thin agarose.
                </li>

                <div align="center">
                   <img class="img-responsive" src="views/research/techniques/images/image002.gif">
                </div>

                <li>Using a Pasteur pipet, drop about 1&nbsp;ml of completely dissolved, hot agarose on the slide glass. Quickly place the second slide glass on top of the agarose drop. Gently, with fingers, hold down the upper slide glass over the spacer. Make the agarose homeogeneously spread and gel. Keep holding the slide glass at the position on top of the spacers until the agarose gels. The agarose will gel within 15 seconds.
                </li>

                <li>Using a razor blade, remove excess agarose from the edge of the "sandwich" (i.e., slide-agarose-slide). Store this sandwich in a Petri dish containing about 20&nbsp;ml of sterile buffer and keep in a refrigerator. We can store as long as a month or until you notice fungi growing. We seal the Petri dish with Parafilm.
                </li>
            </ol>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    
            <hr>
            <h3>
                [B] Preparation of the Agar-overlay Sample
            </h3>
            <ol>
                <li>Carefully remove the upper slide glass from the sandwich. We use a pair of forceps to handle the slide.
                </li>

                <li>Place two sheets of Whatman no. 1 filter paper in a Petri dish and saturate with distilled water. This serves as an incubation container to maintain 100% humidity. Place a slide glass on the filter paper and put a 22 mm x 22 mm Corning no.1 coverslip (cat. no. 2865) to the center of the slide glass. This coverslip are ethanol cleaned and we do not have to re-clearn them (i.e., use as it is). Drop a small droplet of water (10-20&nbsp;ml) before you place the coverslip onto the slide glass so that the surface tension will fix the coverslip in place.
                </li>

                <li>Drop an aliquot of cell suspension (about 25&nbsp;µl) onto the coverslip, and incubate for 2-3&nbsp;minutes to let the floating cells attach to the coverslip. Remove excess buffer from the coverslip, but we have to leave little buffer (~5&nbsp;ml) on the coverslip.
                </li>

                <li>Using a pair of sharp stainless razor blades (ex., GEM Super Stainless Razor; we can buy at Walgreens), cut the agarose sheet into 7-8 mm square pieces. With the razor, pick up one piece of the agarose, and drape over the cell suspension on the coverslip.
                </li>
                <div align="center">
                    <br>
                    <img class="img-responsive" src="views/research/techniques/images/image006.jpg">
                </div>
                <li>Remove excess buffer from the agar-overlaid sample. <b><i>This is a critical step.</i></b> First, use a Pasteur pipet and then use a small strip of Whatman no. 1 filter paer. Remove most of the buffer from the edges and surface. We can touch the filter paper gently at the edges of the agarose to blot off the buffer. We usually hold the sample at about 45 degrees to let the buffer drop to the lower edge of the agarose, and blot it off from the corner.
                </li>

                <li>Inspect the cells under a phase-contrast microscope (20x objective). For the long-term incubation, keep the sample in the moist container and examine the cells every hour or so. If the cells are too thin (and some are broken), add 0.5-1 µl of the buffer to the edge of the agarose using a fine micro-tip pipette. Efforts to provide the best welfare to the cells will be rewarded with good results.
                </li>
            </ol>
            <p>
                <div align="center">
                    <img class="img-responsive" src="views/research/techniques/images/image008.jpg">
                </div>
            </p>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    
            <hr>
            <h3>
                [C] Fixation and Staining
            </h3>
                
            <div class="note">
                <span class="nw">Note: </span>
                Fixation requires a protocol optimal to your cells, structures, and antigens: so you are assumed to have already tested and established a good fixation protocol for your purpose.
            </div>

            For myosin staining in <i>Dictyostelium</i>:
            <br><br>
                
                - Mix 27&nbsp;ml of concentrated (37%) formalin (ex. Mallinckrodt cat. #5016) with 973&nbsp;ml of absolute methanol (ex. Baxter, anhydrous, cat. #4324), pour into 500&nbsp;ml glass bottle, and add generous amount of hygroscopic granules (Molecular Sieves) (Aldrich, cat. # 20,858-2; Fisher, cat. # M-564). Store the bottle in a freezer (-20°C).
                <br><br>

                - Pour the fixative into a 300&nbsp;ml plastic beaker and place a pre-cooled porcelain staining rack ("Coors" brand, Thomas Scientific) in the beaker. Measure the temperature of the fixative with a thermometer. If it is colder than -15°C, warm up to between -13 to -15°C. Never fix the agar-overlaid sample with the fixative colder than -15°C, because the agarose freezes causing a total disruption of the structure. This is particularly important if we fix the cells with acetone (acetone preserves F-actin well, but overall cell structure are disrupted because of harsh permeabilization).
                <br><br>

                - In a single, quick motion, dip the sample into fixative and place on the staining rack. Fix for 4 to 5&nbsp;minutes in the freezer (-20°C).
                <br><br>

                - After bringing the beaker to the lab bench, all the following steps are done at the room temperature. Take the staining rack out of the fixative, and let the sample partially dry in the air (this prevent the agarose coming off). Wash the sample three times, 5&nbsp;minutes each, with PBS in plastic beakers. In the second wash, remove the agarose from the sample by gently peeling off one corner of the agarose in PBS. We use a hand-made fine needle attached to a glass rod.
                <br><br>

                - After washing, process the staining by your own standard immuno-fluorescence staining method.
                <br><br>
            
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    
            <hr>
            <h3>
                Solutions
            </h3>
            <ul>
                <li>
                    <u>Mounting medium:</u>
                    <ul>
                        <li>25 g Vinol (Vinol-205 polyvinyl alcohol): Air Products &amp; Chemicals, Inc. (1-800-523-9374)
                        </li>
                        <li>100&nbsp;ml PBS
                        </li>
                        <li>50&nbsp;ml glycerol
                        </li>
                    </ul><br>
                    Add Vinol and glycerol to PBS, and mix for overnight on a heavy-duty magnetic stirrer at the room temperature. Remove precipitate by centrifugation (13,500 rpm, 30&nbsp;min). Store at the room temperature, or keep frozen in a -20°C freezer. We distribute 1&nbsp;ml aliquot of the medium into many microtubes and add anti-quenching agent (below) just before mounting.
                </li>

                <br>

                <li>
                    <u>Anti-quenching agent</u>
                    <ul>
                        <li>DABCO (Aldrich; Cat. # D2,780-2)
                        </li>
                    </ul><br>
                    Add about 5% (v/v) crystal to the mounting medium and mix by passing through Pasteur pipet several times or until the crystal dissolves completely. Spind down at 13,000 rpm for 5&nbsp;min on Eppendorf centrifuge to remove air bubbles.
                </li>
            </ul>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    
            <hr>
            <h3>
                References
            </h3>
            <ol>
                <li>Yumura, S., Mori, H., and Fukui, Y. (1984). Localization of actin and myosin for the study of amoeboid movement in Dictyostelium discoideum using improved immunofluorescence. J. Cell Biol. 99, 894-899.
                </li>

                <li>Yumura, S., and Fukui, Y. (1985). Reversible cyclic AMP-dependent changes in distribution of myosin thick filaments in Dictyostelium. Nature 314, 194-196.
                </li>

                <li>Fukui, Y. et al. (1986). High-resolution immunofluorescence for the study of the contractile apparatus. <u>In</u> "The Contractile Apparatus and the Ctyoskeleton" ("Structure and Contractile Proteins", Meth.Enzymol. 134, Part D), ed R. B. Vallee, Academic Press, pp. 573-580.
                </li>

                <li>Fukui, Y. et al. (1987). Agar-overlay immunofluorescence: high resolution studies of cytoskeletal components and their changes during chemotaxis. <u>In</u> "Dictyostelium discoideum: Molecular Approaches to Cell Biology", Meth. Cell Biol. 28, ed. J. A. Spudich, Academic Press, pp. 573-580.
                </li>

                <li>Fukui, Y., and Inoué, S. (1991). Cell division in Dictyostelium with special emphasis on actomyosin organization in cytokinesis. Cell Motil. Cytoskel. 18, 41-54.
                </li>

                <li>Fukui, Y., and S. Inoué (1997). Amoeboid movement anchored by eupodia, new actin-rich knobby feet in Dictyostelium. Cell Moti.Cytoskel. 36, 339-354.
                </li>
            </ol>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    <br>

            </div> <!-- col-sm-8 -->
            <div class="col-sm-2 col-xs-1"></div>
        </div>
    </div>
</div>