<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/research">Research</a></h4></div>
        <span class="size40"> <a href="#/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </span> 
        <h2>
            Dictyostelium ChIP <br> (Chromatin Immuno-precipitation) <br>protocol
        </h2>
        <h6>Contributed by Jeff Williams, Y. Yamada, <br>and, with grateful thanks to Jonathan Chubb <br>for his advice when establishing the method. <br>September 2005.</h6>
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">

            <hr>

            <h3>
                Procedure
            </h3>
            <h4>
                Fixation
            </h4>
            <ol>
                <li>Suspend about 5x10<sup>8</sup> cells in KK2 to 3.1ml. Add 0.4 ml of 10xPBS and 0.5 ml of 8% paraformaldehyde.<br>
                    Rotate for 2 hours at 4°C.
                </li>

                <li>Add glycine to 125 mM (0.25 ml of 2M), agitate at room temperature for 5 min.
              </li>

                <li>Wash with PBS 4 times and with TBS once. (Can freeze at -80°C here.)
                </li>

            </ol>
            <h4>
                Lysis and sonication
            </h4>
            <ol>
                <li>Suspend cells in TBS. Add the same volume of 2xTTS/1xTBS and protease inhibitors.<br>
                    Mix and leave on ice for 15-20 min.
                </li>

                <li>Sonicate DNA down to 0.3-2.5 kb. (9 sec, 5 times with Branson sonifier, output 6)
                </li>

                <li>Centrifuge at 14k rpm for 10 min. Transfer sup into a fresh tube and spin again for 20 min. Take sup.
                </li>

            </ol>
            <h4>
                IP and DNA prep
            </h4>
            <ol>
                <li>Preabsorption:<br>
                    <ul>
                        <li>Dilute cell lysate twice with TTS buffer.
                        </li>
                        <li>Add protein A Sepharose CL-4B (40 &micro;l of 1:3 slurry) and incubate at 4°C for a few hours.
                        </li>
                    </ul>
                </li>

                <li>Centrifuge at a top speed for 5 min. Take sup. Keep an aliquot (20 &micro;l) as an input fraction.
                </li>

                <li>To cell lysate (1x10<sup>7</sup> cells, or 400 ng protein) add 40 &micro;l of 10% Blocking Reagent, protease inhibitors and top up with TTS buffer to 0.8 ml.
                </li>

                <li>Add antibody and incubate at 4°C overnight.
                </li>

                <li>Add 80 &micro;l of 1:3 slurry of Protein A Sepharose CL-4B and incubate at 4°C for several hours.
                </li>

                <li>Wash with TTS, 4 times (Spin at a low speed (6000-7000rpm), 1min.
                </li>

                <li>Wash with LiDN buffer, 2 times.
                </li>

                <li>Spin at a top speed for 1 min and remove the remaining sup.
                </li>

                <li>Add 100 &micro;l of E-buffer. Incubate at 37°C for 15 min.
                </li>

                <li>Spin and take 90 &micro;l of sup.
                </li>

                <li>Incubate at 65°C overnight to reverse crosslink. To input fraction, add E-buffer and do the same.
                </li>

                <li>Add 90 &micro;l TE containing Proteinase K (200 mg/ml) and RNase (20 mg/ml). Incubate at 37°C for 1 hour.
                </li>

                <li>Purify DNA with QIAquick PCR purification column. Elute with 40-50 &micro;l EB.
                </li>

                <li>Analyse by PCR.
                </li>

            </ol>
                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h3>
                Materials
            </h3>
            <ul>
                <li>
                    <u>2xTTS/1xTBS</u><br>
                    <ul>
                        <li>50 mM Tris pH8.0
                        </li>
                        <li>150 mM NaCl
                        </li>
                        <li>2% Triton X100
                        </li>
                        <li>4 mM EDTA
                        </li>
                        <li>0.1% SDS
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul><br>
                </li>
                <li>
                    <u>TTS</u><br>
                    <ul>
                        <li>50 mM Tris pH 8.0
                        </li>
                        <li>150 mM NaCl
                        </li>
                        <li>1% Triton X100
                        </li>
                        <li>2 mM EDTA
                        </li>
                        <li>0.05% SDS
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul><br>
                </li>
                <li>
                    <u>LiDN buffer</u><br>
                    <ul>
                        <li>10 mM Tris pH8.0
                        </li>
                        <li>250 mM LiCl
                        </li>
                        <li>1% DOC
                        </li>
                        <li style="list-style: none">1% NP-40
                        </li>
                        <li>1 mM EDTA
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul><br>
                </li>
                <li>
                    <u>E-buffer</u><br>
                    <ul>
                        <li>50 mM Tris pH7.5
                        </li>
                        <li>1% SDS
                        </li>
                        <li>1 mM EDTA
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul><br>
                </li>
            </ul>
                <br>
                <p align="center">
                    <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                </p>
                <br>

        </div> <!-- col-sm-8 -->
        <div class="col-sm-3 col-xs-1"></div>
    </div>
</div>
