<div class="viewHouse">
    <div class="container">
        <div class="row techniquesHead">
            <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="#/research">Research</a></h4></div>
            <span class="size40"> <a href="#/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </span> 
            <h2>
                Isolation of Dictyostelium centrosomes
            </h2>        
        </div>

        <div class="row">

            <div class="col-sm-2 col-xs-1"></div>

            <div class="col-sm-8 col-xs-10">

    <!--         <p>
                <b>Download <a ng-href="#/research/techniques/word_docs/indirect_immunofluo.doc">word file</a>.</b>
            </p> -->
            <hr>

            <h3>
                Procedure
            </h3>
            <h4>
                Preparation of the Cells
            </h4>
            <div>
                <h5>
                    Cells in suspension:
                </h5>
                <ol>
                    <li>Grow up cells in shaking culture for the time desired.
                    </li>

                    <li>Place an aliquot (100-300&nbsp;µl) of the cell suspension on a clean glass coverslip, and allow 5-10&nbsp;minutes for cells to attach to the coverslip.
                    </li>

                    <li>After cells have attached, dip the coverslip twice in 15&nbsp;mM&nbsp;Na/K-PO<sub>4</sub> buffer, pH&nbsp;6.5 to wash away floaters.
                    </li>

                    <li>Dry the back of the coverslip with a Kimwipe and put it down (cells side up!) on your bench.
                    </li>

                    <li>Proceed with agar overlay procedure or fixation immediately.
                    </li>
                </ol><br>
                <h5>
                    Cells on a solid substrate:
                </h5>
                <ol>
                    <li>In the hood, ethanol and flame sterilize coverslips and place in 35&nbsp;mm sterile petri dishes or 6-well plates.
                    </li>

                    <li>Seed cells at desired concentration directly onto the coverslip in the dishes.
                    </li>

                    <li>Grow up 1-2 days until they have reached the desired density.
                    </li>

                    <li>To process, remove the coverslips and dip twice in a small beaker full of 15&nbsp;mM Na/K-PO4 buffer, pH 6.5 to wash away any floaters. Drain the excess buffer from the coverslip, dry the back with a Kimwipe and put it down (cells side up!) on your bench.
                    </li>

                    <li>Proceed with agar overlay procedure or fixation immediately.
                    </li>
                </ol><br>
                <h5>
                    For development under agarose:
                </h5>
                <ol>
                    <li>Harvest the cells, wash 3 times in DB and resuspend 2-3&nbsp;x&nbsp;10<sup>6</sup> cells in 100&nbsp;µl DB+Ca+Mg.
                    </li>

                    <li>Place the cells onto a sterile coverslip and allow them to attach for a few&nbsp;minutes.
                    </li>

                    <li>Once the cells are attached, remove the excess buffer from the coverslip using a Pasteur pipette, and carefully pick up a 1&nbsp;cm2 agarose overlay (see below) with a razor blade and place on top of the cells.
                    </li>

                    <li>Incubate the coverslip in a moist chamber at room temperature (a petri dish lined with a damp piece of filter paper) until they reach the desired stage of development.
                    </li>

                    <li>Keep an eye on the coverslip to make sure it doesn't dry out and add a few microliters of DB if necessary.
                    </li>

                    <li>Immediately before you are ready to fix the cells, thoroughly absorb the excess buffer or media from the surface of the agarose sheet using a small piece of 3MM filter paper. Be careful not to disturb the agarose sheet, so as to flatten, but not burst, or disaggregate the cells in the process (you may want to monitor the cells under a microscope as you do this).
                    </li>

                    <li>Proceed to fix the sample.
                    </li>
                </ol>
            </div>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
            <hr>
            <h4>
                Agar Overlay
            </h4>

            <div class="note">
                <span class="nw">Note: </span>
                The agar overlay technique serves to flatten out the cells during fixation onto a glass cover slip in order to achieve better resolution. It should result in cells that are 1-2&nbsp;microns thick and 20-30&nbsp;microns wide. Do not use this technique if you are planning to use the confocal microscope to look at your slides.
            </div>

            <div>
                <ol>
                    <li>Make a 2% agarose solution in 15&nbsp;mM Na/K-PO<sub>4</sub> buffer (pH 6.5).
                    </li>

                    <li>Place two coverslips on each end of a clean glass slide as spacers, and drop 1 ml of the hot agarose solution onto the glass slide. Place another slide on top of the agarose and press both sides of the agarose "sandwich" with your fingers until the agarose gels. The "sandwich" should then be placed in a petri dish filled with 15&nbsp;mM Na/K-PO<sub>4</sub> buffer and can be stored this way for up to a day.
                    </li>

                    <li>When you are ready to use the agarose sheet, slide the upper slide glass off and cut the agarose sheet with a razor blade to make 1 cm2 square overlays. Place a moist agarose overlay on top of the cells, taking care not to disturb them or move them around. Immediately before fixing, use a piece of 3MM filter paper at the edges of the agar overlay to absorb any excess moisture. The coverslip should be fairly dry (but not completely dried out!) for proper fixation.
                    </li>
                </ol>
            </div>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
            <hr>
            <h4>
                Fixation
            </h4>

            <div class="note">
                <span class="nw">Note: </span>
               There are many ways to fix cells for immunofluorescence. Below are described three fixation techniques that work well for preserving cytoskeletal elements in Dictyostelium. You may need to experiment with these or other fixations to find the one that works best for your purposes.
            </div>

            <div>
                <h5>
                    Methanol fixation:
                </h5>
                <ol>
                    <li>Use only anhydrous methanol and add Molecular Sieves dehydrating agent to the bottle as soon as it is opened. Store the methanol in the freezer. This fixation works well for DAPI staining.
                    </li>
                    <li>Dip the coverslip instantaneously into -15°C methanol in a coverslip jar in the freezer. Fix for 5&nbsp;minutes.
                    </li>

                    <li>Transfer the samples from the fixing solution to wash solution (PBS&nbsp;pH 7.2/0.05% Tween 20).
                    </li>

                    <li>Wash 3&nbsp;times for 5&nbsp;minutes. Use at least 100&nbsp;ml of wash solution each time.
                    </li>
                    <li style="list-style: none">
                        <br>
                        This step washes out the fixatives which may interfere with binding of your antibody and also extracts the soluble substances from the sample. If using an agarose sheet, it should have stayed on the coverslip through the fixation step, but should fall off in the PBS washes.
                    </li>
                </ol><br>
                <h5>
                    Formaldehyde/methanol fixation:
                </h5>
                <ul>
                    <li>Make a stock of 1% or 2% formaldehyde in anhydrous methanol. Add some Molecular Sieves and store in the freezer. This fixation works well for actin and myosin staining. Fix and wash as described above.
                    </li>
                </ul><br>
                <h5>
                    2-step fixation:
                </h5>
                <ol>
                    <li>Make a stock of 1.85% formaldehyde in 15&nbsp;mM Na/K-PO<sub>4</sub> buffer, pH 6.5 (This is equivalent to a 5% solution of concentrated formaldehyde). Prepare methanol as described above. Use this fixation for staining tubulin.
                    </li>
                    <li>Carefully place 100&nbsp;µl formaldehyde stock on coverslip (or on top of agarose overlay if appropriate). Incubate at room temperature for 5&nbsp;minutes.
                    </li>

                    <li>Drain the formaldehyde solution from the coverslip and/or use a small piece of filter paper at the edge of the coverslip to blot off excess moisture.
                    </li>

                    <li>Quickly dip the coverslip into -15°C methanol in a coverslip jar in the freezer. Fix for 5&nbsp;minutes.
                    </li>

                    <li>Wash as described above.
                    </li>
                </ol><br>
            </div>
            <div align="center">
                <span class="nw">DO NOT LET THE SAMPLES DRY OUT FROM HERE ON</span>
            </div>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
            <hr>
            <h4>
                Antibodies
            </h4>
            <div>
                <h5>
                    Blocking:
                </h5>

                    <div class="note">
                        <span class="nw">Note: </span>
                        It is a good idea to do a blocking step to help reduce non-specific binding of your antibody.
                    </div>

                <ol>
                    <li>Apply 50&nbsp;µl of a 1:20&nbsp;dilution of normal goat serum (NGS) in 0.1%&nbsp;BSA/PBS solution over the sample.
                    </li>

                    <li>Incubate in a moist chamber at 37°C for 30&nbsp;minutes.
                    </li>

                    <li>Drain off excess blocking solution from coverslips and apply primary antibody.
                    </li>
                </ol><br>
                <h5>
                    Primary antibody:
                </h5>
                <ol>
                    <li>Dilute your antibody in 0.1% BSA/PBS and spin the diluted antibody solution at 4°C for 15&nbsp;minutes before using. Generally, a concentration of antibody 10 times that which you use for a Western blot works well for immunofluorescence. You may need to test a range of dilutions to determine what works best.<br>
                        <br>
                    </li>
                    <li>Apply 40-80&nbsp;µl of your diluted antibody over the sample and incubate 30&nbsp;minutes in a moist chamber at 37°C.
                    </li>

                    <li>Wash 3&nbsp;times for 5&nbsp;minutes in PBS/0.05% Tween-20.
                    </li>

                    <li>Apply secondary antibody.
                    </li>
                </ol><br>
                <h5>
                    Secondary antibody:
                </h5>
                <ol>
                    <li>Dilute the appropriate FITC or TRITC-conjugated secondary antibody 1:20 in&nbsp;PBS/0.1% BSA.
                    </li>

                    <li>Incubate over samples for 30&nbsp;minutes&nbsp;at 37°C.
                    </li>

                    <li>Wash 5&nbsp;minutes x 3 in PBS/0.05% Tween-20.
                    </li>

                    <li>Rinse in water for a few seconds and air dry the coverslips.
                    </li>
                </ol><br>
                <h5>
                    Mounting
                </h5>
                <ol>
                    <li>Add a drop of Gelvatol to the middle of a clean glass slide.
                    </li>

                    <li>Mount the coverslip (cell side down!) onto the Gelvatol taking care not to trap any bubbles between the coverslip and glass slide. For fluorescein samples, add DABCO to Gelvatol stock at 100&nbsp;mg/ml before mounting<!--(we routinely borrow DABCO from Goldman's lab)-->.
                    </li>
                </ol>
                    <div class="note">
                        <span class="nw">Note: </span>
                         Mounted slides should be stored in the dark at 4°C. They may be observed under fluorescence after one hour setting time. However, the fluorescence will fade within a week.
                    </div>
            </div>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
            <hr>
            <p>
                <a name="mat" id="mat"></a>
            </p>
            <h3>
                Materials
            </h3>
            <ul>
                <li>
                    <u>10X PBS (1 L)</u><br>
                    <ul>
                        <li>80g NaCl
                        </li>
                        <li>2g KCl
                        </li>
                        <li>11.5g Na<sub>2</sub>HPO<sub>4</sub>.7H<sub>2</sub>O
                        </li>
                        <li>2g KH<sub>2</sub>PO<sub>4</sub>
                        </li>
                    </ul>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>
                    <u>15 mM Na/K-PO<sub>4</sub> buffer, pH 6.5</u><br>
                    <ul>
                        <li>make a 15 mM solution of KH<sub>2</sub>PO<sub>4</sub>
                        </li>
                        <li>make a 15 mM solution of Na<sub>2</sub>HPO<sub>4</sub>
                        </li>
                        <li>add Na<sub>2</sub>HPO<sub>4</sub> to KH<sub>2</sub>PO<sub>4</sub> until pH 6.5 is reached
                        </li>
                    </ul>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>
                    <u>Gelvatol</u><br>
                    <ul>
                        <li>Add 2.4 g Gelvatol <!--(borrow from Green lab!)--> to 6 g of glycerol. Stir to mix.
                        </li>
                        <li>Add 6 ml of water and leave for several hours or overnight at room temperature.
                        </li>
                        <li>Add 12 ml of 0.2 M Tris (pH 8.5), and heat to 50°C for 10&nbsp;minutes with occasional mixing.
                        </li>
                        <li>After the Gelvatol dissolves, clarify by centrifugation at 5000g for 15&nbsp;minutes.
                        </li>
                        <li style="list-style: none">
                            <br>
                        </li>
                    </ul>Aliquot in microfuge tubes and store in the freezer.<br>
                    Stocks of Gelvatol are stable at room temperature for several days after thawing.<br>
                    <br>
                    <br>
                </li>
            </ul>
            <p>
                For further tips, see Fukui et al., Chapter 19 of Methods in Cell Biology, Vol 28
            </p>
                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>

            </div> <!-- col-sm-8 -->
            <div class="col-sm-2 col-xs-1"></div>
        </div>
    </div>
</div>