<definition-bar text="Listserv <  Community" look="definitionLink"></definition-bar>

<div class="container">

    <div class="jumbotron research" ng-controller="AnchorController">
        <div class="row" align="center">
            <div class="techSubHeader"><h3>Community</h3></div>
            <h1>Dicty Listserv</h1>
            <img src="images/logoListservDicty.png" class="img-responsive">
            <h3>E-mail Discussion Forum Archive</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-10">

            <h4>
                The Dicty ListServ is an email discussion list where everyone can post questions and answers related to <i>Dictyostelium</i> by writing to: <a href="mailto:dicty@listserv.it.northwestern.edu">dicty@listserv.it.northwestern.edu</a>. In order to receive the answers that people send to the ListServ users need to become a <a href="http://dictybase.org/db/cgi-bin/dictyBase/colleague/colleagueSearch">dictyBase colleague</a>.<br>
                <br>
                We have complied a ListServ Archive, with all the questions and answers sent to the Dicty ListServ since 1997.<br>
                <br>
            </h4>

        </div> <!-- End of col-md-3 col-sm-2, i.e., the central column -->
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
    </div> <!-- row -->
    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-6 col-sm-8 col-xs-10">
            <h5>
            <ul>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html">Browse through the questions</a>
                </li>

                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#generalq">General Dictyostelium Questions</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#genef">Gene Features</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#transfo">Transformation</a>
                </li>
                <li style="list-style: none">
                    <ul>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#transfo_selec">Selection of Transformants</a><sup>&nbsp;</sup>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#transfo_prot">Transformation Protocols</a><sup>&nbsp;</sup>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#transfo_issues">General Transformation Issues</a><sup>&nbsp;</sup>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#ko">Gene Disruption</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#geneex">Gene Expression in Dictyostelium</a>
                </li>
                <li style="list-style: none">
                    <ul>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#geneex_Dicty">Dictyostelium as an Expression System</a>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#geneex_repor">Reporter Genes</a>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#geneex_ptags">Protein Tags</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#vectors">Dictyostelium Vectors</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#growth">Growing Dictyostelium</a>
                </li>
                <li style="list-style: none">
                    <ul>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#media">Media</a>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#axe">Growing Dictyostelium in Axenic Medium</a>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#bact">Growing Dictyostelium on Bacteria</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#celldiff">Dictyostelium Cell Types and Cell Differentiation</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#molecbiol">Molecular Biology Techniques</a>
                </li>
                <li style="list-style: none">
                    <ul>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#molecbiol_genomic">Genomic DNA Preparations</a>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#molecbiol_cloning">Cloning and PCR Amplification</a>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#molecbiol_RNA">RNA extraction and Nothern blots</a>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#molecbiol_probes">Probes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#biochem">Biochemistry Techniques</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#proteins">Dictyostelium Proteins</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#cyto">Cytoskeleton</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#cellbio">Cell Biology Methods</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#micro">Microscopy</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#staining">Cell Staining</a>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_questions.html#reagents">Drugs, Inhibitors, Reagents</a>
                </li>
                <li style="list-style: none">
                    <ul>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#reagents_reagents">Reagents</a>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#reagents_abs">Antibodies</a>
                        </li>
                        <li>
                            <a href="#/community/listserv/listserv_archive_questions.html#reagents_drugs">Drugs and Inhibitors</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/community/listserv/listserv_archive_unansw.html">Unanswered Questions</a>
                </li>
            </ul>
            </h5>

            <hr>
            <p>
                Related resources in dictyBase include:
            </p>
            <ul>
                <li>
                    <a href="#/help/faq">Frequently Asked Questions</a>
                </li>
                <li>
                    <a href="http://www.dictybase.org/newsletter/">Dicty Newsletter Archive</a>
                </li>
                <li>
                    <a href="#/help">dictyBase Help Documentation</a>
                </li>
            </ul>

        </div> <!-- End of col-md-3 col-sm-2, i.e., the central column -->
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
    </div> <!-- row -->
</div> <!-- container -->
