<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>ListServ Archive: Unanswered Questions</title>
    </head>
    <body>
        <p>
            <a name="unansw" id="unansw"></a>
        </p>
        <h1>
            <a name="unansw" id="unansw"><b>Unanswered Questions</b></a>
        </h1>
        <hr>
        <ul>
            <li>Just wondering: is there a good reason why Dictyo so frequently has polyN, polyQ, etc repeats in so many of its proteins ? Are there other organisms doing the same ? I will send a summary of the answers to everybody,<br>
                <i>-Pierre Cosson, Centre Médical Universitaire, Geneva, Switzerland, 15 Aug 2003</i>
            </li>
            <li style="list-style: none">
                <br>
                <!--
This is discussed in [genome paper]
Pascale Gaudet, Northwestern University, Chicago, IL, 9 Mar 2005-->
            </li>
            <li>I wonder whether anybody can tell me if they have used the Lumio kit for labelling proteins in Dictyostelium? Were there any significant background/ permeability/ toxic effects? Thanks!<br>
                <i>-Margaret Clotworthy, MRC Laboratory of Molecular Biology, UK, 5 March 2004</i>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Are there any dicty strains available that have gfp-inserts and/or gfp-fused proteins with known function (like a camp receptor or cytoskeleton label)? and- how stable are these inserts over generations? Purpose: I teach a cell biol tech lab course (soph-jr level): once/week, 5hr, 2 cred. I have introduced working actin labelling and chemotaxis labs. I'd be glad to send protocols upon request. it would be dramatic (ie- turn the students "on") to show "glowing" amoebae either as demo of gfp utility or as exp workup with some temporal/spatial changes. So- could any of you share such a strain with me and our students?<br>
                <i>-Jared L. Rifkin, Queens College, NY, 12 Mar 2004</i>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>A naive question concerning growth of dictyo on bacterial lawns. We use for this a standard medium (recipe below), and use Klebsiella bacteria. I was wondering what is the reason for adding MgSO4 to this medium. In principle it is not essential for the bacteria, and neither for the Dictyo. In addition, compared to HL5, this medium is mostly poor in yeast extract (7 times less than in HL5), and somewhat lower in sugar (2 times less). Is there any rational to this recipe? Are there different options for this medium ? Did anyone experience medium without magnesium sulfate? Standard medium (SM), for 1 liter :<br>
                10g Oxoid peptone, 1g Yeast extract Difco, 2.2g KH<sub>2</sub>PO<sub>4</sub> Fluka, 1g K<sub>2</sub>HPO<sub>4</sub> Wako, 1g MgSO<sub>4</sub> 7H<sub>2</sub>O Merck, 20g Bactoagar, complete to 950ml with bidistilled H<sub>2</sub>O (cell culture water), autoclave, cool to 50°C, add 50&nbsp;ml&nbsp;glucose 20g/100ml (filtered sterile), pour plates (&gt;35ml/plate).<br>
                <i>-Pierre Cosson, Centre Médical Universitaire, Geneva, Switzerland, 4 May 2004</i>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>I used Amersham cGMP assay kit RPN226 to measure the cGMP concentration but failed to see the increase of cGMP level upon cAMP or sorbitol stimulation. Did anybody try this kit before? Does anybody have a Dicty specific protocol I could follow? How does it compare to the old kit using tritium labelled cGMP? Thanks.<br>
                <i>-Fei Du, UCSD, CA, 25 May 2004</i>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Millipore recently altered the manufacturing process of its round nitrocellulose filter pads (0.8&nbsp;µm, Black/White, AAWP, 47mm), which prolongs the dicty development on these pads. I wonder whether there are any proper substitutes. Thank you.<br>
                <i>-Yi Chen, Derrick Brazill's lab, Hunter College, NY, 9 Jun 2004</i>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>I am facing a problem of ligating a relatively small fragment of about 600 bp into a Dictyostelium vector of about 11 Kb. I have tried the ligation with different enzymes and with different conditions but so far have no success. The fragment is obtained after digesting with BamH1 and Xcm1. Does anybody have any suggestion for this.<br>
                <i>-Maqsood A. Ansari, UK, Jul 21, 2004</i>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>I too am facing a similar problem but of the reverse order. Trying to insert a 2450 bp fragment in 6Kb Dicty vector (derivative of Ecm-BGal Vector). It involves removing a 132 bp fragment from the modified Dicty vector and inserting the 2450 bp fragment there. Any advise will be highly appreciated.<br>
                <i>-Bhavesh Vats, 6 Aug 2004</i>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>We have had some difficulty trying to clone large pieces of dicty DNA into general cloning vectors. These pieces range 2.5-5.0 kb. Does anybody out there know of or have a good cloning vector that can accommodate pieces in this size range? Any suggestions or modified protocols would be greatly appreciated. Thanks,<br>
                <i>-Denis A. Larochelle, Clark University, Worcester, MA, 11 Aug 2004</i>
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ul><!--#include virtual="/inc/footer_withSide.html"-->
    </body>
</html>
