<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>ListServ Archive: Growing Dictyostelium</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a> <a name="growth" id="growth"></a>
        </p>
        <h1>
            <a name="growth" id="growth"><b>Growing Dictyostelium</b></a>
        </h1>
        <hr>
        <p>
            <a name="growth1" id="growth1"></a> <b>I have a question to people who has isolated Dicties from the nature. I cannot separate the strains from the fungi. Could anybody give me some advices? Thank a lot</b><br>
            <i>-Joanna Laszczuk, University of Gdansk, POLAND, 30 Nov 1999</i><br>
        </p>
        <ul>
            <li>You might try growing the amoebae on a bacterial lawn on a plate containing about 10-40&nbsp;µ/ml of the polyene antibiotic nystatin. Fungi and yeasts in general are more sensitive to nystatin than cellular slime mould amoebae. The nystatin stock solution (say&nbsp;20&nbsp;mg/ml) should be made in dimethyl formamide. Good luck<br>
                <i>-D P Kasbekar, 30 Nov 1999</i>
            </li>
        </ul>
        <p align="right">
            <a href="#top">[TOP]</a>
        </p><!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
