<div class="container" ng-controller="AnchorController">
    <a name="cytosk" id="cytosk"></a>
    <div class="jumbotron research">
        <div class="row" align="center">
            <div class="techSubHeader"><h3>Community</h3></div>
            <p>
                <span class="size40"> <a href="/community/listserv"><img src="images/logoListservDictySmall.png" class="top"></a> Dicty Listserv </span> 
            </p>
            <h1>Methods to Study the Cytoskeleton</h1>
            <br>      
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-10">

            <ul>
                <li>
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk1">Isolation of actin-binding proteins: Does anybody have experience on depolymerization of cortex? I try to isolate a actin binding protein from cortex prepared from Triton-treated Dicty cells.</a>
                </li>
                <li style="list-style: none">
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk1"></a><br>
                </li>
                <li>
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk4">Does anyone know of any methods to label, exclusive of one another, either the F or G actin in a cell in a way that leaves the cell alive?</a>
                </li>
                <li style="list-style: none">
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk4"></a><br>
                </li>
                <li>
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk2">Microtubule staining: We are trying to stain microtubular cytoskeleton in Dictyostelium amoebas by means of immunocytochemistry technique. We have tried several protocols described in the literature but they failed to give acceptable results.</a>
                </li>
                <li style="list-style: none">
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk2"></a><br>
                </li>
                <li>
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk3">We want to disrupt the microtubule network in Dicty.</a>
                </li>
                <li style="list-style: none">
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk3"></a><br>
                </li>
                <li>
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk5">I am looking for a good protocol for performing a Triton Insoluble Cytoskeleton Test.</a>
                </li>
                <li style="list-style: none">
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk5"></a><br>
                </li>
                <li>
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk6">I can't find any reference to intermediate filaments in Dictyostelium. Do they exist? Are some genes identified?</a>
                </li>
                <li style="list-style: none">
                    <a href="/community/listserv/listserv_archive_cytosk.html#cytosk6"></a>
                </li>
            </ul>
            <br>
            <div align="center">
                <a href="/community/listserv" class="label label-info">Back to Listserv</a>
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br>
            <hr>
            <p>
                <a name="cytosk1" id="cytosk1"></a> <b>Isolation of actin-binding proteins: Does anybody have experience on depolymerization of cortex? I try to isolate a actin binding protein from cortex prepared from Triton-treated Dicty cells.</b><br>
                <i>-Zhe Feng, U. Connecticut, CT, 5 Sep 1997</i><br>
            </p>
            <ul>
                <li>Try dialysis against very low ionic strength buffer, pH 8.0 or higher, that contains a divalent cation chelator, e.g., 0.1 mM EDTA, 0.2 mM sodium phosphate, pH 7.9 - 8.0. This treatment works well at removing actin from isolated plasma membranes, presumably because actin is denatured by chelation of the divalent cations, especially magnesium ions, that are required for polymerization and stabilization of the native structure [<a href="http://dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=3818">Luna et al. 1981</a>]. Also see <a href="http://dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=9003">Annamma Spudich's chapter in Methods in Cell Biology (1987)</a>. She recommends 10 mM triethanolamine, pH 8.0, 0.5 mM ATP, 0.5 mM DTT, and 20&nbsp;µM MgCl<sub>2</sub>. If proteolysis is a problem, you can add protease inhibitors, but increasing ionic strength will inhibit actin depolymerization.<br>
                    <i>-Elizabeth J. Luna, 6 Sep 1997</i><br>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>We routinely release myosin from the actin cytoskeleton by raising salt concentration (150 mM KCl) and adding ATP. Similar treatment may apply to some actin binding proteins.<br>
                    <i>-Tung-Ling Chen, Northwestern University, Chicago, IL 8 Sep 1997</i><br>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>Dr. Luna, I tried your EDTA solution to depolymerize cortex. It worked very well. Thank you very much.<br>
                    <i>-Zhe Feng, 26 Sep 1997</i><br>
                </li>
            </ul>
            <br>
            <div align="center">
                <a href="/community/listserv" class="label label-info">Back to Listserv</a>
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br>
            <hr>
            <p>
                <a name="cytosk4" id="cytosk4"></a> <b>Does anyone know of any methods to label, exclusive of one another, either the F or G actin in a cell in a way that leaves the cell alive? Has anyone tried to electroporate phalloidin into cells? We're trying to measure the actin populations in a way that won't kill the cell. Any info and/or suggestions will be appreciated. thanks,</b><br>
                <i>-Diana, 13 May 2002</i><br>
            </p>
            <ul>
                <li>You could express GFP-coronin in the cells. Since coronin seems to bind wherever F-actin is, this could be a good assay for F-actin.<br>
                    <i>-Richard Sucgang, 13 May 2002</i><br>
                </li>
            </ul>
            <br>
            <div align="center">
                <a href="/community/listserv" class="label label-info">Back to Listserv</a>
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br>
            <hr>
            <p>
                <a name="cytosk2" id="cytosk2"></a> <b>Microtubule staining: We are trying to stain microtubular cytoskeleton in Dictyostelium amoebas by means of immunocytochemistry technique. We have tried several protocols described in the literature but they failed to give acceptable results. Our problem is that the anti-tubulin antibody we possess is a standard one purchased from Sigma and directed against human, rat, chicken etc. tubulin whereas in the papers we refer to, the authors used anti-yeast tubulin antibody. Our question is: can our problem with staining be ascribed to antibody we used or rather it is connected with fixation/extraction procedure ? Any suggestions or comments will be greatly appreciated,</b><br>
                <i>-Jola Sroka, 1 Dec 1997</i><br>
            </p>
            <ul>
                <li>In my case, anti-yeast tubulin antibody supplied by Sera-Lab gives me the best results, but faint staining with antibody from Amersham. I have not yet tried Sigma's. For fixation, you can use either cold methanol or formaldehyde solution, but not acetone which disrupts the microtubule array. Good luck!<br>
                    <i>-Sameshima Masazumi, The Tokyo Metropolitan Institute of Medical Science (Rinshoken), 1 Dec 1997</i><br>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>We have tested many different fixation methods, but we discarded formaldehyde solutions because MTs are not preserved at the EM level and other fixes such as alcohol or acetone probably have similar effects. We have, however, obtained excellent preservaiton of the MT cytoskeleton in 5 species of slime molds with a combination of fixation and permeabilization in an MT-stabilizing buffer (<a href="http://dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=9015">Roos 1987</a>, <a href="http://dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=2359">Guhl and Roos 1994</a>). The monoclonal antibodies we have mostly used are the two alpha-tubulin-specific mABs TAT1 raised against Trypanosoma ctytoskeletons by Sherwood and Gull, and the yeast tubulin-specific YL/2 from John Kilmartin. I seem to remember that the latter is available commercially, but I would have to check my source. Best regards and lots of success!<br>
                    <i>-U.-P. Roos, University of Zurich, Zurich, Switzerland, 2 Dec 1997</i><br>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>YL1/2 appered on Dr. Roos' mail is the same antibody which I have recomended and it can be purchased from Sera Lab (Code MAS 077). Actually I fixed cells by combined methods of semi-quick freeze using aluminum block (cooled to liq. N<sub>2</sub> temperature) contact and permialization using slurry of methanol (approx. -90°C, <a href="http://dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=5436">Sameshima et al 1991</a>). By using this method, osmotic shock and slow penetration of fixatives caused by chemical fixative solution can be avoided.<br>
                    <i>-Sameshima Masazumi, The Tokyo Metropolitan Institute of Medical Science (Rinshoken), 3 Dec 1997</i><br>
                </li>
            </ul>
            <br>
            <div align="center">
                <a href="/community/listserv" class="label label-info">Back to Listserv</a>
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br>
            <hr>
            <p>
                <a name="cytosk3" id="cytosk3"></a> <b>We want to disrupt the microtubule network in Dicty vegetative and aggregate competent cells. How are folks doing that these days? What drug are you using, at what concentration and what is the time course of disruption? How quickly does it wash out? Any info will be helpful.</b><br>
                <i>-Charles Saxe, Emory University School of Medicine, Atlanta, GA, 3 May 2002</i><br>
            </p>
            <ul>
                <li>Disrupting the MTs in Dicty is not trivial. The MTs are cold resistant, so cold will not work. You can use nocodazole, but it takes quite a while, several hours, to really get rid of most MTs. You can wash out nocodazole. The problem is that this is not a rapid process, especially the blocking. I'd be interested to learn if anyone else has a better approach.<br>
                    <i>- Rex Chisholm, Northwestern University, Chicago, IL, 3 May 2002</i><br>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>I seem to recall a Biological Bulletin by Kei Inouye using thiobendazole at 50&nbsp;µg/ml to disrupt enough MTs to capture mitotic figures. I don't have direct experience with the stuff, but perhaps someone else can describe its kinetics?<br>
                    <i>-Richard Sucgang, Baylor College of Medicine, 3 May 2002</i><br>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>I've been using thiabendazole and benlate for diploid segregation, for this the best concentrations I've found are 5&nbsp;µg/ml for thiabendazole and 10&nbsp;µg/ml for benlate (for axenically growing cells) higher concentrations do a lot of damage to the cells after a day or so. On bacterial plates I was using 2&nbsp;µg/ml thiabendazole or 20&nbsp;µg/ml benlate, both of which allowed cells to grow and develop normally if a little slower than usual. You could try higher concentrations for a shorter period or time as I have no idea how much damage to microtubules is actually being done.<br>
                    <i>- Jason King, The University of Birmingham, UK, 7 May 2002</i><br>
                </li>
            </ul>
            <br>
            <div align="center">
                <a href="/community/listserv" class="label label-info">Back to Listserv</a>
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br>
            <hr>
            <p>
                <a name="cytosk5" id="cytosk5"></a> <b>I am looking for a good protocol for performing a Triton Insoluble Cytoskeleton Test. Any info, protocol or suggestions will be helpful.</b><br>
                <i>-Madhavi Agarwal, Clark University Worcester, MA, 24 Oct 2002</i><br>
            </p>
            <ul>
                <li>The actin polymerization papers of <a href="http://dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?author=McRobbie">McRobbie</a> &amp; <a href="http://dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?author=Newell">Newell</a> (one was in JCS; I can't remember the other offhand) give fairly good details of a Triton assay.<br>
                    <i>-Robert Insall, The University of Birmingham, UK, 24 Oct 2002</i><br>
                </li>
            </ul>
            <br>
            <div align="center">
                <a href="/community/listserv" class="label label-info">Back to Listserv</a>
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br>
            <hr>
            <p>
                <a name="cytosk6" id="cytosk6"></a> <b>I can't find any reference to intermediate filaments in Dictyostelium. Do they exist? Are some genes identified?</b><br>
                <i>-Pierre Cosson, Centre Médical Universitaire Genève, Switzerland, 15 Feb 1999</i><br>
            </p>
            <ul>
                <li>As far as I know, intermediate filaments don't exist in Dicty, with the exception of the related nuclear lamins. In general, intermediate filaments are found only in truly multicellular organisms. Best regards,<br>
                    <i>-Gabriel Fenteany, Harvard, MA, 15 Feb 1999</i><br>
                </li>
                <li style="list-style: none">
                    <br>
                </li>
                <li>A few years ago Carl Taphouse tried standard IF preps on Dicty cells, and got a small amount of a 50 kDa band in veg cells. In developing cells we got several bands, the most prominent being at 36 kDa. We did trypsin digests, HPLC of peptides, and aa sequencing, and the 50 kDa band was elongation factor 1-alpha, and the 36 kDa band was a close but not exact match to discoidin I (which is normally 26 kDa). I also tried immunofluorescence with anti-vimentin, anti-skelemin and anti-desmin antibodies, and saw nothing. I mentioned this to Gunther Gerisch, and if I remember correctly he said he did immunofluorescence with the same results.<br>
                    <i>-Richard Gomer, Howard Hughes Medical Institute, Rice University, Houston, TX, 15 Feb 1999</i><br>
                </li>
            </ul>
            <br>
            <div align="center">
                <a href="/community/listserv" class="label label-info">Back to Listserv</a>
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br>

        </div> <!-- End of col-md-3 col-sm-2, i.e., the central column -->
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
    </div> <!-- row -->
</div> <!-- container -->
