<div class="container" ng-controller="AnchorController">
<a name="growth" id="growth"></a>
    <div class="jumbotron research">
        <div class="row" align="center">
            <div class="techSubHeader"><h3>Community</h3></div>
            <p>
                <span class="size40"> <a href="/community/listserv"><img src="images/logoListservDictySmall.png" class="top"></a> Dicty Listserv </span> 
            </p>
            <h1>Growing Dictyostelium</h1>
            <br>      
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-10">

            <p>
                <a name="growth1" id="growth1"></a> <b>I have a question to people who has isolated Dicties from the nature. I cannot separate the strains from the fungi. Could anybody give me some advices? Thank a lot</b><br>
                <i>-Joanna Laszczuk, University of Gdansk, POLAND, 30 Nov 1999</i><br>
            </p>
            <ul>
                <li>You might try growing the amoebae on a bacterial lawn on a plate containing about 10-40&nbsp;µ/ml of the polyene antibiotic nystatin. Fungi and yeasts in general are more sensitive to nystatin than cellular slime mould amoebae. The nystatin stock solution (say&nbsp;20&nbsp;mg/ml) should be made in dimethyl formamide. Good luck<br>
                    <i>-D P Kasbekar, 30 Nov 1999</i>
                </li>
            </ul>
            <br>
            <div align="center">
                <a href="/community/listserv" class="label label-info">Back to Listserv</a>
                <a ng-click="gotoAnchor('top')" href="" class="label label-primary">Top</a> 
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div> <!-- End of col-md-3 col-sm-2, i.e., the central column -->
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
    </div> <!-- row -->
</div> <!-- container -->
