        <h1>
            <a name="top" id="top">General Dicty Techniques</a>
        </h1>
        <p>
            These protocols have been updated and moved:
        </p>
        <ul>
            <li>
                <a ng-href="#/research/techniques/media/dicty_growth.html">Dictyostelium growth protocols</a>
            </li>
            <li>
                <a ng-href="#/research/techniques/media/dicty_development.html">Dictyostelium development protocols</a>
            </li>
            <li>
                <a ng-href="#/research/techniques/media/dicty_storage.html">Cell storage procedures</a>
            </li>
        </ul><!--
<p><b><h3>Contents</h3></b></p>
<ul>
<a href="" ng-click="scrollTo('growth')">General Considerations for Growing <i>Dictyostelium discoideum</i></a><br>
<a href="" ng-click="scrollTo('density')">Determination of Cell Density</a><br>
<a href="" ng-click="scrollTo('rate')">Estimation of Growth Rates of Exponential Cultures</a><br>
<a href="" ng-click="scrollTo('axenic')">Axenic Growth</a><br>
<a href="" ng-click="scrollTo('bacteria')">Growth on Bacteria</a><br>
<a href="" ng-click="scrollTo('devel')">Development of <i>Dictyostelium</i></a><br>
<a href="" ng-click="scrollTo('perm_stocks')">Preparation and Use of Permanent <i>Dictyostelium</i> Stocks</a><br>
<a href="" ng-click="scrollTo('recipes')">Recipes</a> <br>
</ul>
<p><b>Download <a ng-href="#/research/techniques/word_docs/general_dicty_techniques.doc">word file</a>.</b></p>
<p align="right"><a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a></p>
<hr>
<p>
<a name="growth"><b><h3>General Considerations for Growing <i>Dictyostelium discoideum</i></h3></b></a>
  </p>
<ul>
<p><i>Dictyostelium discoideum</i> is a eukaryotic cellular slime mold that has many advantages for the study of
cellular differentiation and development.
Perhaps one of the most important is that its developmental program is relatively simple.
Entire cultures can be developed in a synchronous fashion, allowing the isolation of
large quantities of developmentally regulated macromolecules. </p>
<p><i>Dictyostelium</i> cells are relatively easy to grow.  Bacteria is the usual nutrient source.
When grown on bacteria, <i>Dictyostelium</i> cells have a doubling time of approximately 3.5h.
Wild-type strains are unable to grow in axenic medium. Derivatives of the wild-type strain NC-4 that
can grow free of other living organisms (axenic or AX strains), have been obtained. Cells grown in axenic
medium have slower growth rates: they have a doubling time of roughly 8 to 12 hours
depending on temperature, medium, the presence of selective drugs, and most likely several unknown factors. </p>
<p>  When growing cells, it is important that they remain in exponential phase rather than allowing them to
reach stationary phase. Therefore it is important to establish and maintain a reasonable schedule for splitting
the cultures to insure an adequate supply of cells that develop well.
Cells should never be allowed to grow beyond 2x10<sup>6</sup> cells/ml. Cultures of higher densities begin to secrete
  factors that trigger entry into development, therefore changing the physiology
  of the culture. On the other hand, it is generally not a good idea
to split the cells so that the cell density is less than 1x10<sup>4</sup> cells/ml.
Cultures of lower cell densities lag for a period that
  can be difficult to estimate (see <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=11816">Franck et al 2008</a>). Optimal growth of <i>Dictyostelium</i> is observed at a temperature of 22&deg;C.<br></p>
</ul>
<p align="right"><a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a></p>
<hr>
<p><a name="density"><b><h3>Determination of Cell Density</b></h3></a></p>
<ul>
<p>Cell density is easily determined by taking an aliquot of the culture and counting it in a hemocytometer.
The standard hemocytometer carries a grid that is 3 mm on a side (see image below). Count 5 squares 1 mm on a side.
Divide that number by 5 to obtain the average number of cells per sq. mm. Since the coverslip sits 0.1 mm above the
surface of the hemocytometer, the volume of the counting chamber is actually 0.1 cubic mm. Therefore, to obtain the
cell density in cells per&nbsp;ml, the number of cells counted must be multiplied by 1x10<sup>4</sup>.
When the cells approach densities of greater than 1-5x10<sup>6</sup>
it is usually a good idea to do a 1:10 dilution of the culture sample prior to putting it in the hemocytometer. </p>
  <img src="views/research/techniques/images/hemacytometer.png">
</ul>
<p align="right"><a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a></p>
<hr>
<p><a name="rate"><b><h3>Estimation of Growth Rates of Exponential Cultures</b></h3></a></p>
<ul><p>Use the following formula to determine either the doubling time, the final
cell density given a certain inoculum or the inoculum necessary for a given
  final cell density:<br>
<p align="center"><h3>  N = N<sub>o</sub> 2<sup>n</sup></h3></p>
  where: <br><br>
  N= final cell density <br>
  N<sub>o</sub>= initial cell density <br>
  n= number of generations</p><br>
</ul>
<p align="right"><a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a></p>
<hr>
<a name="axenic"><h3>Axenic Growth</h3></a>
<ul>
Cells can be axenically grown in <a href="" ng-click="scrollTo('HL-5')">HL-5</a> or in <a href="#FM">FM</a> media at 22&deg;C, shaking at 180 rpm. Maximum yield is about 2x10<sup>7</sup> cells/ml.
</ul>
<p align="right"><a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a></p>
<hr>
<a name="bacteria"><h3>Growth on Bacteria</h3></a>
The two most commonly used bacterial species to grow <i>Dictyostelium</i> are <i>Aerobacter aerogenes</i>
(also known as <i>Klebsiella aerogenes</i>) and <i>Escherichia coli</i> B/R. <br><br>
<h4>Growth in suspension in association with bacteria in SM broth</h4>
<ol><li>Grow bacteria to stationary phase in <a href="" ng-click="scrollTo('SM')">SM</a> broth.</li><br>
<li>Autoclave the culture. </li><br>
<li>Inoculate <i>Dictyostelium</i> cells at 1x10<sup>4</sup> cells/ml. </li><br>
</ol><i>Dictyostelium</i> can be washed relatively free of bacterial cells by three sequential centrifugations of
1500 rpm (4&nbsp;min.) in an RC-3 or J2 centrifuge. <br>
Yield is 1-2 x 10<sup>7</sup> cells/ml.</li>
<br><br>
<h4>Growth in suspension in association with bacteria in phosphate buffer</h4>
<ol><li>Grow a bacterial culture of in 1 l of LB.</li><br>
<li>Wash twice in <a href="" ng-click="scrollTo('DB')">DB</a>.</li><br>
<li>Suspend the bacteria in DB at an O.D. of 8.0.</li><br>
<li>Seed <i>Dictyostelium</i> cells at 3x10<sup>3</sup> to 1x10<sup>4</sup> at 22&deg;C, shaking at 180 rpm. </li><br>
</ol>Yield is 1-2 x 10<sup>7</sup> cells/ml.</li>
<br><br>
<h4>Growth on plates</h4>
<i>Dictyostelium</i> can be grown in association with bacteria on <a href="" ng-click="scrollTo('SMP')">SM plates</a>.
The bacteria initially produce a confluent lawn of cells.
Subsequently the amoebae clear the plate of the bacteria and, after reaching stationary phase, enter development
and form fruiting bodies. <br>
Mix <i>Dictyostelium</i> cells with 0.2&nbsp;ml of overnight culture of bacteria per 100 mm plate as follows:  <br>
<ul><li>If use spores: can use as many as 2-3 spore heads to inoculate each SM plate
  (ie 2-4x10<sup>5</sup> cells) because spores take several hours to germinate, which
  allows plenty of time for the bacteria to divide on the plate.</li><br>
<li>If use amoebae: use 1/3, or 8x10<sup>4</sup> cells.</li><br>
<li>In 40 hours the plate should be clearing (ie contain about 10<sup>9</sup> cells; or about 60 mg dry weight).</li>
<li>Fruiting bodies are produced after an additional 18-20 hours. </li>
</ul><br>
<h4>Clonal isolation</h4>
<ul>
  <li>Clones can be isolated from the fruiting bodies if the density of cells per plate is sufficiently low. </li><br>
  <li>Plate 100 or fewer cells on a SM plate; each amoebae will generate a single spot or
  plaque in the bacterial lawn. </li><br>
  <li>Spores from the fruiting bodies produced by an individual clone can be used to inoculate a culture.</li><br>
</ul>
<h4>Initiating axenic cultures from bacterially grown cells</h4>
<ol><li>Use a loop to remove amoebae from a single colony on a bacterial plate and suspend in <a href="" ng-click="scrollTo('SM')">SM</a> broth.
</li><br>
<li>Add bacteria and spread onto an SM agar plate.</li><br>
<li>When the plates have been cleared of bacteria, but before many fruiting bodies have formed,
harvest the Dictyostelium cells by flooding the plate with 3 to 4&nbsp;ml of <a href="" ng-click="scrollTo('HL-5')">HL-5</a> containing streptomycin sulfate (500 mg/ml).</li><br>
<li>Recover the cells and transfer to 15&nbsp;ml falcon tube. Pellet and resuspend the cells about 4 times to remove
 as many bacterial cells as possible.</li><br>
<li>Resuspend the final pellet in 25&nbsp;ml HL-5 containing streptomycin in a 125&nbsp;ml Erlenmeyer flask.
Incubate 2 to 3 days at 22&deg;C.</li><br>
<li>Transfer a small volume (1-2&nbsp;ml) into a flask containing fresh HL-5 lacking streptomycin.
Be sure to retain the bacterial plates until it is clear that the axenic cultures are not contaminated.</li><br>
</ol>
<p align="right"><a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a></p>
<hr>
<a name="devel"><h3>Development of <i>Dictyostelium</i></a></h3>
<b>Note:</b> It is best to harvest cells in mid-log phase for development (1-2x10<sup>6</sup> cells/ml). <br><br>
  <h3>Development on a solid substratum</h3>
  <ol>
<li>Take an aliquot of cells and determine cell density by counting them on a hemocytometer.</li><br>
<li>Collect 5x10<sup>8</sup> cells by centrifugation at 1500 rpm (50&nbsp;x&nbsp;g) for 4&nbsp;minutes. For a
  culture at 2x10<sup>6</sup> cells/ml this is 250&nbsp;ml of cells.</li><br>
<li>Resuspend the pellet in 0.5 volumes of sterile <a href="" ng-click="scrollTo('DB')">DB</a> or <a href="#PDF">PDF</a>, and pellet again.
  Try to maintain sterility throughout this process. Since development is induced
  by starvation, and <i>Dictyostelium</i> eats bacteria, it should be obvious that contamination
  of the development buffer with bacteria could interfere with development. </li><br>
<li>Repeat the washes twice more == for a total of 3 washes.</li><br>
<li>Resuspend the pellet following the final wash in 5&nbsp;ml of <a href="" ng-click="scrollTo('DB')">DB</a> or <a href="#PDF">PDF</a> and
  deposit them onto a Whatman #50 filter resting on 4 Whatman #3 filters which
  have been soaked in PDF and resting in a 150&nbsp;ml Petri dish. Be sure to remove
  all air bubbles trapped between the filters. Otherwise the filter is not a flat
  surface and the cells will collect in puddles in the low spots.</li><br>
<li>Remove any excess liquid. It is fairly important that the cells be evenly
  distributed over the surface of the filter. The best way to accomplish this
  is to take the entire 5&nbsp;ml of cells up into a 5 or 10&nbsp;ml pipet. Starting at
  the center of the filter allow the cell suspension to flow onto the filter.
  Move the pipet tip in an outward spiral while continuing to allow the cell suspension
  to flow onto the filter. Let the filters set for about 5&nbsp;minutes, or until all
  of the liquid has soaked into the filters, leaving a uniform layer of cells
  on the filter. Carefully tip the whole plate and aspirate excess fluid. The
  cells should of course stay in place on the surface of the filter. Put the top
  back onto the Petri dish. </li><br>
<li>Wet a folded paper towel in water and place it in the center of a 1 foot
  piece of Saran wrap. Wrap the Saran around the plate. This step helps ensure
  adequate humidity for development.</li><br>
<li>Incubate at 22&deg;C.</li><br>
<li>Cells are harvested from filters by lifting the top (Whatman #50) filter
  from the Petri dish and tearing it in half. Roll the half filter carrying the
  cells into a cylinder and put it into a 50&nbsp;ml conical plastic centrifuge tube.
  Add about 20 to 25&nbsp;ml of ice cold PDF to the tube and vortex the tube vigorously.
  This will remove most of the cells from the filter. Open the tube, pull out
  the filter and put the other half in and vortex again. After removing the filter,
  pellet the cells by centrifuging at 1500 rpm for 4&nbsp;minutes.</li><br>
</ol></li>
<h4>Development in solution</h4>
Cells can also be developed in suspension. Under these conditions, however, cells will only progress
through the first 6 to 8 hours of development. Addition of cAMP pulses to the
suspension starved culture will allow development to progress up to about the 12 hour stage.<br><br>
<ol><li>To starve cells in suspension, count the cells, harvest as above and wash three times in PDF. </li><br>
<li>After the final wash resuspend them at a density of 1x10<sup>7</sup> cells/ml in <a href="" ng-click="scrollTo('DB')">DB</a> or <a href="#PDF">PDF</a> and place them
in a sterile flask on the shaker at 22&deg;C.</li><br>
<li>Cyclic AMP pulses are added using a timer to control a peristaltic pump that delivers cAMP to the cell suspension
through tubing which goes into the flask. The pulsing is started 90 to 120&nbsp;minutes
after the initiation of starvation.  The pump is turned on every 6&nbsp;minutes for 5 seconds.
During this 5 second period cAMP is added to a final concentration of 50 nM in a volume corresponding to 0.1-0.2%
of the volume of the cell suspension. For example, for a 1.0 liter cell suspension, 0.1-0.2&nbsp;ml of cAMP may be added at each pulse.
</li><br>
</ol>
<p align="right"><a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a></p>
<hr>
<a name="perm_stocks"><b><h3>Preparation and Use of Permanent <i>Dictyostelium</i> Stocks</h3></b></a></p>
<h4>Freezing <i>Dictyostelium</i> cells</h4>
<ol><li>Pellet about 5x10<sup>7</sup> cells  harvested during exponential growth (about 2 confluent plates or axenically growing cells
 at a cell density of about 2x10<sup>6</sup> cells/ml) and chill on ice.</li><br>
<li>Add 1&nbsp;ml of cold <a href="" ng-click="scrollTo('HL-5')">HL-5</a> medium supplemented with DMSO to a final concentration of 10%.
Resuspend the cells and transfer to liquid nitrogen storage vials.</li><br>
<li>Freeze slowly (incubate on ice for 5-10&nbsp;min., then at -20&deg;C, and transfer to -80&dege;C)</li><br>
<li>Close vials and place in -70&deg;C freezer for 12 to 24 hours.</li><br>
<li>Transfer vials to liquid nitrogen for long term storage.</li><br>
<a href="listserv_freezing.html">Read the ListServ discussion on Freezing Dictyostelium Cells</a><br>
<a href="listserv_storing_dicty.htm">Read the ListServ discussion on Making Permanent Stocks of Dictyostelium Cells</a>
</ol>
<br>
<h4>Thawing <i>Dictyostelium</i> cells </h4>
<ol><li>Remove vials from liquid nitrogen and thaw quickly in a 37&deg;C waterbath, being careful to prevent the cells
from ever warming up significantly. To be safe, remove the vial from the water bath when there is still a
small bit of frozen material left.</li><br>
<li>Transfer the cells to a plate containing 10&nbsp;ml of HL-5 media.</li><br>
<li>Allow the cells to sit overnight to recover. Change the media the next day to remove the DMSO and add selective drug
if appropriate.</li>
<br>
</ol>
<h4>Long-term storage of <i>Dictyostelium</i> on silica gel</h4>
<ol><li>Fill screw-cap glass vials about half full with silica gel (6-12 mesh, grade 40).
Bake at 180&deg;C for 90&nbsp;minutes with the caps off, but covered with foil.</li><br>
<li>Prepare a 5% solution of milk in distilled water and autoclave at 15 lbs for 15&nbsp;minutes.
This solution can be stored at 4&deg;C for several weeks.</li><br>
<li>Cool the mild and silica gel vial on ice for 30&nbsp;minutes.
Considerable heat is produced when the gel is hydrated which can kill spores.
Killing of spores can be&nbsp;minimized by this precooling.</li><br>
<li>Take plates with mature fruiting bodies, but which are not too old.
The plates should be used as soon as the spores have matured. The plates should not be more than a week old.
After this time the viability of the spores decreases rapidly.
Harvest the spores by banging the inverted plates on the bench (several plates into the same lid).
Resuspend the spores in about 0.4&nbsp;ml per silica.</li><br>
<li>Pipette the spore-milk suspension into the cold silica gel.
Immediately cap the vial and shake vigorously for 5-10 seconds. Put the vial back on ice for an additional 5&nbsp;minutes.</li><br>
<li>Store vials in desiccant at 4&deg;C. </li>
</ol>
<br>
<h4>Starting cultures from silica stocks</h4>
<ol><li>Transfer a few granules of silica stock to 1&nbsp;ml of cold sterile <a href="" ng-click="scrollTo('SM')">SM</a> broth. </li><br>
<li>Mix 0.1-0.2&nbsp;ml aliquots of this solution with 0.4&nbsp;ml diluted bacteria (made by mixing a loopful of cells with 5&nbsp;ml SM broth).</li><br>
<li>A full lawn should appear on the next day and plaques in 2-4 days.</li><br>
</ol>
<b>Note:</b> A lazy, but less accurate way of starting cells from a silica is to spread bacteria on an SM plate and then sprinkle a couple of silica crystals onto the surface of the plate.
</li>
</li>
</ul>
<p align="right"><a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a></p>
<hr>
<p><b><h3>10<sup>8</sup> <i>Dictyostelium</i> cells contain...</h3></b>
<ul>  -3 &micro;g genomic DNA (3.33 x10<sup>7</sup> bp per genome) <br>
  -30 &micro;g poly A+ RNA (0.3 pg/cell; assuming average message is 1.5 kb)<br>
  -3-6 mg total cellular protein<br>
  -100 &micro;g nuclear proteins<br>
  -1 mg cytosolic proteins; remaining 2-5 mg is membrane proteins </ul></p>
<p align="right"><a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a></p>
<hr>
<a name="recipes"><b><h3>Recipes</h3></b></a>
<a name="Bonnersalts"></a>
<ul><li><u>Bonner's salts (1 liter)</u>&nbsp;
<a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=441"><i>Bonner (1947)</i></a></li>
<ul><li>  0.6 g NaCl </li>
<li>  0.75 g KCl </li>
<li>  0.3 g CaCl<sub>2</sub> </li><br>
</ul>
  Autoclave for long-term storage.<br>
</ul>
</li>
<hr>
<a name="DB"></a>
<ul><li><u>DB (Development Buffer)</u><br><br>
<b>Note:</b> This buffer is lower in ionic strength than <a href="" ng-click="scrollTo('PDF')">PDF</a>.
The high ionic strength of PDF seems to retard development. <i>Dictyostelium</i> grows essentially in fresh water in dirt.
Therefore this buffer may be more physiological. <br><br>
<ul><li>5&nbsp;mM&nbsp;Na<sub>2</sub>HPO<sub>4</sub></li>
<li>5&nbsp;mM&nbsp;KH<sub>2</sub>PO<sub>4</sub></li>
<li>1&nbsp;mM&nbsp;CaCl<sub>2</sub></li>
<li>2&nbsp;mM&nbsp;MgCl<sub>2</sub></li><br>
</ul>
Adjust pH to 6.5.</li></li><br>
</ul>
<hr>
<a name="FM">
<ul>
<li><u>FM media</u></a>&nbsp;
<i><a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=1845">Franke and Kessin (1977)</a></i></li><br>
<b>Notes:</b><br>
FM can be made up from 4 stock solutions (amino acids, vitamins,
salts, and trace metals) which can be stored indefinitely at <br>-20&deg;C.&nbsp;
The composition of the stock solutions is given below.<br>
<br>
Glucose, phosphate, and dihydrostreptomycin-sulfate are added as
solids.<br><br>
The medium can be autoclaved or filter sterilized and is stored in the
dark at 4&deg;C.<br><br>
Gibco-BRL has made a batch of the medium, and so has Sigma (cat. no.
F-8787), but both batches are sold out. The medium is still available from Bio101 (cat. no. 4115-025 for 1 pack to
make 1 L; cat. no. 4115-075 for 10 packs, and 4115-095 for 100 packs).<br><br>
It seems that some people experience the formation of a precipitate in the
medium upon standing. We have never seen this with either home-made
medium or the Sigma medium.&nbsp; Anyway, do NOT remove the precipitate, since the medium will not support
growth if the precipitate is removed.<br><br>
<u>FM media (1 liter)</u> (see stock solutions below):<br><br>
<ul>
<li>250&nbsp;ml 4x amino acids<br>
<li>50&nbsp;ml 20x vitamins</li>
<li>20&nbsp;ml 50x salts</li>
<li>0.1&nbsp;ml 10,000X trace metals</li>
<li>10 g glucose</li>
<li>0.87 g K<sub>2</sub>HPO<sub>4</sub></li>
<li>50 mg dihydrostreptomycin-sulfate</li>
<br>
</ul>
Check the pH and adjust to 6.5 if necessary (HCl or NaOH).<br>
Adjust the volume to 1 liter with distilled (or deionized) water and
autoclave.<br>
We often adjust the volume to 90% of the final volume to leave room
for supplements.
</li>
<br><br>
<u>Stock Solutions:</u><br><br>
<ul><li><u>4x amino acid stock (in 8&nbsp;mM&nbsp;NaOH) (5 liters)</u><br>
<ul>
<li>1.6 g NaOH</li>
 <li>14 g arginine&#183;HCl</li>
 <li>6 g asparigine</li>
  <li>4 g cysteine</li>
 <li>10 g glutamic acid</li>
 <li>18 g glycine</li>
  <li>6 g histidine&#183;HCl-H<sub>2</sub>O</li>
 <li>12 g isoleucine</li>
 <li>18 g leucine</li>
 <li>18 g lysine&#183;HCl</li>
 <li>6 g methionine</li>
 <li>10 g phenylalanine</li>
 <li>16 g proline</li>
 <li>10 g threonine</li>
 <li>4 g tryptophan</li>
 <li>14 g valine</li>
<br>
</ul>
The pH should be about 4.2.<br>
Adjust the volume to 5 liters and store at -20&deg;C (we freeze 1/2 liter
aliquots).<br>
Stick to the amino acid forms indicated, otherwise solubility problems
will arise.<br>
</li>
<br>
<li><u>50x salts (1 liter)</u><br>
<ul>
<li>50&nbsp;ml 1 M NH<sub>4</sub>Cl</li>
 <li>1&nbsp;ml 1 M CaCl<sub>2</sub></li>
<li>50&nbsp;ml 0.1 M FeCl<sub>3</sub></li>
<li>20&nbsp;ml 1 M MgCl<sub>2</sub></li>
<br>
</ul>
Adjust volume to 1 liter and store at -20&deg;C.<br>
</li>
<br>
<li><u>20x vitamins (1 liter)</u><br>
<ul>
<li>100&nbsp;ml biotin (4 mg in 1 liter 10&nbsp;mM&nbsp;NaHCO<sub>3</sub>)</li>
 <li>20&nbsp;ml cyanocobalamin (5 mg in 1 liter H<sub>2</sub>O)</li>
<li>100&nbsp;ml folic acid (40 mg in 1 liter 10&nbsp;mM&nbsp;NaHCO<sub>3</sub>)</li>
<li>100&nbsp;ml lipoic acid (80 mg in 1 liter 10&nbsp;mM&nbsp;NaHCO<sub>3</sub>)</li>
<li>100&nbsp;ml riboflavin (100 mg in 1 liter 10&nbsp;mM&nbsp;NaHCO<sub>3</sub>)</li>
<li>100&nbsp;ml thiamine&#183;HCl (120 mg in 1 liter H<sub>2</sub>O)</li>
<br>
</ul>
Adjust volume to 1 liter and store at -20&deg;C.<br>
</li><br>
<li><u>10,000x trace metals (100&nbsp;ml)</u><br>
<ul>
<li>4.84 g Na<sub>2</sub>-EDTA&#183;2H<sub>2</sub>O</li>
<li>2.30 g ZnSO<sub>4</sub>.7H<sub>2</sub>O</li>
<li>1.11 g H<sub>3</sub>BO<sub>3</sub></li>
<li>0.51 g MnCl<sub>2</sub>&#183;4H<sub>2</sub>O</li>
<li>0.17 g CoCl<sub>2</sub>&#183;6H<sub>2</sub>O</li>
<li>0.15 g CuSO<sub>4</sub>&#183;5H<sub>2</sub>O</li>
<li>0.10 g (NH<sub>4</sub>)6Mo<sub>7</sub>O<sub>24</sub>&#183;4H<sub>2</sub>O</li>
<br>
</ul>Adjust pH to 6.5 and volume to 100&nbsp;ml. Freeze aliquots at -20&deg;C.<br>
</li>
<br>
</ul>
</ul></ul>
<hr>
  <a name="HL-5"></a>
<ul><li><u>HL-5 (Axenic Medium) (1 liter)</u>&nbsp;
<a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=6709"><i>Watts and Ashworth (1970)</i></a><br>
<ul>
<li>5 g proteose peptone</li>
<li>5 g Thiotone E peptone</li>
<li>10 g glucose</li>
<li>5 g yeast extract</li>
<li>0.35 g Na<sub>2</sub>HPO<sub>4</sub>&#183;7H<sub>2</sub>O</li>
<li>0.35 g KH<sub>2</sub>PO<sub>4</sub></li><br>
</ul>
Bring to a volume of 1 liter. <br>
Adjust pH with HCl to pH 6.4 - 6.6.<br>
Autoclave to sterilize.<br><br>
<b>Notes:</b> <br>
  pH should be 6.7. <br>
MES (1.3 g/l) can be substituted for phosphate. This facilitates phosphate labeling.<br>
HL-5 medium must be stored at 4&deg;C, but can keep one bottle at room temperature
  for regular use.<br>
  To insure consistent growth rates, subculture <i>Dictyostelium</i> cells using medium warmed at 22&deg;C.<br>
Some batches of peptone seem to be lacking certain nutrients and results in
  unusually long doubling time. This problem has been successfully overcome by
  adding vitamins (from the FM medium recipe).<br>
  Antibiotics (ampicillin, streptomycin) may be added to reduce bacterial contamination.</li><br>
</li></ul>
<hr>
<a name="KK2"></a>
<ul>
<li> <u>10x KK2 buffer (1 liter)</u><br>
<ul>  <li>22g KH<sub>2</sub>PO<sub>4</sub> (monobasic)</li>
  <li>7.0g K<sub>2</sub>HPO<sub>4</sub> (dibasic) </li><br>
</ul>
  Autoclave for long-term storage.<br>
  Use at 1x concentration.</li><br><br>
  <li> <u>KK2 plates</u><br>
  <ul><li>To 1x KK2, add 15 g/l of agar</li><br>
</ul>
Pour about 20&nbsp;ml/plate.<br>
  Develop 2-4x10<sup>6</sup> cells/cm<sup>2</sup>, ie can develop up to 2x10<sup>8</sup> cells/plate.</ul></li><br>
<hr>
<a name="LPS"></a>
<ul><li><u>Lower Pad Solution (LPS) plates (1 liter)</u>&nbsp;
<a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=9012"><i>Sussman 1987</i></a><br>
<ul>  <li>1.14 g Na<sub>2</sub>HPO<sub>4</sub> (anhydrous) </li>
  <li>4.35 g KH<sub>2</sub>PO<sub>4</sub> </li>
  <li>0.5 g KCl </li>
  <li>0.5 g MgCl<sub>2</sub> </li>
  <li>18.0 g agar </li><br>
</ul>
Autoclave.<br>
Pour 20&nbsp;ml/plate.</li>
</ul>
<hr>
 <a name="PDF"></a>
<ul><li><u>PDF (Development buffer) (1 liter)</u>  <br>
<ul><li>1.5 g KCl</li>
<li>1.6 g K<sub>2</sub>HPO<sub>4</sub></li>
<li>1.8 g KH<sub>2</sub>PO<sub>4</sub></li><br>
</ul>
Bring to a volume of 1 liter. pH with KOH to pH 6.4. <br>
Autoclave to sterilize. <br><br>
After autoclaving add: <br>
<ul>
<li>1.0&nbsp;ml 1 M CaCl<sub>2</sub></li>
<li>2.5&nbsp;ml 1 M MgSO<sub>4</sub></li>
</li></ul>
</ul>
<hr>
<a name="SM"></a>
<ul><li><u>SM broth (1 liter)</u></li>&nbsp;
<i>Sussmann (1966) in Methods in Cell Physiology, Vol. 2. Edited by D. Prescott, Academic Press, NY pp. 397-410.</i><br>
<ul><li>10 g glucose</li>
<li>10 g Oxoid Proteose peptone</li>
<li>1 g Oxoid yeast extract</li>
<li>1 g MgSO<sub>4</sub>&middot;7H<sub>2</sub>0</li>
<li>1.9 g KH<sub>2</sub>PO<sub>4</sub></li>
<li>0.6 g K<sub>2</sub>HPO<sub>4</sub></li><br>
</ul>
Adjust pH to 6.0 - 6.4 with KOH.<br><br>
</ul>
<a name="SMP"></a>
<ul><li><u>SM plates</u><br>
<ul><li>Add 20 g/l bacto agar to SM broth.</li><br>
</ul>
Autoclave.<br>
Pour thick plates (35&nbsp;ml per 100 mm Petri dish); 1 liter should give around
  30 plates.<br>
For best results, let plates dry overnight at room temperature and then store
  at 4&deg;C. If the plates are too dry the bacteria won't grow well. </ul><br>
<ul><li><u>SM/2 (1 liter)</u>  <br>
<ul>  <li>1 g MgSO<sub>4</sub>&middot;7H<sub>2</sub>0</li>
  <li>1 g Na<sub>2</sub>HPO<sub>4</sub></li>
  <li>2.2 g KH<sub>2</sub>PO<sub>4</sub></li>
  <li>5 dextrose</li>
  <li>5 bacteriological peptone </li>
  <li>0.5 g yeast extract </li>
  <li>15 g agar</li>
</ul></ul>
<hr>
<ul>  <li><u>Upper Pad Solution (UPS)</u> &nbsp;
<a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=9012"><i>Sussman 1987</i></a><br>
</li>
<ul><li>1 M KH<sub>2</sub>PO<sub>4</sub></li>
</ul></ul>
<!==
<p><b>References</b>
<ul>
  <a name="1">1.</a>  Bonner (1947) J. Exp. Zool. 106: 1-26. <br>
  <a name="2">2.</a>  Franke and Kessin, Proc. Natl. Acad. Sci. 74:2157. <br>
  <a name="3">3.</a>  Sussman (1987) in Methods in Cell Biology, Vol. 28, Edited by J. Spudich, Academic Press. pp. 9-29
  ISBN 0-12-564128-1<br>
  <a name="4">4.</a>  Sussmann (1966) in Methods in Cell Physiology, Vol. 2. Edited by D. Prescott,   Academic Press, NY pp. 397-410.<br>
  <a name="5">5.</a> Watts and Ashworth (1970) Biochem J. 119: 171-174. <br>
  <a name="6">6.</a>  Williams & Newell (1976) Genetics 82, 287-307.
-->
        
