<div class="viewHouse">
    <div class="container">
        <div class="row techniquesHead">
            <span class="techSubHeader"><h3>Techniques</h3></span>
            <h2>
                Low Fluorescence Axenic Medium
            </h2>
            <h6>Contributed by Harry MacWilliams.</h6>
        </div>
        
        <div class="row">

            <div class="col-sm-3 col-xs-1"></div>

            <div class="col-sm-6 col-xs-10">

                <div class="note">
                    <span class="nw">Notes from Harry MacWIlliams:</span>
                    <br><br>
                    - The HL5 fluorescence problem keeps coming up. At least for the S65T-GFP wavelength range, there is a simple, workable solution: low-fluorescence axenic medium (see recipe below). This also works fine at excitation 360/emission 510. I have not tried excitation 360/emission 420, but here I suspect there is significant cytosolic fluorescence that will be difficult to get rid of in any way.
                    <br>
                    - "Loflo" medium contains glucose and casein peptone together with the salts from FM medium. In the fluorimeter (excitation 475, emission 510) Loflo has LESS THAN ONE PERCENT of the fluorescence of normal HL5. Cells taken from HL5 should be washed carefully and allowed to grow 2-3 hours in Loflo before use; it takes this long for the last HL5-containing endosomes to disappear.
                    <br>
                    - If you develop HL5-grown cells in buffer, some of the fluorescent endosomes will persist well into development; if you want developing cells to be really free of medium fluorescence, grow them in Loflo first.
                    <br>
                    - In Loflo, Dicty cells will grow normally for two serial tenfold dilutions; on the third dilution one sees clumping that suggests development. For better growth, add some yeast extract; I use ten percent of the amount in HL5. "Loflo + yeast extract" is more fluorescent than plain Loflo, but still vastly better than HL5. In my hands, cells grow with normal doubling times in "Loflo + yeast extract" but the saturation density is reduced to about 2e<sup>6</sup>/ml.
                    <br>
                    - Cells growing in Loflo with or without yeast extract secrete fluorescent compounds into the medium. For best results change to fresh medium a few hours before measurements.
                    <br>
                    - I use Merck 7216; in the US this appears to correspond to Merck 1.07213.
                    <br>
                </div>

                    <br>
                    <p align="center"><small>
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </small></p>

                <hr>

                <h3>"Loflo" medium:</h3>

                <h5>(1 liter)</h5>

                <ul>
                    <li>1&nbsp;ml 1000x FM salts 1 (see below)
                    </li>
                    <li>1&nbsp;ml 1000x FM salts 2 (see below)
                    </li>
                    <li>0.1&nbsp;ml 10,000x FM trace elements (see below)
                    </li>
                    <li>11 g glucose·1H<sub>2</sub>0
                    </li>
                    <li>5ml 1M K<sub>2</sub>HPO<sub>4</sub>
                    </li>
                    <li>5 g casein peptone <b>Do not use vitamin-free casein peptone!</b>
                    </li>
                </ul><br>

                Add water to 1000&nbsp;ml.<br>
                Adjust pH to 6.5.<br>
                Filter sterilize (autoclaving increases fluorescence).

                <hr>

                <h3>Stock Solutions:</h3>

                <ul>
                    <li>
                        <h4><u>"Loflo + yeast extract"</u></h4>
                        <ul>
                            <li>Above plus 0.7 grams Oxoid yeast extract
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h4><u>1000x FM salts 1</u></h4>
                        <ul>
                            <li>NH<sub>4</sub>Cl 500 mM
                            </li>
                            <li>MgCl<sub>2</sub> 200 mM
                            </li>
                            <li>CaCl<sub>2</sub> 10 mM
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h4><u>1000x FM salts 2</u></h4>
                        <ul>
                            <li>FeCl<sub>3</sub> 50 mM
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h4><u>10,000x FM trace elements</u></h4>
                        <ul>
                            <li>4.84 g Na<sub>2</sub>-EDTA·2H<sub>2</sub>0<br>
                            </li>
                            <li>2.3 g ZnS0<sub>4</sub>·H<sub>2</sub>0
                            </li>
                            <li>1.11 g H<sub>3</sub>BO<sub>4</sub>
                            </li>
                            <li>0.51 g MnCl<sub>2</sub>·4H<sub>2</sub>0
                            </li>
                            <li>0.17 g CoCl<sub>2</sub>·6H<sub>2</sub>0
                            </li>
                            <li>0.15 g CuSO<sub>4</sub>·5H<sub>2</sub>0
                            </li>
                            <li>0.10 g (NH<sub>4</sub>)6Mo7O<sub>24</sub>·4H<sub>2</sub>0
                            </li>
                            <li style="list-style: none">
                                <br>
                            </li>
                        </ul>Add water to 100&nbsp;ml.<br>
                        Adjust pH to 6.5.<br>
                    </li>
                </ul>

                    <br>
                    <p align="center">
                        <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
                    </p>
                    <br>

            </div> <!-- col-sm-8 -->
            <div class="col-sm-3 col-xs-1"></div>
        </div>
    </div> <!-- container -->
</div>