    <div class="viewHouse">

    <div class="container">
        <div class="row techniquesHead">
            <div class="techSubHeader"><h4><a class="techSubHeaderLink" href="/research">Research</a></h4></div>
            <div class="size40"> <a href="/research/techniques"><img src="images/logoTechniquesSmall.png" class="up"></a> Techniques </div>
            <h2>
                Plating Dictyostelium in soft agar
            </h2>
        </div>

        <div class="row">

            <div class="col-sm-2 col-xs-1"></div>

            <div class="col-sm-8 col-xs-10">

                <h3>
                    Procedure
                </h3>

                <div class="note" align="center">
                    <span class="nw">Note: </span>
                    These plates are not solid! DO NOT TIP.
                </div>
                <br>
                <ol>
                    <li>Melt top agar solution and cool to 30°C.
                    </li>

                    <li>Harvest Dicty cells from plate and pellet at 2K for 5&nbsp;minutes.
                    </li>

                    <li>Aspirate media and suspend cells in 10&nbsp;ml of HL-5 containing the appropriate drug concentration.
                    </li>

                    <li>Add drug to cooled top agar and add 40&nbsp;ml to suspended cells.
                    </li>

                    <li>Gently mix and pipet 5&nbsp;ml of solution onto agar plates. It is best to pipet onto the plates in a swirling motion so that the solution is distributed evenly. DON'T try to swirl the media around on the plate by tilting it because the bottom agar will slide out.
                    </li>

                    <li>Place plates on bench to solidify.
                    </li>

                    <li>Wrap up plates with moist towel and let sit for 10-14&nbsp;days.
                    </li>

                    <li>To harvest a colony, suck the cells out of the agar with a pipetter.
                    </li>

                    <li>After transfer to a plate they may take a few days to grow.
                    </li>

                </ol>

                        <br>
                        <p align="center">
                            <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="/research/techniques/">Techniques</a>
                        </p>

                <hr>
                <p>
                    <a name="mat" id="mat"></a>
                </p>
                <h3>
                    Materials
                </h3>
                <ul>
                    <li>
                        <u>Top agar</u> (40 ml per transformed plate)<br>
                        <ul>
                            <li>HL-5 media
                            </li>
                            <li>0.38% low melting temp agar
                            </li>
                            <li style="list-style: none">It is best to make up small (100 ml) aliquots
                            </li>
                        </ul><br>
                    </li>
                    <li>
                        <u>Agar plates</u> (10 plates needed per transformed plate)<br>
                        <ul>
                            <li>HL-5 media
                            </li>
                            <li>0.3% Bactoagar
                            </li>
                            <li>Appropriate drug (i.e. G418)
                            </li>
                        </ul>
                    </li>
                </ul>
                        <br>
                        <p align="center">
                            <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="/research/techniques/">Techniques</a>
                        </p>
                        <br>

            </div> <!-- col-sm-8 -->
            <div class="col-sm-2 col-xs-1"></div>
        </div>
    </div>
</div>
