<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Teaching Tools</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Teaching Tools Using Dictyostelium discoideum
        </h1>
        <p>
            <i>Dictyostelium discoideum</i> is a great organism to use to teach cellular biology. It exhibits very interesting behaviors, such as chemotaxis and phagocytosis, that can readily be studied in standard laboratories without the need for expensive equipment.
        </p>
        <p>
            The following are lists of labs being used in real courses settings and provide all necessary information for performing those experiments.
        </p>
        <hr>
        
        <h3>
            <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Course_overview__h1_MCB2225,_Cell_Biology_Lab__h1_.html">Dictyostelium cell biology course</a>, by Dr. David Knecht, University of Connecticut
        </h3>
        <ul>
            <li>Experiment 1: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_1._Pipetting.html">Accurate Pipetting of Liquids</a>
            </li>
            <li>Experiment 2a: Growth of Dictyostelium in <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_2._Growth_of_Wild_Type_NC4A2_on_Plates_and_in_Shaking_Suspension.html">Shaking Suspension</a> and <a href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Cellbio2_files/Cellbio2/Growth_%5BTrial%5D.html" target="new">Plates</a>.
            </li>
            <li>Experiment 2b: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Cellbio2_files/Cellbio2/Growth_%5BFinal%5D.html">Growth and Cell Division of Wild Type (AX2) and Myosin II null mutant (HK321) cells</a>
            </li>
            <li>Experiment 2c: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_2c__Nuclei_and_Cell_Division_in_WT_and_MyoII_Mutants.html">Nuclei and cell division in wild-type and myo II- cells</a>
            </li>
            <li>Experiment 3a: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_3a__Cell_Motility_Trial.html">Cell Motility Part 1: Trial Run</a>
            </li>
            <li>Experiment 3b: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_3b._Cell_Motility_Wild_Type_Versus_Myosin_II_Mutants.html">Cell Motility Part 2: Motility Differences between Wild Type and Myosin II Mutants</a>
            </li>
            <li>Experiment 4: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_4._Chemotaxis_Under_Agarose.html">Chemotaxis Under Agarose of Wild Type and Myosin II Mutants</a>
            </li>
            <li>Experiment 5: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_5__Transformation.html">Transformation of Dictyostelium</a>
            </li>
            <li>Experiment 6a: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_6a__Development_of_Dictyostelium_Under_Agarose.html">Development of Wild Type and Myosin II Mutant Cells Under Agarose</a>
            </li>
            <li>Experiment 6b: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_6b__Development_of_Dictyostelium_Over_Agarose.html">Development of Wild Type and Myosin II Mutant Cells Over Agarose</a>
            </li>
            <li>Experiment 7: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_7__Phagocytosis_of_Yeast_by_Dictyostelium_Cells.html">Phagocytosis of Ethanol-Killed Yeast by Dictyostelium Cells</a>
            </li>
            <li>Experiment 8: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_8__Microtubules_and_Cell_Motility.html">Microtubules and Cell Motility</a>
            </li>
            <li>Experiment 9: <a target="new" href="http://homepages.uconn.edu/~mb2225vc/MCB_2225/Expt_9__Immunofluorescence_Localization_of_Actin_and_Tubulin.html">Immunofluorescence Localization of Actin and Tubulin</a>
            </li><!--
<li>Laboratory 9: <a target ="new" href="">Immunofluorescence of Actin and Microtubules    </a></li>
<li>Laboratory 10: <a target ="new" href="">Confocal Microscopy    </a></li>
<li>Laboratory 11: <a target ="new" href="">Analysis of Macropinocytosis using Flow Cytometry and Fluorescence Microscopy </a></li>
<li>Laboratory 12: <a target ="new" href="">Effect of Cytoskeletal Inhibitors on Actin and Microtubules   </a></li>
-->
        </ul>
        <hr>
        
        <h3>
            Dictyostelium cell biology, by Dr. Derrick Brazill, Hunter College, New York
        </h3>
        <ul>
            <li>Observing the Dictyostelium life cycle : <a href="/teaching_tools/word_docs/Dicty_life_cycle-Brazill.doc">Dicty_life_cycle.doc</a>
            </li>
            <li>Staining the actin cytoskeleton of Dictyostelium: <a href="/teaching_tools/word_docs/Actin_lab-Brazill.doc">Actin_lab.doc</a>
            </li>
            <li>Measuring endocytosis and exocytosis in Dictyostelium: <a href="/teaching_tools/word_docs/Endo-exo_lab-Brazill.doc">Endo-exo_lab.doc</a>
            </li>
        </ul>
        <hr>
        <h3>Report on the number of cells in a slug, contributed by John Bonner</h3>
        <li>
        <a href="/Bonner%20paper.pdf">PDF file</a></li>
        <hr>
        
            <h3>Practical on chemotaxis, by Dr. Thierry Soldati, University of Geneva
        </h3>
        <i>Includes a compilation of comments and suggestions received by Thierry Soldati</i>
        <p>
            These are pdf files.
        </p>
        <ul>
            <li>Chemotaxis Protocol (Jeff Hadwiger) <a href="/techniques/chemotaxis/Hadwiger_Protocol.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Hadwiger_Protocol.pdf">Download</a>
            </li>
            <li>Under agar assay (David Knecht) <a href="/techniques/chemotaxis/Knecht_UnderagarAssay.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Knecht_UnderagarAssay.pdf">Download</a> - <a href="/teaching_tools/under_agarose_chemotaxis_lab.html">Chemotaxis Under Agar from Dave Knecht</a>
            </li>
            <li>ChemoLab (Margaret Nelson) <a href="/techniques/chemotaxis/Nelson_ChemoLab.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Nelson_ChemoLab.pdf">Download</a>
            </li>
            <li>Chemotaxis Preparation (Thierry Soldati) <a href="/techniques/chemotaxis/Soldati-Chemotaxis_Preparation.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Soldati-Chemotaxis_Preparation.pdf">Download</a>
            </li>
            <li>Chemotaxis Protocol (Thierry Soldati) <a href="/techniques/chemotaxis/Soldati-Chemotaxis_Protocol.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Soldati-Chemotaxis_Protocol.pdf">Download</a>
            </li>
            <li>Chemotaxis Answers (Thierry Soldati) <a href="/techniques/chemotaxis/Soldati-Chemotaxis_Answers.pdf">Open</a> - <a href="/db/cgi-bin/dictyBase/download/download.pl?area=chemotaxis&amp;ID=Soldati-Chemotaxis_Answers.pdf">Download</a>
            </li>
        </ul>
        
         <h4>
            <a href="/techniques/chemotaxis/comments.htm">Comments from Researchers</a>
        </h4>
        <h4>
            References suggested by contributors
        </h4>
        <ul>
            <li>Edelstein-Keshet, L (1988) Mathematical Models in Biology, <a target="new" href="http://www.mhhe.com/catalogs/">McGraw Hill</a>, (originally published by Random House/Birkhauser)<br>
                ISBN 394-35507-5
            </li>

            <li>Finney R, Varnum B, Soll DR. 1979.&nbsp; "Erasure" in <i>Dictyostelium</i>: a dedifferentiation involving the programmed loss of chemotactic functions. <i>Dev Biol</i>. 73(2):290-303.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=499669&amp;dopt=Abstract">PMID: 499669</a>
            </li>

            <li>Gauthier ML, O'Day DH, 2001. Detection of calmodulin-binding proteins and calmodulin-dependent phosphorylation linked to calmodulin-dependent chemotaxis to folic and cAMP in <i>Dictyostelium.</i> <i>Cell Signal</i> 13(8):575-84.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=11483410&amp;dopt=Abstract">PMID: 11483410</a>
            </li>
           
            <li>Hadwiger,J.A.,and J.Srinivasan, 1999. Folic acid stimulation of the Ga 4 G protein-mediated signal transduction pathway inhibits anterior prestalk cell development in <i>Dictyostelium</i>. <i>Differentiation</i> 64:195-204.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=10408952&amp;dopt=Abstract">PMID: 10408952</a>
            </li>
           
            <li>Konijn TM, Van Haastert PJ. 1987.&nbsp; Measurement of chemotaxis in <i>Dictyostelium.</i> <i>Methods Cell Biol.</i> 1987; 28:283-98.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=3600409&amp;dopt=Abstract">PMID: 3600409</a>
            </li>
            
            <li>Kuwayama H, Ishida S, Van Haastert PJ. 1993. Non-chemotactic <i>Dictyostelium discoideum</i> mutants with altered cGMP signal transduction. <i>J Cell Biol</i>. 1993 Dec;123(6 Pt 1):1453-62.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=7902839&amp;dopt=Abstract">PMID: 7902839</a>
            </li>
           
            <li>O'Day, D.H., 1979. Aggregation during sexual development in <i>Dictyostelium discoideum. Can. J. Microbiol</i>. 25: 1416-1426.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=231480&amp;dopt=Abstract">PMID: 231480</a>
            </li>
            
            <li>Parent C.A. 2000. <i>Dictyostelium cell dynamics, Current Protocols in Cell Biology</i> (J.S. Bonifacino, M. Dasso, J. Lippincott-Schwartz, J.B. Harford, K.M. Yamada; Eds. John Wiley &amp; Sons Press), Vol. 1, Unit 12.5
            </li>
            
            <li>Rifkin JL. 2002. Quantitative analysis of the behavior of <i>Dictyostelium discoideum</i> amoebae: stringency of pteridine reception. <i>Cell Motil Cytoskeleton.</i> 51(1):39-48.<br>
                <a target="new" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=11810695&amp;dopt=Abstract">PMID 11810695</a>
            </li>
            
            <li>Margaret Nelson's web site: <a target="new" href="http://merlin.alleg.edu/employee/m/mnelson/courses/Bio290/Dicty.html">http://merlin.alleg.edu/employee/m/mnelson/courses/Bio290/Dicty.html</a>
            </li>
            </ul>
        <hr>

        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/teaching_tools/">[INDEX]</a>
        </p><!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
