<a name="top" id="top"></a>

<div class="container">
    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Explore</h3></span>
        <h2>
            Experiment 8: Chemotaxis Under Agar
        </h2>
        <h6>
            Contributed by David Knecht, April 2007
        </h6>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-6 col-sm-8 col-xs-10">
            <hr>
                <p align="center">
                    <small><a ng-href="#/explore/teach/index.html">Teaching Protocols</a></small>
                </p>
            <hr>

<!--         <p>
            <b>Download protocol as a <a href="/teaching_tools/word_docs/under_agarose_chemotaxis_lab.doc">word file</a>.</b>
        </p> -->

        <p>
            <b>The purpose of this assay is to compare the speed and directionality of AX2 and <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/phenotype/strain_and_phenotype_details.pl?genotype_id=3223">HK321</a> cells during chemotaxis towards folate.</b>
        </p>

        <br>
        <h3>
            Procedure
        </h3>
        <div>
            <h4>
                Pouring Agarose Plates
            </h4>
            <p>
                This assay uses <a ng-href="#/research/techniques/media/general_dicty_techniques.html#SM">SM media</a>. You want 6&nbsp;ml (agar + SM) per P60 dish. You can use anywhere between 0.75% agarose (0.75g/100ml) and 2.5% agarose (2.5&nbsp;g/100&nbsp;ml) A good starting point is 1.5% agarose. Plates may be prepared a day in advance.
            </p>
            <ul>
                <li>For 1.5% agarose plates, add 0.375&nbsp;g of agarose to 25&nbsp;ml SM in a flask. I recommend starting around 1-1.5%.
                </li>

                <li>Melt the agarose/SM in the microwave. Watch carefully and stop when it begins to boil. It will easily boil over if you are not careful. Pipette the melted agarose into the Petri dishes and allow to cool on a level surface (takes about 15-30&nbsp;minutes to harden).
                </li>
            </ul>
        </div>
        <br>
        <hr>
        <div>
            <h4>
                Cutting the troughs in the agarose
            </h4>

            <ul>
                <li>The troughs should be cut 2-5&nbsp;mm wide and 5&nbsp;mm apart (Download a template here: <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/download/download.pl?area=teaching_tools&amp;ID=under_agarose_template.jpg">jpeg file</a> - <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/download/download.pl?area=teaching_tools&amp;ID=under_agarose_template.tif">tif file</a>).
                </li>


                <br>
                <img class="img-responsive" src="views/explore/teach/images/under_agarose_chemo_img1.png">
                <br>


                <li>Lay the Petri dish on top of the template so you have a cutting guide. Use your first plate to get the hang of the cutting technique. Use a used or new clean, standard single edge 4cm long razor blade to cut the troughs in the agarose. First insert the blade into the agarose in an unused part of the plate to wet it and to get a sense of the force necessary to cut through the agarose. Then place the blade in line with the template guide, flat against the agarose and push firmly to cut straight down through the agarose to the bottom. Try not to saw the agarose or score the plastic as that will interfere with cell movement. Then take a fresh plate and make the 6 long cuts for the three troughs.
                </li>

                <li>Using a narrow spatula cut the short ends of the troughs and then lift the agarose from the cut end until you can grab the narrow strip of agarose and lift it out. The other end of the strip will snap free as you lift.
                </li>

                <br>
                <hr>

                <h4>
                    Adding cells and chemoattractant
                </h4>

                <br>

                <img class="img-responsive" src="views/explore/teach/images/under_agarose_chemo_img2.png">

                <br>
                <p>
                    You should do the assay with cells in log phase of growth, but it will probably work to some extent no matter what state your cells are in. For best results, change the media on your cells the day before the assay so they think they are in log phase.
                </p>
                <p>
                    You will need cells at about 10<sup>6</sup>-10<sup>7</sup>/ml for each trough. I would aim for the higher number as it is easier to see the results with more cells.
                </p>
                
                <li>Harvest the cells from your growth plate and pipette them into a 15&nbsp;ml centrifuge tube. Take about 25&nbsp;µl and add to a hemocytometer setup. Centrifuge the cells at 1000&nbsp;rpm for 5&nbsp;minutes to pellet them. While they are spinning, measure the cell concentration with the hemocytometer. Calculate the volume of SM medium you want to resuspend the cells in to bring them to the correct titer. After centrifugation, aspirate the HL-5, and add proper volume of SM to the pellet and vortex to resuspend the cells.
                </li>

                <li>Add the cells to each of the outer troughs. The volume will depend upon how wide you cut the troughs. For narrow troughs it will take about 100&nbsp;µl. Basically you want to add until the well is nearly full, but not overflowing. As the cell settle, check with the microscope to see that you have lots of cells in the troughs. The cells should be very close together approaching a monolayer of cells where the whole bottom is covered with cells.
                </li>
                <li style="list-style: none">
                    <br>
                    If you are comparing mutant and wild-type, add wild-type to one trough and Myosin null mutant cells to the other outer trough. Troughs can usually hold about a 100&nbsp;µl volume but the volume will differ slightly depending on how the troughs were cut so you want it mostly full, but not so full that is will spill as you move the plates around. It is important that the cell density in the trough is high enough. You want essentially a monolayer of cells (cells with little space between them). If your density is low after they settle, remove some media and add more cells. You can set up several variations on the basic experiment: different agarose concentrations, or use different numbers of cells in different plates.
                </li>
                <li>Now add the chemoattractant in the center trough. Dilute the folate stock to 1&nbsp;mM in SM medium. The volume you add to the trough will depend upon width so again,you want it fairly full, but not overflowing so you can carry the plates without spilling. A recent variation that improves the assay somewhat is to save some of the SM agarose from the plate poring and either reheat it or keep some of the original at 50-60°C in a water bath. Remove about 1&nbsp;ml to a test tube and add 10&nbsp;µl of folate stock. Mix and quickly add to the troughs before it hardens. This prevents any flow of folate solution under the agarose.
                </li>

                <li>Within an hour, the first few cells start to exit the trough, and the plate may be imaged over the next 6-8 hours moving in the gradient. You will get the best images if you wait until the cells are a little way out from the trough. The trough edges and the meniscus, interfere with the cone of light from the condenser. If you want to image near the trough, gently put a coverslip over the agarose and then fill the trough so that the liquid reaches the coverslip. This eliminates the meniscus effect.
                </li>

            </ul>
            <br>
            <hr>
            <h4>
                Imaging
            </h4>
            <p>
                Try to measure the distance the cells move over time so that you can determine the speed. To do this make a movie of the moving cells. You will want to record with the 10x objective taking images about every 5 seconds. Make sure you record the settings you take your movie at (seconds in between each frame). You need this information to figure out the time part of the speed calculation. We will measure speed using ImageJ.
            </p>
            <p>
                Take movies of cells at the leading front of moving cells. These cells are moving directionally toward the folate trough, whereas the cells behind them are receiving mixed signals from each other and will not give you an accurate measurement of cell speed towards a chemoattractant. You can look at the far side of the trough away from the folate as a negative control or pour a plate in which you add no folate to the center.
            </p>

            <br>
            <hr>
            <h4>
                For your Lab Report
            </h4>
            <p>
                Analysis: Use ImageJ and the mTrackJ plug in to measure the distance and speed of cells. You will need to use the calibration of distance determined previously to convert pixels to µm. You should also determine speed in terms of net distance moved vs. total distance moved. The ratio of the two is a measure of Persistence and this can be compared to the measurement of motility done for cells not exposed to a chemotactic gradient.
            </p>
            <p>
                Make a montage of AX2 and Myosin II null cells in Image J to visualize the progression of chemotaxis or a single image with tracks shown. This result will be combined with your analysis for speed and directionality for each cell type using Image J.
            </p>
            <p>
                Compare mutant and wild-type motility. What is different?
            </p>
        </div>
        <hr>
        <p>
            <a href="http://wiki.dictybase.org/dictywiki/index.php/Chemotaxis_Under_Agar">dictyWiki: Discussion Group for Chemotaxis Under Agar Laboratory</a>
        </p>
        <hr>
        <h3>
            Reagents
        </h3>
        <ul>
            <li>
                <u>Recipe for SM</u><br>
                <ul>
                    <li>10 g Difco Bacto Peptone
                    </li>
                    <li>10 g Glucose
                    </li>
                    <li>1 g Yeast Extract
                    </li>
                    <li>1.9 g KH<sub>2</sub>PO<sub>4</sub>
                    </li>
                    <li>0.6 g K<sub>2</sub>HPO<sub>4</sub>
                    </li>
                    <li>to 1L dH<sub>2</sub>O
                    </li>
                    <li style="list-style: none">Adjust pH to 6.5
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <u>Folate Stock</u><br>
                Dissolve folic acid in 0.1 N NaOH to 100 mM and store dark and cold This stock is 100x but it works down to at least 1000x dilution
            </li>
        </ul>

            <hr>
                <p align="center">
                    <small><a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/explore/teach/index.html">Teaching Protocols</a></small>
                </p>
            <br>

        </div> <!-- col-sm-8 -->
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
    </div> <!-- row -->

</div> <!-- container -->
