.conferenceMain{
	border: 1px solid #00BFFF;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-bottom: 10px;
}


.conferenceHeader{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #00BFFF;
	color: white;
}

.conferenceDetails{
	text-align: left;
	padding-left: 10px;
	padding-top: 5px;
}

.conferenceDate {
	font-weight: bold;
	padding-right: 10px;
	font-size: 10px;
	font-family: times;
}

.conferenceName {
	font-size: 12px;
	color:#86B404;
	font-weight: bold;
}