/* FRONT PAGE CSS */

.frontpage {
  text-align: center;
}

.imageSpace {
  color: white;
  background-color: black;
  border: 10px solid white;
}

/*TO ALL*/
.borderIt {
  border: 3px solid white;
  border-radius: 25px;
}

.paperSpace {
  background-color: #EFF8FB;
  border-radius: 10px;
  margin-right: 0px;
  margin-left: 0px;

}

.newsSpace {
  background-color: #F8FBEF;
  border: 1px dotted #E6E6E6;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media(max-width:767px){
  .newsSpace {
    margin-top: 10px;
    background-color: #0B243B;
    border: 1px dotted #E6E6E6;
    margin-bottom: 10px;

    margin-right: 0px;
    margin-left: 0px;
  }
}

.widgetSpace {
  background-color: #D8F781;
  height: 400px;
}

.variableSpace {
  text-align: center;
  background-color: #0B4C5F;
  color:white;
  height: 400px;
}