<!-- front-news.html -->
<link rel="stylesheet" href="scripts/frontNews/frontNews.css">

<!-- News header -->
<div class="jumbotron">
	<h1><span class="glyphicon glyphicon-globe"></span> {{newsHeaderAll}}</h1>
	<br>
	<p>Also available at <a href="https://twitter.com/dictybase" target="new" alt="Tweets by dictyBase"><img src="images/logoTwitterDictySmall.png"></a></p>
</div>

<div class="container">
	<div class="row newsMain full">

		<div class="row">
			<div class="col-sm-3 col-xs-1"></div>
			<div class="col-sm-6 col-xs-10 filterBox">
				<span><input ng-model="query" id="search" class="form-control" type="text" placeholder="Filter text (or date)"></span> <span><a id="clear-filter" ng-click="clearFilter()" href="" type="button"><small>Clear</small></a></span>

				
			</div>
			<div class="col-sm-3 col-xs-1"></div>
		</div>
		<div class="row newsBoxAll" ng-repeat="detail in detailsAll | orderBy:'-date' | filter:query">
			<div class="col-md-2 col-xs-12 newsDate all"> {{detail.date}}</div>
			<div class="col-md-8 col-xs-12 newsContent all"> {{detail.content}} </div>
			<div class="col-md-2 col-xs-12"> <span class="newsSource"><strong>Source</strong>: {{detail.source}} </span> </div>
			<div class="col-md-12"><hr></div>
		</div>

	</div>
</div>