
<div class="jumbotron citeUs">
  <span class="glyphicon glyphicon-plus">
  </span> <h1>Cite Us</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-xm-12 technical">
			<h2>dictyBase</h2>
			<p>
				Basu, S., Fey, P., Pandit, Y., Dodson, R., Kibbe, W.A., and Chisholm, R.L. (2013). <br>
				<strong>DictyBase 2013: integrating multiple Dictyostelid species.</strong> <br>
				<em>Nucleic Acids Res. 41, D676–683.</em>
			</p>

		</div>
		<div class="col-sm-6 col-xm-12 technical">
			<h2>Dicty Stock Center</h2>
			<p>
				Fey, P., Dodson, R.J., Basu, S., and Chisholm, R.L. (2013). <br>
				<strong>One stop shop for everything Dictyostelium: dictyBase and the Dicty Stock Center in 2012. </strong> <br>
				<em>Methods Mol. Biol. 983, 59–92.</em>
			</p>	
		</div>
	</div>
	<br><br><br>
	
</div>
