<div class="viewHouse">
	<div class="jumbotron inDownload">
		<h1>Downloads</h1>
		<p class="lead">
	    	The central collection of downloadable material from the dictyBase
	  	</p>
	  	<span class="glyphicon glyphicon-download"></span>
	  	<br>
	  	<p><small><em>Coming soon</em></small></p>
	</div>

	<div class="container contact">

		<h3>dictyBase</h3>
		<p><strong>
			Center for Genetic Medicine<br/>
			Feinberg School of Medicine<br/>
			Northwestern University<br/>		
		</strong></p>

		<p>
		The Arthur Rubloff Building</br>
		420 East Superior Street
		</p>
		
	</div>
</div>
