<div class="container">
<div class="viewHouse">

	<definition-bar text="DSC < home" look="definitionLink"></definition-bar>

	<div class="jumbotron research">
	  <h1> Dicty Stock Center </h1>
	  <h4><strong>The central repository for <i>Dictyostelium discoideum</i> strains, <br>isolates of other cellular slime mold species, plasmids, and commonly used bacteria</strong></h4>
	</div>

	<div class="container">

		<br>
		<div align="center">
			<i>Comming soon</i>
		</div>

		<!-- Links -->
<!-- 		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/tools/jbrowse" class="btn btn-danger btn-lg btn-block" role="button">New Genome Browser</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
		</div> -->

	</div> <!-- container -->

</div>
</div>