<div class="viewHouse">

	<div class="jumbotron research">
	  <h1> Genomes </h1>
	  <h4><strong>Genomes of Amoebas</strong></h4>
	</div>

	<div class="container">

		<!-- Genomes -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="" class="btn btn-info btn-lg btn-block" role="button"><i>Dictyostelium discoideum</i></a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
		</div>

	</div> <!-- container -->

</div>
