
<!-- GENOMES VIEW -->

<div class="container">

	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="#/genomes">{{genomes}}</a></li>
		<li role="presentation"><a ng-href="#/main">{{comparative}}</a></li>
	</ul>
	
	<br/>

	<div class="row rowCards">
		<div class="col-sm-6 col-xs-12">
			<genome-card></genome-card>	
		</div>
		<div class="col-sm-6 col-xs-12">
			<genome-card></genome-card>	
		</div>
		<div class="col-sm-6 col-xs-12">
			<genome-card></genome-card>	
		</div>
		<div class="col-sm-6 col-xs-12">
			<genome-card></genome-card>	
		</div>
	</div>

</div>