<div class="viewHouse">

	<div class="jbrowse">
	  <h1> <strong>Genome Browser</strong> </h1>
	</div>
	
	<br>
	
	<div align="center">

		<p>
			The following genomes are currently available on the new genome browser:
			<br><br>
		</p>
		<em>
			<p>
				<a href="http://dictybase.org/tools/jbrowse/?data=data%2Fjbrowse%2Fdiscoideum&loc=1%3A2334653..2521452&tracks=transcript%2CtRNA%2Cgene%2Cretino2&highlight=" target="new">D. discoideum</a>
			</p>
			<p>
				<a href="http://dictybase.org/tools/jbrowse/?data=data%2Fjbrowse%2Fpurpureum&loc=scaffold_1%3A89486..146533&tracks=&highlight=" target="new">D. purpureum</a>	
			</p>
			<p>
				<a href="http://dictybase.org/tools/jbrowse/?data=data%2Fjbrowse%2Fpallidum&loc=PPA1267848%3A582884..992552&tracks=tblastn_discoideum%2Ctranscript%2Cgene&highlight=" target="new">P. pallidum</a>	
			</p>
			<p>
				<a href="http://dictybase.org/tools/jbrowse/?data=data%2Fjbrowse%2Ffasciculatum&loc=DFA1435654%3A879778..900543&tracks=gene%2CtRNA%2Ctranscript%2Ctblastn_discoideum%2Creference&highlight=" target="new">D. fasciculatum</a>	
			</p>
		</em>
	</div>

	
</div>