<!-- FRONT PAGE DICTYBASE -->
<link rel="stylesheet" href="styles/mainFrontpage.css">

<div class="frontpage">

	<div class="container">
		<div class="row">
			
			<!-- COLUMN CELL -->
			<div class="col-md-6 col-sm-6 col-xs-12"> 
				
				<div class="row imageSpace">
					<front-image></front-image>
				</div>

				<div class="row belowImage">
					<div class="col-md-6 col-sm-6 col-xs-12 paperSpace">
						<front-papers></front-papers>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 meetingsSpace">
						<front-meetings></front-meetings>
					</div>
				</div>

			</div><!-- COLUMN CELL -->

			<!-- COLUMN MOUND -->
			<div class="col-md-6 col-sm-6 col-xs-12">  
				
				<div class="row newsSpace"> <!-- CM ROW 1 -->
					<front-news></front-news>
				</div> <!-- CM ROW 1 -->

				<div class="row"> <!-- CM ROW 2 -->
					<div class="col-md-6 col-sm-6 col-xs-12"> <!-- WIDGETS -->

						<front-populars></front-populars>

					</div> <!-- WIDGETS -->

					<!-- SHORTCUTS COLUMN -->
					<div class="col-md-6 col-sm-6 col-xs-12"> 
						
						<div class="sc1">
							<front-stockcenter></front-stockcenter>	
						</div>
						
						<div class="sc2">
							<front-annotations></front-annotations>	
						</div>

						<!-- Temporal Life Cicle -->

						<!-- <img src="images/LifeCycle.png" class="img-responsive" id="widgetImages"> -->

						<!-- DICTY ACCESS SHORTCUT -->
<!-- 						<div class="dictyAccess"> 
							<h4>dictyAccess</h4>
							<a href="#/dictyaccess">
							<img src="images/dictyaccess.jpg" class="img-responsive" alt="Responsive image" style="text-align:center">
							</a>
						</div> -->

						<!-- <front-conference></front-conference> -->

					</div><!-- VARIABLE SPACE -->

				</div><!-- SHORTCUTS COLUMN -->

			</div> <!-- COLUMN MOUND -->

		</div>
	</div>
</div>