<div class="viewHouse">

	<definition-bar text="Research < home" look="definitionLink"></definition-bar>

	<div class="jumbotron research">
	  <h1> Research </h1>
	  <h4><strong>Scientific resources</strong></h4>
	</div>

	<div class="container">
		
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<a ng-href="#/research/techniques" class="btn btn-primary btn-lg btn-block" role="button">Techniques</a>
				<!-- <a href="#/news"  class="btn btn-primary btn-lg btn-block" role="button">Link Button</a> -->
			</div>
			<div class="col-xs-4"></div>

		</div>

	</div>

</div>