<div class="viewHouse">

	<definition-bar text="Research < home" look="definitionLink"></definition-bar>

	<div class="jumbotron research">
	  <h1> Research </h1>
	  <h4><strong>Scientific resources</strong></h4>
	</div>

	<div class="container">

		<!-- Techniques -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-2"></div>
			<div class="col-md-4 col-sm-6 col-xs-8">
				<a ng-href="#/research/techniques" class="btn btn-warning btn-lg btn-block" role="button">Techniques</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-2"></div>
		</div>

	</div> <!-- container -->

</div>