<div class="viewHouse">

	<definition-bar text="Codon Bias < Research < home" look="definitionLink"></definition-bar>

	<div class="container">

		<div class="jumbotron research">
		    <div class="row">
		        <div class="techSubHeader"><h3>Explore</h3></div>
		        <h1>Codon Bias Table</h1>
		            <div align="center">
		                <img src="images/logoCodon.png" class="img-responsive" align="center">
		            </div>
		        <h4>
		        	<em>Dictyostelium discoideum</em>
		        </h4>
	      
	        	<h6>	
					Source: <a href="http://www.kazusa.or.jp/codon/cgi-	bin/showcodon.cgi?species=44689" target="new"> Codon Usage Database</a>
		        </h6>
		        <br>
		        <h4>3372 CDS's (1965665 codons)</h4>
		    </div>
		</div>

		<br>

		<div class="row">
    
	        <div class="col-lg-2 col-md-1 col-sm-0"></div>
	        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">

	            <table class="table">
	            	<thead align="center">
		                <tr >
		                    <th colspan="4" class="table-header">
		                        Fields: 
		                        <span style="color: #F78181;">[Codon triplet]</span> <span style="color: #0B610B;">[Frequency: per thousand]</span>
		                        <span style="color: #0489B1;"> ( [number] ) </span>
		                    </th>
		                </tr>
	            	</thead>

	            	<tbody class="courier">
		                <tr>
		                    <td>
		                    	UUU 31.0 (60977) <br>
								UUC 14.4 (28275) <br>
								UUA 55.0 (108183) <br>
								UUG 11.5 (22644) <br>

		                    </td>

		                    <td> 
								UCU 15.8 (30997) <br>
								UCC  4.1 (8156) <br>
								UCA 50.4 (99137) <br>
								UCG  2.4 (4738) <br>

		                    </td>
	                    
		                    <td>
								UAU 28.9 (56836) <br> 
								UAC  5.3 (10455) <br> 
								UAA  1.5 (3039) <br> 
								UAG  0.1 (173) <br> 

		                    </td>
		                    <td>
								UGU 12.9 (25437) <br>
								UGC  1.5 (2923) <br>
								UGA  0.1 (161) <br>
								UGG  7.6 (14947) <br>
 
		                    </td>
		                </tr>
		                <tr>
		                	<td>
								CUU  9.8 (19320) <br>
								CUC  3.8 (7540) <br>
								CUA  4.7 (9181) <br>
								CUG  0.3 (577) <br>

		                	</td>
		                	<td>
								CCU  5.8 (11403) <br>
								CCC  1.0 (2036) <br>
								CCA 34.1 (66933) <br>
								CCG  0.5 (985) <br>

		                	</td>
		                	<td>
								CAU 15.3 (30170) <br> 
								CAC  2.5 (4825) <br> 
								CAA 49.5 (97396) <br> 
								CAG  1.7 (3421) <br> 
		                	</td>
		                	<td>
								CGU  7.6 (14868) <br>
								CGC  0.1 (140) <br>
								CGA  0.5 (951) <br>
								CGG  0.1 (110) <br>
		                	</td>
		                </tr>
		                <tr>
		                	<td>
								AUU 50.4 (99165) <br>
								AUC 11.7 (23016) <br>
								AUA 18.8 (36907) <br>
								AUG 16.6 (32675) <br>
		                	</td>
		                	<td>
								ACU 21.8 (42828) <br>
								ACC  8.5 (16614) <br>
								ACA 29.4 (57700) <br>
								ACG  1.0 (1960) <br>
		                	</td>
		                	<td>
								AAU 94.5 (185686) <br> 
								AAC 10.8 (21188) <br> 
								AAA 60.7 (119303) <br> 
								AAG 11.9 (23486) <br> 
		                	</td>
		                	<td>
								AGU 22.5 (44306) <br>
								AGC  2.4 (4778) <br>
								AGA 19.8 (38946) <br>
								AGG  1.3 (2498) <br>
		                	</td>
		                </tr>
		                <tr>
		                	<td>
								GUU 25.7 (50495) <br>
								GUC  3.9 (7675) <br>
								GUA 13.7 (26836) <br>
								GUG  2.3 (4606) <br>
		                	</td>
		                	<td>
								GCU 12.0 (23490) <br>
								GCC  4.2 (8326) <br>
								GCA 17.9 (35130) <br>
								GCG  0.6 (1179) <br>
		                	</td>
		                	<td>
								GAU 47.0 (92468) <br> 
								GAC  4.3 (8441) <br> 
								GAA 48.3 (94999) <br> 
								GAG  9.3 (18283) <br> 
		                	</td>
		                	<td>
								GGU 36.9 (72530) <br>
								GGC  2.2 (4301) <br>
								GGA  8.8 (17208) <br>
								GGG  0.9 (1708) <br>
		                	</td>
		                </tr>
	            	</tbody>
	            </table>
	        </div> <!-- col -->
	        <div class="col-lg-2 col-md-1 col-sm-0"></div>
		</div> <!-- row -->

            <div align="center">
                <a ng-click="scrollTo('top')" href="" class="label label-info">Top</a> 
            </div>

		<br>
		<br>
	</div> <!-- container -->

</div>