<definition-bar text="Anatomy Ontology  <  Research  <  home" look="definitionLink"></definition-bar>

<div class="container" ng-controller="AnchorController">
    <div class="jumbotron research">
        <div class="row">
            <div class="techSubHeader"><h3>Research</h3></div>
            <h1>Anatomy Ontology</h1>
            <div class="imgBox" align="center">
                <img src="images/logoOntology.png" class="img-responsive" align="center">
            </div>
            
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-10">

            <p>
                dictyBase curators, in collaboration with Jeff Williams from the University of Dundee, developed an ontology to describe the Dictyostelium anatomy. The resulting <b>Dictyostelium anatomy ontology</b> defines the structural makeup of Dictyostelium and its composing parts including the different cell types, throughout its life cycle.<br>
                <br>
                There are two main goals for this new tool: <br>

                <div class="justRight">
                    <p>
                        <b>(1)</b> Promote the consistent annotation of Dictyostelium-specific events, such as phenotypes (already in use), and in the future, of gene epxression information; and <br><br>
                        <b>(2)</b> Encourage researchers to use the same terms with the same intended meaning. 
                    </p>
                </div>
                
                <br>The paper <a target="new" href="http://www.dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=11778">Gaudet, Williams, Fey and Chisholm, 2008</a> (<a target="new" href="http://www.biomedcentral.com/1471-2164/9/130">full text from BioMed Central</a>) gives a description of the ontology and definitions of the terms, in the context of the life cycle of Dictyostelium.
            </p>
            <p>
                The complete ontology can be browsed using <a target="new" href="http://www.ebi.ac.uk/ontology-lookup/browse.do?ontName=DDANAT">EBI's ontology browser tool</a>.
            </p>
            
        </div> <!-- col-lg-4 col-md-2 col-sm -->
        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"></div>

    </div> <!-- row -->

    <div class="row">

        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-10">

            <h2>
                Main terms of the Dictyostelium anatomy ontology
            </h2>
            <p>
                The following list of terms and definitions are the most general terms of the Dicty anatomy ontology. This list contains 37 out of the 137 terms in the complete ontology (version from May 29, 2008). We have also included links to phenotype terms that use the corresponding anatomy terms. The complete ontology can be browsed using <a target="new" href="http://www.ebi.ac.uk/ontology-lookup/browse.do?ontName=DDANAT">EBI's ontology browser tool</a>.
            </p>
            <p>
                Note that the ontology is dynamic and modifications will be made as knowledge evolves. If you would like to suggest modifications to the ontology or the terms and their definitions, please email dictybase or use the <a href="http://sourceforge.net/tracker/?group_id=76834&amp;atid=974664">Source Forge Dicty Anatomy Tracker</a>.
            </p>
            <br>
            <div>
                <h2 id="blueDicty"> <strong>Anatomical structure</strong> </h2>
                <h5><i>Dictyostelium discoideum</i> </h5>
                <h4>DDANAT:0010001</h4>
            </div>

            <p>
                Definition: Material anatomical entity that has inherent 3D shape and is generated by coordinated expression of the Dictyostelium discoideum genome.
            </p>

            <div class="shortcuts">
                <a ng-click="gotoAnchor('multi')" href="" class="label label-primary">Multicellular Organism</a> 
                <a ng-click="gotoAnchor('cell')" href="" class="label label-primary">Cell</a> 
                <a ng-click="gotoAnchor('subdivision')" href="" class="label label-primary">Subdivision</a> 
                <a ng-click="gotoAnchor('top')" href="" class="label label-default">Top</a> 
            </div>
            
            <a name="multi" id="multi"></a>
            <div class="blueBox"><h4>Multicellular organism</h4></div>
            <h4>DDANAT:0010082</h4> 

            <p>
                Definition: Anatomical structure that is an individual member of the Dictyostelium discoideum species and consists of more than one cell.
            </p>

            
            <ul>
                <li>
                    <b>aggregation territory DDANAT:0000003.</b> Definition: Area covered by a group of chemotactic cells converging toward the same aggregation center. Can reach a diameter of up to 1 cm. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=aggregation">phenotypes</a>]
                </li>
                <li>
                    <b>loose aggregate DDANAT:0000004.</b> Definition: First adherent mass of cells observed during development, relatively flat with indistinct borders. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=aggregate">phenotypes</a>]
                </li>
                <li>
                    <b>mound DDANAT:0000005.</b> Definition: Hemispherical structure composed of post-aggregative cells that are undergoing differentiation. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=mound">phenotypes</a>]
                </li>
                <li>
                    <b>tipped mound DDANAT:0000006.</b> Definition: Hemispherical structure composed of post-aggregative cells that are undergoing differentiation and that have formed a tip.
                </li>
                <li>
                    <b>standing slug DDANAT:0000007.</b> Definition: Cylindrical structure that is formed by elongation of the mound under the control of the tip. The elongating tip is called the first finger. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=slug%20formation">phenotypes</a>]
                </li>
                <li>
                    <b>migratory slug DDANAT:0000008.</b> Definition: When the conditions are not optimal for the completion of development, the standing slug bends from a vertical position to a horizontal position, producing a migratory that slug has the ability to migrate towards more favorable environmental conditions. The slug is cylindrical in shape with a rounded, tapering region at its anterior end that is raised with respect to the substratum. It usually measures between 0.8 to 1.2 mm in length with a diameter of 0.15 to 0.25 mm. Slugs sense and respond to light, temperature and acidity, and do not enter culmination until the conditions are optimal. The slug can move at a speed of 0.5 to 2 mm per hour. A trail of slime is deposited on the surface during migration. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=slug">phenotypes</a>]
                </li>
                <li>
                    <b>early culminant DDANAT:0000009.</b> Definition: Structure formed after the arrest of slug migration formed when cells of the posterior region of the slug move under the tip. Stalk tube formation is initiated at this stage. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=culmi*">phenotypes</a>]
                </li>
                <li>
                    <b>mid culminant DDANAT:0000010.</b> Definition: Structure in which stalk tube formation has progressed down the prespore zone. Basal disc formation begins at this stage, with the migration of pstA and pstB cells to the lower part of the culminant to form the basal disc.
                </li>
                <li>
                    <b>late culminant DDANAT:0000011.</b> Definition: Structure in which stalk tube formation has progressed down to the basal disc. The sorogen ascents up the stalk to it apical position dring this stage. Terminal differentiation occurs at this stage: death of the stalk cells and encapsulation of the spores.
                </li>
                <li>
                    <b>fruiting body DDANAT:0000012.</b> Definition: Dicty asexual organism which is terminally differentiated and consists of a long stalk on top of which sits the sorus that contains spores. The mature fruiting body measures between 1.5 to 3 mm in height. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=fruiting">phenotypes</a>]
                </li>
            </ul>

            <div class="shortcuts">
                <a ng-click="gotoAnchor('multi')" href="" class="label label-primary">Multicellular Organism</a> 
                <a ng-click="gotoAnchor('cell')" href="" class="label label-primary">Cell</a> 
                <a ng-click="gotoAnchor('subdivision')" href="" class="label label-primary">Subdivision</a> 
                <a ng-click="gotoAnchor('top')" href="" class="label label-default">Top</a> 
            </div>

            <p>
                <a name="cell" id="cell"></a>
                <div class="blueBox"><h4>Cell</h4></div>
                <h4>DDANAT:0000401</h4>
                Definition: Anatomical structure that has as its parts a maximally connected cell compartment surrounded by a plasma membrane.

                <ul>
                    <li>
                        <b>single cell organism DDANAT:0000083.</b> Definition: Cell that is an individual member of the species Dictyostelium discoideum. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=growth">phenotypes</a>]
                    </li>
                    <li>
                        <b>aggregate cell DDANAT:0000403.</b> Definition: Differentiating cell composing the aggregate that has acquired adhesive properties. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=chemotaxis">phenotypes</a>]
                    </li>
                    <li>
                        <b>anterior like cell DDANAT:0000404.</b> Definition: Cell that has properties of anterior cells (for e.g., accumulate vital dyes in autophagic vesicles) but that is are scattered throughout the rear of the slug. Some but not all these cells express the ecmA gene and/or the ecmB gene. ALCs maintain an amoeboid appearance during culmination. ALCs that express the ecmO promoter have been called pstO/ALC.
                    </li>
                    <li>
                        <b>apical disc cell DDANAT:0000119.</b> Definition: Cell forming the apical disc formed of upper cup cells that remain at the top of the fruiting body once the stalk formation is complete.
                    </li>
                    <li>
                        <b>peripheral layer cell DDANAT:0000095.</b> Definition:Electron-dense cell connected to neighboring peripheral layer cells thus forming a coherent tissue around the multicellular organism
                    </li>
                    <li>
                        <b>prespore cell DDANAT:0000405.</b> Definition: Cell that is undergoing differentiation to become a spore. Characterized by the presence of prespore vesicles (PV).[<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=prespore%20cell">phenotypes</a>]
                    </li>
                    <li>
                        <b>prestalk cell DDANAT:0000406.</b> Definition: Cell that is undergoing differentiation to become a stalk cell and characterized by the ability to update vital dyes. Represents about one-quarter of the cells. During development, prestalk cells are located in the anterior portion of the organism. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=prestalk%20cell">phenotypes</a>]
                    </li>
                    <li style="list-style: none">
                        <ul>
                            <li>
                                <b>pstA cell</b> Definition: Cell that is undergoing differentiation to become a stalk cell. PstA cells express the ecmA marker from a promoter region that is proximal to the ATG (ecmAO promoter). They are located at the anterior-most region of the slug. During culmination pstA cells differentiate into pstAB cells. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=prestalk%20A">phenotypes</a>]
                            </li>
                            <li>
                                <b>pstAB cell</b> Definition: Cell that is undergoing differentiation to become a stalk cell. PstAB cells express both ecmA and ecmB either simultaneously or sequentially. During culmination pstA differentiate into pstAB cells.
                            </li>
                            <li>
                                <b>pstB cell</b> Definition: Cell that is undergoing differentiation to become a stalk cell. PstB cells express the ecmB marker and form the outer basal disc in the fruiting body. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=prestalk%20B">phenotypes</a>]
                            </li>
                            <li>
                                <b>pstO cell</b> Definition: Cell that is undergoing differentiation to become a stalk cell. PstO cells express ecmA at a very low level and are located at the posterior half of the prestalk zone. Expresses ecmA from the distal region of its promoter (ecmO). [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=prestalk%20O">phenotypes</a>]
                            </li>
                            <li>
                                <b>tip-organiser cell</b> Definition: Type of pstA cell that composes the very tip of the organism.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>sentinel cell DDANAT:0000418.</b> Definition: Cell present in multicellular organism that has a high ability to engulf bacteria and toxin and is presumed to have a detoxification and immune-like role.
                    </li>
                    <li>
                        <b>stalk cell DDANAT:0000413.</b> Definition: Cell of polyhedric shape filling the stalk tube. Stack cells are large (around 8 icrons in diameter), highly vacuolated, and are surrounded by cell wall composed of cellulose. Stalk cells die upon terminal differentiation. Their role is to provide structural support for the fruiting body.
                    </li>
                </ul>
            </p>

            <div class="shortcuts">
                <a ng-click="gotoAnchor('multi')" href="" class="label label-primary">Multicellular Organism</a> 
                <a ng-click="gotoAnchor('cell')" href="" class="label label-primary">Cell</a> 
                <a ng-click="gotoAnchor('subdivision')" href="" class="label label-primary">Subdivision</a> 
                <a ng-click="gotoAnchor('top')" href="" class="label label-default">Top</a> 
            </div>

            <a name="subdivision" id="subdivision"></a>
            <p>
                <div class="blueBox"><h4>Subdivision</h4></div>
                <h4>DDANAT:0010085</h4>
                Definition: Anatomical structure which is a primary subdivision of whole Dictyostelium organism. The mereological sum of these is the whole organism.

                <ul>
                    <li>
                        <b>prespore region DDANAT:0000086.</b> Definition: Region mostly composed of prespore cells. In addition to prespore cells, the prespore region contains anterior-like cells (ALC) that express ecmA and/or ecmB. The prespore region occupies about three quarters of the organism.
                    </li>
                    <li>
                        <b>prestalk region DDANAT:0000087.</b> Definition: The prestalk region is located at the most apical part of the organism. It consists of about one quarter of the cells.
                    </li>
                    <li>
                        <b>prestalk A region DDANAT:0000088.</b> Definition: Anterior-most region of the prestalk zone characterized by high expression of the ecmA gene directed by the proximal part of its promoter (ecmA promoter).
                    </li>
                    <li>
                        <b>prestalk AB core region DDANAT:0000091.</b> Definition: Cone-shaped area of the prestalk zone that occupies a core among the pstA region. Cells of the pstAB region express both the ecmA and ecmB genes.
                    </li>
                    <li>
                        <b>prestalk O region DDANAT:0000092.</b> Definition: Area of the prestalk zone located posterior to the pstA region and characterized by low expression of the ecmA gene directed by the distal part of its promoter (ecmO promoter).
                    </li>
                    <li>
                        <b>sorus DDANAT:0000094.</b> Definition: Ovoid structure supported by the stalk and that contains the spores. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=sorus">phenotypes</a>]
                    </li>
                    <li>
                        <b>stalk DDANAT:0000093.</b> Definition: Tubular structure that consists of cellulose-covered cells stacked on top of each other and surrounded by an acellular stalk tube composed of cellulose and glycoprotein. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=stalk">phenotypes</a>]
                    </li>
                    <li>
                        <b>stream DDANAT:0000013.</b> Definition: Macroscopic appearance of groups of chemotactic cells orienting themselves in a head to tail fashion as they are migrating in the direction of the chemotactic stimulus to form aggregates. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=stream">phenotypes</a>]
                    </li>
                    <li>
                        <b>tip-organizer DDANAT:0000103.</b> Definition: Part of the prestalk region that acts as an organizer, that is, a signalling center that directs the morphological characteristics of the entire organism. [<a href="http://www.dictybase.org/db/cgi-bin/search/results.pl?class=dicty::UI::Search::Phenotype&amp;query=tip">phenotypes</a>]
                    </li>
                </ul>
            </p>

            <div class="shortcuts">
                <a ng-click="gotoAnchor('top')" href="" class="label label-default">Top</a> 
            </div>


            
        </div> <!-- col-lg-4 col-md-2 col-sm -->
        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"></div>
    </div> <!-- row -->
</div> <!-- container -->
