<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Dictyostelium Genetics Nomenclature</title>
    </head>
    <body>
        <h1>
            Synopsis of Genetic Nomenclature Guide for Dictyostelium
        </h1>
        <p>
            About 20 years ago the <i>Dictyostelium</i> research community formally agreed to use the Demerec system for gene nomenclature.
        </p>
        <ul>
            <li>GENE symbols comprise three lowercase italic letters. Different loci that mutate to give the same phenotype or are related by sequence are designated by a suffix of an uppercase italic letter.<br>
                Examples: <i>acpA, acpB, carC</i>.
            </li>
        </ul>
        <ul>
            <li>PROTEINS can be referred to by the relevant gene symbol, non-italic, initial letter uppercase.<br>
                Examples: AcpA, AcpB, CarC.
            </li>
        </ul>
        <ul>
            <li>CHROMOSOMES are designated by non-italic Arabic numbers.<br>
                Examples: 1 to 6
            </li>
        </ul>
        <ul>
            <li>PLASMIDS are designated by a prefix indicating the genus and species followed by "p" for plasmid and an Arabic (plasmid specific) number.
            </li>
            <li style="list-style: none">Examples: Ddp1, Dpp1
            </li>
        </ul>
        <ul>
            <li>STRAINS should have unique designations consisting of two or three uppercase letters and a serial number.<br>
                Examples: HM44, NP12, HTY217.<br>
                <br>
                In cases where no systematic name is provided, dictyBase will automatically assign a systematic strain name consisting of the letters DBS (<b>d</b>icty<b>B</b>ase <b>S</b>train) followed by seven digits. Example: DBS0236963.
            </li>
        </ul>
        <p>
            Contributors: Rob Kay; Bill Loomis; Peter Devreotes
        </p>
        <p>
            <br>
            <a href="/Nomeclature_for_Trends_2001.pdf">Click here for a pdf version of this document</a>
        </p>
        <p>
            <a href="/NomenclatureGuidelines.htm">Full Document of Genetic Nomenclature Guidelines</a>
        </p>
    </body>
</html>
<!--#include virtual="/inc/page-layout-bottom.html"-->
<!--#include virtual="/inc/page-footer.html"-->