<div class="viewHouse">

	<div class="jumbotron research">
	  <h1> Research </h1>
	  <h4><strong>Scientific resources</strong></h4>
	</div>

	<div class="container">

		<!-- Ontology -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="/research/ontology" class="btn btn-warning btn-lg btn-block" role="button">Anatomy Ontology</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
		</div>

		<!-- Codon Bias -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="/research/codon" class="btn btn-danger btn-lg btn-block" role="button">Codon Bias Table</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
		</div>

		<!-- Nomemclature -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="/research/nomenclature" class="btn btn-warning btn-lg btn-block" role="button">Nomenclature Guidelines</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
		</div>

		<!-- Phenotyping -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="/research/phenotyping" class="btn btn-warning btn-lg btn-block" role="button">Phenotyping</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
		</div>


		<!-- Techniques -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="/research/techniques" class="btn btn-warning btn-lg btn-block" role="button">Techniques</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-12"></div>
		</div>
		






	</div> <!-- container -->

</div>
