/*Front Stock Center CSS*/

.stockHouse{
	padding: 10px 5px 5px 5px;
}

.stockMain{
	/*border: 1px solid #380B61;*/
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	padding-bottom: 10px;
}

.stockHeader{
	background-color: #084B8A;
	color: #EFEFFB;
	font-size: 18px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border: 1px dotted #F5F6CE;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.stockSubheader{
	background-color: #EFFBFB;
	color: black;
	font-size: 10px;
	letter-spacing: 5px;
	border: 3px solid black;
	padding: 1px 0px 1px 0px;

}

.stockPlasmidsMain {
	text-align: center;
	padding-bottom: 15px;
	/*padding-left: 10px;*/
	background-color: #81DAF5;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
/*	border: 1px solid hotpink;*/
}

.stockPlasmidHeader{
	font-size: 14px;
	padding-top: 7px;
	
}

.stockPlasmidItems {
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.stockStrainsMain {
	text-align: center;
	padding-bottom: 20px;
	background-color: #0489B1;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	/*border: 1px solid mediumpurple*/;
}

.stockStrainsHeader{
	font-size: 14px;
	padding-top: 7px;
	color:#FBFBEF;
}

.stockStrainsItems {
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
	color:#FBFBEF;
}

@media(max-width:992px){

	.stockPlasmidItems {
		font-size: 10px;
		padding-top: 2px;
		padding-bottom: 0px;
	}

	.stockStrainsItems {
		font-size: 10px;
		padding-top: 2px;
		padding-bottom: 0px;
		color:#FBFBEF;
	}
}


@media(max-width:767px){

	.stockHouse{
		padding-left: 20px;
		padding-right: 20px;
	}

	.stockHeader{
		font-size: 22px;
	}

	.stockPlasmidsMain {
		border-bottom-left-radius:0px;
		border-bottom-right-radius:0px;
	}

	.stockPlasmidHeader{
		font-size: 16px;
		padding-top: 20px;
	}

	.stockPlasmidItems {
		font-size: 14px;
	}


	.stockStrainsHeader{
		font-size: 16px;
		padding-top: 20px;
	}

	.stockStrainsItems {
		font-size: 14px;
	}
}