<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Breakthoughs</title>
    </head>
    <body>
        <h1>
            Breakthroughs
        </h1>
        <div style="margin-left: 2em">
            <p>
                <b>Important generalizations for eucaryotic cells have been derived from studies of <i>D. discoideum:</i></b>
            </p>
        </div>
        <ul>
            <li>
                <b>Cytoskeletal proteins have overlapping functions</b><b>.</b> Detailed investigations of multiple gene deletions of myosins and actin binding proteins first demonstrated this now generally accepted concept <a href="references.htm">(1)</a>.
            </li>
        </ul>
        <ul>
            <li>
                <i><b>Cytoskeletal proteins and organelles dynamically relocalize within living cells during cytokinesis, motility, and phagocytosis</b></i><b>.</b> Actin, myosin, coronin, talin, cyclase-associated protein, and actin binding proteins move to related regions of the cell during each of these events <a href="references.htm">(2)</a>. In addition, novel components of the cytoskeletal, including coronin, cortellexin, and scar having been discovered in <i>Dictyostelium.</i>
            </li>
        </ul>
        <ul>
            <li>
                <i><b>Conventional myosin is required for cytokinesis</b></i><b>.</b> This was shown in <i>D. discoideum</i> over a decade ago and has recently been duplicated in yeast <a href="references.htm">(3)</a>. Further studies of <i>D. discoideum</i> myosin heavy chain <i>in vivo</i> and as single molecules <i>in vitro</i> have provided many of the known characteristics of this molecular motor <a href="references.htm">(4)</a>.
            </li>
        </ul>
        <ul>
            <li>
                <i><b>Chemoattractants are sensed by G-protein coupled receptors</b></i><b>.</b> Over a decade ago, cloning and deletion of the cAMP receptors in <i>D. discoideum</i> showed that these receptors were essential for chemotaxis <a href="references.htm">(5)</a>. It is now clear that a family of twenty G-protein linked "chemokine" receptors mediates chemotaxis in leukocytes.
            </li>
        </ul>
        <ul>
            <li>
                <i><b>Gradient direction is sensed by selectively recruiting PH domains to the membrane.</b></i> Neither surface receptors nor G-proteins are significantly clustered at the cell’s leading edge. In addition, the actin cytoskeleton is not required for PH domain recruitment <a href="references.htm">(6)</a>. Many of these observations have recently been duplicated in mammalian leukocytes responding to chemokines.
            </li>
            <li style="list-style: none">
                <br>
                <br>
            </li>
            <li>
                <b>PI(3) kinase is important for controlling cell movement, cell polarity, and chemotaxis.</b> <a href="references.htm">(7)</a>.
            </li>
            <li style="list-style: none">
                <br>
                <br>
            </li>
            <li>
                <b>Eukaryotes use two-component histidine kinases for signal transduction</b><b>.</b> The variety of histidine kinases and response regulators in this organism has indicated the widespread occurrence of this mode of signaling in fungi, plants and other lower eucaryotes <a href="references.htm">(8)</a>.
            </li>
        </ul>
        <ul>
            <li>
                <b><i>A number of genes and signaling pathways found in higher eucaryotes but not&nbsp; in yeast predate metazoans</i>.</b> These include the STAT signaling pathway,&nbsp; the interplay of protein kinase A, GSK3 and in cell-type specific gene expression,&nbsp; and genes of the apoptotic and Alzheimer's &nbsp; disease pathways beclin and presenillin, respectively <a href="references.htm">(9)</a>.
            </li>
        </ul>
        <ul>
            <li>
                <i><b>G-protein coupled receptors can transduce signals without G-proteins.</b></i> Receptor-mediated G-protein independent functions include calcium influx, MAPK activation, STAT and transcription factor activation <a href="references.htm">(10)</a>. These observations fostered studies of mammalian cells that have verified the occurrence of GPCR-mediated G-protein-independent responses.
            </li>
        </ul>
        <ul>
            <li>
                <i><b>Protein ubiquitination pathways are used in differentiation and pattern formation</b></i><b>.</b> Analysis of a MEKK identified the first defined <i>in vivo</i> substrate of a ubiquitin protease (UBP). This work and that on a "novel" F-box/WD40 repeat containing protein have identified new roles of ubiquitination in controlling patterning and cell-type determination <a href="references.htm">(11)</a>.
            </li>
        </ul>
        <ul>
            <li>
                <i><b>A chlorinated sterol like compound, differentiation-inducing factor (DIF) can determine cell fate.</b></i> DIF was discovered nearly twenty years ago as an inducer of stalk cell differentiation <a href="references.htm">(12)</a>. It has recently been found that DIF can change the differentiated state of a variety of mammalian cells.
            </li>
            <li>
                <p style="margin-top: 12">
                    <b><i>Spatial patterning can be regulated through serpentine receptor mediated tyrosine phosphorylation of GSK3.&nbsp;&nbsp;</i></b><a href="references.htm">(13)</a>
                </p>
            </li>
            <li style="list-style: none">
                <br>
                <!--#include virtual="/inc/page-layout-bottom.html"-->
                <!--#include virtual="/inc/page-footer.html"-->
            </li>
        </ul>
    </body>
</html>
