<!--#include virtual="/inc/tutorial_movies_withSide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Cytoskeletal Dynamics</title>
    </head>
    <body>
        <h1>
            Cytoskeletal Dynamics
        </h1>
        <div style="margin-left: 2em">
            <i><nobr><a href="cytokinesis.htm">Cytokinesis</a></nobr><br>
            <nobr><a href="motility.htm">Motility</a></nobr><br>
            <nobr><a href="cytokinesis_defects.htm">Cytokinesis&nbsp;Defects</a></nobr><br>
            <nobr><a href="phagocytosis.htm">Phagocytosis</a><br>
            <a href="/tutorial/">Learn about Dictyostelium Home</a></nobr></i>
            <table border="1" width="100%" bordercolorlight="#FFFFFF" bordercolordark="#FFFFFF">
                <tr>
                    <td valign="top" width="24"></td><!--msnavigation-->
                    <td valign="top"></td>
                </tr>
                <tr>
                    <td width="25%">
                        <img border="0" src="cytoki2.gif" width="169" height="199">
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                    <td width="25%">
                        <img border="0" src="motili4.gif" width="198" height="201">
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        &nbsp;
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        <img border="0" src="cytiki3.jpg" width="165" height="170">
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                    <td width="25%">
                        <img border="0" src="new_pa4.jpg" width="169" height="172">
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        &nbsp;
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                </tr>
            </table><!--#include virtual="/inc/footer_withSide.html"-->
        </div>
    </body>
</html>
