<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Movies</title>
    </head>
    <body>
        <p>
            <br>
        </p>
        <h3>
            The <a href="/Multimedia/cytokinesis/cytokinesis.htm">cytokinesis videos</a> have moved to our Pictures/Videos section.
        </h3><!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
