<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Learn about Dictyostelium</title>
    </head>
    <body>
        <h1>
            Dictyostelium discoideum: Model System in Motion<br>
        </h1>
        <p style="color: #FF0000">
            <img border="0" src="index.3.gif" width="641" height="426">
        </p><!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
