<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Genetic Tools</title>
    </head>
    <body>
        <h1>
            Genetic Tools
        </h1>
        <p>
            <nobr><a href="homologous_recombination.htm">Genes&nbsp;Deleted&nbsp;by&nbsp;Recombination</a></nobr><br>
            <nobr><a href="remi.htm">Genes&nbsp;Identified&nbsp;by&nbsp;&nbsp;REMI</a></nobr>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <b>Use of phenotype to select point mutations and genomic insertions.</b><br>
            Photo at left shows multiple wild-type plaques (~ 1 cm) and single aggregation deficient plaque.&nbsp; Photo at right shows multiple mutant plaques and single revertant plaque.&nbsp; Among the available genetic techniques are homologous recombination used to create null mutants in known genes for use epistasis, random mutagenesis, and GFP-tagging studies.&nbsp; Restriction enzyme mediated integration (REMI) is used to identify new genes and for suppressor analysis:
        </p>
        <table border="1" width="100%" bordercolorlight="#FFFFFF" bordercolordark="#FFFFFF">
            <tr>
                <td valign="top" width="20"></td><!--msnavigation-->
                <td valign="top"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td width="50%">
                    <img border="0" src="geneti3.jpg" width="304" height="211">
                </td>
                <td width="50%">
                    <img border="0" src="geneti4.jpg" width="307" height="210">
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <p align="center">
                        LOSS-OF-FUNCTION
                    </p>
                </td>
                <td width="50%">
                    <p align="center">
                        GAIN-OF-FUNCTION
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    &nbsp;
                </td>
                <td width="50%">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td width="50%" align="center">
                    Homologous Recombination
                </td>
                <td width="50%" align="center">
                    Restriction Enzyme Mediated Insertion
                </td>
            </tr>
            <tr>
                <td width="50%">
                    &nbsp;
                </td>
                <td width="50%">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td width="50%" align="center">
                    Epistasis
                </td>
                <td width="50%" align="center">
                    Novel Genes
                </td>
            </tr>
            <tr>
                <td width="50%" align="center">
                    Random Mutagenesis
                </td>
                <td width="50%" align="center">
                    Suppressors
                </td>
            </tr>
            <tr>
                <td width="50%" align="center">
                    GFP-tagging
                </td>
                <td width="50%" align="center">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td width="50%" align="center">
                    &nbsp;
                </td>
                <td width="50%" align="center">
                    &nbsp;
                </td>
            </tr>
        </table>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <b>Illustration of REMI technique to generate genomic insertions and rescue mutated genes.</b><br>
            Random insertion of plasmid containing drug resistance marker may disrupt a gene.&nbsp; The DNA flanking the insertion is rescued by transformation of E coli with genomic DNA.&nbsp; The gene is then knocked out in the original wild-type strain to verify that it is required for the lost function:
        </p>
        <p>
            <img border="0" src="REMI_4.gif" width="502" height="544">
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;<!--msnavigation--><!--msnavigation-->
        </p><!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
