<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>References</title>
    </head>
    <body>
        <h1>
            References
        </h1>
        <ol>
            <li>
                <p>
                    Robinson and Spudich, J. , personal Communication
                </p>
                <p>
                    Eichinger L, Lee SS, Schleicher M. <i>Dictyostelium</i> as model system for studies of the actin cytoskeleton by molecular genetics. Microsc Res Techniq 47: 124-134 (1999)
                </p>
            </li>
            <li>
                <p>
                    Gerisch G, Albrecht R, Heizer C, Hodgkinson S, Maniak M. Chemoattractant-controlled accumulation of coronin at the leading edge of <i>Dictyostelium</i> cells monitored using a green fluorescent protein-coronin fusion protein. Curr. Biol. 5, 1280-1285 (1995).
                </p>
                <p>
                    Kreitmeier M, Gerisch G, Heizer C, Muller-Taubenberger A. A talin homologue of <i>Dictyostelium</i> rapidly assembles at the leading edge of cells in response to chemoattractant. J. Cell Biol. 129, 179-188 (1995).
                </p>
                <p>
                    Gottwald U, Brokamp R, Karakesisoglou I, Schleicher M, Noegel A. A. Identification of a cyclases-asociated protein (CAP) homologue in <i>Dictyostelium discoideum</i> and characterization of its interaction with actin. Mol. Biol. Cell 7, 261-272 (1996).
                </p>
                <p>
                    Moores, S. L., Sabry, J. H., and Spudich, J. A. Myosin dynamics in live <i>Dictyostelium</i> cells. Proc. Natl. Acad. Sci. USA 93, 443-446 (1996).
                </p>
                <p>
                    Aizawa H, Fukui Y, and Yahara I. Live dynamics of <i>Dictyostelium</i> cofilin suggests a role in remodeling actin latticework into bundles. J.Cell Sci. 110, 2333-2344 (1997).
                </p>
                <p>
                    Westphal M, Jungbluth A, Heidecker M, Muhlbauer B, Heizer C, Schwartz JM, Marriott, G, Gerisch G. Microfilament dynamics during cell movement and chemotaxis monitored using a GFP-actin fusion protein. Curr. Biol. 7, 176-183 (1997).
                </p>
            </li>
            <li>
                <p>
                    Bezanilla M, Forsburg SL, Pollard TD The fission yeast myp2+ gene encodes a myosin II and is involved in cytokinesis. Mol Biol Cell 8: 923-923 (1997)
                </p>
                <p>
                    De Lozanne A, Spudich JA. Disruption of the <i>Dictyostelium</i> myosin heavy chain gene by homologous recombination. Science 236: 1086-91 (1987)
                </p>
            </li>
            <li>
                <p>
                    Mehta AD, Rief M, Spudich JA, Smith DA, Simmons RM. Single-molecule biomechanics with optical methods. Science 283:1689-95 (1999).
                </p>
            </li>
            <li>
                <p>
                    Klein PS, Sun TJ, Saxe CL 3d, Kimmel AR, Johnson RL, Devreotes PN. A chemoattractant receptor controls development in <i>Dictyostelium discoideum</i>. Science 241: 1467-72 (1988)
                </p>
                <p>
                    Sun TJ, Devreotes PN. Gene targeting of the aggregation stage cAMP receptor cAR1 in <i>Dictyostelium</i>. Genes Dev 5: 572-82 (1991).
                </p>
                <p>
                    Kumagai, A., M. Pupillo, R. Gunderson, R. Miake-Lye, P.N. Devreotes and R.A. Firtel (1989). Regulation and function of G protein subunits in <i>Dictyostelium</i>. Cell 57: 265-275.
                </p>
            </li>
            <li>
                <p>
                    Parent CA, Blacklock BJ, Froehlich WM, Murphy DB, Devreotes PN. G protein signaling events are activated at the leading edge of chemotactic cells. Cell 95: 81-91 (1998)
                </p>
                <p>
                    Xiao Z, Zhang N, Murphy DB, Devreotes PN. Dynamic distribution of chemoattractant receptors in living cells during chemotaxis and persistent stimulation. J Cell Biol 139: 365-74 (1997)
                </p>
                <p>
                    Meili, R., C. Ellsworth, S. Lee, T.B.K. Reddy, H. Ma and R.A. Firtel (1999). Chemoattractant-mediated transient activation and membrane localization of Akt/PKB is required for efficient chemotaxis to cAMP in <i>Dictyostelium</i>. EMBO J. 18:2092-2105.
                </p>
            </li>
            <li>
                <p>
                    Zhou, K., Pandol, S., Bokoch, G.,and Traynor-Kaplan, A. E. (1998). Disruption of Dictyostelium PI3K genes reduces [32P]phosphatidylinositol 3,4 bisphosphate and [32P]phosphatidylinositol trisphosphate levels, alters F-actin distribution and impairs pinocytosis. J. Cell Sci. 111, 283-294.
                </p>
                <p>
                    Zhou, K. M., Takegawa, K., Emr, S. D., and Firtel, R. A. (1995). A phosphatidylinositol (PI) kinase gene family in <i>Dictyostelium discoideum</i>: Biological roles of putative mammalian p110 and yeast Vps34p PI 3-kinase homologs during growth and development. Mol. Cell. Biol. 15, 5645-5656.
                </p>
                <p>
                    Meili, R., C. Ellsworth, S. Lee, T.B.K. Reddy, H. Ma and R.A. Firtel (1999). Chemoattractant-mediated transient activation and membrane localization of Akt/PKB is required for efficient chemotaxis to cAMP in <i>Dictyostelium</i>.EMBO J. 18:2092-2105.
                </p>
            </li>
            <li>
                <p>
                    Wang N, Shaulsky G, Escalante R, Loomis WF.&nbsp; A two-component histidine kinase gene that functions in <i>Dictyostelium</i> development. EMBO J 15: 3890-8 (1996)
                </p>
            </li>
            <li>
                <p>
                    Kawata T, Shevchenko A, Fukuzawa M, Jermyn KA, Totty NF, Zhukovskaya NV, Sterling AE, Mann M, Williams JG. SH2 signaling in a lower eukaryote: a STAT protein that regulates stalk cell differentiation in <i>Dictyostelium</i>.&nbsp; Cell 89: 909-16 (1997)
                </p>
                <p>
                    Harwood AJ, Plyte SE, Woodgett J, Strutt H, Kay RR. Glycogen synthase kinase 3 regulates cell fate in <i>Dictyostelium</i>.&nbsp; Cell 80: 139-48 (1995)
                </p>
                <p>
                    Araki, T., M. Gamper, A. Early, M. Fukuzawa, T. Abe, E. Kim, R.A. Firtel and J.G. Williams (1998). Developmentally and spatially regulated activation of a <i>Dictyostelium</i> STAT protein by a serpentine receptor. EMBO J. <i>17</i>:4018-4028
                </p>
            </li>
            <li>
                <p>
                    Milne JL, Wu L, Caterina MJ, Devreotes PN. Seven helix cAMP receptors stimulate Ca2+ entry in the absence of functional G proteins in <i>Dictyostelium</i> J Biol Chem 270: 5926-31 (1995)
                </p>
                <p>
                    Maeda M, Firtel RA. Activation of the mitogen-activated protein kinase ERK2 by the chemoattractant folic acid in <i>Dictyostelium</i>. J Biol Chem 272: 23690-5 (1997)
                </p>
                <p>
                    Schnitzler GR, Briscoe C, Brown JM, Firtel RA. Serpentine cAMP receptors may act through a G protein-independent pathway to induce postaggregative development in <i>Dictyostelium</i>. Cell 81: 737-45 (1995)
                </p>
                <p>
                    Ginsburg, G. T., and Kimmel, A. R. (1997). Autonomous and nonautonomous regulation of axis formation by antagonistic signaling via 7-span cAMP receptors and GSK3 in Dictyostelium. Genes Devel. 11, 2112-2123.
                </p>
                <p>
                    Plyte, S. E., O'Donovan, E., Woodgett, J. R., and Harwood, A. J. (1999). Glycogen synthase kinase-3 (GSK-3) is regulated during Dictyostelium development via the serpentine receptor cAR3. Development <i>126</i>, 325-333.
                </p>
                <p>
                    Leung Kim, Jingchun Liu, and Alan R. Kimmel; 1999 The Novel Tyrosine Kinase ZAK1 Activates GSK3 to Direct Cell Fate Specification. Cell 99, 399-408.
                </p>
            </li>
            <li>
                <p>
                    Chung CY, Reddy TB, Zhou K, Firtel RA.&nbsp; A novel, putative MEK kinase controls developmental timing and spatial patterning in <i>Dictyostelium</i> and is regulated by ubiquitin-mediated protein degradation.&nbsp; Genes Dev 12: 3564-78 (1998)
                </p>
            </li>
            <li>
                <p>
                    Kay RR, Jermyn KA.&nbsp; A possible morphogen controlling differentiation in <i>Dictyostelium</i>. Nature 303: 242-4 (1983)
                </p>
                <p>
                    Kubohara,Y. Effects of differentiation-inducing factors of <i>Dictyostelium discoideum</i> on human leukemia K562 cells: DIF-3 is the most potent anti-leukemic agent. Eur J Pharmacol 381: 57-62 (1999)
                </p>
            </li>
            <li>
                <p>
                    Ginsburg, G. T., and Kimmel, A. R. (1997). Autonomous and nonautonomous regulation of axis formation by antagonistic signaling via 7-span cAMP receptors and GSK3 in Dictyostelium. Genes Devel. 11, 2112-2123.
                </p>
                <p>
                    Plyte, S. E., O'Donovan, E., Woodgett, J. R., and Harwood, A. J. (1999).&nbsp; Glycogen synthase kinase-3 (GSK-3) is regulated during Dictyostelium development via the serpentine receptor cAR3. Development 126, 325-333.
                </p>
                <p>
                    Leung Kim, Jingchun Liu, and Alan R. Kimmel (1999) The Novel Tyrosine Kinase ZAK1 Activates GSK3 to Direct Cell Fate Specification. Cell 99, 399-408.
                </p>
            </li>
            <li style="list-style: none">
                <br>
                <!--#include virtual="/inc/page-layout-bottom.html"-->
                <!--#include virtual="/inc/page-footer.html"-->
            </li>
        </ol>
    </body>
</html>
