<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Purpose</title>
    </head>
    <body>
        <h1>
            Purpose
        </h1>
        <p>
            The ameboid protozoan <i>Dictyostelium discoideum</i> is a powerful system for functional analysis of sequenced genes.&nbsp; The 34 Mb genome contains many genes that are&nbsp; homologous to those in higher eukaryotes and are missing in <i>Saccharomyces cerevisiae</i>.&nbsp; The organism is uniquely suited for studies of cytokinesis, motility, phagocytosis, chemotaxis, signal transduction, and aspects of development.&nbsp; Many of these processes, which play important roles in health and disease, are either absent or are less accessible in other model organisms.&nbsp;
        </p>
        <p>
            <i>D. discoideum</i> is one of the model organisms chosen by the National Institutes of Health as part of its model organism initiative <a target="new" href="http://www.nih.gov/science/models/d_discoideum/">(http://www.nih.gov/science/models/d_discoideum/).</a><br>
            The community of over 600 researchers currently using <i>Dictyostelium</i> in their studies invites collaboration with investigators interested in using the unique features of <i>Dictyostelium</i>.<br>
            This presentation outlines the features of the system and lists important findings that have been derived from its study. Text, video, and links to informative sites are provided.
        </p>
        <!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
