<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Extraction of genomic DNA</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Extraction of genomic DNA
        </h1>
        <p>
            <b>Published in <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=2754">Hughes and Welker 1988</a>.</b>
        </p>
        <p>
            <b>Download <a href="/techniques/word_docs/genomicDNA_1.doc">word file</a>.</b>
        </p>
        <hr>
        <p align="right">
            <a href="#mat">[MATERIALS]</a> - <a href="/techniques/">[INDEX]</a> <a name="proc" id="proc"></a>
        </p>
        <h2>
            Procedure
        </h2>
        <p>
            <b>Note</b>: Can use as little as one confluent plate (10<sup>7</sup>) or 500 ml of 10<sup>7</sup> cells/ml. Volumes in parentheses are suggested volumes for 10<sup>8</sup> cells. These should be adjusted if a different number of cells is used.<br>
        </p>
        <ol>
            <li>Collect cells.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Wash once in KK2.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Wash once in ice-cold 0.2% NaCl (= 0.034 M).
            </li>
        </ol>
        <p>
            To decide volume to use: aim at 5-10 x10<sup>7</sup> cells/ml (1 ml).
        </p>
        <h3>
            Extract nuclei:
        </h3>
        <ol>
            <li>Resuspend cells in ice-cold NP40-lysis buffer at 5-10 x10<sup>7</sup> cells/ml (1 ml).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Vortex vigourously for 30 seconds.
            </li>
        </ol>
        <h3>
            Lyse nuclei:
        </h3>
        <ol>
            <li>Add one volume of 2% SDS (1 ml).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Incubate at 65°C for 15 minutes.
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <h3>
            Purify DNA:
        </h3>
        <ol>
            <li>Add one volume of TE, pH 9.5 (2 ml).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Add proteinase K to 200 µg/ml.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Incubate at 45-55°C for 2h to overnight.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Cool briefly.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Extract with 1 volume of phenol:chloroform:isoamyl alcohol (25:24:1).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Repeat previous step until no more interphase is visible.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Extract with chloroform:isoamyl alcohol.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Precipitate DNA: add NaCl and ethanol, incubate at -20°C for &gt;30 minutes.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Resuspend in an appropriate volume of TE (100&nbsp;µl).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Quantify using OD<sub>260</sub>.
            </li>
        </ol>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p>
        <hr>
        <p>
            <a name="mat" id="mat"></a>
        </p>
        <h2>
            Materials
        </h2>
        <ul>
            <li>
                <u>1x KK2</u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>0.2% NaCl</u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>NP40 lysis buffer</u>
                <ul>
                    <li>0.05M HEPES
                    </li>
                    <li>0.05 M MgAc
                    </li>
                    <li>10% sucrose
                    </li>
                    <li>2% Nonidet P40 (NP40)
                    </li>
                </ul><br>
            </li>
            <li>
                <u>2% SDS</u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>TE, pH 9.5 (10 mM Tris, pH 9.5, 1 mM EDTA)</u>
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>
                <u>Proteinase K (10-50 mg/ml)</u>
            </li>
        </ul>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p><!--#include virtual="/inc/footer_withSide.html"-->
    </body>
</html>
