<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Quick genomic DNA extraction</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            Quick preparation of genomic DNA for PCR analysis
        </h1>
        <p>
            <b>Contributed by Steve J. Charette and Pierre Cosson, September 2004.<br>
            Published in <a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=9928">Charette and Cosson 2004</a>.</b><br>
        </p>
        <hr>
        <p>
            Here we present a very quick protocol (less than 5&nbsp;minutes) to prepare genomic DNA from <i>D. discoideum</i> cells suitable for PCR analysis. This approach facilitates the screening of resistant clones to identify those with the selection cassette in the desired gene. The method works for cells grown in liquid culture or on agar plates. Genomic DNA produced by this method can be also used as template for cloning or for any other PCR based applications.
        </p>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p>
        <hr>
        <h2>
            Procedure
        </h2>
        <ul>
            <li>
                <i>D. discoideum</i> cells are resuspended directly in the medium (for liquid culture) or in water (for cells picked with a toothpick from a colony grown on an agar plate).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>One volume of Lysis Buffer (LyB, 50&nbsp;mM&nbsp;KCl, 10&nbsp;mM&nbsp;TRIS pH 8.3, 2.5&nbsp;mM&nbsp;MgCl<sub>2</sub>, 0.45% NP40 and 0.45% Tween 20) containing Proteinase K (1&nbsp;µl of 20&nbsp;µg/µl of Proteinase K for every 25 µl of LyB) is mixed to the cells.<br>
                <b>Note:</b> For cells growing on an agar plate, it is also possible to resuspend the cells on the toothpick directly in 10 µl of Lysis Buffer.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>The cell mixture is then placed at 95°C for 1&nbsp;min to inactivate the PK.<br>
                <b>Note:</b> The lysate is in a thin-wall PCR tube and heated in a PCR machine to inactivate the PK. If you prefer to prepare your lysates in standard tubes (like the 1.5&nbsp;ml) you will need to incubate the lysates longer at 95°C (typically 5&nbsp;minutes) for a complete inactivation of Proteinase K. When the Proteinase K is still active in the lysate after heat inactivation, PCR does not work using this lysate (Proteinase K digests DNA polymerase).
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>After that, the cell lysate is ready to be used in a PCR reaction (typically 1µl per reaction). Cell concentration should be at least 20&nbsp;000 cells/ml (equivalent to 10&nbsp;cells/PCR reaction) in liquid culture to obtain reproducible PCR amplification but can be as high as 10&nbsp;000&nbsp;000&nbsp;cells/ml. Thus, it is normally not necessary to dilute or count the cells before preparing the cell lysate. In the case of cells grown as a phagocytic plaque on a bacterial lawn on agar plate, we usually pick cells from the border of the plaque (near the bacteria) and resuspend the cells in 10&nbsp;µl of water. For more details, take a look to this paper: Charette S.J. and Cosson P. (2004) Preparation of genomic DNA from Dictyostelium discoideum for PCR analysis. Biotechniques. 36:574-5. (This is also the paper to cite regarding this protocol.)
            </li>
        </ul>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p><!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
