<div class="viewHouse">

	<definition-bar text="Explore < home" look="definitionLink"></definition-bar>

	<div class="jumbotron research">
	  <h1> Explore Dicty </h1>
	  <h4><strong>Learn about amebas</strong></h4>
	</div>

	<div class="container">
		
		<!-- Teaching Protocols -->
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<a ng-href="#/explore/learn" class="btn btn-primary btn-lg btn-block" role="button">Learn about Dicty</a>
			</div>
			<div class="col-xs-4"></div>
		</div>

		<br>

		<!-- Gallery -->
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<a ng-href="#/explore/gallery" class="btn btn-primary btn-lg btn-block" role="button">Gallery of Pictures/Videos</a>
			</div>
			<div class="col-xs-4"></div>
		</div>

		<br>

		<!-- Teaching Protocols -->
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<a ng-href="#/explore/teach" class="btn btn-primary btn-lg btn-block" role="button">Teaching Protocols</a>
			</div>
			<div class="col-xs-4"></div>
		</div>


	</div>

</div>