<div class="viewHouse">

	<div class="jumbotron research">
	  <h1> Explore </h1>
	  <h4><strong>Learn about Amoebas</strong></h4>
	</div>

	<div class="container">
		
		<!-- Teaching Protocols -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/explore/learn" class="btn btn-primary btn-lg btn-block" role="button">Learn about Dicty</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>

		<!-- Teaching Protocols -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/explore/teach" class="btn btn-primary btn-lg btn-block" role="button">Teaching Protocols</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>


		<!-- Gallery -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/explore/gallery" class="btn btn-primary btn-lg btn-block" role="button">Gallery of Pictures/Videos</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>


		<!-- Genome Resources -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/explore/resources" class="btn btn-danger btn-lg btn-block" role="button">Genome Resources</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>

		<!-- Stats -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/explore/statistics" class="btn btn-danger btn-lg btn-block" role="button">Genome Statistics</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>

		<!-- Links -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/explore/links" class="btn btn-primary btn-lg btn-block" role="button">Useful Links</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>

		<!-- Art -->
		<div class="row spaceUpDown">
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a ng-href="#/explore/art" class="btn btn-primary btn-lg btn-block" role="button">Dicty Art</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-0"></div>
		</div>

	</div>

</div>