<div class="viewHouse">

	<definition-bar text="Explore < home" look="definitionLink"></definition-bar>

	<div class="jumbotron research">
	  <h1> Explore Dicty </h1>
	  <h4><strong>Learn about amebas</strong></h4>
	</div>

	<div class="container">
		
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<a ng-href="#/explore/teach/index.html" class="btn btn-primary btn-lg btn-block" role="button">Teaching Protocols</a>
			</div>
			<div class="col-xs-4"></div>

		</div>

	</div>

</div>