<a name="top" id="top"></a>

<div class="jumbotron research">
    <div class="row">
        <div class="techSubHeader"><h3>Explore</h3></div>
        <h1>Genome Resources</h1>
        <h4>Dictyostelium Genomics</h4>
    </div>
</div>

<br>

<div class="container" ng-controller="AnchorController">
    
    <div class="row">
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-6 col-xs-12">        

            <h3>General Information</h3>
            
            <div class="spaceul">
                <h4>
                    <ul>
                        <li>
                            <a href="/Dicty_Info/genome_statistics.html"><i>Dictyostelium discoideum</i> Genome Statistics</a>
                        </li>
                        <li>
                            <a href="#/citation">Citing dictyBase and the <i>Dictyostelium</i> Genome Project</a>
                        </li>
                        <li>
                            <a target="new" href="http://www.ncbi.nlm.nih.gov/genome/guide/dicty/">NCBI <i>Dictyostelium</i> Genome Resources</a>
                        </li>
                    </ul>
                </h4>
            </div>

            <hr>

            <h3><i>Dictyostelium</i> Genome Resources:</h3>
            <div class="spaceul">
                <h4>
                    <ul>
                        <li>
                            <a target="new" href="http://dictycdb.biol.tsukuba.ac.jp/">cDNA Project at Tsukuba University</a> - <a target="new" href="http://dictycdb2.gene.tsukuba.ac.jp/">Alternate server</a>
                        </li>
                        <li>
                        <a target="new" href=" http://cosmos.bot.kyoto-u.ac.jp/acytodb//">Acytostelium Gene Database (AcytoDB)</a>
                        </li>
                        <li>
                            <a target="new" href="http://sacgb.fli-leibniz.de/cgi/index.pl">Social Amoebas Comparative Genome Browser (SACGB)</a>
                        </li>
                        <li>
                            <a target="new" href="http://www.biology.ucsd.edu/labs/loomis/REMI/index.html">Developmental Gene Program at UCSD</a>
                        </li>
                       
                        <li>
                            <a href="/Downloads/">dictyBase Download Site</a>
                        </li>
                        <li>
                            <a target="new" href="http://www.kazusa.or.jp/codon/cgi-bin/showcodon.cgi?species=Dictyostelium+discoideum+[gbinv]"><i>Dictyostelium</i> Codon Bias Table</a>
                        </li>
                        <li>
                            <a target="new" href="http://www.uniprot.org/docs/dicty.txt"><i>Dictyostelium</i> annotated genes at Swiss-Prot</a>
                        </li>
                        
                        <li>
                            <a href="/Downloads/all-curated-mutants.html">Phenotypes for <i>Dictyostelium</i> mutants</a>
                        </li>
                        <li>
                            <a href="/Dicty_Info/nomenclature_guidelines.html">Nomenclature Guidelines</a>
                        </li>
                        <small>The San Diego Supercomputer (http://dicty.sdsc.edu) is no longer available
                        </small>
                    </ul>
                </h4>
            </div>

            <hr>

            <br>
            <h3>The <i>Dictyostelium</i> Genome Sequencing Centers:</h3>

            <div class="spaceul">
                <h4>
                    

                    <ul>

                        <li>
                            <a target="new" href="http://dictygenome.bcm.tmc.edu/">Baylor College of Medicine Dicty Genome Center</a>
                        </li>
                        <li>
            			<a target="new" href="http://www.genedb.org/genedb/dicty/index.jsp">GeneDB <i>Dictyostelium discoideum</i></a>
            			</li>

                        <!--<li>
                            <a target="new" href="http://genome.fli-leibniz.de/dictyostelium/">Genome Sequencing Center Jena</a>
                        </li>-->
                        <li>
                            <a target="new" href="http://www.uni-koeln.de/dictyostelium/">Institute of Biochemistry I, Cologne</a>
                        </li>
                        <li>
                            <a target="new" href="http://www.sanger.ac.uk/Projects/D_discoideum/">The Wellcome Trust Sanger Institute <i>Dictyostelium</i> Genome Project</a>
                        </li>
                    </ul>
                    <h5>
                        <ul>
                            <li>
                                <a href="/genomeseq.htm">A History of the <i>Dictyostelium</i> Genome Sequencing Project</a>
                            </li>

                                The sequencing and the analysis of the genome of <i>Dictyostelium discoideum</i> was an international collaboration between the University of Cologne, Germany (Cologne), the Institute of Molecular Biotechnology in Jena, Germany (Jena), the Baylor College of Medicine in Houston, USA (Baylor), the Pasteur Institute in Paris, France (Pasteur), and the Wellcome Trust Sanger Institute Centre in Hinxton, England. For more information, see <a href="http://www.dictybase.org/db/cgi-bin/dictyBase/reference/reference.pl?refNo=11099">Eichinger <i>et al.</i> (2005)</a>.

                        </ul>
                    </h5>
                    
                </h4>    
            </div>

            <p align="center"><small>
                <a href="" ng-click="scrollTo('top')">Top</a>
            </small></p>
            <br>

        </div> <!-- col-sm-8 -->
        <div class="col-sm-3 col-xs-12"></div>
    </div> <!-- row -->

</div> <!-- container -->
