<!-- 
<head>
<title>[32P]-labeling of Dictyostelium in phosphate-free FM</title>
</head>
-->
<p>
    <a name="top" id="top"></a>
</p>
<h1>
    [<sup>32</sup>P]-labeling of Dictyostelium in phosphate-free FM
</h1>
<p>
    <b>Download <a ng-href="#/research/techniques/word_docs/32-P_labeling.doc">word file</a>.</b>
</p>
<hr>
<p>
    <b>Note:</b>This protocol was developed for immunoprecipitating [<sup>32</sup>P]-labeled myosin regulatory light chain (<a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=5831">Smith at al. 1996</a>). It has also been successfully used for immunoprecipitation of [<sup>32</sup>P]-labeled myosin light chain kinase A, which is about 100-fold less abundant than the regulatory light chain (<a href="/db/cgi-bin/dictyBase/reference/reference.pl?refNo=5832">Smith at al. 1996</a>).<br>
    <br>
</p>
<hr>
<p align="right">
    <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
</p>
<p>
    <a name="proc" id="proc"></a>
</p>
<h2>
    Procedure
</h2>
<ol>
    <li>Prepare phosphate-free FM by substituting 20&nbsp;mM&nbsp;MES, pH 6.8, for phosphate in the <a ng-href="#/research/techniques/media/fm-medium.html">FM recipe</a>.
    </li>
    <li style="list-style: none">
        <br>
    </li>
    <li>Cells should be in log phase, and growing in <a ng-href="#/research/techniques/media/media.html#HL-5">HL5</a> or a 1:1 mix of HL5 and FM (prepared with phosphate). Harvest gently:<br>
        <ul>
            <li>Centrifuge at 1500 rpm for 5&nbsp;min in a tabletop clinical centrifuge
            </li>
            <li>Wash once in phosphate-free FM
            </li>
            <li>Resuspend in 10&nbsp;ml phosphate-free FM at 3x10<sup>6</sup> cells/ml
            </li>
            <li>Transfer to a 50&nbsp;ml flask
            </li>
        </ul>
    </li>
    <li style="list-style: none">
        <br>
    </li>
    <li>Shake at 200 rpm at 22°C.
    </li>
    <li style="list-style: none">
        <br>
    </li>
    <li>After 7 hr phosphate starvation, harvest 10<sup>7</sup> cells, and remove the media to leave a final volume of 0.5&nbsp;ml. Resuspend the cell pellet, and transfer 200 µl aliquots to 1.5&nbsp;ml screw cap tubes (Starstedt, Newton, NC).
    </li>
    <li style="list-style: none">
        <br>
    </li>
    <li>Add 100 µCi of [<sup>32</sup>P]Pi (ICN, Irvine, CA) to each tube, and rotate the cultures end-over-end (8 rotations/min) for 3 hr at 22°C. We use a LabQuake "Rotisserie" (Barstead/Thermolyne, Dubuque, IA).
    </li>
    <li style="list-style: none">
        <br>
    </li>
    <li>Harvest the labeled cells for 2&nbsp;min in a microfuge at 2000 x g. Approximately half of the added <sup>32</sup>P should remain with the pellet.
    </li>
    <li style="list-style: none">
        <br>
    </li>
</ol>
<p align="right">
    <a href="" ng-click="scrollTo('top')">[TOP]</a>&nbsp;<a ng-href="#/research/techniques/">[INDEX]</a>
</p>
