<a name="top" id="top"></a>

<div class="container">

    <div class="row techniquesHead">
        <span class="techSubHeader"><h3>Tecniques</h3></span>
        <h2>
        <sup>35</sup>S-methionine labeling <br> of <em>Dictyostelium</em>
        </h2>
        <h6>Contributed by Rex Chisholm, protocol of Cardelli lab.</h6>
    </div>

    <div class="row">

        <div class="col-sm-3 col-xs-1"></div>

        <div class="col-sm-6 col-xs-10">
            <h3>
                Pulse-chase
            </h3>
            <ol>
                <li>Harvest cells in log phase. Collect 7x10<sup>7</sup> cells.
                </li>

                <li>Resuspend cells in 7&nbsp;ml <a ng-href="#/research/techniques/media/media.html#HL-5">HL5</a> (1x10<sup>7</sup> cells/ml) supplemented with 5&nbsp;mCi of Translabel (<sup>35</sup>S-met). Shake for desired pulse time.
                </li>

                <li>At the end of pulse period, harvest cells and resuspend in 30-50&nbsp;ml unlabelled HL5. Shake and harvest 1x10<sup>7</sup> cells for each chase time point (enough for 1-2 immunoprecipitations).
                </li>
            </ol>

            <div class="note">
                <b>Note:</b> there is no need to use special met-starvation media. Labeling media (5&nbsp;mCi/7&nbsp;ml) can be filter-sterilized and reused for up to 3 months or 8-10 labelings!                
            </div>            

            <br>
            <p align="center">
                <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
            </p>

            <hr>

            <h3>
                Steady state labelling
            </h3>

            <ol>
                <li>To cells growing in early log phase (1x10<sup>6</sup>/ml), add 50&nbsp;µCi Translabel/ml cells in HL5.
                </li>

                <li>Shake cells or grow on plates overnight.
                </li>

                <li>Pellet and wash cells with fresh, cold media or <a ng-href="#/research/techniques/media/media.html#DB">DB</a>.
                </li>

                <li>Use 1 to 4x10<sup>7</sup> cells per immunoprecipitation. Keep a sample of whole cell extract to check incorporation.
                </li>
            </ol>
            <br>
            <p align="center">
                <a href="" ng-click="scrollTo('top')">Top</a> | <a ng-href="#/research/techniques/">Techniques</a>
            </p>
            <br>
        </div>         

        <div class="col-sm-3 col-xs-1"></div>

    </div> <!-- row -->


</div>