<!--#include virtual="/inc/page-header.html"-->
<!--#include virtual="/inc/page-layout-top-wide.html"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>35S-methionine labeling of Dictyostelium</title>
    </head>
    <body>
        <p>
            <a name="top" id="top"></a>
        </p>
        <h1>
            <sup>35</sup>S-methionine labeling of Dictyostelium
        </h1>
        <p>
            <b>Contributed by Rex Chisholm, protocol of Cardelli lab.</b>
        </p>
        <hr>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p>
        <h3>
            Pulse-chase
        </h3>
        <ol>
            <li>Harvest cells in log phase. Collect 7x10<sup>7</sup> cells.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Resuspend cells in 7&nbsp;ml <a href="/techniques/media/media.html#HL-5">HL5</a> (1x10<sup>7</sup> cells/ml) supplemented with 5&nbsp;mCi of Translabel (<sup>35</sup>S-met). Shake for desired pulse time.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>At the end of pulse period, harvest cells and resuspend in 30-50&nbsp;ml unlabelled HL5. Shake and harvest 1x10<sup>7</sup> cells for each chase time point (enough for 1-2 immunoprecipitations).
            </li>
            <li style="list-style: none">
                <br>
            </li>
        </ol>
        <p>
            <b>Note:</b> there is no need to use special met-starvation media. Labeling media (5&nbsp;mCi/7&nbsp;ml) can be filter-sterilized and reused for up to 3 months or 8-10 labelings!
        </p>
        <hr>
        <h3>
            Steady state labelling
        </h3>
        <ol>
            <li>To cells growing in early log phase (1x10<sup>6</sup>/ml), add 50&nbsp;µCi Translabel/ml cells in HL5.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Shake cells or grow on plates overnight.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Pellet and wash cells with fresh, cold media or <a href="/techniques/media/media.html#DB">DB</a>.
            </li>
            <li style="list-style: none">
                <br>
            </li>
            <li>Use 1 to 4x10<sup>7</sup> cells per immunoprecipitation. Keep a sample of whole cell extract to check incorporation.
            </li>
        </ol>
        <p align="right">
            <a href="#top">[TOP]</a>&nbsp;<a href="/techniques/">[INDEX]</a>
        </p><!--#include virtual="/inc/page-layout-bottom.html"-->
        <!--#include virtual="/inc/page-footer.html"-->
    </body>
</html>
